[2012-01-16 06:44] wkerzendorf opened #1 "check speed of partition function calculation"
Currently 337 ms, speedup with Cython? Numpy?

[2012-05-30 21:55] wkerzendorf opened #2 "sometimes photons are redder than the next line"
why? debug

[2012-05-31 00:08] wkerzendorf opened #3 "interpolate outside of 2000 and 50000 setting zeta to 1."

[2012-06-01 18:50] wkerzendorf opened #4 "Restructure atomic database references"
to rid lines with abundance 0.

cuts in excitation potential, ions, ....

important that the references to different levels are right. (more clever indexing scheme)

[2012-06-01 18:52] wkerzendorf opened #5 "check used zetas"
currently from knox et al.

[2012-06-01 18:53] #2 closed, assigned to nobody

[2012-06-01 19:02] wkerzendorf opened #6 "be able to save states of the code"

[2012-06-01 19:04] wkerzendorf opened #7 "Ion fraction exploration"

[2012-06-01 19:04] wkerzendorf opened #8 "Contribution of lines to wavelength bins"

[2012-06-01 19:22] wkerzendorf opened #9 "Inspect convergence criteria for speedup"

[2012-06-01 19:22] wkerzendorf opened #10 "Convert spectrum to physical units"

[2012-06-01 19:23] wkerzendorf opened #11 "Adding distance, redshift, reddening to final spectrum calculation"

[2012-06-18 04:14] wkerzendorf opened #12 "Logging"
Added first logging hooks. There's two seperate logging streams. The normal one logs everything outside the TARDIS montecarlo simulation. The second one is a packet logger, which needs to be switched on at compile time. It creates very large logfiles and is useful for debugging the packet propagation.

There's still quite a few functions that don't have loggers attached to.

Close this issue once

[2013-02-04 17:05] #4 closed, assigned to nobody

[2013-02-04 17:08] wkerzendorf opened #23 "Problems with convergence of NLTE level populations"
![nlte_level_convergence](https://f.cloud.github.com/assets/506116/124406/6c99fdd4-6eed-11e2-82bf-0c90e139953a.png)

oscillating around the real value - straight lines for levels 50 and 90 of species 20,1 (Ca II)

[2013-04-05 19:32] #10 closed, assigned to nobody

[2013-04-05 21:19] wkerzendorf opened #31 "Wavelength vacuum vs air"
Make sure there's either only vacuum or only air

[2013-04-10 21:30] wkerzendorf opened #33 "Masking lines still makes them not 'invisible'"
When Masking lines by setting tau_sobolev=0 it still sometimes happens that d_line is the smallest one and it jumps into the line evaluation procedure.

This should not happen and must have something todo with electron scattering problems.

[2013-04-16 15:47] wkerzendorf opened #35 "Compare CHIANTI vs Kurucz in Nebular settings"
Should be done before submission.

[2013-04-16 18:58] wkerzendorf opened #36 "use memory view in Storagemodel"
`cdef float_type_t[:,:,:] arbitrarily_np_array_view` works in class definition

[2013-04-19 12:49] wkerzendorf opened #37 "chianti has line with nu=0.0 (hydrogen)"

[2013-06-24 15:55] wkerzendorf opened #44 "sum(input packet energy) more than output + absorbed"
Maybe some doppler factor injection - maybe fixed already.

[2013-07-03 15:25] wkerzendorf opened #47 "change absorbed nus in `montecarlo_nus` to be positive irregardless of absorption."

[2013-08-21 18:50] #6 closed, assigned to nobody

[2013-08-21 18:50] #7 closed, assigned to nobody

[2013-08-21 18:50] #8 closed, assigned to nobody

[2013-08-21 18:50] #9 closed, assigned to nobody

[2013-08-21 18:50] #23 closed, assigned to nobody

[2013-08-21 18:50] #31 closed, assigned to nobody

[2013-08-21 18:50] #47 closed, assigned to nobody

[2013-08-21 18:50] ssim opened #53 "reflecting packets"
Note that (somewhat arbitrarily) as a quick and dirty approach "reflected" packets currently get a new direction that is chosen from an isotropic distribution in the "outgoing" hemisphere. This is wrong and if we ever want to use that option for anything real we should think about it. E.g. at least use some sort of foreshortening (as for initialization of packets) or better still think about what

[2013-08-27 17:38] wkerzendorf opened #55 "correct treatment of frames in electron scattering"

[2013-08-27 17:38] wkerzendorf opened #56 "correct treatment of frames in estimators"

[2013-08-27 17:38] wkerzendorf opened #57 "angle aberation"

[2013-09-18 15:49] wkerzendorf opened #58 "seed is not read from yaml"
and make seed shorter for 32 bit systems

[2013-12-04 19:29] ssim opened #62 "handling of missing zeta data"
When the atomic data base does not contain zeta-values (for nebular ionization mode) there is currently a kluge to put 1.0's into the array (which is based on catching nan's).

This should be done better, ideally not relying on nan catching.

[2013-12-04 20:04] ssim opened #63 "Dealing with incomplete atomic data"
Issue is how to deal with input data that doesn't contain all ions. RIght now, TARDIS wants complete information - that means ionization potentials (and statistical weights to calculate partition functions).

Ideally, it should be able to handle (consecutive) ions (e.g. Fe I, Fe II and Fe III) and just spit out a warning that it doesn't have data for higher ions.

If provided with non-consecutive

[2013-12-04 20:05] ssim opened #64 "Make able to read input models in simple format"
Currently models are input using artis files (model.txt and abundances.txt). We want to retain the ability to do this but add another option that reads simpler file formats (density and elemental composition as functions of velocity).

[2013-12-04 22:34] wkerzendorf opened #65 "w never greater than 1 in level populations?"
is that right?

this line `level_populations[~self.atom_data.levels.metastable] *= np.min([self.ws, np.ones_like(self.ws)],axis=0)` in `plasma_array`. worth checking

[2014-01-23 16:07] jhmatthews opened #73 "Problem with setuptools_bootstrap module on install"
On trying to do the pip install, I get the following error message:

[code]

I installed astropy as recommended

[code]

where I was also told to upgrade my setuptools with

[code]

But the pip install still gave the above error. I was able to install tardis fine if I commented out the line in setup.py that imported the setuptools_bootstrap module and built myself, which is a little confusing.

Th

[2014-02-03 16:07] ssim opened #79 "zone boundaries with read in models"
Problems can arise if one tries to set the inner/outer boundary value for the velocity (in the model part of the yaml file) to be very close (exactly?) at the boundary of a zone as defined by a read in ascii file (containing the density profile). Problem, I think is that one can end up with zones that have no volume. Should fix this with a check that says we can only subdivide zones from the input

[2014-02-03 19:34] #73 closed, assigned to nobody

[2014-02-12 16:51] wkerzendorf opened #81 "Add warning when w > 1"
When the dilution factor is greater than 1 put out a warning to the logger. This is in the plasma_array.py file
This issue replace #65

[2014-02-12 19:29] #65 closed, assigned to ssim

[2014-02-14 12:59] ssim opened #82 "Exponential profile - problem with units"
The exponential density profile doesn't work - problem with units on the rho_0 value.

Also, a question of names: shouldn't we call this a power-law density profile?

We could also have an exponential one (i.e. rho propto exp(-v / v_0) ).

Putting these in is easy and would be useful - simple profiles that work for exponential and power-law cases are things that may be useful for many people to pl

[2014-02-19 11:44] #64 closed, assigned to nobody

[2014-02-19 11:51] ssim opened #85 "simple sets of stratified abundances"
It would be good to have a version of the abundance section that can deal with simple sets of multi zone abundances - say a "type:stratified" or something. Basically one would set up a bunch of abundance zones, each of which is specified by a set of numbers like:

[code]

…so that the abundances are populated with those vales in that velocity range. The user can then set up a model with a handful

[2014-02-25 17:30] wkerzendorf opened #86 "bugfix for the current_nu < nu_line"
Needs bugfix for the current version of the code #30 not applicable anymore.

[2014-03-02 23:10] wkerzendorf opened #88 "Move tests for `tardis.util` from io/tests/test_config_reader to tests/test_util.py"
The tests are located in the wrong place.
Also add tests for 'si2' and other species without space.

There are functions in test_config_reader (like `test_species_string_to_species()` that test functions that are located in util. These functions should be moved to `test_util.py`.

[2014-03-08 05:20] ghost opened #89 "Installation problem with TARDIS on Ubuntu 12.04"
I am using Ubuntu 12.04. When trying to install TARDIS with pip install tardis-sn --user --pre, the installation breaks with a "#error Do not use this file, it is the result of a failed Cython compilation". I am attaching the error traceback along here.

[2014-03-08 08:37] WillFox opened #90 "Installation of TARDIS: No errors but not successful"
I am still attempting to get Tardis to install. At the moment I run the following:
_pip install tardis-sn --user --pre_
I then received a rundown of the redundancies, which are all met, and then the following
_cleaning up_
It does not fail, just acts as if it was testing requirements.

The full readout:
Requirement already satisfied (use --upgrade to upgrade): tardis-sn in /home/username/.local/li

[2014-03-10 21:09] #90 closed, assigned to nobody

[2014-03-10 21:32] wkerzendorf opened #93 "Atomic database seems to contain float level indices"
That is strange, but seems to work in production code. I recall that somehow that was okay - maybe even desired. This should be fixed/explored.

[2014-03-11 21:13] wkerzendorf opened #95 "difference between code and description"
excitation: nebular (I don't think it's an option, but I don't know which are. It's not clear)
radiative_rates_type: detailed (log file in attachment, also, the comment says that lte, nebular and detailed are supported but the error message says only dilute-blackbody and detailed)

https://www.dropbox.com/s/cvjclktxdyhffg5/sofiatti-Mar11-2014-tardis_rad_detailed.log

[2014-03-11 21:22] wkerzendorf opened #96 "Adding warning to MD5 mismatch"
Hi @mklauser, you said TARDIS complained when you use the wrong database (well an MD5 mismatch). Can you show me where this is happening? Maybe just a copy of the Traceback would be great!

[2014-03-14 20:25] wkerzendorf opened #100 "Colorize logger"
Currently our log messages are uncolorized which makes it a bit difficult to spot warnings and errors during runtime. There are some implementations floating around on the web which show the general gist.

[2014-03-24 15:30] ssim opened #105 "pandas warning on config ?"
I pulled from Master today. With the current version I got the following warning:

radial1d = model.Radial1DModel(tardis_config)
/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/frame.py:2536: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame
  inplace=inplace)

it's only a warning (not an error) but it didn

[2014-03-25 14:40] ssim opened #107 "collisional data missing"
This needs to be a meaningful error message when collision data is missing:

[code]

Suggest that it should return a warning (or simply refuse to run) if asked for this and there is no data. I think its ok to just refuse to run if NLTE is asked  for and there is no collisional data (although it's also ok to continue provided that the user is thrown a big warning message)

[2014-03-25 14:42] jhmatthews opened #108 "No module named plasma / BasePlasmaArray AttributeError"
I'm pretty sure this is just a documentation issue, but I thought I would flag anyway.

The documentation on readthedocs says to do the following to create a simple plasma:

[code]

However, there I cannot import plasma (it does not exist):

[code]

There is however, a module called **plasma_array**, containing the **BasePlasmaArray** class. I tried an analogous command:

[code]

This may be a sep

[2014-03-26 14:59] ssim opened #109 "stimulated emission in population solver"
@wkerzendorf
Do you remember if there's a reason that we handle simulated emission in the population solver via:

(this from plasma_array.py, line 557ish)

[code]

Why didn't we just do:

[code]

Perhaps I'm being thick (is there an indexing issue here?) - but if this second one would work, perhaps we should consider switching to that? It's easier to read code and involves less dancing around.

If

[2014-03-26 18:03] #81 closed, assigned to nobody

[2014-03-26 18:06] #96 closed, assigned to wkerzendorf

[2014-03-26 21:13] #109 closed, assigned to nobody

[2014-03-27 11:04] mklauser opened #113 "Change in the dimensionality of the arrays in plasma_array.py"
In plasma_array.py the dimensionality of the arrays changes to n-1 if we have only one shell. A test case is coming soon (to be written).

[2014-03-31 20:16] wkerzendorf opened #114 "document use of ionization `nebular`"
and warn if excitation =lte

[2014-03-31 21:04] ssim opened #115 "sanity checks on radiation field model"
Cases are emerging where our ionization approximation (nebular) appears to go "out the window". My suspicion is that these can be attributed to the radiation field model becoming a very poor approximation (high optical depths combined with our current lack of thermalisation parameters). Ultimately better physics will help. But, in the short term, I would like us to think about putting in sanity ch

[2014-04-13 14:03] ssim opened #120 "Tests for line list position"
Inspired by #119
we should write a test (that needs some atomic data) to verify that the binary search correctly places packets in the line list, or outside the line list (on the red extreme)

@wkerzendorf perhaps we can devise this together, once the NLTE population test is in place and understood in  #112

[2014-04-14 15:15] mklauser opened #123 "Remove the tests of the C functions from the montecarlo.pxy to a separate file."
We should move the test wrapper functions from the montecarlo.pxy to a separate file.

[2014-04-15 12:27] #120 closed, assigned to nobody

[2014-04-15 12:30] #82 closed, assigned to nobody

[2014-04-15 12:31] #86 closed, assigned to nobody

[2014-04-15 12:32] #105 closed, assigned to nobody

[2014-04-24 08:28] orbitfold opened #131 "Benchmarks and Tests for Cynthons' cdef Functions"
I want to move the remaining utility functions to C.

These include:
[code]
For this to work we need tests and benchmarks for them. I cannot write them because I don't know what is expected of those functions. Having tests and benchmarks will be both useful and help people understand what they do. I think tests can fail if need be (i.e. if the function does not signal an exception that it should,

[2014-04-27 11:45] orbitfold opened #133 "Error when dilution factor is greater than one"
This configuration http://pastebin.com/XyTnTMN9
Gives the following TARDIS output:

[code]

[2014-04-28 10:20] #133 closed, assigned to nobody

[2014-05-08 13:23] wkerzendorf opened #138 "Number of shells"
Given this

[code]

How many shells should be created 19 or 20?

[2014-05-08 17:31] sofiatti opened #139 "Documentation on Virtual Packets"
It would be great to have a better description.

[2014-05-19 06:42] orbitfold opened #140 "PyQT dependency"
Is it sensible to not be able to build TARDIS without pyqt and sip present? This makes it a bit harder to build and use in clusters and in general the fewer dependencies the merrier. It should be possible to make the GUI optional. Another thing is that you cannot install pyqt and sip via pip anymore as far as I can work it out. Or am I missing something?

[2014-05-20 04:49] mklauser opened #141 "t_rad data are missing in the kurucz_cd23_chianti_H_He.h5 file"
The current version of TARDIS complains about the missing t_rad data in the atomic data file kurucz_cd23_chianti_H_He.h5. Since the zeta_data are included in the atomic data, we should also add the t_rads to the data.

[2014-05-28 08:22] orbitfold opened #146 "Replace x ** 2 to x * x in montecarlo.pyx"
Cython translates x *\* 2 to pow(x, 2.0) in corresponding C code. This is very inefficient since it uses the most general (and thus the least efficient) method of raising to a power. I think some efficiency can be gained by replacing any x *\* 2 (or any integer power) with x \* x or similar. So simply replacing them in montecarlo.pyx seems like an easy and worthwhile task to do.

[2014-06-10 15:40] ssim opened #155 "config validator documentation cleanup"
the documentation page:

http://tardis.readthedocs.org/en/latest/configuration/config_validator.html

should be cleaned up and language clarified for the general user (or made clear that these are details for the developers to worry about only)

[2014-06-10 15:41] ssim opened #156 "default config file in documentation"
This documentation page:

http://tardis.readthedocs.org/en/latest/configuration/configuration.html

needs a pre-able explaining why this is there and what we are using it for

[2014-06-26 16:22] wkerzendorf opened #159 "Make a script that decays an abundance file"
Make script that will take a tardis abundance file and a day after explosion and decays the abundances

PR #409 is a prototype implementation of this feature request.

[2014-06-30 23:11] sofiatti opened #161 "How do I get TARDIS to read an ARTIS file?"
I've been getting this error:

  tardis_config = config_reader.Configuration.from_yaml(args.config_fname)

  File "/Users/carolinesofiatti/anaconda/lib/python2.7/site-packages/tardis-0.9.2.dev1055-py2.7-macosx-10.5-x86_64.egg/tardis/io/config_reader.py", line 737, in from_yaml

    return cls.from_config_dict(yaml_dict, test_parser=test_parser)

  File "/Users/carolinesofiatti/anaconda/lib/python2

[2014-07-03 16:25] ssim opened #162 "merging of #151"
@wkerzendorf @mklauser @orbitfold

At Tardis meeting  (3/7/14) agreed that we should now merge the MonteCarlo C rewrite to proceed. This needs to be done by hand - let's agree a time to do that.

Wolfgang - is there a time you'd be free to meet to do this?

[2014-07-21 15:05] #146 closed, assigned to nobody

[2014-08-07 14:31] mklauser opened #165 "lost t_inner"
Hi,
i think we lost the t_inner value during a merge ( maybe  2c383786f1617ab9850e9d816abbb726dccd7c47) . Here we replaced

[code]

with

[code]

in config_reader.py.
Could one of you please have a look?

Michi

[2014-08-08 03:32] #162 closed, assigned to nobody

[2014-08-08 04:30] ssim opened #166 "Add option to specify input luminosity in config file (rather output)"
As requested by Ken Shen, we should provide an option in the configuration file in the "supernova" section that the "luminosity_requested" is not the emergent luminosity but rather the input luminosity - might be of value for theory-oriented work.

Should be easy to add: just means that the config needs to understand it and then during the iteration cycle we always insist on the input number being

[2014-08-12 14:59] mklauser opened #168 "Segmentation fault in the Monte Carlo Main Loop from TARDIS(master)"
If you run TARDIS with more than 1.e+6 packets, the code runs into a segmentation fault. Can someone try to reproduce this behavior. The used config and a backtrace is attached.

<del>I guess this is a bug in the array handover from python to c (see BT). </del>
Config:
[code]

BT:
[code]

[2014-08-20 02:03] #165 closed, assigned to nobody

[2014-08-20 02:05] wkerzendorf opened #170 "Compilation problem on Mac 10.9 with clang"
I can't seem to get the code to work with clang in Mac OS X 10.9:

@orbitfold any help would be appreciated (when you are back)

[code]

[2014-08-22 07:23] wkerzendorf opened #173 "link to pip-requirements file is wrong in documentation"
tsk tsk tsk

[2014-08-26 15:29] wkerzendorf opened #176 "Problem with reading the convergence section"
Many of our example have convergence_criteria - whereas now it should be called convergence-section.
update.

[2014-08-28 18:11] sofiatti opened #181 "TARDIS version 0.9 and 0.9.2 producing different results"
My new favorite SN is now 11FeM063 at 11.5 days since explosion. That's what the config files are for. The luminosity requested is the bolometric luminosity published at Rui et. al. table 2.

Config file for v.0.9: http://pastebin.com/XLAUg4Ef
Config file for v.0.9.2: http://pastebin.com/X7p08UF1
w7_sphere_abundance.dat: http://pastebin.com/QkDgFftB
w7_sphere_density.dat: http://pastebin.com/rqSdv

[2014-08-29 21:58] #170 closed, assigned to orbitfold

[2014-09-03 20:58] ssim opened #184 "config reader oddness"
When I try to do an NLTE run using something like:

[code]

the config reader tells me (amongst other things):

[code]

...but surely I did give it a species? What has gone wrong? @wkerzendorf @mklauser Is this just a wrong message or is something in the NLTE broken?

[2014-09-11 12:13] mklauser opened #186 "Wrong name for t_initial_rad in example config"
In the example config file currently provided, the plasma parameter ```t_initial_rad``` contains a typo (right now it is ```t_initial_rads```)

[2014-09-19 11:38] unoebauer opened #187 "No possibility to write/read calculated model to file"
It would be really helpful to have the possibilty to save the tardis model after the run to file and then read it back in at a later instance. The routines `to_hdf5` and `from_h5` are already there, but the latter is not implemented.

[2014-09-30 00:57] wkerzendorf opened #189 "Give proper error message when there is 0 emitted flux"
See line 267 in model.py and insert an if statement in there.

[2014-10-04 09:53] cradesto opened #191 "Tardis - segmentation fault"
With the latest version ('tardis-sn==1.0.0.dev1328' from Fri Oct 3 12:14:33 2014)
python crashes if we will use next configs (see below).

For example with the version ('tardis-sn==1.0.0.dev1142' from Tue Jul 1 18:13:34 2014 +0300) it does not.

for convenience
https://dl.dropboxusercontent.com/u/13622198/tardis_segmentation_fault.zip

# --- BEGIN tardis_pure_hydrogen_with_datafiles_ph.yml
tardis_

[2014-11-07 20:31] wkerzendorf opened #195 "Astropy development travis has issues passing as cython doesn't seem to be recognized"
See https://travis-ci.org/tardis-sn/tardis/builds/40332722

[2014-12-03 23:21] #189 closed, assigned to nobody

[2014-12-03 23:23] wkerzendorf opened #204 "comoving nu less than nu_line"
I get a Comoving nu less than nu_line error...
http://pastebin.com/NUXUY60P [2014-11-26, 3:49:55 PM] Vytautas: and http://uosis.mif.vu.lt/~vytasj/tardis_dalek_vresearch.yml

[2014-12-05 15:09] ssim opened #207 "binary search problem see #204 and #206"
I think the #204 problem is traced to a typo in the reverse binary search

Related to this, in cmontecarlo.c we still have a "binary_search" (lines 76 - 119). That routine appears to have the same bug, and also several other peculiarities: e.g. the last "if" statement makes no sense.

However, it seems to be that that binary_search is not currently used or needed. Therefore I proposed that we simp

[2014-12-05 15:11] #204 closed, assigned to nobody

[2014-12-17 18:37] ssim opened #213 "model reader / artis file - offset?"
In doing work for He project, Aoife spotted a possible issue in model_reader.py: when asked to read artis abundances file it actually uses ascii ...this leads to the first zone data being ignored (and a mismatch to the density profile).

This issue is a placeholder to remind me/us to look at this an fix! @wkerzendorf

[2015-03-03 09:02] prakash09 opened #221 "Not able to run example program"
I am trying to run tardis from http://tardis.readthedocs.org/en/latest/running.html
After running the below command -
tardis tardis_example.yml output_spectrum.dat

I am getting "AttributeError: 'DataFrame' object has no attribute 'replace'"

[2015-03-03 09:03] wkerzendorf commented on #221
can you give the full traceback?

[2015-03-03 09:06] prakash09 commented on #221
Full traceback -
prakash@prakash-pc:~/Downloads/tardis_example$ tardis tardis_example.yml abc.dat
tardis.io.config_reader - INFO - Reading Atomic Data from kurucz_cd23_chianti_H_He.h5
tardis.atomic - INFO - Read Atom Data with UUID=5ca3035ca8b311e3bb684437e69d75d7 and MD5=21095dd25faa1683f4c90c911a00c3f8
Traceback (most recent call last):
  File "/usr/local/bin/tardis", line 62, in <module>
    ta

[2015-03-03 09:07] wkerzendorf commented on #221
what versions of packages are you using? you can do pip freeze that will show you what is going on.

[2015-03-03 09:07] wkerzendorf commented on #221
We recommend using anaconda for python installation as described in our manual tardis.readthedocs.org

[2015-03-03 09:11] prakash09 commented on #221
The output of pip freeze is http://dpaste.com/277W40G
I have used system-wide installation

[2015-03-03 09:13] wkerzendorf commented on #221
you have a very old version of pandas. Please use anaconda (it is only installed in user space -- won't interfere with your system and can be easily uninstalled), as this will ensure that you have the correct version installed.

[2015-03-03 09:13] wkerzendorf commented on #221
let me know how it goes.

[2015-03-03 09:13] orbitfold commented on #221
We should still probably add an exception handler and print something like "You likely have pandas version below so and so"

[2015-03-03 09:14] orbitfold commented on #221
Which is what you can do @prakash09

[2015-03-03 09:15] wkerzendorf commented on #221
I think there is a proper way of doing this for python setup files. But I don't know how.

[2015-03-03 09:18] orbitfold commented on #221
http://stackoverflow.com/questions/15834628/how-to-specify-explicit-python-packaging-dependencies-in-setup-py

This might help.

[2015-03-03 09:19] wkerzendorf commented on #221
It should read it from the `pip-requirements` file (which should be renamed to `anaconda-requirements`).

[2015-03-03 09:21] orbitfold commented on #221
Is that the same as dependencies? https://github.com/pypa/pip/issues/988

[2015-03-03 09:22] wkerzendorf commented on #221
I think so. it uses the same format. pytables however is not pip installable

[2015-03-03 09:23] prakash09 commented on #221
@wkerzendorf can I use virtualenv instead of anaconda?

[2015-03-03 09:25] wkerzendorf commented on #221
anaconda will give you virtual environments. It is much easier to use as it also brings the required c-libraries. I used virtual environments for a long time and then switched. In the end it is up to you.

[2015-03-03 09:57] prakash09 commented on #221
It worked after upgrading pandas manually.

[2015-03-03 11:52] orbitfold commented on #221
This should still be resolved though. There shouldn't be a way for a user to arrive at an unhandled exception.

[2015-03-03 12:03] pfrcks commented on #221
@orbitfold A minimum version for all the needed packages can be given so that whenever setup.py runs it gives a warning if the version is below the workable version.

[2015-03-03 12:10] pfrcks commented on #207
@ssim What's the status on this bug ? Does the Binary Search needs fixing?

[2015-03-03 12:13] pfrcks commented on #213
@ssim Can you please provide me the atis abundance file , so that I can try working on this fix ?

[2015-03-03 12:46] wkerzendorf commented on #221
This might be useful addition to the code.

[2015-03-03 12:57] prakash09 commented on #221
I am a gsoc 2015 aspirant. Can I work on this issue?

[2015-03-03 14:09] wkerzendorf commented on #213
@ssim let's chat about this offline.

[2015-03-03 14:09] orbitfold commented on #221
It should not be possible to install if pandas is outdated, a warning is not enough.

[2015-03-03 17:48] pfrcks commented on #221
@orbitfold In that case do you have a minimum requirement list for tardis to work optimally?
If you can please provide me that, I'll be very happy to work on this issue.

[2015-03-04 09:11] wkerzendorf commented on #221
@pfrcks there's a `pip-requirements` file and the requirements should be read from that.

[2015-03-04 11:57] utkbansal commented on #186
Could you please provide the file path?

[2015-03-05 10:02] vidit23 opened #228 "Error while running pytest coverage"
When in the tardis directory, running the following command:
py.test --cov tardis tardis/tests/      gives the following error:

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/_pytest/config.py", line 543, in importconftest
    mod = conftestpath.pyimport()
  File "/usr/local/lib/python2.7/dist-packages/py/_path/local.py", line 629, in pyimport
    __import__(pkg

[2015-03-05 10:03] wkerzendorf commented on #228
@vidit23 Can you please run it with anaconda, that will mean that you will have the right packages installed. This is described in the manual.

[2015-03-05 10:03] wkerzendorf commented on #228
let me know how it goes.

[2015-03-05 10:50] vidit23 commented on #228
I ran it using anaconda but I am still getting the same error.

I used py.test --traceconfig, I get errors like:
/usr/local/lib/python2.7/dist-packages/py/_path/common.py:334: in visit
    for x in Visitor(fil, rec, ignore, bf, sort).gen(self):
/usr/local/lib/python2.7/dist-packages/py/_path/common.py:370: in gen
    if p.check(dir=1) and (rec is None or rec(p))])
/usr/local/lib/python2.7/dist-pac

[2015-03-05 15:04] vaibhav4595 commented on #228
@vidit23 were you trying this command from inside the tardis directory ? Using this command from your home folder, or wherever the tardis directory is, seemed to work fine for me. Whereas when I was trying to the same from inside the directory, I had the same error.

[2015-03-05 15:04] wkerzendorf commented on #228
*/usr/local/lib/python2.7/dist-packages/_pytest/main.py shows me that you
are not running with anaconda. you need to activate your conda environment.
Check out the anaconda webpage. *

*Cheers,*
*   Wolfgang*

On Thu, Mar 5, 2015 at 11:50 AM Vidit Bhargava <notifications@github.com>
wrote:

[2015-03-05 22:09] kaushik94 commented on #228
Did you install `pytest`. I ran into a similar problem, just try running `pip install pytest` on command line and try running again.

[2015-03-05 23:07] vidit23 commented on #228
@wkerzendorf I hadn't activated it when I copied the the error, but even after activating anaconda, I still see the same error.
Traceback (most recent call last):
  File "/home/vidit/anaconda/envs/tardis/lib/python2.7/site-packages/_pytest/config.py", line 543, in importconftest
    mod = conftestpath.pyimport()
  File "/home/vidit/anaconda/envs/tardis/lib/python2.7/site-packages/py/_path/local.py

[2015-03-06 00:03] kaushik94 commented on #228
Okay I fixed it. The astropy expects us to supply an optional version number. @vidit23  try applying this fix and let me know. Kudos !

[2015-03-06 00:08] kaushik94 opened #233 "Wrong usage of yield in test_utils.py"
I just figured out that yeild does not run the function, it simply returns a generator object, and hence the assertions are not really tested there. For example if we make this change
[code]
It still passes the tests without an error. When I did a little research I found this SO question http://stackoverflow.com/questions/231767/what-does-the-yield-keyword-do-in-python
Please read it carefully.
I

[2015-03-06 00:26] kaushik94 opened #235 "How about writing doctests ?"
Its always a good practice to write doctests for any feature thats being implemented. It will let readers know whats happening in the function without going to the docs everytime. Take a look at [official python guide](http://docs.python-guide.org/en/latest/writing/tests/). @wkerzendorf  what do you think ?

[2015-03-06 00:31] kaushik94 commented on #186
@mklauser  isn't the example file in a dropbox ?. Someone from the inside can fix it, just my two cents.

[2015-03-06 01:28] kaushik94 commented on #195
@wkerzendorf  I think I figured out the fix, a similar thing happened in `sympy` community as well https://github.com/sympy/csympy/issues/308. The solution is https://github.com/sympy/csympy/pull/313. Hope it helps.

[2015-03-06 01:30] kaushik94 commented on #93
Thats probably because numpy allows to do so http://stackoverflow.com/questions/8514547/why-ndarray-allow-floating-point-index

[2015-03-06 07:25] mavidser opened #239 "Update Configuration Validator"
The [Configuration file validator](https://github.com/tardis-sn/tardis/blob/master/docs/configuration/config_validator.rst) seems a bit outdated.

But the current config file has elements like:

[code]

I'm not sure what does  “+“ + “name of the container item” specifies as in `+branch85_w7`.

It looks like it specifies non-mandatory items, but that seems redundant due to a mandatory property in e

[2015-03-06 09:38] wkerzendorf commented on #239
@mavidser I have to look into it. It might outdated, we're considering switching to a third party YAML schema validator but have not found a good one (maybe another GSoC project)

[2015-03-06 09:42] orbitfold commented on #235
If py.test works with them then fine. Otherwise no one is going to separately run them.

[2015-03-06 09:45] wkerzendorf commented on #235
@kaushik94 it's a good idea (pytest can deal with them). But that would require some more documentation.

[2015-03-06 09:46] orbitfold commented on #233
No, yield does not disable all statements in a function it is in. Unless you mean something different by a statement then what it is - a smallest standalone element in an imperative programming language.

[2015-03-06 09:50] orbitfold commented on #233
Try running this for example:

def a():
    i = 0
    while True:
        if i < 100:
            yield i
            i += 1
            print i, i, i
        else:
            raise StopIteration

if __name__ == '__main__':
    for x in a():
        pass

[2015-03-06 09:59] kaushik94 commented on #233
Sorry my bad, what I meant to say is that yield doesn't run the code in the function, it lazily returns a generator object that has to be iterated. Take a look at my PR, when we are yielding the function, we are not really running them hence not running assertions in the tests

[2015-03-06 10:00] wkerzendorf opened #241 "WebApp project"
These are the specifications for the PR for the WebApp:
- A nice intuitive interface that has suitable inputs (textfields, dropdown boxes, etc.) and help items
- it should have as few third party dependencies as possible
  - anaconda packages preferred
  - ipython is used a lot and uses tornado, which **might** be a good solution
- the webapp should automatically generate the form from our YAML [s

[2015-03-06 10:01] kaushik94 commented on #233
@orbitfold  thanks for pointing out, I just updated the comment. @wkerzendorf  take a look and let me know what you think.

[2015-03-06 10:07] orbitfold commented on #233
I don't know why whoever wrote those used yield there, but you should not assume it was by mistake. I think it might have something to with this http://pytest.org/latest/yieldfixture.html, but I don't know for sure.

[2015-03-06 10:19] wkerzendorf commented on #241
@utkbansal @mavidser @andarms So these are the PR requirements and our concrete summer ideas for the webapp. I'll post it as well on gitter/mailinglist and website, but thought you guys can already have a look.

[2015-03-06 10:20] mavidser commented on #239
Okay.

Meanwhile, I think I should consider `_container` as mandatory and `+container` as optional, for the pull requests for the web-app.

[2015-03-06 10:41] wkerzendorf commented on #239
I think that's probably right anyways. Sorry, I just have to deal with some
other things currently. good luck and let me know how it goes.

On Fri, Mar 6, 2015 at 11:20 AM Sid Verma <notifications@github.com> wrote:

[2015-03-06 10:46] wkerzendorf opened #242 "Atomic Database project specifications"
The development of the Atomic Database happens in github.com/tardis-sn/cassis

As an explanation, the atomic databases contains two big tables: (1) a table for levels in atoms (2) a table of lines that connect these levels.

These are the specifications for the PR for the Atomic database:
- the parser should live in cassis/io/kurucz
- parse http://kurucz.harvard.edu/atoms/1401/gf1401.gam
  - use p

[2015-03-06 10:57] wkerzendorf commented on #242
@pfrcks @dumindux @Mnw2212 @aadilh @mohit-agarwal you all have done PRs for this project. These are the specific instructions for the PR and for the summer

[2015-03-06 10:57] wkerzendorf commented on #242
let me know if some of the things are unclear

[2015-03-06 11:26] orbitfold opened #243 "Fitting Project"
For the fitting project you should check out DALEK which can be found at https://github.com/tardis-sn/dalek.

DALEK is the framework we use to run multiple instances of TARDIS over several machines connected in to a cluster. TARDIS usually takes several minutes to run on a single CPU so if you want to use any kind of population based algorithms for optimization it would translate to several months

[2015-03-06 11:36] wkerzendorf commented on #233
I wrote them. If you don't use yield, then pytest will just show this as one test and not as multiple tests.

[2015-03-06 11:36] wkerzendorf commented on #233
it is a way to parametrize a test

[2015-03-06 11:38] wkerzendorf commented on #233
Apparently yield has now been replaced by parametrize, so that should be used, but it still works. @kaushik94 can you either close or modify (use parametrize) your PR for yield

[2015-03-06 12:47] kaushik94 commented on #233
Ohh sorry, I was looking for a quick fix but din't look through that

sure.

[2015-03-06 14:25] pfrcks commented on #242
What about the lines 2-32 are they to be parsed or stored too, or should they be overlooked?

[2015-03-06 14:30] wkerzendorf commented on #242
for now we ignore them.

[2015-03-06 14:48] kaushik94 commented on #233
I removed a lot of redundant code in `test_utils` and used `parametrize`, also added missing test for `species_tuple_to_string` in the PR #234 . @wkerzendorf , @orbitfold  please take a look and let me know what you think.

[2015-03-06 15:58] kaushik94 opened #246 "Running py.test throws an import error"
I ran py.test in the /tests directory and getting errors like this
[code]

[2015-03-06 16:14] pfrcks commented on #242
@wkerzendorf From line number 1803, the dataset seems of another format.
Do we have to store that too using pandas. If so is the 6th column from line 1803 onwards still g Lande' ?

[2015-03-06 16:23] wkerzendorf commented on #246
use `python setup.py test` that will build the c modules

[2015-03-06 16:33] utkbansal commented on #173
which is the doc file?

[2015-03-06 16:36] wkerzendorf commented on #173
I think this is actually fixed.

[2015-03-06 16:36] #173 closed

[2015-03-06 16:37] wkerzendorf commented on #173
see http://tardis.readthedocs.org/en/latest/installation.html - there you can see the new link

[2015-03-06 17:41] orbitfold opened #249 "Testing project"
The goal of this project is to ensure uniform test coverage of all TARDIS methods and functions. We use pytest for testing. The goal is to ensure 100% coverage. You can check coverage here https://coveralls.io/r/tardis-sn/tardis (note this does not include C function testing). The main challenge will be to test the C-part with pytest. The tests should run via issuing "setup.py test".

Before begin

[2015-03-07 13:44] pfrcks commented on #242
@wkerzendorf https://github.com/tardis-sn/cassis/pull/10 Implemented what you asked for please check

[2015-03-07 14:43] Mnw2212 commented on #242
@wkerzendorf  I think I failed to understand the third point mentioned in the issue.
The third point being :
* read in the lines file and link in database with the levels file. (will update this with specifics soon)

Could you please give a little more detail on what do you mean by lines file and levels file ?
Thank You

[2015-03-07 14:46] pfrcks commented on #242
@Mnw2212 The levels file is the one that you extracted using pandas.Add a primary key to it(Can be simple Integer.)
The lines file is an empty file(as of now) with two columns upper_id and lower_id.
Now you have to link both the files. As upper_id and lower_id both reference the primary key of levels.

I guess that was pretty much it.
Right @wkerzendorf ?

[2015-03-07 16:01] wkerzendorf commented on #242
@Mnw2212 @pfrcks that's roughly right.

[2015-03-07 18:00] light94 commented on #242
@wkerzendorf  Please see the PR at https://github.com/tardis-sn/cassis/pull/11

[2015-03-07 19:48] kaushik94 commented on #246
That din't help. I guess the error is because of some circular import since I see only `plasma_array.py`  tests barfing

[2015-03-07 19:54] vidit23 commented on #228
I hadn't run the command: "conda install pip".
To fix this I ran this command, then uninstall pytest-cov and install it again then the coverage command works

[2015-03-07 19:54] #228 closed

[2015-03-07 19:58] kaushik94 commented on #228
@vidit23  Ohh thanks for letting us know. Moreover @wkerzendorf  merged a fix #250  for this which now works on non conda installations as well. Thought you might be interested :)

[2015-03-08 04:44] gautam1168 opened #256 "Table headers not showing in gui"
The gui doesn't show horizontal or vertical headers due to a bug.

[2015-03-09 11:04] wkerzendorf commented on #246
It's because cython was not compiled. macro_atom needs to be compiled before. I encountered this when things didn't build correctly.

[2015-03-10 14:01] vidit23 commented on #246
Same thing is happening to me too, this is when I run test for atomic.py.  I tried "python setup.py test" but its not helping.

[2015-03-11 11:27] chhabraharsh commented on #241
Hi,
I am Harsh,I have been the part of Gsoc-2013 and currently working in Adobe Systems.
I have gone thorough your projects on Idea page and looking forward to be as potential mentor this year for the above project.
So if you want we can have a discussion on the same ?

Thanks
Harsh

[2015-03-11 11:45] utkbansal commented on #241
@chhabraharsh Maybe you should contact Wolfgang [here](https://gitter.im/tardis-sn/tardis)

[2015-03-11 12:56] wkerzendorf opened #263 "Plasma project"
The goal of this project is to replace the existing with a new Framework for Plasma calculations. The new Framework is more modular than the current one and allows easy implementation of additional physics. Currently this is not in the code, but is part of a branch as outlined on the ideas page.

These are the suggestions to do a PR on the `plasma/restructure`-branch:

 1. Get familiar with the ne

[2015-03-11 13:39] wkerzendorf opened #264 "GUI project"
This project involves transforming the current rudimentary GUI into a more fully fletched analysis tool that will also allow TARDIS to be executed.

Suggestions for the PR:
1. Get familiar with the code and the current problems pyside/pyqt
2. As seen on the ideas page the concentric shells are displayed as an Ellipse. Make the figure in a way that they are circles.

Over the summer:
1. Make sure t

[2015-03-13 20:06] vidit23 commented on #246
Anyone found a solution?

[2015-03-14 14:47] dofod commented on #241
Hello,
I'm Saurabh currently in 4th year of Computer Engineering at Mumbai University. I would like to work on this project as a part of GSOC 2015. I have experience in django web application development and would like to use it for this webapp too. Is this acceptable as a framework for webapp development? Please reply so that I may start work on the PR.

Thanks

[2015-03-14 14:53] wkerzendorf commented on #241
As described, we do not suggest django but will rather go with Tornado.

[2015-03-14 21:46] spyshiv opened #270 "Set Up is not Installing in Ubuntu 14.04"
I have ubuntu 14.04 Os in my laptop, and i have tried to install setup according to instructions but when i run command in terminal
"sudo apt-get install python-dev python-pip python-numpy python-scipy python-h5py python-pandas python-yaml"   it works fine
but when i run next line of instruction it failed to install
i ran this command
"pip install astrophy --user"
and found errors something like t

[2015-03-15 00:19] wkerzendorf commented on #270
hi,

please use the anaconda installation instructions

cheers,
    Wolfgang

On Sat, Mar 14, 2015 at 10:46 PM Shiv Baran Singh <notifications@github.com>
wrote:

[2015-03-15 05:28] LeKhan9 commented on #264
I am interested in this project with my interests heavily vested in astrophysics/astronomy. I wanted to ask if the PR were taken to be part of the application process. In any case, I am also interested in a couple of the other projects, including: WebApp and "the hard one". In the case of the latter project I just listed, I do have experience with evolutionary algorithms/genetic algorithms, but my

[2015-03-16 10:33] wkerzendorf commented on #264
@LeKhan9 Google requires a PR to be part of the application process (which we also think is a sensible option). But apart from a requirement: Writing some of these PRs will enable you to write a much better application (with more details and more realistic timelines).

[2015-03-17 08:32] liangjiaxing commented on #263
Could the function `macro_atom.calculate_beta_sobolev()` be called in the new `ProcessingPlasmaProperty`
For example, doing something like this:
[code]

[2015-03-17 08:37] wkerzendorf commented on #263
make a PR @liangjiaxing

[2015-03-18 03:56] dofod commented on #241
I have started work with the PR using tornado, please have a look:
https://github.com/dofod/tardis-web

[2015-03-18 10:37] wkerzendorf commented on #241
Can you please make a PR to the TARDIS repo?

Cheers,
    W

Sent from my Phone

[2015-03-19 08:59] MayankVachher commented on #242
Shouldn't it be line 38, the location of the fixed format table?

[2015-03-20 18:56] G10h4ck commented on #264
I am very interested in this proposal, how i can comunicate with you (mailinglist ?), I have a lot of experiences in free and opensource software developing with Python, C/C++ and Qt and I also like astronomy but i am not an expert.

I would expand my knowldege participating to GSoC 2015 with this proposal.

Hope to read a reply from you soon!

[2015-03-20 19:03] wkerzendorf commented on #264
Hi @G10h4ck. Yes mailing list or gitter.im/tardis-sn/tardis. Try to do the PR first.

[2015-03-20 19:07] kaushik94 opened #276 "Tests ignoring my test files in montecarlo"
take a look at my recent PR #272 . I added a c test file and it dint test upon `setup.py test`, so I tried to see if everything is okay and added a dummy file `test_me.py` with one test in it and then ran `python setup.py test`. It simply ignored the file and the output was the same.

[code]
Where should we change the configuration and how should we add tests, how to add c tests ? help would be mu

[2015-03-22 10:01] sarvjeetsinghghotra commented on #243
I am interested in working on this. Can someone tell about the potential mentor of this project?

[2015-03-26 09:19] darshpandya18 commented on #264
Hi.
I am interested in doing this project as a part of GSoC 2015. I have recently worked on a project of developing a data analysis tool using python.
I am little late posting here, but can you please help me through.

[2015-03-26 10:38] wkerzendorf commented on #264
@darshpandya18 To participate in GSoC you need to make an application and a proposal

[2015-04-01 18:54] Astronautpk commented on #241
Hi,I'm Zawar Nadeem, 3rd Year Computer Science Student at Gift University.I have worked in MySql Database Engine, I have strong grip in C++. as well as in web applications in PHP. I would like to work on this project. Kindly tell me ,what are the further requirements?

[2015-04-01 19:10] wkerzendorf commented on #241
@Astronautpk are you applying for GSoC?

[2015-04-01 19:20] Astronautpk commented on #241
Yes. But I forgot to submit the proposal. Any compensation?

On Thu, Apr 2, 2015 at 12:11 AM, Wolfgang Kerzendorf <
notifications@github.com> wrote:

--
Best,
Zawar Nadeem

[2015-04-01 19:21] wkerzendorf commented on #241
So I guess you are not applying to GSoC.

[2015-04-01 19:24] wkerzendorf commented on #241
you are more than welcome to work on TARDIS for open source.

[2015-04-01 19:24] Astronautpk commented on #241
Ok. So another way to work on this project other than GSoC?

On Thu, Apr 2, 2015 at 12:21 AM, Wolfgang Kerzendorf <
notifications@github.com> wrote:

--
Best,
Zawar Nadeem

[2015-04-01 19:25] wkerzendorf commented on #241
It's an open source project so you are more than welcome to work on it.

[2015-04-01 19:25] Astronautpk commented on #241
Thanks. I'll look into it.

On Thu, Apr 2, 2015 at 12:24 AM, Zawar Nadeem <zawar.dev@gmail.com> wrote:

--
Best,
Zawar Nadeem

[2015-04-07 16:43] unoebauer opened #287 "Missmatch between model.py and tardis_config_definition.yml"
Referring to commit 35a0119dfc29d4bcceee859800c3bc77f0ec3d96

In `tardis_config_definition.yml` the parameter `hold-iterations` (for consistency should be called `hold_iterations`) is defined in the `convergence_strategy` block. However, `model.py` still expects the parameter `hold` on line 297:
[code]
This should be changed.

[2015-04-08 08:25] unoebauer commented on #287
Solved by #288

[2015-04-08 08:25] #287 closed

[2015-04-22 19:40] aoifeboyle opened #290 "Tardis not working with Artis files properly."
Tardis gets confused when I give it an artis-style model and abundances file. There seems to be some kind of mismatch between the number of zones it identifies from the two files. The error I get specifically is this, from line 1058 of config_reader.py:

‘Wrong number of items passed 80, placement implies 79’

I made a couple of changes to model.py, where the file data is read in, but that just le

[2015-04-23 13:05] ssim opened #291 "Issue with montecarlo.pyx file in build"
When I tried to build the current master branch

python setup.py build

I get a complaint about

error: [Errno 2] Could not find C file tardis/montecarlo/montecarlo.c for Cython file tardis/montecarlo/montecarlo.pyx when building extension tardis.montecarlo.montecarlo. Cython must be installed to build from a git checkout.: 'tardis/montecarlo/montecarlo.c'

@mklauser pointed out that I can get aro

[2015-04-23 13:28] wkerzendorf commented on #291
@ssim  can you clone into a new repository and try it there (maybe also trying the installation instructions)

[2015-04-23 13:28] ssim commented on #290
@aoifeboyle Hi Aoife - can you also post the .yml file that you are working with?

[2015-04-23 13:44] ssim commented on #291
@wkerzendorf

Yes ok - I tried making a fresh clone now and indeed it worked without complaint on that. So I guess this is some oddness with my repository only. In which case this is probably not worth worrying about further. I will close this thread - thanks for the response!

[2015-04-23 13:44] #291 closed

[2015-04-23 14:45] wkerzendorf commented on #291
For future reference, use `git clean -dfx` that will remove any file that is not in the currently tracked by git. This will make it a clean repository.

[2015-04-23 16:59] aoifeboyle commented on #290
@ssim I've just added it to the dropbox folder linked above :)

[2015-04-23 18:25] ssim commented on #290
Some progress. I think that part of the issue is that someone has changed the way that the velocity boundaries are specified: rather than velocity start and stop values, I seem to get something to work with v_inner_boundary and v_outer_boundary. @mklauser @wkerzendorf can one of you confirm that this has changed - or is there meant to be another way to do this?

@aoifeboyle Try something like this

[2015-04-23 18:28] ssim commented on #290
However, there is still some sort of underlying issue here: even without specified boundary velocities the code should run and I agree that it currently doesn't.

@aoifeboyle Can you check that the zones are lining up properly with a model - i.e. that the abundance / density patterns that Tardis ends up with are correct (and not that e.g. the abundances are all offset by 1 zone or something)

Anot

[2015-04-23 21:34] aoifeboyle commented on #290
@ssim Ok, I originally had my velocities specified like this (which I got from an example config. with the latest version of Tardis I downloaded):
    structure:
        type: file
        filename: HM_Model.txt
        filetype: artis
        velocity:
            start : 8500 km/s
            stop : 28000 km/s
When I change it to 'v_inner_boundary' and 'v_outer_boundary' as you have above, that

[2015-04-24 10:42] ssim commented on #290
I've been looking at this this morning. See #292 .

It seems to me that the inner / outer boundary stuff is what we are supposed to be using now @wkerzendorf , can you confirm? This is what I put up before too:

http://tardis.readthedocs.org/en/latest/examples/profileuniform.html

which uses that approach for ascii files.

I've been checking all the file reading for consistency just now. It seems

[2015-04-24 13:12] aoifeboyle commented on #290
Hi @ssim . I had a look at your PR and I'm pretty sure you're right. I've made that change and I think everything is working properly now - thanks! I'm not sure how to write a test I'm afraid, but I can look into it over the weekend if you'd like. It's something I want to learn soon anyway. There are a few examples in my current version of the code that I can hopefully learn from.

[2015-04-24 13:19] ssim commented on #290
Ok - sounds good. If you manage to write a test that's great - but don't lose too much time on that. If you don't get to it then I'll get Wolfgang to help me with it next week.

[2015-05-02 05:57] kaushik94 opened #293 "GSoC 2015 - Re-factor Montecarlo"
- [x] Remove all the getter and setter functions and all the endpoints(ones which are accessible to user) to a separate file `montecarlo.c`
- [x] Functions like computing distances and other helper routines should be moved into separate file like `geometry.c`
- [x] Functions like binary search, linear search should be a separate file like `search_routines.c`

@wkerzendorf, @mklauser , @orbitfold

[2015-05-02 06:02] kaushik94 opened #294 "GSoC 2015 - New physics for Helium"
Just an entry point to keep track of all the PRs related to this issue.

[2015-05-02 06:04] kaushik94 opened #295 "GSoC 2015 - Testing"
This can wait until #293 gets finished(or at least partly). First thing to do is to figure out whats going on with the setup files, and tweak them if necessary. Also relating to #272
- [x] Finish #293
- [x] create a testing framework
- [x] Test basic getters and setters( #327 )
- [x] Test other simple distance functions in montecarlo( #330 )
- [ ] Test the following
  - [x] `move_packet`
  - [x] `

[2015-05-02 10:57] wkerzendorf commented on #293
I think that is a good start. The computing distances part is more a geometry task and should maybe go into `geometry.c`. I think a PR is the best way to proceed as one can much easier comment.

[2015-05-05 17:14] #290 closed

[2015-05-05 17:15] wkerzendorf commented on #213
@aoifeboyle is that the issue that your new PR just fixed? If so - let's close it.

[2015-05-05 18:03] aoifeboyle commented on #213
@wkerzendorf Yes actually! I don't think I'm able to close it but feel free :)

[2015-05-05 18:14] #213 closed

[2015-05-21 05:20] #233 closed

[2015-06-02 19:22] orbitfold opened #321 "Issue with anaconda install"
I get this when trying to install tardis on our cluster. Works after wget'ing conda-requirements.

[code]

[2015-06-06 18:44] gautam1168 commented on #256
This was fixed long ago.

[2015-06-06 18:44] #256 closed

[2015-06-11 20:41] wkerzendorf commented on #321
I don't know why this is going on.

[2015-06-11 20:44] wkerzendorf opened #328 "Naming conventions in the new plasma"
@aoifeboyle we need to think about naming conventions in the new plasma class:
There are three different classes:
 1. something with g/cm^3 we call `somethingsomething_density`
 2. somethign with N/cm^3 I would call `somethingsomething_number_density` (what do you think)
 3. And something that is a fraction maybe we want to call `something_something_fraction`?

This applies to atoms, ions and leve

[2015-06-12 09:25] aoifeboyle commented on #328
Yes, I actually wanted to talk about that! So I tried to be consistent but I had to name `electron_densities` as a plural because that's how it's read in by the montecarlo module and I wanted to interfere with the code outside the plasma as little as possible. Same with `tau_sobolevs`. Then there was the issue that in the old plasma, `level_population` referred to the level number density, while i

[2015-06-14 12:00] aoifeboyle opened #331 "New plasma structure / montecarlo interfacing issues"
@wkerzendorf @orbitfold I know we were going to have a proper chat at some point, but I thought I'd raise an issue just to clarify what the problem is here and see if we can sort it out.

So this all refers to branch plasma/restructure. When I was trying to figure out some differences in the convergent temperatures when comparing the old and new plasma structures, I narrowed the problem down to th

[2015-06-14 20:00] wkerzendorf commented on #331
This is very detailed and useful! I'll need to have a look later.
On Sun, Jun 14, 2015 at 02:00 aoifeboyle <notifications@github.com> wrote:

[2015-06-15 16:06] #293 closed

[2015-06-15 16:16] kaushik94 commented on #276
No test files should be added in montecarlo/src. Solved !

[2015-06-15 16:16] #276 closed

[2015-06-15 16:20] kaushik94 commented on #246
This was fixed.

[2015-06-15 16:20] #246 closed

[2015-06-15 17:59] wkerzendorf commented on #295
This is the todo list for the testing of the C-part, right? Can you link this on trello? https://trello.com/b/z8rZdn9c/tardis-15-revamp

[2015-06-15 18:23] kaushik94 commented on #295
I think I'm not added to the org in trello, unable to add any cards.

[2015-06-15 18:58] wkerzendorf commented on #295
@kaushik94 you should be added

[2015-06-15 19:00] wkerzendorf commented on #328
I think it's very good to make these things consistent.

[2015-06-15 19:03] wkerzendorf commented on #328
@aoifeboyle please close this issue once you think it has been dealt with.

[2015-06-15 19:08] wkerzendorf commented on #331
@aoifeboyle So a quick thing that we can and should do is maybe introducing a `MontecarloRunner` (name can be changed) class in the `montecarlo` subpackage (I always like to make a `base.py` file where to stuff this into). This would have an easy way to interface between the montecarlo part and the python part. This should also be the place where these `.copy('F')` operations should go. I think @a

[2015-06-15 19:32] aoifeboyle commented on #328
I've updated everything in my latest PR, except the tau_sobolevs and electron_densities, which are input for the montecarlo stuff. Will look at that soon.

[2015-06-15 19:32] #328 closed

[2015-06-16 14:34] aoifeboyle commented on #331
@wkerzendorf Is what I've done in PR #333 kind of what you were hoping for?

[2015-06-17 09:49] chvogl opened #335 "Missing conversions between lab frame and comoving frame opacities in cmontecarlo.c ?"
@ssim @wkerzendorf
If we want to preserve O(v/c) accuracy in transforming between observer and comoving frame, there are in my opinion some Doppler factors missing in the cmontecarlo.c .

For example:
INLINE double
compute_distance2electron (rpacket_t * packet, storage_model_t * storage)
{
  if (rpacket_get_virtual_packet (packet) > 0)
    {
      return MISS_DISTANCE;
    }
  double inverse_ne =

[2015-06-17 11:11] ssim commented on #335
Hi @chvogl

This is a known issue - see #55 #55 and #57.

It has never been a high priority to fix (and isn't really now either) - but it's easy to do, so if you'd like to take this on that'd be great - but don't invest too much time right now!

[2015-06-17 11:13] ssim commented on #108
I think that this was resolved, so I'm closing this now.

[2015-06-17 11:13] #108 closed

[2015-06-17 21:26] orbitfold opened #336 "ValueError: cannot insert level_0, already exists"
I get this error after two dalek iterations.

http://pastebin.com/aKVgSAUR

[2015-07-08 08:28] chvogl opened #348 "Missing openmp compatability of chi_bf_tmp_partial array"
The chi_bf_tmp_partial array in the storage is not thread safe yet.
(The array is used for storing the sum of bf-opacities up to a certain continuum_id and is used for selecting a bf-continuum for absorption.)

[2015-08-01 18:10] #295 closed

[2015-08-01 18:10] #294 closed

[2015-08-01 18:10] #235 closed

[2015-08-05 13:26] orbitfold opened #356 "omp get number of threads"
We should use omp_get_num_threads in the fprintf statements in cmontecarlo.c instead of the value of the parameter "nthreads" since there is no guarantee omp will start the number of threads we request.

[2015-08-06 10:13] wkerzendorf opened #359 "correct caligraph Rs to lower Rs in the NLTE"
Should be easy to do

[2015-08-11 10:02] wkerzendorf opened #366 "Calculating Likelihood"
![img_0521](https://cloud.githubusercontent.com/assets/506116/9195138/db24c62e-4020-11e5-8e74-9e21737d3f27.JPG)
![img_0520](https://cloud.githubusercontent.com/assets/506116/9195151/e1ce4e82-4020-11e5-8841-616f65a9b4a9.JPG)

[2015-08-11 10:03] wkerzendorf commented on #366
@orbitfold here are Likelihood calculations

[2015-08-11 11:46] orbitfold commented on #366
@fredRos, does the -0.5 should really go before the first term only in the first photo or is that a mistake?

[2015-08-11 12:08] fredRos commented on #366
Gauss = 1/\sqrt(2 \pi \sigma^2) exp(-0.5 * \chi^2), so the -0.5 is right

[2015-08-11 16:21] rcthomas commented on #366
The uncertainty on the synthetic spectrum is just dispersion from the counts, not bias, right?

[2015-08-17 12:26] ssim opened #376 "build problem"
Working with the current master branch, I'm failing to build from source:

[code]

eventually gives up with:

[code]

Looks like a problem with my C compiling? @wkerzendorf @aoifeboyle @orbitfold Anyone know?

[2015-08-17 12:33] orbitfold commented on #376
Did you do git clean -dfx?

[2015-08-17 12:34] ssim commented on #376
Hi - no, I'd not done that. But I tried doing it now - still get the same problem.

[2015-08-17 12:37] orbitfold commented on #376
I know what the problem is. Give me a sec.

[2015-08-17 12:48] orbitfold commented on #376
Can you try now? If this does not fix it I'll have to look at it once I get back home.

[2015-08-17 12:51] ssim commented on #376
do I need to pull again now? what do I do different from before?

[2015-08-17 12:51] orbitfold commented on #376
Nothing, just pull again.

[2015-08-17 12:53] ssim commented on #376
Ok - so I did a pull and then

```git clean -dfx ```

and this time

``` python setup.py build```

claims to have worked - yay! Many thanks! What was the issue? Is it something I'll need to worry about again?

Many thanks!

[2015-08-17 12:57] orbitfold commented on #376
Well the issue was basically that a variable with the same name was declared in two files that were later linked together. I don't understand how did the tests pass...

[2015-08-17 12:59] ssim commented on #376
Would you say that it's resolved now? Or should we leave this issue open?

[2015-08-17 13:00] orbitfold commented on #376
Let's leave it open I think.

[2015-08-17 13:01] ssim commented on #376
OK - will leave it. Can bring it up at the next TARDIS meeting. Thanks for your help!

[2015-08-17 13:03] orbitfold commented on #376
No problem, glad it worked.

[2015-08-17 15:49] unoebauer opened #378 "New Plasma breaks to_hdf5 of model"
Issue based on revision d84d1f6

After the plasma overhaul, the model can no longer be saved to an HDF file (via to_hdf5). The reason seems to be that the properties requested in model.py

[code]
are no longer saved in the model under `plasma-array`.

[2015-08-17 17:01] aoifeboyle commented on #378
Just seeing this now @unoebauer. I can fix it.

[2015-08-17 17:45] aoifeboyle commented on #378
I've just fixed it (I think). Can you check if it works for you?

[2015-08-17 17:57] ssim opened #380 "Problem with ion populations in LegacyPlasmaArray"
Hello,

I'm playing around a bit with the GUI and am repeatedly running into the following error:

[code]

I'm not 100% clear what the LegacyPlasmaArray is doing, but I assume this is something to do with the recent changes. Can you help,  @aoifeboyle ?

In my configuration file I'm currently using:

[code]

is that all still fine, or do I need to do something else with the new plasma?

[2015-08-17 18:00] aoifeboyle commented on #380
Yeah I know what it is actually! That property has been renamed `ion_number_density` in the new plasma. Sorry, I should have gone through the gui to correct those terms. I'll do it now.

[2015-08-17 18:01] ssim commented on #380
Great - thanks!

[2015-08-17 18:23] aoifeboyle commented on #380
@ssim It seems to work for me now! Let me know if it works for you.

[2015-08-18 08:47] unoebauer commented on #378
Thanks @aoifeboyle for swiftly taking care of this! Works fine for me now.

[2015-08-18 09:21] ssim commented on #380
@aoifeboyle Looks good - seems to be working for me now too! Thanks for fixing. I will close this issue now.

Thanks!

[2015-08-18 09:21] #380 closed

[2015-08-19 11:35] orbitfold opened #383 "TypeError: montecarlo_radial1d() got multiple values for keyword argument 'virtual_packet_flag'"
File "dalek_helper.py", line 40, in get_fitness
    mdl = run_tardis(conf_dict)
  File "/home/hpc/pr94se/di73kuj/anaconda/envs/tardis/lib/python2.7/site-packages/tardis_sn-1.0.1-py2.7-linux-x86_64.egg/tardis/base.py", line 42, in run_tardis
    simulation.run_radial1d(radial1d_mdl)
  File "/home/hpc/pr94se/di73kuj/anaconda/envs/tardis/lib/python2.7/site-packages/tardis_sn-1.0.1-py2.7-linux-x86_64.

[2015-08-19 12:03] wkerzendorf commented on #383
`git clean -dfx` ?

[2015-08-20 16:37] mreineck opened #387 "Monte Carlo: fix or remove binary_search()"
The function bnary_search() in cmontecarlo.c is broken, as far as I can tell: the interval bisection part is not equivalent to the one in reverse_binary_search().
Since the function is not called from anywhere, I suggest to remove it.

[2015-08-20 16:42] mreineck opened #388 "Monte Carlo: inconsistent usage of rpacket accessor functions and members"
The rpacket struct has a complete set of getter and setter functions, but in several places throughout cmontecarlo.c, its members are accessed directly (just grep for "packet." or "packet->" in this file).
It would be nice to harmonize this and either use only accessors or remove them.
Since the current accessor functions don't try to preserve any kind of invariant, both solutions are equivalent f

[2015-08-20 16:47] orbitfold commented on #388
I'm for keeping accessors, I find accessor code more readable. Plus it's

[2015-08-20 16:49] mreineck commented on #388
OK, I'll provide a PR shortly.

[2015-08-20 17:34] wkerzendorf commented on #387
sounds good to me!

[2015-08-21 10:00] mreineck opened #390 "Montecarlo: Missing dependencies in the build script"
If I run "python setup.py develop --user", then make a change to any of ther .h files in tardis/montecarlo/src/ and finally run "python setup.py develop --user" again, the C files are not recompiled as they should be. This dependency on the header files should somehow be added to the build script in question (I expect that it is tardis/montecarlo/setup_package.py), but I don't know how this can be

[2015-08-22 08:40] mreineck opened #393 "Monte Carlo: bug in OpenMP mode"
If I understand the code correctly, there is currently a serious problem when running the Monte Carlo part in parallel:
There is a global variable mt_state, which holds the state of the random number generator. Yet every thread treats this variable as if it were their own private copy.

Here an example from montecarlo_main_loop():
#pragma omp parallel
  {
    initialize_random_kit(seed + omp_get_t

[2015-08-22 08:59] orbitfold commented on #393
I'm aware of this problem. I'm going to fix it.
Išsiųsta BlackBerry® paštu iš Bitės

-----Original Message-----
From: mreineck <notifications@github.com>
Date: Sat, 22 Aug 2015 01:40:26
To: tardis-sn/tardis<tardis@noreply.github.com>
Reply-To: tardis-sn/tardis <reply@reply.github.com>
Subject: [tardis] Monte Carlo: bug in OpenMP mode (#393)

If I understand the code correctly, there is currently a

[2015-08-24 10:37] #378 closed

[2015-08-25 13:32] mreineck commented on #390
Same problem with the dependency between .pyx and .c files ... cython does not seem to be re-run automatically whenever a .pyx file is changed.

[2015-08-25 13:36] mreineck commented on #387
Fixed by merging my changes.

[2015-08-25 13:36] #387 closed

[2015-08-25 13:37] mreineck commented on #388
Fixed.

[2015-08-25 13:37] #388 closed

[2015-08-26 14:29] ssim opened #402 "Problems with pandas slicing (again)"
I'm seeing problems (again) when trying to use the macro atom mode - it complains:

[code]

Here's the yml file I'm trying to use

[code]

This sounds like a similar sort of thing to what was in #105 #110 , which had been resolved (I thought). Can someone who knows about pandas @wkerzendorf @aoifeboyle have a look into this?

[2015-08-26 14:34] aoifeboyle commented on #402
@ssim Yeah I've seen this before and it doesn't actually affect the running of the code but it is annoying. I haven't seen it with the current code though - has it just started happening? Leave it with me and I'll have a look.

[2015-08-26 14:37] ssim commented on #402
Hi - yes, it just happened with me. I'm not 100% uptodate, perhaps - but I did update all my python packages and TARDIS last week so I think it's a "current" problem! :)

[2015-08-26 15:57] wkerzendorf commented on #402
@ssim @aoifeboyle yes, I have to fix this. I've made the executive decision that pandas==0.16 is the new minimum version and it remains executive until someone bitterly complains.

[2015-08-26 15:58] wkerzendorf commented on #402
and yes, I'll deal with it.

[2015-08-26 16:01] ssim commented on #402
I have version 0.16.2 installed and get this error

[2015-08-27 16:35] #393 closed

[2015-08-28 17:30] ssim commented on #402
Resolved by #403 #405

Closing.

[2015-08-28 17:30] #402 closed

[2015-08-31 12:08] mreineck commented on #390
Another observation: if I delete a .c file by hand that was originally created by Cython, the compilation proces fails completely:
[code]

This happens despite the fact that Cython was working perfectly well when I first compiled the package directly after cloning from Github.

I have no idea what's happening here.

[2015-08-31 12:11] wkerzendorf commented on #390
@embray - this is using the astropy setup tools. Any idea why?

[2015-08-31 12:56] mreineck opened #408 "Montecarlo tests still doing unrealistic things"
After some work, the tests in test_cmontecarlo.c now do proper setup and tear-down of their environment and can be executed in arbitrary order.
Unfortunately they still have the unrealistic prerequisite that their random number generator has an internal state which is identically zero. I have not verified it, but this typically means that the RNG will produce only zeroes, or in any case behave in

[2015-08-31 21:16] embray commented on #390
Something seems to be awry here:
[code]

[2015-08-31 21:16] embray commented on #390
The syntax on this line is wrong: https://github.com/tardis-sn/tardis/blob/master/MANIFEST.in#L8

[2015-08-31 21:18] embray commented on #390
(Note, I don't know for sure if that's the reason for the problem, but I've never had any problem like this--if `./setup.py develop` isn't doing it try `./setup.py build_ext --inplace`.  The latter is what I usually re-run when I'm testing extension modules rather than re-running `develop` over and over (which is more like running `install` over and over).

[2015-09-01 08:28] mreineck commented on #390
Thanks for pointing out the syntax error!
Unfortunately the behaviour doesn't change...
[code]

[2015-09-24 17:00] wkerzendorf opened #411 "Deal with missing zeta data in a more sensible way"
https://github.com/tardis-sn/tardis/blob/master/tardis/plasma/properties/ion_population.py#L67

extend the interpolation.

[2015-09-25 08:55] aoifeboyle commented on #411
In the old plasma I made it so that the zeta values for the highest temperature available were used even for temperatures exceeding that value. Do you want me to just implement that again here?

[2015-09-25 10:49] wkerzendorf commented on #411
@aoifeboyle I think such an extrapolation would be good. The second small issue is that when complaining about missing zeta values that it doesn't specify which ones. It would be good to at least say which atoms. What do you think?

[2015-09-25 12:07] aoifeboyle commented on #411
Sure! I can try to do that. Shouldn't be a problem.

[2015-09-25 12:41] wkerzendorf commented on #411
@aoifeboyle don't be alarmed but currently the master is broken. There is an issue with pytest. I should have fixed it by now.

[2015-09-25 13:58] aoifeboyle commented on #411
@wkerzendorf Ok, I assume that's why my Travis build isn't working? I'm just relieved it's not something I've done!

[2015-09-25 14:10] wkerzendorf commented on #411
@aoifeboyle yes it was a problem with new versions of pytest and coverage. It should all be fixed now.

[2015-09-28 12:41] unoebauer opened #415 "Which Pandas version is required for new plasma framework?"
In the course of the plasma rewrite, it seems that the pandas dependencies have changed: before pandas 0.14.1 was sufficient to run Tardis smoothly, now I need a newer version of this library to avoid the following slicing errors in the plasma part:

[code]

Using the latest version of pandas available via ```pip```, pandas 0.16.2, resolves this issue and allows me to run Tardis again smoothly. A

[2015-09-29 11:51] unoebauer opened #417 "Path problem in case of debian + virtualenv + astropy (debian package)"
Running into a rather pathological problem when using tardis with the following combination:
- debian Jessie (may apply also to other linux distributions and versions)
- a python virtualenv with --system-site-packages (i.e. rely also on system-wide python packages)
- having only the debian astropy package installed

After setting up the vanilla virtualenv, the python path (as in `sys.path`) looks

[2015-09-29 11:53] unoebauer commented on #417
As workaround for this problem, which seems to be caused by using the setuptools wrongly, simply install astropy in the virtualenv, e.g. by

pip install --upgrade astropy

[2015-09-29 11:54] unoebauer commented on #415
This means that pandas 0.16 is indeed needed?

[2015-09-29 13:54] tukss commented on #417
This seems to be a general problem with `virtualenv --system-site-packages` and `easy_install` on Debian/Ubuntu.

Just try this in a virtualenv:
[code]

This will add `/usr/lib/python2.7/dist-packages` to `easy-install.pth` because it is the path of numpy. Either we have a conceptual problem in understanding setuptools here or it is simply a bug in Debian.

[2015-09-29 14:42] #415 closed

[2015-10-01 12:15] tukss commented on #417
This bug affects not only Debian but seemingly any distribution with centrally packaged Python packages. I just tried it on Arch Linux, which uses `/usr/lib/python2.7/site-packages` instead of Debian's `dist-packages`. The error is the same. The global site-packages is added to `easy-install.pth`.

I am wondering if we can somehow prevent the tardis `setup.py` to install astropy as its requirement

[2015-10-02 00:14] tukss commented on #417
I found an issue in setuptools that describes similar behavior. In that case it did not cause any trouble but it is still unwanted that already reachable paths are added to `easy-install.pth`. The issue has some suggestions for fixing this in setuptools.

https://bitbucket.org/pypa/setuptools/issues/400/required-package-already-installed

[2015-10-02 08:10] unoebauer opened #418 "Shape mismatch problem in plasma with pandas <0.16 (related to #415)"
This is just to reiterate on the shape mismatch problem in the plasma calculation which immediately crashes a tardis run with the following error when running with pandas < 0.16 (see #415 for reference)

[code]

As mentioned already in #415, this behaviour seems to go away when a newer pandas version is used.

However, one should double-check, that nothing more fundamental is going wrong here.

[2015-10-02 08:19] unoebauer opened #419 "Problem with inverse electron densities - no packets are escaping"
Some weird behaviour in the new plasma calculation or/and in the new layout or the ```montecarlo.pyx``` file lead to the following severe problem:

During each montecarlo packet propagation cycle, not a single packet escaped through the outer boundary of the computational domain. It seems that the simulation thinks that the distance to the next electron scattering event is zero. Thus, all injected

[2015-10-02 08:21] unoebauer commented on #419
After updating to the current master AND updating the pandas library to pandas 0.16.2, the problem seems to have disappeared.

However, @chvogl seems to have run into the same problem with the current master.

[2015-10-02 09:46] wkerzendorf commented on #417
So as far as I understand this - it is a problem in setuptools in debian. So currently there is no fix necessary for tardis, right?

[2015-10-02 09:48] wkerzendorf commented on #418
These parts of the the code were written with pandas 0.16 and were checked with pandas 0.16. I never checked them against older  versions of pandas, where the slicing behaviour might be different. The result of this has been checked against the vanilla version of the new plasma from @aoifeboyle and give the same result. If there are specific additional checks you suggest, let me know. If you think

[2015-10-02 09:50] wkerzendorf commented on #419
@unoebauer so you do not get a problem anymore with the current master and a new pandas version. If you have the machinery running to check for missing references specifically in `init_storage_model`, then we can make sure these are fixed. let me know, which ones these are. I have had a similar problem before, but I fixed it before merging. It resulted in the full tardis test failing.

[2015-10-02 09:51] wkerzendorf commented on #411
@aoifeboyle I think this issue is fixed - right? If you agree, just close the issue.

[2015-10-02 09:56] tukss commented on #417
Partially. This is a problem with setuptools in general, which is why I linked the setuptools issue. This will happen if you have astropy installed only in your Python install's global `site-packages` and run our `setup.py` in a virtualenv. You will end up with your global `site-packages` early in the `easy-install.pth` of the virtualenv, which is clearly unwanted.

You are right that this is not

[2015-10-02 09:56] chvogl commented on #419
I encountered the same problem, when I tried to add some additional data for the continuum implementation in the __initalize_storage_model__  function.
For unknown reasons this resulted in the cleanup of the __inverse_electron_densities__ by the garbage collector. As a result the pointer to the inverse electron densities pointed to values of the order 1e-300.
As a consequence the distance to the n

[2015-10-02 10:27] wkerzendorf commented on #417
@tukss @unoebauer - thanks for tracking this down. I think a note in the docs is a good idea.

[2015-10-04 08:09] #411 closed

[2015-10-06 08:47] souravsingh commented on #359
I wish to work in the issue.How do I start?

[2015-10-06 09:13] wkerzendorf commented on #359
@souravsingh have a look in the documentation in the nlte rst file and find the latex caligraph Rs and change them to lower Rs

[2015-10-06 10:02] #419 closed

[2015-10-06 14:51] #336 closed

[2015-10-11 10:57] souravsingh commented on #359
I have sent a Pull Request.But the Travis tests failed.

[2015-10-11 10:57] souravsingh commented on #359
Here is the link to the PR-https://github.com/tardis-sn/tardis/pull/421

[2015-10-11 12:26] souravsingh commented on #114
I would like to work on the issue.How do I start?

[2015-10-11 12:34] souravsingh commented on #359
I will try once again to send a PR

[2015-10-12 12:22] souravsingh commented on #359
The tests have failed.Here is the link to PR-https://github.com/tardis-sn/tardis/pull/422

[2015-10-12 18:12] souravsingh commented on #186
@mklauser Are you referring to this file-https://github.com/tardis-sn/tardis/blob/master/tardis/data/tardis_example_config.yml
As Far as I know,It seems correct to me

[2015-10-17 08:02] souravsingh commented on #100
I wish to do this.How do I start?

[2015-10-19 13:33] souravsingh commented on #321
@wkerzendorf I think PR-https://github.com/tardis-sn/tardis/pull/424 will now fix this issue.

[2015-10-19 17:41] souravsingh opened #427 "PEP8 Violations"
While working on an issue,I noticed PEP8 violations on some files.I am working on extracting the list of files with the violations.

[2015-10-19 17:57] wkerzendorf commented on #427
have a lookat #426 - there are some fixes for that. but many other files have that problem. and are not fixed.

[2015-10-19 17:57] #359 closed

[2015-10-19 18:00] wkerzendorf commented on #100
just color the log output. have a look online how other people do that.

[2015-10-19 18:03] souravsingh commented on #427
Here are some lists of files with PEP8 Violations-
[code]

[2015-10-20 15:11] souravsingh commented on #100
@wkerzendorf I have done the fix.Sorry for asking a very naive question-In which folder should the Script go?

[2015-10-22 08:06] aoifeboyle opened #428 "Segmentation fault with lots of packets (important)"
I'm getting a segmentation fault on the last iteration of every simulation I run with a large number of packets, whether I run it on my desktop, the virtual server or one of the MPA servers. My Tardis version is up to date and I've checked that my python packages are all up to date too. Would anyone be able to run this and see if they can reproduce the issue? I'm running it without OpenMP.

Here's

[2015-10-22 08:11] aoifeboyle commented on #428
@wkerzendorf

[2015-10-22 08:19] wkerzendorf commented on #428
any memory issues? What memory was consumed?

[2015-10-22 08:29] orbitfold commented on #428
Run it through valgrind and post the results. It will run very slowly. Just install valgrind and do:

Valgrind tardis ...

For me this usually provides enough info what caused the segfault.
Išsiųsta BlackBerry® paštu iš Bitės

-----Original Message-----
From: Wolfgang Kerzendorf <notifications@github.com>
Date: Thu, 22 Oct 2015 01:19:20
To: tardis-sn/tardis<tardis@noreply.github.com>
Reply-To: tar

[2015-10-22 08:30] aoifeboyle commented on #428
For the MPA server simulation, it said 'max vmem' was 14.313G, and 20G was allowed.

Here's the error output as well:

Traceback (most recent call last):
  File "tardis_script_1.py", line 8, in <module>
    model = run_tardis('../supernova_models/tardis_config_1.yml', '../aoife.h5')
  File "/afs/mpa/home/aoife/tardis/build/lib.linux-x86_64-2.7/tardis/base.py", line 42, in run_tardis
    simulation

[2015-10-22 08:31] wkerzendorf commented on #428
that is still quite a bit.

[2015-10-22 08:43] aoifeboyle commented on #428
@orbitfold Does the error output I posted above help or should I still run the valgrind thing?

[2015-10-22 09:02] orbitfold commented on #428
I think there might be a memory leak..? In that case using valgrind makes sense. If you know how to find memory leaks with it then go ahead, otherwise I can try it once I have a spare minute.

[2015-10-22 10:47] aoifeboyle commented on #428
@orbitfold It would be really great if you could do it for me at some point. I've given way too much time to this problem already and I need to get back to my cosmology stuff. Thanks. It would even just be really great if you or @wkerzendorf could just run my code and see if you get the same problem.

[2015-10-22 10:48] orbitfold commented on #428
Well it doesn't matter even if we don't. As long as someone runs in to it then it is a problem.

[2015-10-22 14:38] souravsingh commented on #100
@wkerzendorf I have added a Pull Request for the script.I request you to have a look and see if it needs any changes-https://github.com/tardis-sn/tardis/pull/429

[2015-10-24 16:20] souravsingh commented on #100
I have updated the PR.

[2015-10-26 09:36] aoifeboyle commented on #428
@orbitfold @wkerzendorf Have either of you made any progress on this?

[2015-10-28 13:57] orbitfold commented on #428
Where do I get the atom data?

[2015-10-29 12:30] aoifeboyle commented on #428
https://www.dropbox.com/s/l1oy1pncc5sxhd1/aoife.h5?dl=0

[2015-11-03 04:41] orbitfold commented on #428
During the last iteration it seems to be leaking memory at a more or less constant rate until it runs out, which is why you get the MemoryError when an array of zeros is being allocated. I don't get this error, but my TARDIS run is killed when it runs out of memory. Running valgrind with this will take a couple of days. Maybe I can use opensupernova.org for that? Unless someone has any ideas where

[2015-11-03 06:45] orbitfold commented on #428
For the mean time I'll switch of virtual packet logging, make it optional, maybe that will solve it.

[2015-11-03 09:39] aoifeboyle commented on #428
Thank you @orbitfold.

[2015-11-09 14:13] aoifeboyle commented on #428
@orbitfold @wkerzendorf Still having some problems. I ran 6 Tardis simulations on the MPA servers. 3 ran with no issues. The other 3 seemed to get stuck in some kind of loop, because they ran for almost 24 hours each and were still stuck on the first (or in one case second) iteration. There were only basic differences between the config. files of the ones that ran and didn't run, e.g. luminosity,

[2015-11-09 16:34] orbitfold commented on #428
Well the files would be helpful. Also maybe start a new issue?

[2015-11-09 16:35] aoifeboyle commented on #428
Exact same files as before.

[2015-11-09 16:36] orbitfold commented on #428
You said in the comment before that there were basic differences?

[2015-11-09 16:38] aoifeboyle commented on #428
Just the times and luminosities (7 and 21 days, 8.87 and 8.91 log_lsun for the runs that failed). Also I didn't start a new issue because it's the same problem as before. I've tried running with fewer packets (e.g. 10^4) and it works fine. Some of the runs completed but we obviously haven't gotten the whole issue.

[2015-11-09 16:40] orbitfold commented on #428
I don't think it's necessarily related.

[2015-11-13 10:33] unoebauer opened #436 "legacy_run_simulation of Simulation restructure breaks to_hdf5 in radial1d_model"
Summary
------------
It seems that with the separation of the simulation and model aspects in PR #426, some inconsistencies were introduced in the radial1d_model handling, in particular when the legacy_run_simulation is used.

Details
---------
Running the tradis_example interactively in an ipython session using the run_tardis method, the simulation runs smoothly.

[code]
 However, some features o

[2015-11-14 13:11] utkbansal opened #437 "Ambiguity in field type for webapp"
Hi! I was working on creating the web form for the config file generation.
The sample config definition file found [here](https://github.com/tardis-sn/tardis/blob/master/tardis/data/tardis_config_definition.yml) defines a property type named quantity. What would this be? A string, int or float?

[2015-11-19 14:27] utkbansal commented on #437
@wkerzendorf could you please help me?

[2015-11-19 16:19] wkerzendorf commented on #437
a quantity is a float with a string attached. In the end it is '8 km/s' for example

[2015-11-23 20:55] ssim opened #438 "Bug in Tardis atomic / standard data set?"
It looks to me like the set of atomic data we currently are providing has missing basic ionizating data for Z=4 (Be). This data is not actually important for current applications (abundances are low); but if running with full ARTIS model this leads to a crash since the (new?) plasma insists that the full data is available (and although negligibly small, the Be abundance is not = 0 in the models).

[2015-11-23 22:30] aoifeboyle commented on #438
Hi @ssim. Yeah, the missing Be data has been a problem for ages now. I think we agreed that rebuilding the atomic dataset was complicated.

In my own version of Tardis I have a temporary solution that manually adds the Be IV ionisation data. It's not a long-term solution but it does work. I'll make a PR with it (not to be merged ever, just as a temporary solution).

[2015-11-24 20:50] utkbansal commented on #437
@wkerzendorf  and what is the significance of container-property ? How are they supposed to be rendered in the form?

[2015-11-27 10:50] wkerzendorf commented on #437
@utkbansal sorry for the slow responses currently really busy. The container properties tell us that we can have multiple input ways here. I'm actually thinking that they might not be that useful anymore and that we might want to use yaml tags for this http://pyyaml.org/wiki/PyYAMLDocumentation#YAMLtagsandPythontypes. In general then we would also use the jsonschema for validating our input file.

[2015-11-27 13:15] utkbansal commented on #437
No problem. I myself have been stalling this for quite some time now. Could you please have a look at [here](http://tardis.utkarshbansal.me) and direct me further if the YAML thing might change.

[2015-11-27 13:22] wkerzendorf commented on #437
this works for one of the sections in the yaml file, but not for the others. I think the YAML thing change could be an interesting project. The reason why I mentioned it is to see if you are interested in this. I presume you are doing this for GSoC 2016. We are not sure if GSoC 2016 will have a web interface project.

[2015-11-27 13:33] utkbansal commented on #437
Yes, I am interested in GSoC 16. Though I'm still interested in the webapp and we still need it do be done, right? Would anything related to this be in GSoc 16?  What work would have have to be done for the YAML change thing?

[2015-11-27 13:44] wkerzendorf commented on #437
@utkbansal well it is something that we are interested in, but we realized in the last months that the priorities will lie elsewhere. The YAML change can be something as simple as introducing YAML tags for quantities in the first instance.

[2015-11-27 13:46] utkbansal commented on #437
@wkerzendorf in that case what can I help on as of now?

[2015-11-27 13:47] wkerzendorf commented on #437
@utkbansal well look at YAML tags and see if you can make a YAML tag for quantities.

[2015-11-27 13:49] unoebauer opened #441 "Gui does not work if LaTeX is activated"
This is just a minor issue, but it seems as if the gui does not run properly if the LaTeX is used to render math fonts. This is potentially an issue when the user has customised matplotlibrc files, specific mplstyle files or hast set LaTeX processing by hand.

There are two possible solutions:
- change all strings in the gui to be compatible with LaTeX and normal processing (requires some work)
-

[2015-11-27 13:52] utkbansal commented on #437
@wkerzendorf okay, I'll try and let you know.

[2015-11-27 13:56] unoebauer opened #442 "Minor inconsistencies in Simulation object"
While working on PR #440, I noticed that some simulation properties are accessed within if statements in the legacy runner but are never set before (I've already added a comment):

[code]

Any reason for this? While running simple tardis setups (mostly tardis_example), the calculation never enters this segment of the if statement. Still, this should be resolved.... (more of these inconsistencies m

[2015-11-27 14:15] unoebauer commented on #441
Some more diagnostics on this issue:

Starting the gui without any custom rcParams settings (no matplotlibrc files, no styles), the gui works fine (since LaTex is deactivated by default)

Activating LaTeX with ```plt.rcParams["text.usetex"] = True``` just before calling the gui results in the follwing LaTeX error:

[code]

[2015-11-27 20:15] unoebauer opened #443 "Requested iterations not equal to number of iteration cycles"
The last cycle, during which black body temperature, ionisation and excitation balance is kept constant, counts as one iteration. Is this really what we want? Intuitively, I would expect `n` ionisation cycles and then one more spectral cycle when I set the number of iterations to `n` in the yml file.

[2015-11-30 07:51] souravsingh commented on #442
I would like to work on the issue.

[2015-11-30 10:28] unoebauer commented on #436
Addressed by PR #440 - has been merged into master. Thus, I am closing this issue.

[2015-11-30 10:28] #436 closed

[2015-11-30 10:33] unoebauer commented on #418
Is this one still relevant? With the pandas 0.16 requirement, this issue should be resolved. Objections to closing it, @wkerzendorf, @ssim, @aoifeboyle, @chvogl?

[2015-11-30 10:36] unoebauer commented on #417
Did this information propagate into the docs, @wkerzendorf? If so, we could close this issue. Also, @tukss, submitted a patch for this, if I am not mistaken. Status on this?

[2015-11-30 10:42] unoebauer commented on #390
This is related to #376.

[2015-11-30 10:49] unoebauer commented on #376
The fundamental problem, which this issue refers to, is still unresolved. It is diagnosed in detail in #390, namely that the C-modules are not recompiled if the corresponding ``*.c``, ``*.h`` (and possibly ``*.pyx``) are changed. This also holds if the compile flags are changed (e.g. activating open-mp or virtual-packet loggin). It seems to be related to the (wrong?) use of astropy's setuphelpers.

[2015-11-30 10:50] wkerzendorf commented on #376
once @chvogl's analysis is complete we should contact the astropy people to help us with this problem.

[2015-11-30 10:51] unoebauer commented on #366
Any progress on this? - No activity for a couple of month, thus assigning low priority. Happy to change this.

[2015-11-30 10:53] unoebauer commented on #383
If git clean -dfx helped, this is again related to issues #376 and #390. Keeping this one open for now. @orbitfold, @wkerzendorf: did problem persist? Did git clean help?

[2015-11-30 10:59] unoebauer commented on #356
Seems to be a very simple modification of the source code. Simply adopt it @orbitfold, @wkerzendorf, @ssim and close this issue?

[2015-11-30 11:01] tukss commented on #417
Yes, I patched setuptools to prevent this. It seems one of the Debian patches to accommodate for the dist-packages path was just applied to the wrong section of the file. Unfortunately, my patch wasn't processed yet. I guess the maintainer is pretty busy. If nothing happens until next week, I will ask again.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=804281

[2015-11-30 11:05] unoebauer commented on #348
The extensions of @cvogl, summarised in #430 will not work with open-MP in the near future. We can keep this issue to remind us of this fact (or maybe create a milestone?), @wkerzendorf, @ssim?

[2015-11-30 11:09] unoebauer commented on #321
Does the problem still persist @orbitfold? Did PR #424 indeed fix this issue? Otherwise, close @wkerzendorf?

[2015-11-30 11:10] unoebauer commented on #270
@wkerzendorf - looks pretty straight foward. I'd close this.

[2015-11-30 11:12] #270 closed

[2015-11-30 11:13] unoebauer commented on #264
This one is still relevant for GSoC 2016, right? @wkerzendorf

[2015-11-30 11:14] unoebauer commented on #263
@wkerzendorf: status of this? Is this still relevant after the plasma overhaul?

[2015-11-30 11:15] #263 closed

[2015-11-30 11:15] ssim commented on #348
Making a milestone of it is probably wise. What will happen at the moment? Does the code print out a warning (or abort or something) or will it just carry on anyway if you try to use them with openmp (and then find a wrong result)?

[2015-11-30 11:16] unoebauer commented on #249
@wkerzendorf - certainly still relevant. I guess also for GSoC 16.

[2015-11-30 11:17] unoebauer commented on #243
Do we want to propagate this project into GSoC 16, @orbitfold, @wkerzendorf?

[2015-11-30 11:19] orbitfold commented on #243
I'd like to say yes. But it's a pretty messy, hard and nebulous task, not sure how fair it would be to expect the students to make any kind of good progress/produce showable code with this.

[2015-11-30 11:19] unoebauer commented on #242
This seems still very relevant, despite the lack of activity since March. GSoC 16, @wkerzendorf, @ssim, @chvogl?

[2015-11-30 11:21] unoebauer commented on #241
Guess this one is still an active feature request. GSoC 16, @wkerzendorf, @ssim, @orbitfold?

[2015-11-30 11:30] unoebauer commented on #207
@ssim, @wkerzendorf - is this still relevant? #204 has been long closed. Looks like this one should find the same fate.

[2015-11-30 11:35] unoebauer commented on #195
@wkerzendorf - Status update? Looks like this is no longer an issue...

[2015-11-30 11:38] unoebauer commented on #191
@wkerzendorf - this is quite old - so is the used tardis version. We should just test whether this issue is still present in the current version and then close or reinvigorate this issue. I'll have a look at this.

[2015-11-30 13:30] unoebauer commented on #348
Hmm - good point. Currently we never use open-MP with #430. But we should add a safety guard to prevent running the code when open-MP is active. Could you elaborate on this, @chvogl?

[2015-11-30 13:33] unoebauer commented on #417
@tukss - thanks a lot for staying on top of this. Question still remains whether this issue has already found its way into the docu, @wkerzendorf?

[2015-11-30 13:45] ssim commented on #207
We can close this one - doing it now.

[2015-11-30 13:45] #207 closed

[2015-11-30 13:45] cvogl commented on #348
Looks as if you've added the wrong guy to your discussion:
I'm cvogl and have no clue about your extension #430.

/cav

On Mon, 30 Nov 2015, unoebauer wrote:

[2015-11-30 13:48] unoebauer commented on #348
Ups - sorry my bad - omitted an h.

[2015-11-30 13:49] unoebauer commented on #187
I'd have the following recommendation:

- let's remove the ``from_h5`` routine from the model (if still exists), since it doesn't do anything and won't for the foreseeable future
- quite some progress has been mode concerning the ``to_hdf5``: lot's of diagnostics are stored now.

Consequently, I'd close this issue, because it is quite misleading.

Instead I'd either create a milestone or a new iss

[2015-11-30 13:51] unoebauer commented on #186
No longer an issue - yaml format has actually changed in the meanwhile. FYI, @wkerzendorf, I am closing this one.

[2015-11-30 13:51] #186 closed

[2015-11-30 13:52] chvogl commented on #390
@wkerzendorf
The problem that cython does not re-run automatically whenever a .pyx file is changed, can seemingly be fixed by adding the following line of code:

    from Cython.Build import cythonize
    package_info['ext_modules'] = cythonize(package_info['ext_modules'])

[2015-11-30 13:56] unoebauer commented on #184
What about this issue, @ssim, @wkerzendorf? Not a lot of activity here? Did @wkerzendorf's suggestion work? If so let's close this one.

[2015-11-30 13:58] ssim commented on #184
No idea! Suggest we close this, unless someone has time to try and see whether NLTE currently operates as expected.

[2015-11-30 14:03] unoebauer commented on #181
Did anybody, @ssim, @wkerzendorf ever look into this? From the description above, it is not obvious to me whether the differences are actually worrisome or not. Moreover, the referenced Tardis versions are quite old... I am tempted to close this one.

[2015-11-30 14:06] wkerzendorf commented on #417
One of the astro people in Debian is @olebole - maybe he has a good connection to this maintainer.

[2015-11-30 14:10] unoebauer commented on #417
As mentioned in my first comment, I think that this is quite a pathological use case. Nevertheless, I think we should make a note somewhere on the docu when talking about using astropy in a virtualenv and on debian-based linux distributions.

[2015-11-30 14:11] unoebauer commented on #176
What happened here? The milestone was set to v1.0 (which has been released a while ago...). Were all config files thoroughly checked and the proper names used in the v1.0 release, @wkerzendorf?

[2015-11-30 14:14] unoebauer commented on #168
FYI @wkerzendorf: looking at the history of this and the applied fix, I consider this one resolve and am closing it...

[2015-11-30 14:14] #168 closed

[2015-11-30 14:18] unoebauer commented on #166
@ssim, @wkerzendorf: I guess this one is still relevant, despite the lack of activity. However, with the simulation restructure and the new Dalek fitting strategy (treating T_inner as a parameter which is kept fixed during the iterations), we basically have such a feature ready: specify T_inner, the velocity of the innermost cell and the time since explosion and we have a fixed input luminosity du

[2015-11-30 14:20] wkerzendorf commented on #166
It's missing the ability to set this in the config file.  - so for now can we leave this open?

[2015-11-30 14:20] unoebauer commented on #161
From the history of this, the original issue seems to be resolved. FYI, @ssim, @wkerzendorf: I'm closing this one - feel free to re-open if you disagree.

[2015-11-30 14:20] #161 closed

[2015-11-30 14:23] unoebauer commented on #159
@wkerzendorf, @ssim  - status of this? From what I understand this is still work in progress, right? Would be really useful to have this capability (especially for our tomography projects - currently we are doing this by hand).

[2015-11-30 14:25] wkerzendorf commented on #159
I updated the text.

[2015-11-30 14:26] unoebauer commented on #156
This is still relevant! Somebody just has to find some time to do it...(easier said than done)

[2015-11-30 14:27] unoebauer commented on #155
@ssim: status of this issue? My suspicion is that it hasn't progressed very much, being a documentation issue...

[2015-11-30 14:29] unoebauer commented on #141
Never heard of this issue again - given the lack of interest and activity I am closing this issue. @wkerzendorf, @ssim: Re-open if you disagree.

[2015-11-30 14:29] #141 closed

[2015-11-30 14:33] unoebauer commented on #140
@orbitfold - is this still an issue?

[2015-11-30 14:36] orbitfold commented on #140
No, we can close it.

On Mon, Nov 30, 2015 at 4:33 PM, unoebauer <notifications@github.com> wrote:

--
"Cheshire-Puss," she began, "would you tell me, please,
which way I ought to go from here?"
"That depends a good deal on where you want to get to," said the Cat.
"I don't care much where--" said Alice.
"Then it doesn't matter which way you go," said the Cat.

[2015-11-30 14:39] unoebauer commented on #139
@ssim - status of this issue? A quick peruse of the documentation didn't reveal anything detailed about the virtual packet scheme...If so - we should definitely keep this issue open.

[2015-11-30 14:42] unoebauer commented on #131
No longer relevant - all done in Pure C now. FYI @wkerzendorf - I am closing this. Nice figure though - something for the official docu (if not yet included)

[2015-11-30 14:42] #131 closed

[2015-11-30 14:43] #140 closed

[2015-11-30 14:44] unoebauer commented on #159
Thanks - let's leave this issue open until PR #409 has found it's way into the master.

[2015-11-30 14:46] unoebauer commented on #123
FYI @orbitfold, @wkerzendorf: I am closing this one since the task the issue refers to has already been realised.

[2015-11-30 14:46] #123 closed

[2015-11-30 14:49] unoebauer commented on #115
@ssim - what's the status of this? I guess this is still very relevant since the main ionisation mode of Tardis is still ``nebular``.

[2015-11-30 14:52] unoebauer commented on #114
@wkerzendorf: could you be more specific about the aims of this. Should the official documentation be updated to properly explain the nebular approximation, or should somewhere in the model (or simulation) object the ionisation mode be saved? In case of the latter: the model contains the tardis_config object from which the ionisation mode can be easily extracted.

[2015-11-30 14:54] unoebauer commented on #138
@wkerzendorf, @ssim: currently 20 shells are created if the above yml snippet is used as part of the config. Intuitively, this is also what I would have expected. I would be happy to close this one, provided that this behaviour is noted somewhere on the official docu.

[2015-11-30 14:56] unoebauer commented on #113
FYI @wkerzendorf, @ssim: given the plasma rewrite and that no test case emerged, I am closing this one.

[2015-11-30 14:56] #113 closed

[2015-11-30 14:58] unoebauer commented on #107
@ssim, @wkerzendorf: PR #236 has been merged a long time ago, supposedly addressing this issue (well, a proper handling of the error...). I'd say we close this one...

[2015-11-30 14:59] unoebauer commented on #100
@wkerzendorf, @souravsingh: status of this issue/feature request. The PR is out there and Travis seems to be happy with it...

[2015-11-30 15:00] souravsingh commented on #441
I would like to work on this issue.Where do I start?

[2015-11-30 15:01] souravsingh commented on #100
@unoebauer We need to make changes in a lot of scripts to make Colorizing actually work.I am working on it right now.

[2015-11-30 15:07] wkerzendorf commented on #131
@unoebauer should be in the documentation - as far as I can tell.

[2015-11-30 15:08] unoebauer commented on #95
@wkerzendorf: A quick check using tardis_example reveals the following behaviour:

 * wrong/unknown excitation option: error message:
```ConfigValueError: Given value (bla) not allowed in constraint (set(['dilute-lte', 'lte'])). [['plasma', 'excitation']]```
 * wrong/unknown ionisation option: error message: ```ConfigValueError: Given value (bla) not allowed in constraint (set(['nebular', 'lte']))

[2015-11-30 15:08] unoebauer commented on #95
FYI: @wkerzendorf, @ssim: closing this issue (see comment above)

[2015-11-30 15:08] #95 closed

[2015-11-30 15:11] unoebauer commented on #93
@wkerzendorf, @ssim, @chvogl: has this been explored? is this still relevant?

[2015-11-30 15:16] unoebauer commented on #89
@wkerzendorf, @ssim: no activity since 1.5 years. Also, no clear solution presented (doesn't look like the problem is on the Tardis side). I am tempted to close this issue, unless you want to keep it around to document (potential) problems with Ubuntu LTS (however, a more recent LTS version is already out). @orbitfold: did you run into such problems at any point?

[2015-11-30 15:18] unoebauer commented on #88
FYI @wkerzendorf: Move has been performed - no longer an issue - closing...

[2015-11-30 15:18] #88 closed

[2015-11-30 15:19] unoebauer commented on #85
@ssim, @wkerzendorf: is this feature still requested? Would be a nice thing to have and could be a project for GSoC 16 (not completely trivial but also not terribly hard)...(?).

[2015-11-30 15:22] unoebauer commented on #79
@ssim - do you know the status of this? I vaguely remember that we encountered something like this during Talytha's tomography project. We should try to verify whether this issue still persists in the current version of Tardis or not before deciding about the fate of this issue.... I'll try to do that.

[2015-11-30 15:25] unoebauer commented on #63
This is still very relevant - see #438 and quickfix (only for Be) PR #439.

[2015-11-30 15:26] unoebauer commented on #62
@ssim, @wkerzendorf: any progess/news on this?

[2015-11-30 15:28] unoebauer commented on #62
Issue #411, which has been recently closed, seems to deal with the same problem...Does this mean we can close this issue as well, @ssim, @wkerzendorf, @aoifeboyle?

[2015-11-30 15:30] unoebauer commented on #58
@wkerzendorf: still relevant? 32bit compatibility was never really high on our list. I am not sure if we should actually bother with it...thoughts on this, @orbitfold, @ssim?

[2015-11-30 15:33] unoebauer commented on #57
There is an entire series of issues dealing with omitted relativistic effects: #335, #57, #56, #55. Maybe we should combine them in one issue/milestone, @ssim, @wkerzendorf?

[2015-11-30 15:33] unoebauer commented on #56
See comment in #57

[2015-11-30 15:33] unoebauer commented on #55
See comment in #57

[2015-11-30 15:42] unoebauer commented on #53
PR #112 has been merged - not entirely clear from the discussion accompanying the PR whether the issue at hand has been addressed. Are packets actually ever reflected, @ssim, @wkerzendorf? I thought they would be discarded once they intersect the inner boundary...(?)

[2015-11-30 15:47] unoebauer commented on #44
@wkerzendorf: Some differences are expected due to expansion work done by radiation field (correct me if I am wrong @ssim). One would have to take one calculation and crunch the numbers to see whether this accounts for everything, but my suspicion is yes. I'd be tempted to close this one. Maybe a note on the documentation would be in order...

[2015-11-30 15:50] unoebauer commented on #37
@wkerzendorf: incredible activity surrounding this issue ;) - not sure what to do with it. Is it supposed to be just a warning for future work with chianti? If this issue is to be keep open, it should be given a bit more information and context...IMHO - thoughts on this, @ssim?

[2015-11-30 15:51] unoebauer commented on #36
@wkerzendorf: I strongly suspect that this is no longer relevant, given the transition from cython to C. I am closing this one on a hunch - reopen if I am wrong.

[2015-11-30 15:51] #36 closed

[2015-11-30 15:52] unoebauer commented on #35
@wkerzendorf, @ssim: paper submitted, even accepted ;) - I assume that I can safely close this issue.

[2015-11-30 15:52] #35 closed

[2015-11-30 15:53] wkerzendorf commented on #36
@unoebauer we are using memoryviews in the cython part of the code now. using this `[:, :]` notation are cython memory views.

[2015-11-30 15:53] unoebauer commented on #33
@wkerzendorf: I guess this has been resolved by now. Given also the lack of activity for more than two years, I am going out on a limb and close this one :)

[2015-11-30 15:53] #33 closed

[2015-11-30 15:55] unoebauer commented on #12
@wkerzendorf: a sufficient level of satisfaction has been reached, wouldn't you agree? Also, there is currently the colourised log PR and issue going around. Consequently, I am closing this one.

[2015-11-30 15:55] #12 closed

[2015-11-30 16:00] unoebauer commented on #11
@wkerzendorf, @ssim: this could be something for GSoC 16 - shouldn't be too hard to apply a simple Cardelli reddening law and the general redshift. Is it actually possible to account for the distance in the current Tardis version? I've seen multiple times now that the spectrum object has a distance attribute. I've never played with it though...

[2015-11-30 16:00] chvogl commented on #93
INFO:
The following level indices are floats:
* lines: level_number_lower, level_number_upper
* macro_atom_data: source_level_number, destination_level_number

[2015-11-30 16:01] unoebauer commented on #5
We are still using the ones adopted from Python (Long and Knigge 2002), if I am not mistaken, @wkerzendorf, @ssim, @chvogl. Is this really an issue?

[2015-11-30 16:12] unoebauer commented on #3
@wkerzendorf, @ssim: I guess that this refers to the temperature grid for the zeta values...Not sure how the PR #395 relates to this....Is the interpolation actually an issue or kept for documentation purposes. If it's the latter, let's close this issue and put a note on the docu.

[2015-11-30 16:16] unoebauer commented on #1
FYI @wkerzendorf: This issue it terribly old and has been hibernating for more than three years - I also assume that this has partly been addressed by your major python part overhaul this August. So, I'll boldly close this one - reopen if really necessary.

[2015-11-30 16:16] #1 closed

[2015-11-30 17:20] unoebauer commented on #191
FYI @ssim, @wkerzendorf

Update:

**Good News**:
  - with the current Tardis version (upstream/master, 34f667a465b36b7f76f7e9229a7d93d057c38d4a), no segmentation fault interrupts the calculation

** Bad News**:
  - despite having ``no_of_virtual_packets = 50`` set, the final virtual spectrum has zero flux everywhere
  - the real spectrum is non-zero and packets have interacted

Need to investigate

[2015-11-30 17:52] wkerzendorf commented on #57
@unoebauer sounds like a good idea - issue or milestone; your choice.

[2015-11-30 18:08] andarms commented on #427
the left number is the amount of PEP8 violations for each file?

[2015-11-30 19:38] souravsingh commented on #427
Yes,They Are @andarms.I will be doing some of these.Let us know if you need help.

[2015-11-30 20:09] souravsingh commented on #427
Alright,First PEP8 fix has come.Here it is-https://github.com/tardis-sn/tardis/pull/444

[2015-12-01 09:33] unoebauer opened #445 "Virtual Spectrum Zero"
I noticed this while investigating issue #191: using the current upstream/master 34f667a465b36b7f76f7e9229a7d93d057c38d4a, Tardis does not produce a virtual spectrum any more. The following model attributes are all arrays populated exclusively with zeros:

 - mdl.montecarlo_virtual_luminosity
 - mdl.spectrum_virtual.lumosity_density_nu
 - mdl.spectrum_virtual.lumosity_density_lambda

This is a ser

[2015-12-01 09:49] unoebauer commented on #445
Seems to be related to the virtual packet logging scheme introduced in PR #433. When running with Tardis complied with the flag ``--with-vpacket-logging``, the virtual spectrum is properly and correctly calculated. Once this flag is deactivated, I get zeros.

This is clearly not what we intended with PR #433. Here, only the additional memory intensive virtual_packet diagnostic arrays should be act

[2015-12-01 09:53] unoebauer commented on #191
Ok - the original problem addressed by this issue (segfault) is no longer a problem with the current Tardis version. A new issue, #445, has been opened which is dedicated solely to the issue with the virtual spectrum. Thus, I am closing this one.

[2015-12-01 09:53] #191 closed

[2015-12-01 10:09] orbitfold commented on #445
If I understand it correctly then this is "correct" behavior. It should not be stored when --with-vpacket-logging is not enabled. Virtual packets are still used, just the spectrum is not stored. I could have gotten this wrong though.

[2015-12-01 10:40] unoebauer commented on #445
The only reason to use virtual packets is to increase the signal-to-noise in the spectrum. So, there would be not much point to use virtual packets, which slow down the calculation, and then not benefit from the only advantage that they offer, namely decreasing the MC noise in the spectrum.

So, whenever virtual packets are active in the simulation, we definitely want to calculate/store the spectr

[2015-12-01 10:43] orbitfold commented on #445
Well the spectrum is still calculated and stored. The reason for storing the spectrum for virtual packets alone was to use the information in uncertainty calculations. It wasn't stored before we needed it this summer, I believe.

[2015-12-01 10:54] unoebauer commented on #445
Seems to be not the case, as the following comparisons show:

Both plots were produced with the following instructions:
[code]

* results obtained with Tardis compiled **with** vpacket-logging (real packet spectrum blue, virtual packet spectrum green):
![withflag](https://cloud.githubusercontent.com/assets/6351165/11498723/841d25f2-9821-11e5-98a8-fa0afbce3d41.png)

* results obtained with Tardis c

[2015-12-01 11:06] unoebauer commented on #445
Found the problem, I think - see the inline note I just added to the PR #433

[2015-12-01 11:13] unoebauer commented on #445
The virtual spectrum is calculated in simulation/base.py lines 318-323, using the ``runner`` attribute ``legacy_montecarlo_virtual_luminosity``. This is linked to ``storage.spectrum_virt_nu`` (see montecarlo.pyx, lines 197,198).

Whether this array is populated (cmontecarlo.c, lines 451-456) is currently subject to a large ifdef block and is thus only performed if vpacket loggin is active. I'll op

[2015-12-01 13:06] unoebauer opened #447 "Test for virtual spectrum required"
Issue #445 clearly demonstrated that we need to test explicitly the correct determination of the virtual spectrum. We could simply add a  ``test_virtual_spectrum`` method to ``test_tardis_full.py``, which does essentially the same as ``test_spectrum`` but for the virtual spectrum.

This would imply that we do another bitwise spectral comparison. I guess this is our best option until the statistics

[2015-12-01 13:11] unoebauer opened #448 "Missing relativistic CMF-LF frame transformation effects - Overview"
This issue is an meant to summarise issues #335, #57, #56 and #55 and to collect any other issues concerning omitted relativistic frame transformation effects.

[2015-12-01 13:18] unoebauer commented on #448
## Current status:

When transforming between the local co-moving frame (CMF) and the lab frame (LF) only the following effects are taken into account:

- frequency changes due to the Doppler effect

## Omitted/Neglected effects:

- changes in the propagation direction due to angle aberration (c.f. #57)
- correct transformation of opacity (c.f. #55)
- correct transformation of photon path segments

[2015-12-01 13:19] unoebauer commented on #335
Closing this one in favour of #448

[2015-12-01 13:19] #335 closed

[2015-12-01 13:19] unoebauer commented on #57
Closing this one in favour of #448

[2015-12-01 13:19] #57 closed

[2015-12-01 13:19] unoebauer commented on #56
Closing this one in favour of #448

[2015-12-01 13:19] #56 closed

[2015-12-01 13:19] unoebauer commented on #55
Closing this one in favour of #448

[2015-12-01 13:19] #55 closed

[2015-12-01 13:47] #445 closed

[2015-12-02 10:38] #447 closed

[2015-12-09 09:15] unoebauer commented on #438
Just realised that this issue is quite severe because it breaks a key feature of Tardis, namely setting up a stratified abundance structure (using the abundances config parameters type: file, filetype: simple_ascii). Pushing up the priority.

[2015-12-09 09:24] unoebauer commented on #438
@ssim, @aoifeboyle, @wkerzendorf - maybe we should, for the time being, merge the temporary Be fix (PR #439) to restore the possibility of calculating stratified models. If desired, we could add a warning message, notifying the user that the Be treatment is incomplete in the current version once Be is present in his models and that this issue will be resolved in future releases.

The other possibi

[2015-12-09 09:31] unoebauer commented on #438
@ssim, @aoifeboyle, @wkerzendorf: I have to go back on my statement from before: the Be issue does not break the generic Tardis capability of handling stratified abundances, as long as all Be abundances are set to zero.

[2015-12-09 13:26] unoebauer commented on #79
Update - this issue is still relevant. I've just reproduced it with the following setup:

* ``tardis.yml``:
[code]
* ``abund_be.dat``:
[code]

* ``density.dat``:
[code]

[2015-12-09 13:37] unoebauer commented on #79
Started a PR (#450) to address this issue.

[2015-12-09 15:21] chvogl commented on #438
@unoebauer: As a temporary solution it is possible to manually add the missing Be data to the existing atomic data file:

    with h5py.File('kurucz_cd23_chianti_H_He.h5') as atom_data:
        new_ion_data = np.insert(atom_data['ionization_data'][:],9,(4,4,217.71865))
        del atom_data['ionization_data’]
        atom_data.create_dataset(u'ionization_data', data=new_ion_data)

[2015-12-10 17:34] #418 closed

[2015-12-10 18:13] #437 closed

[2015-12-10 18:17] #89 closed

[2015-12-10 18:19] #221 closed

[2015-12-10 18:19] #184 closed

[2015-12-11 10:14] unoebauer commented on #331
The concept of a MontecarloRunner has been realised. @aoifeboyle did this solve the interfacing issue?

[2015-12-11 10:15] #321 closed

[2015-12-11 10:18] #195 closed

[2015-12-11 10:19] unoebauer commented on #181
FYI @ssim, @wkerzendorf: I am closing this, since the referenced Tardis versions are quite outdated. Reopen if you disagree

[2015-12-11 10:19] #181 closed

[2015-12-11 10:22] unoebauer commented on #176
Just verified: all .yml files have the correct name for the convergence section in the current version, 86a7d958d9b328ae5da8baf886bbb9805565002e. Thus, closing this issue.

[2015-12-11 10:22] #176 closed

[2015-12-11 10:23] unoebauer commented on #166
Fine with me - leaving this one open

[2015-12-11 10:26] unoebauer commented on #155
The file ``config_validator.rst`` has not been modified since this issue has been filed. Thus, this issue is still relevant.

[2015-12-11 10:28] #107 closed

[2015-12-11 12:53] unoebauer opened #451 "Tardis build system oddness: changing conditional compilation flags doesn't have desired effect"
Building tardis with Open-MP support by using

[code]

after having **first** built it without Open-MP support

[code]

does not trigger the required re-compilation to actually activate Open-MP. The same behaviour can be observed when working with the other conditional compilation flag, `--with-vpacket-logging`

Only when cleaning the repository between the two steps with

[code]

Open-MP is prope

[2015-12-11 13:48] #356 closed

[2015-12-15 09:42] unoebauer opened #454 "Open-MP number of threads not properly returned in info string"
I think this one was introduced by PR #452: when running with Open-MP, the information message does not provide the correct number of threads. Instead, it seems to always return 1:

[code]
I've requested 16 threads in the yml file and my process manager confirms that 16 threads are indeed opened.

[2015-12-15 11:17] unoebauer opened #455 "Inconsistencies between Tardis versions"
**Main description:**

TARDIS produces different output between 45eca24d77eacc91d0a0b875e5521bc2d3dc151a and master with this YML file. Why? and what commit introduced this change.

The following YML files provide a minimum "working" example": [issue_455.zip](https://github.com/tardis-sn/tardis/files/81324/issue_455.zip)

-------
The diagnosis of the problem at hand is still work in progress, but

[2015-12-15 13:50] unoebauer commented on #455
Tardis version aa7da173d0e7339bc962bafb62d34d60596fd951 produces compatible results:
![tardis_cmp](https://cloud.githubusercontent.com/assets/6351165/11812261/29e1a534-a33b-11e5-8605-fe2646662518.png)

[2015-12-15 15:01] unoebauer commented on #455
Unfortunately, this discrepancy also affects the simpler LTE treatment:

![tardis_lte_cmp](https://cloud.githubusercontent.com/assets/6351165/11814065/20fbc346-a345-11e5-95b8-779602c1cd3c.png)

[2015-12-15 15:22] unoebauer commented on #455
Lacking better ideas, I'll look through the commit history and will try to pin-point it to a specific change.

[2015-12-15 15:35] unoebauer commented on #455
Status of commit-bisection:
* aa7da173d0e7339bc962bafb62d34d60596fd951: just after PR #338: **works fine**
* 4d377c8941ebf9e2e35b21f8d9113cbad47db463: just after PR #357: **works fine**

[2015-12-15 15:48] aoifeboyle commented on #455
@unoebauer I have no idea. Pinpointing the commit that first created the problem is probably the best thing to do for now. I'm surprised Travis didn't catch this?

[2015-12-15 15:50] unoebauer commented on #455
@aoifeboyle: no, unfortunately, Travis did never catch this. However, the problem considered here is much harder than our final spectral test...

[2015-12-15 16:04] aoifeboyle commented on #455
@unoebauer Ah I see. We should try to create some kind of faster test to determine if the code is going wrong without having to run 20 iterations with 50k packets, I think? So we need to find the simplest possible case where the divergence is observed.

[2015-12-15 16:27] unoebauer commented on #455
@aoifeboyle: I think that I've pinpointed the regime in the commit history during which the problem was introduced - see list above.

It happens somewhere between PR #360 and PR #365:
* PR #361 only added some LaTeX formula - harmless in my opinion
* PR #364 is a very small change in the statistics/Dalek part of Tardis - not relevant for the problem at hand, I think
This leaves PRs #362 and #365 -

[2015-12-15 17:53] unoebauer commented on #455
I've created a "low-resolution" version of the test problem:

* ``tardis_test.yml``
[code]
* ``densities_test.dat``
[code]
* ``abundances_test.dat``
[code]

It triggers the same problem as described above, but completes 10 times faster than the original one.

![tardis_cmp](https://cloud.githubusercontent.com/assets/6351165/11818822/cf780396-a35c-11e5-9fb8-1066285c8af2.png)

[2015-12-15 18:17] aoifeboyle commented on #455
Yes it should do! Was at a conference today but I have time to investigate now. I'll keep you updated.

[2015-12-15 22:20] ssim commented on #455
this all sounds rather worrying!
do we know if this is specific to using readin files for density/composition, or does a problem manifest even for simple input models?

[2015-12-16 08:57] unoebauer commented on #455
@ssim: currently trying to isolate the problem. The tardis_example problem doesn't seem to be affected.

[2015-12-16 09:38] ssim commented on #455
Ok - perhaps we can take a look in Wurzburg?

In the meantime, good luck Sherlock!

[2015-12-16 10:54] unoebauer commented on #455
Issue is not related to OMP: I get the same results when running the ``tardis_test`` setup with 16threads or serially, without activating OMP.

[2015-12-16 11:30] yeganer commented on #451
I think that problem can't be solved easily with the available tools.

A workaround is to use the `--force` option like so:
```./setup.py build --with-openmp --force```

[2015-12-16 11:32] unoebauer commented on #455
Maybe some progress towards narrowing down the exact cause of the problem:

Three more test setups, derived from tardis_test.yml (detailed setup files will be provided in next comment):
* ``tardis_test_unifab``:
   * replace stratified abundances structure by uniform composition (reflecting the overall composition of the original test problem)
   * **Strong differences persist**

* ``tardis_test_u

[2015-12-16 11:56] aoifeboyle commented on #455
@unoebauer  That's interesting. I was working through the yaml file and changing parameters to see what eliminated the problem, but looks like you beat me to it. Can we safely say the issue is related to the structure file then? Or do you think there's something else involved?

[2015-12-16 12:08] unoebauer commented on #455
@aoifeboyle: not completely sure that it's the structure file alone. I have the suspicion that it is related to high densities...but I need to confirm that. I'll update you as soon as I have the results.

[2015-12-16 12:29] unoebauer commented on #455
Here are the yaml files for the different runs:
* ``tardis_test_unifab.yml``
[code]
* ``tardis_test_unifab_branch.yml``
[code]
* ``tardis_test_unifab_branch_late.yml``
[code]

[2015-12-16 12:34] unoebauer commented on #455
@aoifeboyle, @ssim: From the comparison calculations I've performed, it looks like very high densities are triggering the problem. The branch85_w7 has lower densities in the innermost cells compared to what has been set up in ``densities_test.dat``. When choosing a longer time since explosion (homologous expansion leads to lower densities), the differences are very weak, comparable to the MC noise

[2015-12-16 12:50] wkerzendorf commented on #451
@yeganer The build system is based on https://github.com/astropy/package-template -- can you see if you can reproduce this problem there. Then we can some of the astropy people and they will also think about fixing this.

[2015-12-16 12:52] aoifeboyle commented on #455
@unoebauer I find that the differences are small when using the original yaml file, but with scatter instead of downbranch. This is a comparison for commit 45eca24 (blue) vs. the current version (green).
![scatter_comparison](https://cloud.githubusercontent.com/assets/5586399/11841242/39bb3882-a3fc-11e5-9ce3-9483ca9407dc.png)

[2015-12-16 12:56] unoebauer commented on #455
@aoifeboyle: Very interesting! - maybe that's an indication that something is wrong with the ``downbranch`` scheme....How does it look if you use ``macroatom`` instead?

[2015-12-16 12:56] aoifeboyle commented on #455
The issue also occurs when macroatom is used. That narrows the issue down a lot. So something to do with high densities and downbranch/macroatom.

[2015-12-16 13:02] unoebauer commented on #455
Very interesting. It may not be so simple though...I've tried to trigger the issue with the tardis_example setup as well. I've changed a few parameters to mimic the tardis_test_unifab_branch setup but so far, the problem didn't show up (in all of the runs macroatom has been used):

* only changing the time to explosion to 6days: no differences
* time since explosion 6days and lower luminosity, 8.6

[2015-12-16 20:18] yeganer commented on #451
@wkerzendorf from what if have read about setuptools and the python setup system is, that it is not designed to be recompiled when compiler flags change.

Since i've only worked with makefiles yet i can confirm that running `make clean && make` is quite common when changing something in the Makefile or when using different compiler flags.

As far as i know, setuptools doesn't save the configuratio

[2015-12-17 09:08] wkerzendorf commented on #451
@yeganer I think that will be the case here as well -- there is a `python setup.py clean` and the `--force` option you suggest is also a sensible idea.

The `package-template` does contain a `.pyx`-`cython` file however. @unoebauer also had the trouble that changing the pyx file or c file did not trigger recompilation. My idea (and I wasn't very clear on that) was to use `package-template` and bui

[2015-12-17 11:48] yeganer commented on #451
Building a minimal working example seems like a good idea. What should be integrated there? Cython Interface to C function with different compiler flags. Anything else?

We fixed the problem of cython not recompiling by calling cythonize(Extension(...)) which should be the preferred method anyway.

As far, as i know, there is no build test yet. Perhaps we should write something in that direction.

[2015-12-17 12:51] aoifeboyle commented on #455
I've narrowed the issue down to be something related to the `j_blues` values. Hoping to find the exact issue soon.

[2015-12-17 13:00] unoebauer commented on #455
@aoifeboyle: Thanks - hopefully that's it. We will discuss this issue today during the workshop in Wuerzburg.

[2015-12-20 07:11] souravsingh commented on #156
I would like to work on it

[2015-12-21 14:16] pfreddy opened #459 "Running GUI"
Hopefully, it is the right place to ask about this GUI issue.
I've just tried running GUI after the recommended installation:

The model is properly calculated by TARDIS.

ImportError                               Traceback (most recent call last)
<ipython-input-3-06cf3ee12674> in <module>()
----> 1 from tardis.gui import interface

ImportError: cannot import name interface

So basicly, interface.

[2015-12-21 16:08] aoifeboyle commented on #455
@unoebauer I've been trying to work this out all day today and I'm not getting very far. I think it might be something to do with the montecarlo stuff rather than the plasma. I fixed the zeta problem in d864eb3, since it's the first one that fails, and I've been comparing it with 45eca24, the last one that works. The two plasmas seem identical after they are first initialised and first updated, an

[2015-12-24 12:59] unoebauer commented on #455
@aoifeboyle Thanks for the detailed analysis. This seems to be consistent with some of my findings: as a test I looked at two different setups (always comparing current version with 45eca24):

* fix initial black body temperature and radiation temperature to 10000 K and perform only one ionisation iteration and the final spectral run. Only having one plasma update seems to be enough to introduce s

[2015-12-28 15:00] unoebauer commented on #455
FYI @aoifeboyle, @wkerzendorf, @ssim: I've had a closer look:

I reinvestigated the problem with the fixed plasma and boundary state, running only the spectral calculation (the yaml file is posted below). Comparing the results obtained with 45eca24 and the current branch revealed the following differences in the plasma state:

* maximum relative difference in the electron densities: 0
* maximum re

[2015-12-28 16:07] ssim commented on #455
hi @unoebauer

...well that's certainly very interesting. I wonder how it can be that the level populations are consistent by the line optical depths are not. Is it possible to identify one example line where the optical depth changed a lot and figure out which of the sub-quantities in the tau formula were responsible for the change.

Given that the lines appear to change in different ways from ea

[2015-12-29 11:27] unoebauer commented on #455
@ssim, @aoifeboyle, @wkerzendorf:

Sorry for the confusion, but I have been fooled by the pandas Dataframes.

In the old Tardis version, the tau_sobolevs were not necessarily ordered according to the line_ids. Indexing patterns as shown below are frequently encountered in the tau_sobolev DataFrames in the old Tardis version
[code]
In the current Tardis version, the tau_sobolevs are strictly ordere

[2015-12-29 11:35] unoebauer commented on #455
The differences in the nu_bar_estimates are different is in my opinion still most promising lead. We should investigate this further...

[2016-01-04 12:37] wkerzendorf commented on #459
@pfreddy I just checked this and it is working with the newest version of TARDIS. can you make sure that you use the exact setup we describe in the Manual.

[2016-01-04 13:56] aoifeboyle commented on #455
@unoebauer @wkerzendorf I think I might know what's happening. It's actually something that was fixed before but then someone unfixed it apparently (could have been me but don't remember).

In the current master version, in tardis/plasma/properties/radiative_properties.py, lines 57-60 should be:

        n_lower = level_number_density.values.take(lines_lower_level_index,
            axis=0, mode='

[2016-01-04 14:11] wkerzendorf commented on #455
I don't know if this is the problem - but as you said @aoifeboyle we had trouble with the interface before. The current interface uses cython array memoryviews where you can specify the contiguity. It will also complain if they array is wrong, I think. But maybe it's a good road to go down on.

[2016-01-04 14:52] pfreddy commented on #459
I tried again, from the installation (both 1.0.1 and development version) to the GUI.
Now, a new error message appeared:

The lack of this file comes up both at the launch of ipython and the line 'from tardis.gui import interface'.
However, the interactive mode  and model calculation work fine in ipython.

[2016-01-04 14:53] wkerzendorf commented on #459
are you using anaconda?

[2016-01-04 15:32] pfreddy commented on #459
Yes.
Basicly, I did the next commands (after the installation of Anaconda):

[2016-01-04 17:07] souravsingh commented on #441
Do we have to add the line in [this file?] (https://github.com/tardis-sn/tardis/blob/f4ade82672e18f195b74525490e57a9f2e345a2a/tardis/gui/datahandler.py)

[2016-01-05 13:03] pfreddy commented on #459
There is no error message (ImportError: libpng15.so.15...), when I do not install the newest ipython (conda install ipython=3.0.0). However, in this case I cannot run TARDIS interactively (and it does not find the interface).

With the installation of ipython=3.0.0, the interactive TARDIS runs properly, but after the importation of the interface I get the error message (ImportError: libpng15.so.15

[2016-01-05 17:16] wkerzendorf commented on #459
hmm the newest version of `ipython` is 4.0. This doesn't seem like a tardis related bug. Ill have a look at this later.

[2016-01-06 12:44] pfreddy commented on #459
Finally, it works!

It was the matplotlib. After I installed the newest version with conda, the interface.py was able to start.
Thank you for your help!

[2016-01-06 13:59] wkerzendorf commented on #459
@pfreddy great! well let me know if there are any other questions. closing this now

[2016-01-06 13:59] #459 closed

[2016-01-07 09:12] aoifeboyle commented on #455
@wkerzendorf @unoebauer Could one of you please check if you are able to run the current Tardis master version? We need to fix this error before we can make any further progress. If we're all getting this error, could you help @orbitfold? Since it's a C interface issue and I don't really understand it well.

[2016-01-07 10:40] orbitfold commented on #455
@aoifeboyle Just so we're on the same page. Should I checkout master, make the changes you posted in the previous comment and see if I can fix the error?

[2016-01-07 10:52] wkerzendorf commented on #455
@aoifeboyle  @orbitfold I think we should sit down together this afternoon and discuss this. This will be quicker than writing. How does 4pm CET sound?

[2016-01-07 10:58] orbitfold commented on #455
Works for me.

On Thu, Jan 7, 2016 at 12:52 PM, Wolfgang Kerzendorf <
notifications@github.com> wrote:

--
"Cheshire-Puss," she began, "would you tell me, please,
which way I ought to go from here?"
"That depends a good deal on where you want to get to," said the Cat.
"I don't care much where--" said Alice.
"Then it doesn't matter which way you go," said the Cat.

[2016-01-07 15:41] aoifeboyle commented on #455
[issue_455.zip](https://github.com/tardis-sn/tardis/files/81324/issue_455.zip)

[2016-01-07 15:51] wkerzendorf commented on #455
Here are my git bisect scripts:

**plasma_test_bisect.sh**
[code]

**plasma_test.py:**
[code]

[2016-01-09 09:59] AyushYadav commented on #11
I think I will work on this now given I have free time at hand right now....let me see if I can bring something valuable to this
~Ayush

[2016-01-12 10:30] yeganer commented on #455
I just tried to reproduce the setup and bug but i'm running into a problem.

45eca24 doesn't run for me.

It builds "fine" (except for a bunch of warnings about inlines declared but not defined) with `setup.py develop` but when i try to run it i get the following:

[code]

Am i perhaps using the wrong commit or am i missing something?

[2016-01-12 10:32] orbitfold commented on #455
Of the top of my head - did you do git clean -dfx ?
On 12 Jan 2016 12:30, "yeganer" <notifications@github.com> wrote:

[2016-01-12 10:40] yeganer commented on #455
Yes i did `git clean -dfv`. I also did a complete new clone with
[code]

[2016-01-12 11:02] orbitfold commented on #455
C compiler/OS?
On 12 Jan 2016 12:40, "yeganer" <notifications@github.com> wrote:

[2016-01-12 11:09] yeganer commented on #455
I'm using gcc 5.2.1 with Ubuntu 15.10

I looked into the problem and it seems rpacket.o doesn't contain any
symbols. So every function defined as inline is skipped somehow.

Vytautas Jancauskas <notifications@github.com> schrieb am Di., 12. Jan.
2016 um 12:02 Uhr:

[2016-01-12 13:51] yeganer commented on #455
I ran an updated version of the bisect script that checked the nu_bar_estimators and the result was this:

[code]

If i'm not mistaken these are the same as @wkerzendorf found in his bisect.

[2016-01-12 14:47] wkerzendorf commented on #455
thanks @yeganer - well this at least helps! I wonder if we can convert this to a diff that we can look through.

[2016-01-12 14:55] yeganer commented on #455
I'm working on a binary diff of the structure that goes into the MC simulation but that doesn't seem that easy because the storagemodel is mainly pointers.

[2016-01-12 20:12] yeganer commented on #455
I started doing some binary diffs of the storage model.
The origin of the affected branch on master is 0dd77db.
On that branch 30d1cb9 is the last working commit. Therefore i based my patches on that commit.
I compared my results with 3fc862f although e2eac6d seemed to introduce the bug. My test setup used dilute-lte which wasn't implemented yet at that point.

As of now i tested r_inner, r_outer,

[2016-01-12 20:56] wkerzendorf commented on #455
good work!

[2016-01-13 09:45] chvogl commented on #455
The transition_probabilities_nd are not used any more. Before changing the memory layout for the transition probabilities, this value was used for selecting transition probabilities for different shells.
At the moment the value isn't assigned anymore, which explains the differences in the posted data.
However, having a look at the storage structure is probably a good idea, since problems with the

[2016-01-13 10:07] wkerzendorf commented on #455
@chvogl is right - I missed the `_nd` part and thought it was `transition_probabilities`. So can you make a branch that gets rid of the `_nd` part, just to make sure that this doesn't interfere?

[2016-01-13 14:04] yeganer commented on #455
@wkerzendorf started a spreadsheet to keep track of differences between the storage_model before and after the bug.

https://docs.google.com/spreadsheets/d/1NuekA6XUBmAzHR4FksqQKoqAOzrh-RvH-pHsttVYXf8/edit#gid=0

I added my findings so far. From what i can tell the differences are very small. The next thing i'll test will be all the non-pointer variables.

[2016-01-14 14:51] unoebauer commented on #455
@yeganer: please use a slightly different version of your Tardis setup - it is important that ``initial_t_rad`` and ``initial_t_inner`` are specified! Otherwise, the spectral run will be performed with different radiation field temperatures (leading to a different ionisation and excitation state).
* ``plasma_fail.yml``
[code]

[2016-01-14 14:56] unoebauer commented on #455
With the above mentioned very simple and fast setup, the discrepancy in the ``nubar_estimator`` is still triggered:

* ``45eca24d77eacc91d0a0b875e5521bc2d3dc151a``
[code]

* ``c9e1b1761a6745d44bae973d962e1be180295827``:
[code]

[2016-01-14 18:23] yeganer commented on #455
My conclusion is the bug appeared between 30d1cb9 (still gives the correct result) and ec8fcda (gives a different result than 45eca24 or aa7da17).

[2016-01-14 22:04] aoifeboyle commented on #455
Quick progress update. I've been comparing 45eca24 (working version) and 41d8fcd (the commit where Wolfgang merged the plasma restructure branch, which was giving a wrong answer). I found a small error in the plasma, and after correcting it and comparing with Uli's test, the tau values and transition probabilities values between the two cases after the first iteration definitely agree, but the nub

[2016-01-15 04:13] wkerzendorf commented on #455
@aoifeboyle that's great that you found something. Can you quickly make a PR for the bug, that might help to know which way to investigate in.

[2016-01-15 08:52] yeganer commented on #455
I did another bisect run and there seem to be several bugs indeed.
when using
[code]
bisect reports e9fb7780d504f2e013081abd11710d817e44d079 as first bad commit.
But using
[code]
gives commits e2eac6d - ec8fcda as possible first bad commits.

Maybe one of the issues was fixed by @aoifeboyle

I didn't look into the case with `ionization: lte` further but for `ionization: nebular` i did several bina

[2016-01-15 09:18] aoifeboyle commented on #455
@wkerzendorf I accidentally deleted my comment from last night, could you please paste it into this conversation somewhere? I think you should have it as an email?

The bug that I found in the plasma/restructure commit is something that I had already corrected at a later time, but it was not corrected at the time of the merge of the plasma/restructure. So I think that explains what you found. My a

[2016-01-15 09:24] yeganer commented on #455
@aoifeboyle in my opinion it is better to compare 30d1cb9 with ec8fcda because that's the smalles difference in code where the bug appears.

I added your comment at the bottom of my comment, if that's okay

[2016-01-15 09:25] unoebauer commented on #455
I am re-posting @aoifeboyle's originial comment:

The bug that I found in the plasma/restructure commit is something that I had already corrected at a later time, but it was not corrected at the time of the merge of the plasma/restructure. So I think that explains what you found. My aim for now is to get consistent results for our test between the last working version (45eca24) and the plasma rest

[2016-01-15 09:55] aoifeboyle commented on #455
Also @yeganer, what I'm comparing is basically the same thing that you're suggesting. 30d1cb9 is effectively 45eca24 because the model was still calling the old plasma structure. And ec8fcda is when the nebular ionisation was added to the new plasma, but this was on the old plasma/restructure branch rather than on the main Tardis branch, so it's less confusing for me to work with 41d8fcd.

I think

[2016-01-15 12:26] aoifeboyle commented on #455
@unoebauer @yeganer
PR #462 is an updated version of 41d8fcd (the point of new plasma structure merging). It now produces the exact same plasma, transition probabilities, taus, etc. as 45eca24. However, the montecarlo code still returns the wrong nubar_estimators, even though the montecarlo code is the same and the inputs from the plasma (appear) the same. I think this is possibly a view/copy issu

[2016-01-15 13:15] unoebauer commented on #455
@aoifeboyle: I just looked at your PR #462. Unfortunately, it crashes when running the ``plasma_fail_test.yml`` problem:

[code]

[2016-01-15 14:15] aoifeboyle commented on #455
@unoebauer Strange - it worked fine for me. Let me look and see where I went wrong.

[2016-01-15 14:26] aoifeboyle commented on #455
@unoebauer I tried checking it out directly from the PR rather than using my own branch and it still works for me. Is this the test you're talking about?

atom_data: kurucz_cd23_chianti_H_He.h5
model:
  abundances:
    filename: abundances_test.dat
    filetype: simple_ascii
    type: file
  structure:
    filename: densities_test.dat
    filetype: simple_ascii
    type: file
    v_inner_boundary:

[2016-01-15 15:16] aoifeboyle commented on #455
In case anyone's following this, the problem is apparently just our different pandas versions. I'm going to tweak it a bit so it works with both versions now.

[2016-01-15 16:09] aoifeboyle commented on #455
@unoebauer I've fixed it for pandas-0.16.0. Could you please check that it's working for you now?

[2016-01-15 16:22] unoebauer commented on #455
@aoifeboyle: Looks good now - thanks. The ``plasma_fail_test.yml`` problem runs through.

[2016-01-16 11:48] unoebauer commented on #455
The discussion is getting out of hand. Too many loose and dead ends have accumulated here (and I am as much to blame for this as anybody) and are muddying the picture. I think it's time to take a step back, review the current status and take a fresh, re-focused start. For this purpose, I am closing this issue and will open a new one in the hope of simplifying the problem solving process. Please do

[2016-01-16 11:48] #455 closed

[2016-01-16 12:39] unoebauer opened #464 "Wrong nubar_estimators (potentially also inconsistencies in transition probabilities) -- follow-up of #455"
This is a re-launch of #455, reviewing the current status of the debugging process and outlining the next steps. The reason for this re-launch was the increase in confusion in the vast discussion of #455.

## Important Conclusions from #455

Here are the most important conclusions from the discussion of #455:

* for certain setups, wrong values of the ``nubar_estimators`` are produced at the end o

[2016-01-17 19:38] souravsingh commented on #243
I wish to start work on the project. I have tried to install DALEK and faced installation errors.

[2016-01-20 09:13] unoebauer commented on #464
### Update:
* it has been confirmed that PR #462 (as of commit 85c0c1e) does **not** produce transition_probabilities which are compatible with 45eca24
* however, @aoifeboyle identified another issue related to re-indexing the line list (see discussion of PR #462 for details and proposed fix)
* @yeganer has propagated the changes of PR #462 and the line list quick-fix into the current master. The

[2016-01-20 16:13] unoebauer commented on #464
Update 2:
* some things in the merging processes of PR #465 were not done correctly. As a consequence, the fixes didn't propagate to the current master
* this was fixed by PR #466

[2016-01-20 16:16] unoebauer commented on #464
### Update 3:
* PR #466 produces a plasma state consistent (1e-16 to 1e-13 relative errors) with 45eca24 for ``plasma_fail_test``
* some discrepancies (few to 20 per cent relative differences) in the nubar_estimators are still present

[2016-01-20 16:22] unoebauer commented on #464
### Update 4:
* the nubar_estimator deviations seem to be of a statistical nature:
  * the appear in the commit history (see discussion of PR #462) after switching from the old black body sampling scheme to the new one (f7ca57640394a4e876cc18a304cb92175d134e77)
  * we explicitly verified that the new black body sampling scheme produces the expected packet nu distribution - thus, implementation err

[2016-01-20 16:29] unoebauer commented on #464
### Update 5:

**Looks as the issue is finally resolved**

When running the original problem (initially referred to as tardis_00173_2 in issue #455), no differences above the MC noise level are detected between 45eca24 and PR #466:

[virt_spec_cmp.pdf](https://github.com/tardis-sn/tardis/files/97694/virt_spec_cmp.pdf)

### Remaining tasks:

* double-check that the Lines fix solves the problem, i.e

[2016-01-21 16:33] thelazy commented on #427
@wkerzendorf I am totally new to this community. Could you please help me how to start.
After viewing this issue, I thought this will be a good starting point. or I should start with something else?

[2016-01-21 19:33] souravsingh commented on #427
@thelazy You can have a look at the PR I sent for the issue for some info.

[2016-01-21 19:37] souravsingh commented on #427
This is the list of PEP8 warnings and errors
[code]

If you can help us with some of the E501 errors,it would be great.

[2016-01-23 09:15] souravsingh opened #467 "Clicking on the Link to AstroPy's workflow leads to error."
Clicking on the link for Devlopment Workflow for AstroPy leads to a 404 error.This issue can be fixed by modifying the docs.

[2016-01-27 09:17] unoebauer commented on #467
Thanks for pointing this out - the correct link seems to be:

http://astropy.readthedocs.org/en/latest/development/workflow/maintainer_workflow.html

This is easily fixed by modifying the corresponding documentation file

[2016-01-27 09:22] unoebauer commented on #464
### Update 6:

We seem to have identified and understood the problem (see discussion at PR #466). It will take a bit of time to propagate the fixes properly into the master since some legacy code should be removed at the same time.

For now, if you are planning to use the **current development version** of Tardis, be sure to get the quickfix of PR #466.

[2016-01-27 12:10] souravsingh commented on #243
Alright,I have installed DALEK and learning about it. @orbitfold Can you help me in this?

[2016-01-27 12:17] souravsingh commented on #241
Is the issue still open? @wkerzendorf @orbitfold If so,I can work on it.

[2016-02-02 13:48] yeganer opened #473 "test_atomic.py:test_atomic_reprepare() improve logic"
Currently `test_atomic.py:test_atomic_reprepare()` only checks `if len(lines) > 0`.

To improve it's logic and the coverage two improvements come to my mind:
- Rewrite to check `if len(lines) == N`. To get `N` the best approach would be to open the atomic data file, extract the lines, filter them and count them.
- In a second step one could parametrize the function to work for different `atomic_nu

[2016-02-02 13:56] unoebauer commented on #473
This sounds very reasonable to me. We should adopt this. Other thoughts, @wkerzendorf?

[2016-02-02 14:07] yeganer opened #474 "Improve tests of simulation object"
As i wrote in PR #471 `test_simulation.py` is doomed to fail on any modification that changes the input for the montecarlo runner. To solve this i propose two solutions:
1.  delete `test_simulation.py` and add it's logic (checking nubar etc.) to test_tardis_full.py when doing this, be careful to test each variable in their own function to see which values differ and which ones do not.
2. Construct

[2016-02-02 14:14] yeganer commented on #473
I think this issue would be a great exercise for GSoC students. That's why i didn't implement it right away.

[2016-02-02 14:18] unoebauer commented on #473
Good idea

[2016-02-02 14:21] wkerzendorf commented on #473
@yeganer thanks!

[2016-02-07 07:30] AMAN3003 commented on #474
@yeganer I would like to work on this

[2016-02-07 12:10] aoifeboyle opened #477 "Tardis randomly crashing"
@wkerzendorf

Tardis randomly commits suicide for some simulations. At the moment, only two of the simulations have finished, and the one that failed is the one where I used 5x10^6 packets instead of 1x10^6 packets, so I'm hoping this issue will only arise in the former case. Here is the output I get:
[code]
Any input on this would be appreciated. I will update when I know how the other simulation

[2016-02-07 12:49] yeganer commented on #477
@aoifeboyle Can you please upload a zip containing all the files you used ( yaml + abundances + densities + atom_data in case it's different). Which tardis commit were you using?

[2016-02-07 13:21] yeganer commented on #474
@AMAN3003 Thanks for the request but I think we should wait with implementing. The proposal 1 will most likely something that will be added to all the slow tests so writing an implementation for the current master is wasted time.

The idea of writing a proper unit_test has to wait until we have the tools required for that (or an idea how to design thuse tests to be independent of other code). The

[2016-02-07 15:57] aoifeboyle commented on #477
@yeganer I was using the current master. The zip file with everything was too big to upload to github, so you can download it from my dropbox here: https://www.dropbox.com/s/cxwxpdn4glabpc4/tardis_config_01.zip?dl=0

Thanks for looking at this for me!

[2016-02-07 16:20] mishinma opened #478 "test_simulation.py fails with the latest version of numpy"
@yeganer @unoebauer @wkerzendorf
In PR #471 the following (a few of them actually) asset statement was added to test_simulation.py:
[code]
It is calculated like this: absolute(`a` - `b`) <= (`atol` + `rtol` * absolute(`b`))
The problem here is that t_rad is a Quantity while simulation_compare_data['test1/t_rad'] is just a numpy array. And if somehow works with numpy v 1.9.0, with v 1.10 it fails.

[2016-02-07 17:39] mishinma commented on #478
Actually, it would be nice to compare Quantities with a special util function that would validate the units of its arguments. One version of such a function is implemented in Astropy's [module tests/helpers.py]( https://github.com/astropy/astropy/blob/master/astropy/tests/helper.py ): assert_quantity_allclose

[2016-02-07 18:39] yeganer commented on #478
I think the right approach should be to use astropy's assert_quantity_allclose. One would have to test if that solution is compatible with different versions of numpy and astropy.

[2016-02-07 20:08] mishinma commented on #478
But units still should be added to the tests. `assert_quantity_allclose still` raises an error in this case as well, although with more clear message:

[code]

[2016-02-08 09:19] yeganer commented on #478
So we have two options. Strip the result of its unit or add the unit to the
compare data. In that case we should do the second option.

Misha <notifications@github.com> schrieb am So., 7. Feb. 2016 21:08:

[2016-02-08 09:32] unoebauer opened #480 "Virtual packet logging: no check if allocation and reallocation is successful"
This primarily affects the virtual packet scheme, but is (I think) also relevant for other parts of the C-code.

When allocating or re-allocating memory for the arrays storing the properties of the virtual packets (when compiled with ``--with-vpacket-logging``), no explicit check for the success of these processes is in place. This worrisome since these arrays tend to become very large.

A check f

[2016-02-08 09:34] unoebauer commented on #480
Just added PR #481 to address this

[2016-02-08 09:48] yeganer commented on #480
I'm not familiar with vpacket_logging but i just thought about using a structure to store the logging information.
This would improve readability extremely and one would only check once.

I'll look into that idea later.

[2016-02-08 10:47] unoebauer commented on #464
This issue is officially fixed by PR #471 - closing this issue

[2016-02-08 10:47] #464 closed

[2016-02-08 10:49] unoebauer commented on #438
Would be good if we could do something about this for v1.5 - maybe just adopt @chvogl's quickfix and update the atomic database shipped with tardis_example?

[2016-02-08 11:05] yeganer commented on #454
After merging #457 this can be closed.

[2016-02-08 12:46] Pratik151 commented on #100
@souravsingh  If you haven't made any progress on this I would like to give this a try.

[2016-02-08 13:13] souravsingh commented on #100
@Pratik151 I have a script for colorizing the logs.Just not able to figure out how to hook it into the project.

[2016-02-08 15:56] #480 closed

[2016-02-08 17:09] yeganer commented on #478
Thank you for pointing out numpy's `assert_quantity_allclose`. I think we should use it whenever possible in our tests.

@wkerzendorf @unoebauer What do you think?

[2016-02-08 18:40] mishinma commented on #478
I made PR #479 to use `assert_quantity_allclose` in test_simulation.py

[2016-02-09 10:40] mishinma commented on #478
Should the issue be closed now?

[2016-02-09 10:41] unoebauer commented on #478
Yes - closing it now.

[2016-02-09 10:41] #478 closed

[2016-02-10 10:08] yeganer commented on #477
@aoifeboyle So i ran your setup on my notebook. That's why it took me so long, sorry.
It didn't crash for me. I attached gdb in the 27th iteration i think and let it run until the last iteration and in the last iteration i stepped through the packets in blocks of ~1e6. I didn't notice any increase in memory usage (~1.2 GB all the time).

I have no idea if attaching gdb can affect the outcome.
If y

[2016-02-10 10:52] aoifeboyle commented on #477
@yeganer Thank you very much for doing that. When I had this problem originally, it only crashed sometimes, so hopefully the same is true here. I'm re-running that particular simulation now, so I'll let you know if it crashes again. Don't worry about the data, I'll hopefully manage to get it myself. The funny thing is that the simulation doesn't seem to use up the specified memory, but I will have

[2016-02-10 12:11] yeganer commented on #477
@aoifeboyle Have you checked CPU time? I'm not yet familiar with MPA's grid engine but from where I have my experience, I had to specify CPU time and memory usage when submitting jobs and anything that exceeded that got killed.

Maybe you find something in the logs.

[2016-02-10 12:14] orbitfold commented on #477
This does looks like something that a scheduler would say after killing a process. Presumably because a time or memory limit was exceeded.

[2016-02-10 12:16] yeganer commented on #477
I noticed that, too. But if i remember correctly, SGE(Sun Grid Engine) prints something to the logs when it kills a process.

[2016-02-10 12:17] yeganer commented on #454
Closing since #457 is merged.

[2016-02-11 12:31] mishinma opened #483 "Configuration problems with the latest v1.1.1 of astropy"
So with the version 1.1.1 of astropy all tests raise ValueError:
[code]
The problem most likely arises from the changed implementation of the `pytest_runtest_setup` hook in
astropy/tests/pytest_plugins.py:

[code]
I think registering these names in the conftest.py should solve the problem. Will try it out.

[2016-02-11 12:33] unoebauer commented on #483
Can confirm this issue. It goes away when downgrading to at least astropy v.1.0.8.

[2016-02-11 14:16] unoebauer commented on #454
Re-opening this one since PR #457 is **not** yet merged!

[2016-02-11 14:17] mishinma commented on #483
From the [changelog ](http://docs.astropy.org/en/stable/changelog.html)of the v1.1.1:

Also:

Is it needed in Tardis?
As a current solution to the issue I suggest overriding `pytest_runtest_setup` from the astropy/tests/pytest_plugins.py with the hook from the old version:

[code]
Tests run fine, I can make a PR.

[2016-02-11 14:23] unoebauer commented on #483
@wkerzendorf, @orbitfold
Thoughts on this? I'd be fine with using the old pytest_plugins.py hook

[2016-02-11 14:46] yeganer commented on #483
What's the problem with just definig those variables in setup.cfg?
Executing the tests in it's own subdirectory and caching data there might
be a good idea. We should consider using the "download additional data"
feature from astropy anyway since we don't want to increase the size of the
repository

Ulrich Noebauer <notifications@github.com> schrieb am Do., 11. Feb. 2016 um
15:23 Uhr:

[2016-02-11 14:50] yeganer commented on #467
PR #469 is merged. Closing.

[2016-02-11 14:50] #467 closed

[2016-02-11 15:36] mishinma commented on #483
@yeganer
Defining them is no problem, but it will be misleading if we don't use them. And to use them the version of astropy in the requirements must be changed to v1.1.1.

[2016-02-11 16:38] wkerzendorf commented on #483
I haven't fully looked at the problem. Here is what I can tell you: We might want to talk to the astropy people about solutions to this problem. I think, I "solved" a few things by overriding several functions in "https://github.com/tardis-sn/tardis/blob/master/tardis/conftest.py".

The package is modeled after the package-template from astropy. We should try to mirror what they do there if possib

[2016-02-12 11:02] #454 closed

[2016-02-12 11:23] chvogl opened #487 "Detailed mode for radiative rates not working"
@wkerzendorf @unoebauer
In the current version of TARDIS the detailed mode for the estimation of radiative rates does not work.
A fix for this issue is proposed in #486 .

[2016-02-12 12:02] mishinma commented on #483
@yeganer
Maybe we can register them in `pytest_addoption` and add something like todo?

[2016-02-12 15:41] yeganer opened #489 "Misleading header file in C extension (cmontecarlo1.h)"
For some reason there is a header file called `cmontecarlo1.h` declaring a single function ( which would produce compiler errors if the order of import in `cmontecarlo.c` was changed).

I think this function declaration should be moved to `cmontecarlo.h` and in that process I suggest to check if there are other potential errors.

I also suggest adding missing declarations from functions in `cmonte

[2016-02-12 15:53] wkerzendorf commented on #489
sure - I would also like to know how to convert an issue to a PR. I think this issue is a good candidate.

[2016-02-12 16:01] yeganer commented on #489
I haven't found any new information but it seems this feature isn't available anymore.
See discussion here: https://github.com/github/hub/commit/4f70dd126f46dec14fc341c97c18efae417743c7

When i am done with some implementation i'll create a PR. That seems the best approach.

[2016-02-12 16:11] orbitfold commented on #489
I'd ask whoever added it why they did it. It's easy to assume people made a
mistake but sometimes there are reasons you may not be aware of
On 12 Feb 2016 18:01, "yeganer" <notifications@github.com> wrote:

[2016-02-12 16:45] yeganer commented on #489
When i noticed it I tried to think of a reason and didn't find one. I moved the declaration and deleted `cmontecarlo1.h` and it compiled and ran without errors.

I'm happy to hear a reason and be proven wrong.

[2016-02-12 16:47] orbitfold commented on #489
You should see when it was added. I think it was added as part of an effort
to improve performance around this September. By someone from mpa
On 12 Feb 2016 18:45, "yeganer" <notifications@github.com> wrote:

[2016-02-12 16:49] yeganer commented on #489
It was added by @mreinecke during the performance improvements.
But i don't see a reason for that function to have it's own header.
To me it looks like an artifact from some test or something like that.

[2016-02-12 16:53] wkerzendorf commented on #489
okay @mreinecke is there a reason for `cmontecarlo1.h`

[2016-02-12 17:24] orbitfold commented on #489
I'm curious too actually

[2016-02-12 20:08] mreineck commented on #489
The reason for this curious construct was (if I remember correctly) that the function line_search() is defined (not only declared) in cmontecarlo.h, but it does not have the "static" attribute. As a consequence, if cmontecarlo.h is included by two different C files, the function line_search() turns up in each of the .o files compiled from these, and the linker will most likely complain about a fun

[2016-02-13 11:31] orbitfold commented on #489
Also @yeganer we need to be sure the code compiles on both gcc and clang. In the past there were some issues with incompatibilities between the two.

[2016-02-13 12:58] mreineck commented on #489
I can help with compatibility problems ... just let me know if anything turns up!

[2016-02-13 15:45] aoifeboyle commented on #477
Sorry for my slow replies (I had to sit an exam for IMPRS on Thursday so I was super busy). I managed to get the simulation above to run the whole way through on the second try. I have two supernova models and six simulations for each.
For my first batch (the ones I was running when I raised this issue), I have two simulations that require 5x10^6 packets and four that only need 10^6. I managed to

[2016-02-13 16:02] aoifeboyle commented on #477
Correction: It seems that the second batch of simulations actually did not run. I assumed they did because something got saved to the hdf5 files (a spectrum) but I guess this is just from the first iteration or so. The second batch of simulations are running on my laptop but not on my MPA desktop. I think this must be something to do with the conda environments so I'm comparing those now.

[2016-02-13 17:49] karandesai-96 opened #490 "IDE specific auto-generated files need to be in gitignore."
In the recent times many IDEs have become popular for Python development. Among them are Jetbrain Community's [Pycharm](https://www.jetbrains.com/pycharm/) and [PyDev](http://www.pydev.org/), an IDE extended from Eclipse for Python development.

Upon opening a project within, these IDEs generate certain files and directories which are specific to them, and are not project specific.

These files an

[2016-02-13 19:21] unoebauer commented on #477
@aoifeboyle, @yeganer
I ran the setup that you posted above on nct-2, using 16 threads. Since this machine is not a server and not part of the queue systems, there are no CPU time or memory limits. It ran without problems (I did it interactively from within ipython):
[code]

Maybe we discuss briefly on Monday in person potential pitfalls on the MPA IT infrastructure...

[2016-02-13 23:38] aoifeboyle commented on #477
@unoebauer Thanks. Hopefully my one remaining simulation from the first batch will finish this time, but if not I will run it on nct-2 (am I allowed?). I've figured out the issue with my conda environment that was causing issues with my second batch of simulations, and those are now running, so it's just this one simulation that I'm waiting for.

[2016-02-14 17:42] yeganer opened #492 "All prints directed to stderr."
When I did some checks for the progress bar I noticed that all the prints are directed to `stderr`. From my perspective this isn't desired behavior.
Simple log messages like "Running with n threads" or Info level logging should be directed to `stdout` and only Warnings, Errors and important messages should be directed to stderr.

[2016-02-14 18:02] yeganer opened #493 "Progress updates have undesired effect when redirecting to file"
When running `tardis tardis_example.yml out 1>stdout.log 2>stderr.log` the progress bar creates this output:
[code]

This can be solved by introducing a switch to disable that functionality or by writing to a seperate tty device.

[2016-02-15 09:27] unoebauer commented on #493
@yeganer - I'd be in favour of having a switch to turn the status bar on an off. If I remember correctly, @orbitfold stated the same opinion.

[2016-02-15 09:28] unoebauer commented on #492
Should we merge this issue with #493?

[2016-02-15 09:44] wkerzendorf commented on #492
@yeganer - the python logging system disagrees on that point with you. It prints to `stderr` for all log messages as far as I can tell.

[2016-02-15 10:33] #490 closed

[2016-02-15 12:53] aoifeboyle commented on #477
@unoebauer The simulation that is now struggling to finish for me on the MPA system is actually identical to the one included above, but in the config file it uses:
[code]
instead. Could you run that for me on nct-2 and forward the results to me? Thanks!

[2016-02-15 12:56] unoebauer commented on #477
@aoifeboyle - sure thing.

[2016-02-15 13:15] unoebauer commented on #477
@aoifeboyle The setup is running (with 8 threads). I'll let keep you updated.

[2016-02-15 13:49] unoebauer commented on #428
After talking with @aoifeboyle, I got the impression that this problem is no longer an issue and was basically resolved by introducing the vpacket-logging capability. Thus, I'd consider this one solved and would close it, unless there are objections, @aoifeboyle, @wkerzendorf, @orbitfold

[2016-02-15 14:10] wkerzendorf commented on #428
not from my point of view. good work @aoifeboyle @unoebauer !

[2016-02-15 22:21] aoifeboyle commented on #428
@unoebauer Agreed!

[2016-02-16 08:50] unoebauer commented on #428
Perfect - officially closing this one - another job well done, @orbitfold, @aoifeboyle, @wkerzendorf

[2016-02-16 08:50] #428 closed

[2016-02-16 08:53] unoebauer commented on #477
@aoifeboyle The run finished without problems - it's still open within an ipython session.

Based on all the information we gathered here, I'd say it is safe to assume that there is nothing fundamentally wrong with Tardis leading to the suicidal behaviour reported in this issue. Instead, the intricacies of the IT infrastructure at MPA seems to be responsible for that.

If we all agree on that, @ao

[2016-02-16 09:28] yeganer commented on #477
I agree with you, this doesn't seem like an issue with tardis. I'm for
closing.

Ulrich Noebauer <notifications@github.com> schrieb am Di., 16. Feb. 2016
09:54:

[2016-02-16 11:38] aoifeboyle commented on #477
Agreed!

[2016-02-16 12:48] wkerzendorf commented on #477
@unoebauer I wouldn't say that there is nothing fundamentally wrong with TARDIS - just this problem is not one of them :wink: -- closing

[2016-02-16 12:48] #477 closed

[2016-02-16 16:10] #493 closed

[2016-02-18 13:05] chvogl commented on #448
@unoebauer
## Further problems
### Energy conservation in the comoving frame
For each interaction the energy of the packet should be conserved in the comoving frame.
However, at the moment energy conservation is enforced between the comoving energy at the position of the last interaction and the comoving energy at the interaction point.
#### Current approach for energy conservation
#### Step 1
Fir

[2016-02-24 12:28] unoebauer commented on #448
@chvogl, @ssim

After doing the math, I am fairly convinced that the current interaction scheme is not owed to consistency with the calculation of the Sobolev point:

![sobolev](https://cloud.githubusercontent.com/assets/6351165/13285157/761fd6b4-daf9-11e5-90fd-b572521babf9.jpg)

In other words: since the distance to the Sobolev point only depends on the initial direction and location of the packe

[2016-02-25 09:44] yeganer opened #497 "Optimization: cmontecarlo.c:compute_distance2boundary restructure logic"
In cmontecarlo.c:compute_distance2boundary the 1st thing that is calculated is d_outer in [https://github.com/tardis-sn/tardis/blob/master/tardis/montecarlo/src/cmontecarlo.c#L147](L147). Since we are not always using this value, we should only calculate it when we need it.
Thus I propose the following logic:

[code]

A profiled run we did some time ago showed 25% execution time for compute_distan

[2016-02-25 09:54] yeganer opened #498 "Optimization: use cumulative propabilities for transition_probabilities"
This is only an idea I had which would improve performance of macro_atom a bit.
The basic idea is instead of summing every time the routine is executed we could prepare the values in the python part. This would allow us to use a binary search algorithm(performs better for large sequences) to find the transition probability faster. Even if we stick to the current linear search algorithm we eliminat

[2016-02-25 12:51] unoebauer commented on #497
I agree that this routine could be improved. The following is taken from my thesis:

This illustrates the propagation problem in spherical symmetry

![spherical](https://cloud.githubusercontent.com/assets/6351165/13320074/7efef5e4-dbc6-11e5-82e9-02da9ba2d8f5.png)

The distance to the next boundary, can then be calculated according to:

![distance](https://cloud.githubusercontent.com/assets/6351165

[2016-02-26 10:18] unoebauer commented on #487
This issue has been resolved with PR #486 - closing

[2016-02-26 10:18] #487 closed

[2016-03-01 13:51] unoebauer commented on #438
**Important Update:** This fix will work only for LTE setups.

The quickfix only adds the missing ionization data. The modified atomic data set still lacks levels and transitions data for the ions (4, 3), (4,4), i.e. Be IV and Be V.

This leads to a shape mismatch problem in the plasma calculation in the nebular ionisation case. The partition function uses the available levels to set its shape and

[2016-03-01 13:56] ssim commented on #438
Very quick thoughtette: probably the way I would try to fix this is just to have a catch such that if the data do not exist it assumes 1.0 for zeta and carries on / logs a warning rather than throws a wobbly. Can that be done easily?

[2016-03-01 14:05] unoebauer commented on #438
@ssim - don't think this will work. The problem is not with missing zeta data (which is actually already done the way you are suggesting) but in the design of the plasma calculation. Well that sounds as if something is wrong with the plasma part - which is not true. Rather the problem comes from the quickfix, as suggested above, only introducing part of the missing data. The plasma calculation jus

[2016-03-01 14:15] aoifeboyle commented on #438
@unoebauer You mean automatically setting the abundance of Be to zero? This problem is difficult to deal with properly in any other way. The problem with the quick fixes that I have tried is that it's hard to insert data into multiindex dataframes, and the method is not consistent across the recent pandas versions. So a fix that may work on my laptop in that anaconda environment won't work on my d

[2016-03-03 13:39] unoebauer opened #501 "Problems with networkx and drawing Plasma graphs"
This error report is based on **networkx v1.11**:

When trying to generate a Plasma Graph from the LegacyPlasmaArray using the write_to_tex method, it crashes with the error message:

[code]

Looking at the documentation of networkx [v1.10](http://networkx.readthedocs.org/en/networkx-1.10/reference/drawing.html) and [v1.11](http://networkx.readthedocs.org/en/networkx-1.11/reference/drawing.html),

[2016-03-03 13:44] yeganer commented on #501
Does the Tex file have real syntax errors or are you talking about
describtions of the plasma graph being displayed wrong/not in math/etc.?

Ulrich Noebauer <notifications@github.com> schrieb am Do., 3. März 2016 um
14:39 Uhr:

[2016-03-03 13:46] unoebauer commented on #501
Things like:

[code]

[2016-03-03 13:51] yeganer commented on #501
Have you looked at the code. Can those come from errors while parsing the
latex_name of Plasma modules?

Ulrich Noebauer <notifications@github.com> schrieb am Do., 3. März 2016 um
14:46 Uhr:

[2016-03-03 14:02] wkerzendorf commented on #501
@aoifeboyle any suggestion?

[2016-03-03 14:17] aoifeboyle commented on #501
Strange! It definitely worked fine before. Maybe something has been accidentally removed, or what I added was not consistent for other networkx versions. Leave it with me, I'll try to replicate the issue and see what I can do.

[2016-03-03 14:29] yeganer commented on #501
From the code snippet that @unoebauer posted it seems like some math formulas were not parsed correctly. If I remember correctly I had the same issue when I tried building the graph the last time(the syntax errors) but I think those were only a few and a simple search/replace solved it.

[2016-03-03 19:05] iamgroot42 commented on #427
I'm working on this issue, and will try to fix as many violations as possible (aiming to fix all of them).

[2016-03-04 10:10] unoebauer commented on #438
After some back-and-forth discussion with @wkerzendorf, the consensus is now to avoid a dirty quickfix (c.f. PR #502) but rather migrate the full Be data into our standard atomic_data file.

@wkerzendorf will update the data base shipped with tardis_example until the v1.5 release.

[2016-03-04 12:53] unoebauer commented on #427
Since this issue has attracted a lot of attention lately, we'd like to clarify that we do not consider PRs about PEP 8 fixes as valid GSoC contributions.

[2016-03-04 15:16] pfreddy opened #505 "Missing NLTE atomic dataset"
Hi,

I've tried to run a calculation with some NLTE-species after the example configuration file.

plasma:
    nlte:
        species: ['Ca 2']

It works well for a few ions, but it cannot handle e.g. Si 2 or O 2, and returns with an error message.

[2016-03-04 16:39] iamgroot42 commented on #442
The properties `self.iterations_max_requested` and `self.iterations_executed` are neither initialized nor used/changed anywhere else. Why does do they even exist ?

[2016-03-05 13:48] karandesai-96 opened #506 "utils.py and test_utils.py need better coverage and cleanup."
- The file **tardis/utils.py** holds frequently used methods, which are used throughout the code base to perform small tasks repeatedly - such as formatting element symbols, obtaining tuples of (atomic symbol, atomic number) etc.. Also, utils.py contains declarations of custom exceptions raised at certain moments when required.
- Coverage and brief documentation of this module is important. There

[2016-03-06 12:56] aoifeboyle commented on #501
@unoebauer Ok, I had a look at this just now, and I don't get any error messages and the graph outputs and compiles to pdf fine. I'm using networkx version 1.9.1 though. So what's the right thing to do in this situation @wkerzendorf? Insist on one particular version of networkx and stick with it?

[2016-03-06 14:25] karandesai-96 opened #509 "Running tests fail: cannot open libgfortran.so.1"
* Recent runs of `python setup.py test` or `py.test (params...)` are failing.

* Similarly the builds of Travis CI are failing - resulting a common error statement in both the cases:

```ImportError: libgfortran.so.1: cannot open shared object, no such file or directory.```

* Looking at the discussions at travis-ci/travis-ci#4816 , it seems like numpy/ scipy/ pandas must be upgraded to a newer ve

[2016-03-06 15:58] karandesai-96 commented on #509
A suitable combination inferred is :
* numpy==1.10.0
* scipy==0.17.0
* pandas==0.16.0

[2016-03-07 12:49] wkerzendorf commented on #501
we should fix it at some stage for 1.11, but for now force 1.9 in conda.

[2016-03-08 11:53] #509 closed

[2016-03-10 09:00] wkerzendorf commented on #505
@pfreddy currently very busy trying to dig out the old data set.

[2016-03-10 09:21] yeganer opened #517 "distance2boundary: sometimes returns the wrong distance"
While looking at the code I came across a weird behaviour in distance2boundary.
I thought the recently_crossed_boundary flag was necessary because the old implementation couldn't handle packets close to the boundary. I was wrong. This flag was implemented to correct numerical errors in the case that moving a packet resulted in a radius outside it's shell boundary. This happens quite a lot actually

[2016-03-10 09:25] yeganer opened #518 "Update documentation:Installation"
Since several people report having problems with that specific line
[code]
I suggest changing it to
[code]
and mention to run that from inside the root of tardis' repository.

There seems to be a problem with using https:// there. The bug seems to be system specific since I didn't encounter it.

[2016-03-10 12:56] wkerzendorf commented on #518
@yeganer - agreed.

[2016-03-10 13:09] yeganer commented on #518
@wkerzendorf should I do a quick PR?

[2016-03-10 13:09] wkerzendorf commented on #518
sounds good

[2016-03-10 13:36] yeganer commented on #518
Are we sure we want the part about pip in there?
And on the Installation page we don't even mention cloning git. Is this
still preferred?

Wolfgang Kerzendorf <notifications@github.com> schrieb am Do., 10. März
2016 um 14:09 Uhr:

[2016-03-10 13:38] wkerzendorf commented on #518
ditch pip it's nowadays autoinstalled.

[2016-03-10 13:45] yeganer commented on #518
If you look at the current installation page [https://tardis.readthedocs.org/en/latest/installation.html](url) you'll notice that the recommended way is to use anaconda and then inside anaconda install tardis with `pip install tardis-sn`.

If one follows the link to the Development Workflow, the first step is to setup the python environment which links to a page where using virtualenv is explained

[2016-03-10 14:06] wkerzendorf commented on #518
whatever recommended means

[2016-03-10 14:07] wkerzendorf commented on #518
put it on the agenda.

[2016-03-11 00:15] lukeshingles opened #521 "tardis/data/tardis_example_config.yml is not a valid config file"
Just to get tardis started on something, I tried running 'tardis tardis_example_config.yml output_spectrum.dat' in the folder 'tardis/data', which resulted in the yaml parsing errors.

It looks like this file is an old version of tardis_example.yml from https://www.dropbox.com/s/svvyr5i7m8ouzdt/tardis_example.tar.gz

So a couple of possible solutions:
- remove the file from the repo (in case anyon

[2016-03-11 00:25] lukeshingles commented on #521
It looks like atom_data.h5 isn't a valid atomic database for the current version either, so option 2 doesn't work easily.

[2016-03-11 09:56] yeganer commented on #517
Sorry for the confusion. The calculated distance seems to always be correct.

So the only thing that's strange now is why removing `recently_crossed_boundary` changes the result.
I'll do some more tests and come back later.

[2016-03-11 09:59] wkerzendorf commented on #517
@yeganer there is no need to apologize. It's very important to question the code! @tardis-sn/tardis-core to make sure that everyone has a look.

[2016-03-11 09:59] wkerzendorf commented on #517
@ssim did we discuss setting `r=r_inner` at some stage?

[2016-03-11 10:54] unoebauer commented on #517
@yeganer; what about the possibility we talked about yesterday (see PR #520). I think this is technically still possible in the current master

[2016-03-11 17:37] karandesai-96 commented on #521
My opinion is of going with the third option. It will do a two way benefit:
- A new user need not open the Dropbox link mentioned in the documentation and download the file separately to run the tardis_example.
- The **kurucz_cd23_chianti_H_He.h5** atom data file is also used in W7 and Talytha's runs - the ones I have encountered as slow tests, and I think it is a standard setup useful in many sub

[2016-03-11 18:05] wkerzendorf commented on #521
@lukeshingles A couple of points. TARDIS or other python packages should not be run from within their structure. the `data` directory should only be used for TARDIS internal data.

I think for now we leave them as is (as the documentation is not pointing in this direction), but we'll leave this issue open to remind us to clean this in the future.

does this sound like a plan @lukeshingles ?

[2016-03-11 18:11] unoebauer commented on #521
@wkerzendorf independently of whether or not one should run tardis within its own structure, I think @lukeshingles has a point. Doesn't make much sense to keep stuff around which is deprecated and/or incompatible with the current code.

[2016-03-13 12:04] karandesai-96 opened #524 "'run_tardis' should accept more parameters."
- The method `run_tardis` from **tardis/base.py** accepts only two parameters - a tardis config file and an atom data file. While a config can separately specify the filename of abundances and densities profile, the filepath has to be specified as per the user's placement of the files.
- It can also be possible that the user might want to override these and put in custom profiles on same configura

[2016-03-13 17:17] yeganer commented on #524
The `run_tardis` function is a shortcut for exactly the purpose of running a single configuration(yaml or config dict). If one wants more control over the execution of tardis there is always the option of running tardis normally. I suggest you have a look at what `run_tardis` does and mirror the behavior except for the parts where you need other functionality.

As a summary I don't think we want m

[2016-03-15 09:47] #518 closed

[2016-03-23 03:53] karandesai-96 commented on #524
This point is valid. I feel that there is no need to change `run_tardis`. I am closing this issue.

[2016-03-23 03:53] #524 closed

[2016-03-23 04:09] karandesai-96 opened #528 "Coverage Report generated by 'coveralls.io' is incomplete."
The coverage report we've been receiving from [coveralls.io](https://coveralls.io/github/tardis-sn/tardis) is incomplete. The current coverage report is about 54% and it misses the coverage of tests which are skipped if `atomic-dataset` argument is not provided while running the tests.

Travis CI build system is configured in **.travis.yml**. It has four parallel jobs, the fourth job being:

The c

[2016-03-23 09:11] wkerzendorf commented on #528
@karandesai-96 we do not run the coverage with the `atomic-dataset` option as we want to know the coverage of unit tests that actually test the code rather than when running the code in full where only the end product is tested.

[2016-03-23 09:11] #528 closed

[2016-03-23 09:16] karandesai-96 commented on #528
@wkerzendorf Understood.

[2016-03-23 09:36] karandesai-96 commented on #528
@wkerzendorf Then the other way around is to exclude the full code tests out of the coverage reports. This can be done by adding a comment `#pragma: no cover` wherever these full codes tests start.

[2016-03-30 13:15] #489 closed

[2016-03-30 13:40] unoebauer commented on #505
Hi @pfreddy - can provide more details, in particular concerning the error messages?

[2016-03-30 13:45] unoebauer commented on #506
This file looks like a loose collection of tools which may have been at a certain point relevant. In the process of cleaning-up this, we should check what parts are actually still relevant.

After a quick inspection, for example, I noticed that utility functions to convert between arabic and roman numerals. There is already a python package available for this task, if we still need it.

[2016-03-30 13:46] unoebauer commented on #517
@yeganer - is this still relevant? Which your modifications, I thought this issue is resolved. Or am I wrong?

[2016-03-30 13:52] yeganer commented on #517
@unoebauer This is kind of still relevant. There is still a probability > 0 that a packet is outside the outer boundary and misses it. This would result in the package interacting only with lines and continuum. After such an interaction the packet gets a new mu. If it then hits any boundary we are fine but there is again a small possibility that the packet doesn't hit anything and slowly drifts aw

[2016-03-30 14:01] karandesai-96 commented on #506
@unoebauer My point has been that for one or two simple methods, we can save TARDIS from an **added dependency**, such trivial utilities consume hardly few lines of code and easy to maintain due to corresponding tests. Nevertheless, I wrote tests some time ago, following the general guidance to all GSoC applicants to show coding practice by picking an untested method and writing test for it.

Sinc

[2016-03-30 14:05] ssim commented on #517
@yeganer I think that it would help me to understand if you can give a specific example of when there's a problem - i.e. can you, step by step, go through a (hypothetical) example where the code would currently do the wrong thing.

[2016-03-30 14:37] yeganer commented on #517
@ssim Sure.
Let's assume our packet just encountered the `move_packet_across_boundary` event but due to roundoff errors the new r is set to a value outside the outer boundary. Now we assume the packet was traveling very tangentially with a very small mu. This results in a negative `sqrt(...)` during the boundary calculation. Our `d_boundary` is now `NaN`. During determination of the next event eve

[2016-03-30 14:53] pfreddy commented on #505
I copy below the whole error message:

tardis.atomic - INFO - Preparing the NLTE data
tardis.plasma.properties.partition_function - INFO - Calculating rates for species (8, 0)
Traceback (most recent call last):
  File "/home/barna/anaconda/envs/tardis/bin/tardis", line 64, in <module>
    radial1d_mdl = model.Radial1DModel(tardis_config)
  File "/home/barna/anaconda/envs/tardis/lib/python2.7/site-

[2016-03-30 14:55] unoebauer commented on #505
@aoifeboyle any idea why it should fail specifically for O I? Or is this just coincidence?

[2016-03-30 14:58] pfreddy commented on #505
No coincidence, I chose the neutral oxygen. :)

As I mentioned above, the NLTE treatment works fine for a few ions (e.g. Ca 2 or Si 3), but fails in other cases (like O 1).

[2016-03-30 15:18] ssim commented on #517
@yeganer I see - yes, that's helpful - I think I understand the point better now. So this is when we are getting (in terms of numerical precision) close to the case where a packet's trajectory is close to being a tangent line to the boundary: i.e. a packet has come down towards a shell boundary (from outside) in such a way that it just skims the boundary of that shell. The way the code deals with

[2016-03-30 15:32] yeganer commented on #517
@ssim: @unoebauer did a quick check on the determinant being negative and he didn't find any. Considering the requirements for that case I come to the conclusion that we ran the test with far to few packets to encounter that.
As stated above only in 1 out of ~10^7 cases the packet has a mu which is small enough that the check would be able to trigger. But at the same time the packet has to be near

[2016-03-30 15:36] ssim commented on #517
@yeganer
We don't care that packets are sometimes outside the boundaries of their cells to a few machine precision: that's part of the philosophy we originally adopted and the reasoning behind the integer flag to say where the packet is...that flag rules supreme and vetoes the exact value of r. The way I think of it is that the packet IS inside the shell, it's just that the value of r recorded is

[2016-03-30 15:46] yeganer commented on #517
@ssim
Calculating the determinant every time would be possible but reduce performance of course. Additionally it would complicate the code further.
My suggestion would be to check somewhere whether `d_boundary < 2 * r_outer` and if that's false do some warning. This check will fail if something went wrong during calculation AND if d_boundary is NaN.

In the new version of that function in PR #514

[2016-03-30 16:45] ssim commented on #517
Checking on d_boundary as you suggest sounds fine, provided NaN < something is always false (you know that better than me).

Recently_crossed_boundary is still in PR #514 isn't it? But your plan is now to remove it?
Am I correct in thinking that the statement that it is safe to remove it is the statement that when a packet crosses a boundary in the outward direction it will never have a mu that is

[2016-03-30 18:16] yeganer commented on #517
@ssim
The tests for the cpart are in the process of being rewritten. With the new framework it should be easy to check for special cases (provide input that forces NaN) and then verify the behavior.

You are right in your thinking about recently_crossed_boundary. Because we *know* what circle the packet will hit, we don't have to calculate both distances and compare them but only calculate the one

[2016-03-31 09:16] #497 closed

[2016-03-31 14:34] yeganer opened #534 "Inconsistency in representation of "spectrum.frequency"?"
The config reader initializes the spectrum and and creates `N` bins. The result is an array with `N+1` bin edges. Later, when the spectrum gets constructed these `N+1` edges are cut to `N` by removing the last value. Shouldn't it convert the edges to bin centers?

Later the cropped version is used to trasform `luminosity_density_nu` into `luminosity_density_lambda`. Because we are already dealing

[2016-04-01 07:29] yeganer opened #535 "Treat rel. paths inside config relative to the config file"
I think this would be a useful addition if one is storing all files to describe a model in one directory.
With this feature one would be able to run a config without being in the config directory.

[2016-04-01 08:32] yeganer commented on #534
I made a plot showing the relative error we are doing compared to the spectrum of `tardis_example`.
In this plot the error is magnified by 1e42. This results in a maximum error of `0.0039` which is far smaller than the 6% I got earlier. I don't know what went wrong there.
![issue_534_2](https://cloud.githubusercontent.com/assets/6164110/14201797/7903071c-f7f4-11e5-82a3-c1d76d22807c.png)

[2016-04-21 16:45] karandesai-96 opened #546 "conda-requirements should be listed once in a common place."
After the merge of #539 which adds OSX builds to Travis, the conda-requirements were listed in a separate **tardis_ci/tardis_ci_env27.yml** file and a new conda environment named **tardis-ci** is created in Travis builds through this file. A similar yml config file **tardis_ci/tardis_rtd_env27.yml** has conda-requirements listed for read the docs. The differences between dependencies in both files

[2016-04-21 17:00] wkerzendorf commented on #546
there are more differences in these which pertain to the documentation.

[2016-04-21 17:03] karandesai-96 commented on #546
@wkerzendorf I did not understand what are "these" referred to here. Do you mean the amount of changes to be done in documentation after making changes with the configurations ?

[2016-04-21 17:05] wkerzendorf commented on #546
@karandesai-96 no you are right - nevermind.

[2016-04-22 08:52] yeganer opened #548 "CEnumeration is causing a segfault"
The implementation of enumerates for the testing of the c-extension seems to be unstable, resulting in segmentation faults and failed tests.

[2016-04-22 13:17] karandesai-96 commented on #548
This issue is resolved and fit to be closed.

[2016-04-22 13:23] #548 closed

[2016-04-27 09:59] yeganer opened #550 "PacketSource is returning Quantity for nus but array for energies"
This is just a small inconsistency

[2016-04-29 08:09] yeganer commented on #517
@tardis-sn/tardis-core I think we should close this.
If we want to check for `NaN` during calculation of `distance2boundary` we should open a new issue.

[2016-04-29 08:33] wkerzendorf commented on #517
can you open a new issue and close this one?

[2016-04-29 09:03] yeganer opened #552 "distance2boundary: Result is not checked for NaN"
During the calculation of the distance to boundary it is assumed that the packet's radius is between r_inner and r_outer. Because of rounding errors this is not always true and there exists a small range of parameters (radius and mu) for which the discriminant gets negative (the packed doesn't hit the boundary). In that case the distance is NaN.

Possible ways to fix this:
- When crossing the boun

[2016-04-29 09:04] yeganer commented on #517
Closing this. The followup is #552.

[2016-04-29 09:04] #517 closed

[2016-04-29 09:36] yeganer opened #553 "Log C messages to the same stream python logs to"
Currently C always prints to `stderr`. If the python log is redirected, C will continue to log to `stderr` making it difficult to redirect the full log properly.

I propose two possible solutions:
1. Implement a wrapper to use the python logging functionality within C (there is a Gist somewhere)
2. Pass a FileDescriptor to `montecarlo_main_loop` which is then used instead of `stderr`

[2016-05-05 02:57] karandesai-96 opened #556 "test_cmontecarlo.py: partial coverage of cmontecarlo.c"
Complete refactor of cmontecarlo tests was started in #530, followed by #544 (Refer checklists).

While most of the work is classified as "Done", there are a group of tests which have very complex underlying methods. They are kept under the **"Difficult to Test"** category block comment in **test_cmontecarlo.py**.

These tests are:
- `montecarlo_one_packet`
- `montecarlo_one_packet_loop`
- `montec

[2016-05-05 02:58] karandesai-96 commented on #556
I just edited the title for it to fit in one line ! :sweat_smile:

[2016-05-05 09:37] mangalutsav commented on #546
I would like to know the status of this issue, can a beginner like me take it up ?

[2016-05-05 09:43] karandesai-96 commented on #546
Hello @mangalutsav
Yes, you can try your hand at this issue, it is an easy fix. Check the three files highlighted as **bold** in the description. You would see repeated content. The idea is to keep the content at one place and use it everywhere, for easy maintenance.

[2016-05-05 11:31] mangalutsav commented on #546
In **tardis_ci/tardis_rtd_env27.yml** and **conda-requirements** pytest==2.6.3 is used whereas in **tardis_ci/tardis_ci_env27.yml** pytest==2.9.1 is used will this be a prolem

[2016-05-05 11:47] karandesai-96 commented on #546
I don't think pytest should create a problem. Still go ahead, do it and let us know what happened. **tardis_ci/tardis_ci_env27.yml** would be the most suitable to hold the conda requirements.

[2016-05-05 12:29] yeganer commented on #546
Actually  I think **conda-requirements** would be the best place, since that's what people will use when they run tardis.

[2016-05-05 12:31] karandesai-96 commented on #546
@yeganer I just realized that. Also, specifying a filepath in yml would be simpler than parsing the yml file and including in `.rst` docs.

[2016-05-10 14:57] unoebauer commented on #534
@yeganer - just saw this issue. The plot above looks very severe! I would be surprised, however, that we missed such a big effect. Update?

[2016-05-10 15:12] yeganer commented on #534
@unoebauer The effect is just a linear systematic error.
It's not that severe. In my opinion this should be fixed (use bin edges for every calculation and construct the bin_centers for plotting only when needed)
A fix wouldn't be difficult (one line of code) but it would change the output spectrum, so some tests would need new reference data etc.

[2016-05-10 15:45] unoebauer commented on #534
@yeganer, @wkerzendorf, @ssim: then I propose to wait with this until the slow testing infrastructure of @karandesai-96 is up and running and then fix it.

[2016-05-12 08:13] yeganer opened #560 "Segfault during tardis cmontecarlo run"
This is what appears to cause the issue.

[code]

I'll update later as I gather more information.
### SETUP:

[code]

`run_failed.py` is a simple script that reproduces the problem. You have to run with OMP_NUM_THREADS=8. The way I use it, I'm exporting that environment variable before running the file (nthreads = 0 in config allows for dynamically changing the number of threads)
[packet.zip](http

[2016-05-12 10:01] unoebauer commented on #560
@yeganer A bit of context would be good - when does this segfault occur, which setup is used, is there anything particular about the run?

[2016-05-12 10:05] unoebauer commented on #560
@yeganer: Before going anywhere further, you should check that ``v_inner`` < ``v_outer``. @chvogl cautioned that this is in principle possible...

[2016-05-12 11:41] yeganer commented on #560
I can verify that but I think it's very unlikely that this is causing the
problem. I'm setting v_inner in my config an the rest should be calculated.
As the crash happens during the spectral run and v_inner isn't changed
during the iterations, I think we have an other issue here.

Ulrich Noebauer <notifications@github.com> schrieb am Do., 12. Mai 2016
12:05: