[2016-05-12 12:43] yeganer commented on #560
It looks to me like the packet in question is a virtual packet which was moved to miss distance.

[2016-05-12 13:18] unoebauer commented on #560
@yeganer - still missing the basic background:
* problem setup
* yaml file

[2016-05-12 13:20] yeganer commented on #560
The problem is, there is no yaml file. I am currently not able to reproduce the bug. On my local machine I get a slightly different result ( with the same input! ) which in turn doesn't seem to reproduce it.

[2016-05-12 13:24] unoebauer commented on #560
Ok, so this segfault occurs during a DALEK run - this is already an important piece of information. However, without any information about the TARDIS setup triggering this segfault, this Issue report is not very helpful or useful.

[2016-05-12 13:25] yeganer commented on #560
The distance2boundary is set to NaN which triggers the problem.

[2016-05-13 09:43] unoebauer commented on #560
As discussed during the videocon on 13.05., we should manually set the packet position to the shell boundary during the crossboundary call.

[2016-05-17 08:42] yeganer opened #564 "Tests failing with astropy 1.1.2"
![astropy_versions](https://cloud.githubusercontent.com/assets/6164110/15328153/342778c4-1c54-11e6-9ba6-39d5faff924a.png)
The plot is generated with the tardis_example.

The tests are failing with when using a different combination of conda packages than the default configuration.
The tests that are failing are

- TestPlasmas.test_nlte_plasma
- TestSimpleRun.test_j_blue_estimators
- TestSimpleRun.

[2016-05-17 13:20] yeganer commented on #564
Further investigation revealed astropy 1.1 as the cause for the failing tests.
I'm currently running a git bisect on astropy to determine the failing commit.

[2016-05-20 12:46] yeganer opened #568 "[Astropy 1.1] Known Issues Collection"
Astropy 1.1 currently has some issues with our current codebase. This aims to be a collection of known issues and how to solve them.
## Known Issues:
- [x] #483 Fixed by #581
  A change to astropy's pytest hooks causes them to fail with tardis. The solution is to override/add `pytest_runtest_setup` in `conftest.py` (This is imported from astropy)
- [x] #564 and a corresponding PR #565 :
  Astropy

[2016-05-30 13:41] #535 closed

[2016-06-01 12:53] ftsamis opened #577 "[documentation] Example configurations are invalid"
While testing the new validator I wrote at #576 with `tardis_example.yml` from [Quickstart Guide](http://tardis.readthedocs.io/en/latest/running.html) I noticed that the `convergence_strategy` section is misnamed as `convergence_criteria` and its `hold_iterations` property is misnamed as `hold`.

This produces the following output when running tardis, and it actually runs with different convergenc

[2016-06-01 13:08] unoebauer commented on #577
There a are two levels to answering this:

1. Obviously, we should just fix the yaml files in which are shipped with the tardis_example archive. However, we may want to wait with this until @ftsamis has completed the TEP 006 project

2. The automated convergence criteria and schemes currently available in TARDIS are a tricky subject. It is very difficult to formulate a strategy which is of general

[2016-06-02 13:00] ftsamis opened #579 "Cleanup the io.config_reader module"
The `tardis/io/config_reader.py` module has a lot of legacy or ugly, unstructured code. In this issue we'll pinpoint the parts that need change, and we'll propose alternatives.

Some of the changes that need to be made are:
- Remove unnecessary conversions (spectrum_list2dict)
- Interpret values where they are used (`no_of_packes`, ...)
- Clean up Configuration.from_config_dict (move unit conversi

[2016-06-05 08:38] karandesai-96 opened #582 "Attempt to import jsonschema raises exception."
`tardis/io/config_validator.py` uses `jsonschema` module, which has not been isted in conda-requirements. Recent test runs fail by raising an `ImportError`. It should be included in `conda-requirements` to fix this issue.

[2016-06-05 09:01] karandesai-96 commented on #582
Fixed in #576

[2016-06-05 09:01] #582 closed

[2016-06-20 15:04] Tobychev opened #593 "Downbranch crashing using tardis_example"
Setting `line_interaction_type: downbranch` in tardis_example.yml while also introducing the changes necessary to get around #577 leads to the example crashing with an unbound local exception:
[code]

[2016-06-20 15:14] yeganer commented on #593
As nobody is currently using the convergence_strategy I'm going to voice the (probably very unpopular) opinion to delete everything related to the current convergence and reimplement it (from scratch) when the changes to the config, model and runner are done.

[2016-06-21 08:56] unoebauer commented on #593
Yes - as pointed out in #577, the convergence criteria have been utterly neglected in the recent past. I am however not sure if a small subset of the convergence scheme is used by @orbitfold. Maybe @wkerzendorf can comment on that. In principle, I'd be okay with just deactivating all of this since in practice we are typically using a fixed number of iterations.

[2016-06-21 09:59] yeganer commented on #593
@unoebauer The way the convergence criteria is currently used by @orbitfold and me is by setting the threshold to 0.001 which translates to disabling the convergence and running 20 iterations fixed

[2016-06-21 12:40] yeganer commented on #483
This got fixed with #581.

[2016-06-21 12:40] #483 closed

[2016-06-22 08:45] unoebauer commented on #593
Quickfix for now:

- change ``convergence_criteria`` to ``convergence_strategy``
- change ``hold`` to ``hold_iterations``

This should do the trick!

[2016-06-22 08:59] Tobychev commented on #593
That helps one around #577, if you also want the `line_interaction_type` to be downbranch, it crashes with the reported error (after doing 20 steps).

[2016-06-22 09:14] Tobychev commented on #593
Following @yeganer's suggestion to set the threshold to 0.001 does avoid this crash for me.

[2016-06-22 12:26] ftsamis commented on #577
Let's solve this by merging #599, so there are no more confused users until I finish with TEP006.

[2016-06-23 15:58] #564 closed

[2016-06-25 00:17] ftsamis commented on #577
This is now fixed with the merge of #599.

[2016-06-25 00:17] #577 closed

[2016-06-25 00:22] ftsamis commented on #546
#569 is relevant to this issue, but I'm not sure if it solves it, since the conda-requirements are still there.

[2016-06-30 04:03] karandesai-96 opened #616 "Certain methods do not accept '~' in OS paths."
In certain methods across the modules of _TARDIS_, methods which have a file path as a param, accept only complete absolute paths, such as `/home/username/path/to/file` and passing `~/path/to/file` throws an `OSError`.

Fix for the issue:
Use `os.path.expandvars(os.path.expanduser(path))`.
#### Probable locations where fix is needed:
- [ ] `AtomData.from_hdf5()` in `tardis.atomic`
- [ ] `run_tardi

[2016-07-12 16:06] RachelLosacco opened #622 "'inner_boundary_index' referenced before assignment"
This run uses `model/structure/type/specific` and `model/abundances/type/file`.

[Here](http://pastebin.com/r1DGKPGT) is the pastebin with my terminal commands and full error.
[Here](http://pastebin.com/6P48pczV) is the pastebin with my .yml configuration file.
[Here](http://pastebin.com/dRw813JD) is the pastebin with the abundances file.

It might not be a good idea to have a file type for abunda

[2016-07-12 18:59] yeganer commented on #622
I think you are missing shell `0`

[2016-07-12 19:09] ftsamis commented on #622
I think that the combination of `abundances.type=file` and `structure.type=specific` will always end up on this error. This is because the variables `inner_boundary_index` and `outer_boundary_index` are only assigned in the ```structure_section['type'] == 'file'``` case, but are accessed anyway in the `abundances_section['type'] == 'file'` case (io/config_reader.py).

[2016-07-12 19:21] RachelLosacco commented on #622
The example abundance file(s) show it beginning with 1.

@ftsamis I think you're right. It also makes sense that a set up with varying abundances should not have a constant density and velocity.

[2016-07-14 14:30] ftsamis opened #624 "Range configuration properties are not uniformly represented"
Currently, configuration properties of type quantity range, are represented in more than 3 ways throughout the configuration processing:
1. quantity_linspace object
2. {'start': ..., 'stop': .., 'num': ...} dict
3. {'start': ..., 'end': ..., 'num': ...} dict
4. {'start': ..., 'end': ..., 'bins': ...} dict
5. [<start>, <stop>, <num>] list

or even a combination of two of the above, like

[code]

(i

[2016-07-21 00:06] piszkosfreddy opened #627 "Configuration file problem?"
I've just successfully installed tardis-sn-1.0.1 via anaconda with all the requirements (only the package 'pytest-html' is missing, the conda install did not find it).

However, after I downloaded the example directory (tardis_example.tar.gz from the page http://tardis.readthedocs.io/en/latest/running.html) and tried to run tardis, I got an error message:

Traceback (most recent call last):
  File

[2016-07-21 08:03] karandesai-96 commented on #627
Hi @piszkosfreddy Right, `pytest-html` is not found on conda channels, right now, you may do `pip install pytest-html` and continue as a temporary solution.

[2016-07-21 08:31] yeganer commented on #627
@piszkosfreddy Do not use the version available with pip.
Please download the latest version of tardis from github and use that.
[code]

@karandesai-96 This has nothing to do with `pytest-html` as that's only required when running tests.
We could think about some way to remove the `pytest-html` requirement when running normal tests and only require it for the integration tests.

[2016-07-21 08:51] karandesai-96 commented on #627
@yeganer It exists in that file on `master` at the moment hence gives an error. Although one can even move on without installing it. I agree, it shouldn't create a problem further.

[2016-07-21 10:13] piszkosfreddy commented on #627
@karandesai-96 @yeganer Thank you guys, the latest version works properly!

[2016-07-24 19:37] ftsamis opened #633 "None/none/null default value in plasma configuration schema"
Something that had occurred when I was converting `tardis_config_definition.yml` to JSON Schema was the default values of `None` which sometimes were mistakenly expressed as `none`.

When the word None didn't start with a capital `N`, the (old) validator translated it as a string. The two cases were this happened are `plasma.helium_treatment` and `plasma.heating_rate_data_file`

For example, in th

[2016-07-27 12:21] yeganer commented on #579
Remove unused `black_body_sampling` option.

[2016-08-02 08:11] unoebauer commented on #622
True - physically it may  not be very meaningful but it could be a useful setup for test calculations. In any case, I'd suggest to add a check which informs the user that the selected combination is currently not supported.

[2016-08-04 11:09] aoifeboyle opened #639 "Issue when copying/modifying atomic data files"
@mishinma, Wolfgang said you're great with this stuff. Your help would be really appreciated.

If I copy the standard kurucz_chianti dataset using pd.HDFStore.copy(), the output will not work with TARDIS. The only clear discrepancy between the original and the copy is that in the original the frame tables are of type ‘generic’ and in the copy they’re ‘appendable’. I get a variety of errors when tr

[2016-08-04 11:38] yeganer commented on #639
@aoifeboyle Funny enough I just did exactly that yesterdat: Patching a database.
Basically the procedure is the following:
[code]
The important thing is that the old database is using `h5py` so we have to use that. @mishinma Is currently rewriting tardis to use a pd.HDFStore style database.
I suggest making a copy of the data(with `cp -a data.h5 data_backup.h5`) and then compare those two.

[2016-08-04 12:41] mishinma commented on #639
@aoifeboyle  @yeganer Yes, you can use `HDFStore` to read the dataframes:
[code]
 Then you can modify them and write them back to the file like this:
[code]
Then it would work with the `upstream/master` branch and if not please let me know. We are still investigating the issue with HDFStores and copies; it seems that it has to do with the C part of the code.

[2016-08-04 12:48] aoifeboyle commented on #639
@yeganer @mishinma Thanks, those are both really helpful answers. Now that you mention it I think I did use h5py instead of the HDFStore the last time. I'll try both of your suggestions and let you know if I have any issues.

[2016-08-11 10:38] aoifeboyle commented on #639
Problem solved! Both solutions seem to work. Thanks. Closing issue.

[2016-08-11 10:38] #639 closed

[2016-08-13 22:01] ftsamis commented on #579
@wkerzendorf @yeganer I've noticed that the configuration option `montecarlo.virtual_spectrum_range.num` is never used. Instead only start and stop are used. Should we remove `num`?

[2016-08-13 22:40] wkerzendorf commented on #579
I think it is needed somewhere

[2016-08-13 22:49] ftsamis commented on #579
I think not.

[2016-08-13 22:50] wkerzendorf commented on #579
Well logically they need to have a num, right?

[2016-08-13 22:57] ftsamis commented on #579
I don't know if it's needed (and therefore we have a bug) but I can surely tell you that it is not used in the code. The Cython and C code only defines and uses  `storage.spectrum_virt_start_nu` and `storage.spectrum_virt_end_nu`

[2016-08-13 23:50] ftsamis opened #644 "virtual_spectrum_range.num is never used"
When cleaning up the `config_reader` I've noticed that the configuration property `montecarlo.virtual_spectrum_range.num` is never used in the code.

Shall we remove it from the schemas or is this a bug?

[2016-08-16 13:53] yeganer commented on #644
You are right, there some ambiguity.

I had a quick look at the code and noticed several things.

- To determine if virtual packets should be created the code compares with `spectrum_virt_start_nu` which comes from `montecarlo.virtual_spectrum_range`
- When 'saving' the virtual packet, the code uses `spectrum_start_nu` and `spectrum_delta_nu` to determine which bin the packet corresponds to(`spect

[2016-08-17 13:49] ftsamis opened #646 "Convergence strategy should have its own class"
Convergence strategy is now a dict, for example:

[code]

We currently have no other way to deal with the convergence strategy other than passing the dict to the `Simulation` and using the `get_convergence_status` defined there.

We should have a base `class Convergence` with subclasses for each type of convergence strategy (currently two types) holding all the necessary values. Then, each subclas

[2016-08-17 14:01] ftsamis opened #647 "Simulation and MontecarloRunner should be one"
I know that the argument to this will be "MontecarloRunner is only an interface to the C code." but that's partially wrong.

We practically now have two such interfaces: `montecarlo/montecarlo.pyx` and `montecarlo/base.py`. The Cython code i.e. `montecarlo.pyx` **is** the interface to the C code, while the python module is a wrapper for `montecarlo.pyx`. In turn `montecarlo/base.py` is wrapped by

[2016-08-17 14:03] yeganer commented on #647
Haven't red it yet, but I agree on the title.

[2016-08-17 14:09] yeganer commented on #646
I agree, this shouldn't be part of the Simulation.
Just pass the `Simulation` objects(model + plasma) for current + previous iteration to the class/function and let it decide when it's finished.

[2016-08-17 14:11] yeganer commented on #627
The issue seems to be resolved. Closing this.

[2016-08-17 14:11] #627 closed

[2016-08-17 14:12] yeganer commented on #593
@Tobychev Is this still relevant for the current master and latest tardis_example?

[2016-08-17 14:21] ftsamis commented on #593
I cannot reproduce this with the latest master. @unoebauer's fix https://github.com/tardis-sn/tardis/pull/598 appears to work.

[2016-08-17 14:29] ftsamis commented on #579
There is a separate issue for that now #644.

[2016-08-18 12:17] #593 closed

[2016-08-22 10:09] yeganer opened #654 "Virtual Packet Cutoff during Montecarlo"
In the montecarlo simulation there's a cutoff for virtual packets which boils down to:

[code]

This removes the contribution of weakly contributing packets almost completely (`exp(-100) ~ 1e-44`).
But because this isn't exactly 0 the packet will still register and add to the bin. If the packet is the only packet in that bin the resulting luminosity will be very small and numerical problems can su

[2016-09-19 17:58] manolis07gr opened #658 "Installation issue on OSX El Capital"
Hi all,

I follow the recommended installation steps with anaconda (version 2.0) and save all required packages in conda-requirements. Then I type conda create -n tardis --file conda-requirements python=2.

I always get the same error for the pytest-html package:

Fetching package metadata .......
Solving package specifications: .
Error: Packages missing in current osx-64 channels:
  - pytest-html

[2016-09-19 18:46] ftsamis commented on #658
The environment creation instructions are now a bit outdated. Please download [the environment definition file](https://raw.githubusercontent.com/tardis-sn/tardis/master/tardis_env27.yml) instead and run:

[code]

Then follow the rest of the installation instructions as they are.

@wkerzendorf Feel free to close this issue whenever #659 is merged.

[2016-09-19 19:14] manolis07gr commented on #658
Fotis,

Thanks for the help - the installation now worked but when I try to run the tardis_example.yml using tardis tardis_example.yml output_spec.dat as explain in the docs, I get this error:

tardis tardis_example.yml output_spec.dat
Traceback (most recent call last):
  File "/Users/macbro/anaconda3/envs/tardis/bin/tardis", line 62, in <module>
    tardis_config = config_reader.Configuration.fro

[2016-09-19 19:53] ftsamis commented on #658
I forgot to mention that you should also work with the development versions of TARDIS, since the stable version is pretty outdated, especially after the changes introduced during GSoC16.

`pip install git+https://github.com/tardis-sn/tardis` and trying to run tardis again should do the trick.

[2016-09-19 20:31] manolis07gr commented on #658
Yes! That worked! Thanks again Fotis.

On 9/19/16 2:53 PM, Fotis Tsamis wrote:

--
Dr. Manos Chatzopoulos
Assistant Professor
Department of Physics & Astronomy
Louisiana State University
Nicholson #275
Office # 225-578-2907
Baton Rouge, LA 70808
United States of America
http://www.lsu.edu/physics/people/faculty/chatzopoulos.php

[2016-09-21 22:51] ftsamis commented on #658
Glad I helped! In the meantime I also updated the installation instructions relevant to the environment creation, so I'm closing this issue.

[2016-09-21 22:51] #658 closed

[2016-09-21 22:56] ftsamis commented on #546
I think after #569 and #659 were merged this issue is now solved in its entirety.

@karandesai-96 @wkerzendorf Could someone close it?

[2016-09-22 03:16] karandesai-96 commented on #546
I think it is fine to close it.

[2016-09-22 10:18] #546 closed

[2016-10-11 07:23] unoebauer commented on #654
Do we still need this? I agree conceptually with you that setting the weight or energy of the packet to 0 is the cleaner approach to discard virtual packets. However, I am wondering about cases where fluctuations in these parts of the spectrum ever become relevant.

[2016-10-11 12:09] yeganer commented on #654
The current implementation creates three possible 'states' for a bin. It's either zero meaning no packet at all, ~1e-100 meaning only discarded packets registered for the bin or it has an actual value.
The first two cases should be the same and currently one needs to have a cutoff to separate these.

There are two cases where this issue was relevant in the past.
1.  It makes comparing of the non-z

[2016-10-12 07:57] unoebauer commented on #654
Fine - I'd be in favour of merging.

[2016-10-17 10:14] HeloiseS opened #661 "undefined symbol: rpacket_get_energy"
Hello,

I just downloaded TARDIS and tried to run tardis_example but I get the following error:

  File "/usr/local/bin/tardis", line 4, in <module>
    from tardis import simulation, model
  File "/usr/local/lib/python2.7/dist-packages/tardis/model.py", line 13, in <module>
    from tardis.montecarlo import montecarlo
ImportError: /usr/local/lib/python2.7/dist-packages/tardis/montecarlo/montecarl

[2016-10-17 14:12] yeganer commented on #661
Hey HeloiseS,

looks like something went wrong during installation/compilation. It's difficult to debug this remotely.
Can you please answer the following questions:

- How did you download and install tardis (specifically which version did you download)
- How did you try to run the code?
- What's your OS and python version?

You can try to run `python setup.py install` in the git repository again

[2016-10-17 15:06] HeloiseS commented on #661
Hello yeganer,

Your solution worked, I managed to run tardis after uninstalling the pip version and installing the git version.

Thank you!

[2016-10-18 09:08] unoebauer commented on #661
Looks like this isssue is resolved. Closing

[2016-10-18 09:08] #661 closed

[2016-10-20 14:41] talytha opened #662 "Convergence problems and strong discrepancies in spectrum for abundance tomography application"
I wanted to verify the results I obtained in my bachelor thesis ("Abundance Tomography of SN2013dy") with the current master version of Tardis. I found strong discrepancies in the resulting spectra:

![abundance_tom_old_vs_new](https://cloud.githubusercontent.com/assets/22961286/19564380/aa3f261a-96e3-11e6-9f27-728f266c7ebd.png)

This seems to be caused by a much higher photospheric temperature in

[2016-10-20 15:09] ftsamis commented on #662
Could you please include your configuration file?

[2016-10-20 15:38] talytha commented on #662
We are pretty certain that the **old** Tardis version is f0bbeb72169a9171a928b0a774aad70d4d7e8e87.

The setup for the problem is in the attached zip file.

[config.zip](https://github.com/tardis-sn/tardis/files/542120/config.zip)

[2016-10-20 15:41] talytha commented on #662
Looking at the config YML file, it looks like we are using ``hold_iterations`` (which used to be called ``hold``). So, this feature is broken, right @ftsamis?

[2016-10-20 21:05] ftsamis commented on #662
The critical question: In your old run had you also renamed hold to hold_iterations and convergence to convergence_strategy in the configuration file?

If you didn't, you essentially ran tardis with the default convergence strategy mode which is `damped`.

The reason for that is that `convergence_criteria` was an invalid keyword at f0bbeb7 too, but what bit you was that the config_validator at tha

[2016-10-20 21:20] ftsamis commented on #662
With all that being said, hold_iterations is broken too, but in a more obvious way: it sometimes falls into an infinite loop, so it unfortunately doesn't have to do with it in your case.

[2016-10-21 08:51] unoebauer commented on #662
Hey, @ftsamis - thanks for clearing this up! Looks like this solves the mystery! In the following, I am showing two plots, comparing two calculations with the current master (802995170c1bceda3861649ae1df3a18eb0978c0) with the old reference calculation. Once, I am using the specific convergence strategy, which was in the old config (but apparently was ignored by Tardis) and in the other comparison,

[2016-10-21 16:26] ftsamis commented on #662
I have no idea why this looks encouraging, but I'm glad I helped. Does this mean we can close this (non?-)issue?

[2016-10-21 16:39] unoebauer commented on #662
Let's see what other people think before closing.

(@ftsamis - if you look at the second plot you'll see that given that the same convergence strategy is used, the results of the new Tardis version match the old calculations quite well)

[2016-10-25 08:05] unoebauer commented on #662
Some clarification is in order - we looked at the old TARDIS folders and modules again and it seems that we misidentified the TARDIS version we were using during the Bachelor thesis. It is **not**  f0bbeb7!

Unfortunately, we only have the egg module lying around and there were problems with the ``githash`` attribute of the TARDIS module on the MPA system before. So I am not sure, if we can easily

[2016-10-25 18:24] yeganer commented on #662
Looks like you solved it. Great work!

Fotis Tsamis <notifications@github.com> schrieb am Do., 20. Okt. 2016 23:20:

[2016-11-18 09:33] unoebauer commented on #3
PR #395 is completely unrelated to this. However, in the course of the plasma overhaul, zetas were automatically set to 1 whenever the temperatures outside the grids are encountered. See ```tardis/plasma/ion_population.py```:

[code]

Thus, this issue is resolved - closing!

[2016-11-18 09:33] #3 closed

[2016-11-18 09:38] unoebauer commented on #37
Closing due to inactivity

[2016-11-18 09:38] #37 closed

[2016-11-18 09:40] unoebauer commented on #44
As noted above, adiabatic losses cause this seeming imbalance. Closing this issue.

[2016-11-18 09:40] #44 closed

[2016-11-18 09:42] unoebauer commented on #58
This is very outdated - the seed is *actually* read from the YAML file - closing.

[2016-11-18 09:42] #58 closed

[2016-11-18 09:44] unoebauer commented on #62
This has been improved during the plasma overhaul and there don't seem to be any problems with this part any more. Closing.

[2016-11-18 09:44] #62 closed

[2016-11-18 09:48] unoebauer commented on #79
PR #450 has been merged - closing

[2016-11-18 09:48] #79 closed

[2016-11-18 09:55] unoebauer commented on #138
20 is the expected behaviour - closing

[2016-11-18 09:55] #138 closed

[2016-11-18 10:00] unoebauer commented on #139
A more detailed description of the virtual packet scheme is now part of the documentation (part of Monte Carlo primer section) - closing

[2016-11-18 10:00] #139 closed

[2016-11-18 10:01] unoebauer commented on #155
The configuration validator scheme has changed in the course of GSOC 2016. Closing

[2016-11-18 10:01] #155 closed

[2016-11-18 10:02] unoebauer commented on #156
Closing - will aggregate documentation issues in a TEP

[2016-11-18 10:02] #156 closed

[2016-11-18 10:08] unoebauer commented on #166
In fact, this is already possible (albeit not very intuitive) by specifying  ``T_inner`` and by setting ``hold_iterations``. Together with the photospheric velocity and the time since explosion, this specifies a constant input luminosity.

Feature request fulfilled - closing :)

[2016-11-18 10:08] #166 closed

[2016-11-18 10:12] unoebauer commented on #187
I am content with the possibility to write the full model to hdf (implemented by @ftsamis - thanks :) ). Once we have a clear idea whether we really need a "restart" capability, we may open another feature request/TEP.

Closing this one

[2016-11-18 10:12] #187 closed

[2016-11-18 10:13] unoebauer commented on #239
I am closing this one, since it should have been addressed by @ftsamis work. If not, please re-open, @ftsamis.

[2016-11-18 10:13] #239 closed

[2016-11-18 10:14] unoebauer commented on #241
Should be turned into a TEP...

[2016-11-18 10:16] unoebauer commented on #242
Closing this one since we have a dedicated TEP and the CARSUS (@mishinma) project.

[2016-11-18 10:16] #242 closed

[2016-11-18 10:17] unoebauer commented on #243
Closing since it is outdated (c.f. DALEK and @yeganer's emulator project instead)

[2016-11-18 10:17] #243 closed

[2016-11-18 10:18] unoebauer commented on #249
Deprecated - addressed by a dedicated TEP and the GSOC 2016 project of @karandesai-96.

Closing

[2016-11-18 10:18] #249 closed

[2016-11-18 10:19] unoebauer commented on #264
Should become a TEP....

[2016-11-18 10:20] unoebauer commented on #331
Outdated - the concept of a ``runner`` class has been realized.

Closing

[2016-11-18 10:20] #331 closed

[2016-11-18 10:21] unoebauer commented on #348
Will be addressed by @chvogl soon-to-come PR

[2016-11-18 10:21] unoebauer commented on #366
Closing this due to inactivity - should not have been an issue in the first place

[2016-11-18 10:21] #366 closed

[2016-11-18 10:25] unoebauer commented on #376
Ok - the our MO seems to be to always suggest a ``git clean -ndfx`` followed by ``git clean -dfx``. This seems to have solved (almost?) all such build related problems - this will end up on the documentation.

Closing

[2016-11-18 10:25] #376 closed

[2016-11-18 10:26] unoebauer commented on #383
Closing due to inactivity and since ``git clean -dfx`` seems to have worked

[2016-11-18 10:26] #383 closed

[2016-11-18 10:29] unoebauer commented on #390
We should still try to address this issue.

As a workaround, the ``git clean -dfx`` approach helps...
**WARNING** this will delete all files which are currently not under version control, so be careful! You can inspect the files that would be deleted by this operation with ``git clean -dfxn``

[2016-11-18 10:30] unoebauer commented on #408
Things have changed - no longer relevant.

Closing

[2016-11-18 10:30] #408 closed

[2016-11-18 10:31] unoebauer commented on #417
Move to documentation TEP (FAQ) section

[2016-11-18 10:31] #417 closed

[2016-11-18 10:33] unoebauer commented on #427
turn into a TEP

[2016-11-18 10:33] #427 closed

[2016-11-18 10:35] unoebauer commented on #442
Hi @ftsamis - have you done anything about this while checking out the convergence strategies?

[2016-11-18 10:37] unoebauer commented on #443
A note on the documentation is sufficient - no need to act.

Closing

[2016-11-18 10:37] #443 closed

[2016-11-18 10:44] unoebauer commented on #473
Let's try to close this issue by adopting #476!

[2016-11-18 10:50] unoebauer commented on #492
I've stumbled upon this when gettint TARDIS ready for MPA's batch system. All the interesting output ends up in the stderr log file. Not a major hindrance but an annoyance.

[2016-11-18 10:51] unoebauer commented on #505
@chvogl - please comment

[2016-11-18 10:52] unoebauer commented on #506
The relevant PR was merged last week - closing!

[2016-11-18 10:52] #506 closed

[2016-11-18 11:01] unoebauer commented on #521
With the current config system, this example file still crashes
[code]

Still some work to do :)

[2016-11-18 11:04] wkerzendorf commented on #521
The example files should be deleted in the data directory

[2016-11-18 11:04] unoebauer commented on #550
Still relevant? - if so, let's fix it and be done with it

[2016-11-18 11:05] unoebauer commented on #552
@chvogl - please comment - you've encountered this (or a similar) issue

[2016-11-18 11:09] unoebauer commented on #553
If I am not mistaken, simple stream redirecting (such as ``tardis config.yml spec.out > log.txt``) does also not work trivially. Something to think about

[2016-11-18 11:10] unoebauer commented on #556
@chvogl is working on this

[2016-11-18 11:11] unoebauer commented on #560
@yeganer - has this issue been fixed?

[2016-11-18 11:12] unoebauer commented on #568
Looks like this has been fixed - Closing! (@yeganer - reopen if I am wrong)

[2016-11-18 11:12] #568 closed

[2016-11-18 11:14] unoebauer commented on #579
Seems to still be WIP... (right @ftsamis?)

[2016-11-18 11:16] unoebauer commented on #616
Is this fixed?

[2016-11-18 11:18] unoebauer commented on #624
Status?

[2016-11-18 11:18] unoebauer commented on #633
Status?

[2016-11-18 11:19] unoebauer commented on #646
Status?

[2016-11-18 11:20] unoebauer commented on #654
Will be dealt with once the testing framework is fully operational

[2016-11-19 01:18] ftsamis commented on #442
This code has been completely rewritten as part of #652, so we should close this issue after the PR gets merged.

[2016-11-19 01:29] ftsamis commented on #521
@wkerzendorf I was thinking the same, but on the other hand, I prefer having the example yml file version controlled, rather than in an arbitrary zip file somewhere.

Would it be a good idea now that we have https://github.com/tardis-sn/tardis-atomdata to change the documentation a bit so it directs users to fetch the yml from tardis-sn/tardis branch and the atom data from the tardis-sn/tardis-ato

[2016-11-19 01:32] ftsamis commented on #579
While the work is there, the merging is WiP, so yes, I'll close this whenever #652 reads "Merged"

[2016-11-19 01:42] ftsamis commented on #624
#652 removes duplicate information storing in the configuration object and stores the properties as provided. So, for quantities that would be a `{'start': ..., 'stop': .., 'num': ...}` dict.

This can be closed whenever #652 is merged.

[2016-11-19 01:43] ftsamis commented on #633
This is still an issue. Let's please fix it after #652 is merged or as part of it.

[2016-11-19 01:44] ftsamis commented on #646
Still a design issue, probably requiring some discussion in a future meeting.

[2016-11-19 02:01] ftsamis commented on #616
I don't believe this is something to be changed. Implicit tilde path expansion is usual in shells but not in Python [1].

Given that calling `$ tardis ~/tardis_example/tardis_example.yml` from a bash shell works just fine (since the shell does the expansion) I believe that the user should manually do the expansion inside Python if needed.

[1]: For example `open()` throws the same exception.

[2016-11-19 03:09] karandesai-96 commented on #616
@ftsamis The idea is to make things uniform, then we should remove the exapnsion support from certain methods where it exists.

[2016-11-19 10:23] wkerzendorf commented on #521
@ftsamis - the example file will likely go away and unseres will only download the atomic data file and look at examples in the documentation

[2016-11-19 14:17] wkerzendorf commented on #616
@karandesai-96 can you write an expandpath/user function and replace all other calls in tardis with that? (the ones that make sense)

[2016-11-20 15:25] ftsamis commented on #646
A TEP009 is proposed at https://github.com/tardis-sn/tep/pull/15 with a detailed approach for improving the convergence strategy implementation.

[2016-11-21 08:25] unoebauer commented on #616
I tend to agree with @ftsamis...

[2016-11-25 10:28] yeganer opened #672 "[Integration Tests] Merge 'generate_reference_path' and 'reference_path'"
These two options should be merged as reference data will be generated in a subdirectory with the githash anyway.

[2016-11-25 10:32] yeganer opened #673 "[Integration Tests] Add plot_function to 'model_quantities'"
The idea is to compare the data and run the plotting function in only one test.

Additionally one could add `model_scalars` as a 2nd fixture for all scalars.

[2016-11-29 07:50] xennygrimmato opened #675 "ImportError while creating environment using conda-env - cannot find args_func"
I am following the instructions specified [here](http://tardis.readthedocs.io/en/latest/installation.html).
Running `conda-env create -f tardis_env27.yml` gives me the following error traceback:

[code]
Is there something that's missing from the docs that I need to do?
Also, is there a reason why Anaconda is recommended as compared to `virtualenv`?

[2016-11-29 08:54] yeganer commented on #675
To me this looks like a problem with conda, not with the instructions.

- Is your conda up to date?
-  Can you install software manually using anaconda? `conda install numpy` for example

[2016-11-29 09:05] xennygrimmato commented on #675
- Yes, my conda is up to date.
- Yes, I can.

This is a problem with conda: https://github.com/conda/conda/issues/3148

[2016-11-29 12:29] yeganer commented on #675
Having a brief look at the issue you linked I'd suggest to downgrade conda. From the issue it looks like conda 4.1 should work. On my machine I have conda 4.2.13 installed and no problems.

[2016-11-29 13:33] xennygrimmato commented on #675
@yeganer I have created a `virtualenv` instead and `python setup.py build` ran successfully.
Can you suggest something that I can run to make sure that my `virtualenv` is properly working?

[2016-11-29 13:40] xennygrimmato opened #676 "Download button for configuration file doesn't refer to any external file"
I am following the Quickstart Guide and trying to run TARDIS. On the [Configuration File](http://tardis.readthedocs.io/en/latest/configuration/configuration_old.html#config-file) documentation page, the `img` for the download isn't linked to an external config file.

[2016-12-01 09:41] unoebauer commented on #676
Yes, you are right. For the time being, just take it from ``docs/examples/tardis_example.yml`` in your tardis source directory.

[2016-12-05 21:01] #676 closed

[2016-12-16 18:31] ftsamis opened #679 "Automatically convert and store ranges as linspaces"
Similar to what we do with quantities, which we now convert to `astropy.unit.Quantity` instances with a yaml resolver and constructor, should we also automatically convert ranges, currently expressed as `{'start': ..., 'stop': ..., 'num': ...}` dicts to `numpy.linspace`s? Most of the classes that take such ranges as parameters, eventually convert the dict to a linspace.

This could be easily done

[2016-12-16 18:43] ftsamis opened #680 "Many docstrings are inconsistent with the numpydoc format"
Using the numpydoc format allows for type hinting in PyCharm and easy linking to other docstrings. However, in many places the docstrings violate this format, breaking the type hinting for PyCharm.

An example:
[code]

Here, the keyword "Parameters" is followed by a colon, immediately breaking type hinting, and furthermore the parameter types start with a "~", which is unnecessary and also breaks

[2016-12-17 02:43] ftsamis opened #681 "Unit assumptions in montecarlo.pyx"
In every level above montecarlo.pyx we work with `astropy.units.Quantity`s. This is a great way for users to provide quantities in their preferred unit or multiple of unit. That also means that in the transition between Python and C (Quantity objects to plain doubles) which is currently coded in the `montecarlo.pyx` module, extreme care should be taken to always convert quantities to the desired u

[2016-12-20 14:35] ftsamis commented on #442
Fixed as part of #652.

[2016-12-20 14:35] #442 closed

[2016-12-20 14:39] ftsamis commented on #579
Fixed as part of #652.

[2016-12-20 14:39] #579 closed

[2016-12-20 14:41] ftsamis commented on #624
Fixed as part of #652. Shift the linspace discussion in #679.

[2016-12-20 14:41] #624 closed

[2016-12-20 14:45] ftsamis commented on #681
This can be solved in these steps:

1. Ensure that explicit unit conversions to the desired unit take place in every quantity access in montecarlo.pyx
1. Write tests to check if the montecarlo indeed works the same if we pass it a model with different units/multiples.
1. (Optional) Remove unit conversions in the rest of the code. (mainly `Radial1DModel`)

[2016-12-21 01:39] flyduck2008 opened #683 "spectra resolution"
Hi ! I am a tardis user. These days I am trying to get sequence of spectra. But I meet two questions.
1) I think I set enough numbers of packets. (num: 1.e+6 , last_no_of_packets: 1.e+5, no_of_virtual_packets: 10)But the resolution isn't as good as your paper's spectra. Is that anything wrong?
2) I found there is a jump between day 5 and 6. I just change the time. Could you please have a look at

[2016-12-21 22:12] vedantrathore commented on #100
Can I work on this issue? Can someone point me on where to start with this?

[2016-12-22 11:39] ayushjain19 opened #684 "ValueError while running the example given in the QuickStart Guide"
Hi! I am new to Tardis. I was trying to run an example which is given in the [QuickStart Guide](http://tardis.readthedocs.io/en/latest/running.html).

The example directory with the configuration file can be found [here](http://opensupernova.org/~ftsamis/tardis_example.tar.gz).

When I run the command `tardis tardis_example.yml output_spectrum.dat`, I get the following error:

[code]

Moreover on

[2016-12-22 16:42] wkerzendorf commented on #684
@ftsamis problem in the new components?

[2016-12-22 19:27] ftsamis commented on #684
@ayushjain19 I can't reproduce this. Are you sure you are running the tardis_example file you linked?

**Steps taken:**
I created a new fresh environment following step-by-step the instructions at: http://tardis.readthedocs.io/en/latest/installation.html#installing-tardis-with-anaconda-recommended (with the development tardis version) and also followed step-by-step the quickstart instructions at:

[2016-12-22 19:44] ftsamis commented on #100
@vedantrathore Given that you have installed and successfully ran the tardis_example following the directions [here](http://tardis.readthedocs.io/en/latest/installation.html), you can see how TARDIS produces log messages and try to colorize them with a different colour depending on the type of the message (info, warning, error, debug).

Feel free to ask in [gitter](https://gitter.im/tardis-sn/tard

[2016-12-22 20:40] ftsamis commented on #684
@ayushjain19 As I told you in gitter, it seems you are not inside a conda environment, which means you probably have different library versions installed than those TARDIS requires.

Please paste the output of this command:
`python -c "import numpy, pandas; print 'np:', numpy.__version__; print 'pd:', pandas.__version__"`

[2016-12-23 11:06] yeganer commented on #684
@ayushjain19 Another thing would be running the tardis test suit on your system and see if the tests pass and if not, which ones fail.

[2016-12-23 16:58] ayushjain19 commented on #684
OK. So, I researched to some extent. I am using **virtualenv**, and not conda environment.
1. Initially, some libraries were installed globally on my system and not in virtualenv which may have accounted to that error.

2. Now, I have installed the libraries in virtualenv and the result to the command `python -c "import numpy, pandas; print 'np:', numpy.__version__; print 'pd:', pandas.__version__

[2016-12-23 18:20] ftsamis commented on #684
You get this error because you somehow switched to an older version of TARDIS. Reinstall TARDIS in your environment using the development version.

`pip install git+https://github.com/tardis-sn/tardis`

[2016-12-23 18:23] ftsamis commented on #684
Also, it seems to me that the first time you didn't run tardis in either virtualenv or conda while in your last comment it's clear that you used virtualenv.

[2016-12-24 09:35] ayushjain19 commented on #684
Its done! The example ran successfully. Thanks a lot @ftsamis @yeganer @wkerzendorf  for guiding me through.

[2016-12-24 09:35] #684 closed

[2016-12-24 23:57] ftsamis commented on #622
This issue has probably become irrelevant after #652 was merged.

[2016-12-27 09:05] Sidhhant commented on #681
Hey @ftsamis ,
Can I contribute to this issue ?  If then please guide me where to start from?

[2016-12-27 14:32] ftsamis commented on #681
@Sidhhant Assuming you have [installed](http://tardis.readthedocs.io/en/latest/installation.html) TARDIS and successfully [ran the example](http://tardis.readthedocs.io/en/latest/running.html), you can have a look at the code and try to understand the problem as described in my comments above. If you have any questions feel free to ask in gitter.

[2016-12-28 10:00] unoebauer commented on #683
Having looked at the spectra and your config, let me make a few remarks:

* assuming that the only option you changed is the time since explosion, I am not surprised that you see prominent changes in the spectral time series. Since the photosphere will be still at the same velocity, its actual size has increased (R_phot = v_phot * t_exp). The requested luminosity, emerging from the ejecta is also

[2016-12-31 10:03] livnehra commented on #505
Hi,

Just ran into this issue.
Confirming [Ca 2] works, but [Si 2] raises LinAlgError: Singular matrix.

[2017-01-01 11:42] chinmay0301 opened #685 "undefined symbol: rpacket_get_energy while running the example"
Hello, I just installed tardis and was trying to run the example, but I got the above error on typing this  command in the terminal `tardis tardis_example.yml output_spectrum.dat`

[2017-01-01 13:02] #685 closed

[2017-01-01 13:03] chinmay0301 commented on #685
Installed the development version, works with that in 16.04, but the example doesnt work with the stable version.

[2017-01-02 11:14] chinmay0301 commented on #681
@ftsamis  , hello I have installed TARDIS and have executed the example also. I am new to cython and the tardis code base, if possible can I try contributing to this issue?

[2017-01-02 20:26] ftsamis commented on #681
No need for permission to contribute. See how astropy quantities work, locate any instances where there is a quantity in montecarlo.pyx which is not explicitly converted to a specific unit, and present your findings here, or even better create a PR fixing them.

[2017-01-04 20:05] chinmay0301 commented on #681
storage.spectrum_virt_start_nu = runner.virtual_spectrum_range.stop.to('Hz', units.spectral()).value
    storage.spectrum_virt_end_nu = runner.virtual_spectrum_range.start.to('Hz', units.spectral()).value
    storage.spectrum_delta_nu = runner.spectrum_frequency.to('Hz').value[1] - runner.spectrum_frequency.to('Hz').

These are the instances I found.

[2017-01-04 20:14] ftsamis commented on #681
@chinmay0301 I believe the `storage.spectrum_virt_start_nu` and `storage.spectrum_virt_end_nu` are already explicitly converted to `Hz`. `spectrum_frequency` indeed lacks conversion. Feel free to start a PR (pull request) which is the proper way to demonstrate changes in the code.

[2017-01-05 07:30] chinmay0301 commented on #550
hi is this issue still relevant?

[2017-01-08 04:48] mangalutsav commented on #679
@ftsamis is anyone else doing this?

[2017-01-09 09:10] #622 closed

[2017-01-09 09:35] chvogl commented on #505
This problem is due to errors in the currently used atomic dataset.
The dataset contains levels that do not have any allowed radiative transitions (upwards- or downwards). As a result the rate matrix can contain rows of zeros, which causes a Singular matrix error when trying to solve the linear system of equations. For species such as [Ca 2], which do not have such levels, the NLTE excitation solv

[2017-01-09 09:48] chvogl commented on #505
The first step to resolve this issue would be to check if atomic data files created with the new Carsus database also feature the above mentioned duplicate levels.

[2017-01-10 09:18] ftsamis commented on #679
@mangalutsav This needs to be discussed with the TARDIS developers first in order to decide if it is something that we really want to do. For now it is just a proposal.

[2017-01-10 09:42] yeganer commented on #679
I think it's worth doing and it shouldn't be a difficult change.

If we want to be really fancy, we can subclass `np.ndarray` and add `start`, `stop` and `num` during initialization.

@mangalutsav Feel free to show us a PR

[2017-01-10 12:08] ftsamis opened #687 "Configuration version 2"
This is to collect and discuss all the changes that could be implemented in the configuration file syntax and would require a `tardis_config_version` bump due to backwards incompatibility with the current configuration schemata.

Feel free to edit adding ideas and/or comment on the existing ones.

**Proposed:**
1. _YAML implicit resolver for ranges_ (related to but not the same as #679)
    Instea

[2017-01-10 16:50] chinmay0301 commented on #687
we can keep a default format to dodge the edgy case. `start..stop[:num] [unit_start] [unit_stop]`. If the units of the starting and ending wavelengths are same, only `unit_start` is specified, one can use that for both the start and stop wavelengths. Else, if both units are specified, we use them accordingly.

[2017-01-12 14:19] deep110 commented on #241
@wkerzendorf @unoebauer  is this issue still open to work upon. If so, can I work on it.

[2017-01-13 12:47] unoebauer opened #690 "GUI does not work with current TARDIS version"
Since the GUI was originally designed to work with a ``model`` object but since TARDIS now returns a simulation object, it can't start but crashes with the following Error message:

[code]

_Note: this is a GSoC 2017 project related issue_

[2017-01-13 20:28] vedantrathore commented on #690
@unoebauer I would like to work on this, could you give me a few pointers to start with

[2017-01-13 20:32] wkerzendorf commented on #690
@vedantrathore I would suggest you stick to one topic and move to a new one - once you have solved it.

[2017-01-13 20:36] vedantrathore commented on #690
Ok sure @wkerzendorf

[2017-01-13 20:54] deep110 commented on #672
@wkerzendorf @yeganer I would like to work on this issue, can you point me where, to start with it.

[2017-01-13 23:29] deep110 commented on #690
@wkerzendorf @unoebauer I have submitted a PR #691 on this issue. Can you look into it.

[2017-01-20 10:08] ftsamis opened #695 "Unused configuration properties in configuration"
Currently the following `convergence_strategy` properties are never used in the code:

When type is `specific`:

- `convergence_strategy.threshold`
- `convergence_strategy.fraction`

When type is either `damped` or `specific`:

- ` convergence_strategy.lock_t_inner_cycles`
- `convergence_strategy.damping_constant`

We should either remove them or use them (probably the first one for threshold and

[2017-01-22 09:36] mohit9727 commented on #695
@ftsamis  I would like to contribute to this, can you tell me where to begin?

[2017-01-22 11:40] ftsamis commented on #695
It is not yet clear if we should remove those properties or try to use them, so this issue is currently under discussion. I'd suggest picking another issue to work on.

[2017-01-25 14:16] priyanka303 commented on #679
@ftsamis is anybody else is doing this ??

[2017-01-25 20:02] ftsamis commented on #679
I am not aware of any PR on this. Feel free to demonstrate your approach with a PR.

[2017-01-26 17:16] ftsamis commented on #681
Closing this for now since #686 got merged, although it's not future-proof (no tests).

[2017-01-26 17:17] wkerzendorf commented on #681
This is a broader issue and I'd like to keep it open.

[2017-01-26 19:12] nitinkgp23 commented on #680
Hey, I am newcomer here and I would like to work on this issue. Can someone help me in going forward with this?

[2017-01-26 19:56] nitinkgp23 commented on #633
@ftsamis I am a newcomer here, and I would like to work on this issue. Can you help me in getting forward with it?

[2017-01-27 08:15] yeganer opened #698 "Add flexibility to callback mechanism of Simulation object"
Requested feature:
Let the callback function know if it is ran after plasma or after the spectral run (the last run/iteration).

Possible implementations:
- Add a separate set of callback functions that are executed after the last iteration `Simulation.add_last_callback(...)` or something similiar
- Modify the existing mechanism to check if the function accepts `last` as a kwarg or if it accepts `

[2017-01-27 09:01] yeganer commented on #680
What questions do you have?

[2017-01-27 10:23] yeganer opened #699 "[OpenMP] Use OMP_NUM_THREADS by default"
If the configuration is missing `montecarlo.nthreads` use the OpenMP default value for parallelization.
On the C level this is already possible by calling `montecarlo_main_loop` with `nthreads=0`.

All that is left to do is change the default value in the yaml schema and verify this is working as expected.

[2017-01-27 12:34] chvogl commented on #348
Fixed by PR:#670

[2017-01-27 12:34] #348 closed

[2017-01-27 14:06] ftsamis commented on #698
I originally wanted to add a parameter in the callback signature named `iteration_number`, but I didn't because I thought that it would be redundant since we are already passing the `Simulation` object as the first parameter of the callback.

I would say that if the callback wants to only (not) run after the last iteration it can do `if simulation.iterations_executed ==(/!=) simulation.iterations`

[2017-01-27 14:09] ftsamis commented on #633
Feel free to ask any specific questions.

[2017-01-27 14:18] ftsamis commented on #698
Regarding your second implementation proposal: If we choose to go this way, I think it's acceptable to require a specific callback signature (i.e. just pass `last` regardless), instead of checking the callback. Event-driven libraries do this all the time.

[2017-01-27 20:42] yeganer commented on #679
@ftsamis Can you please edit the Issue description to more clearly reflect the changes required to implement this feature request and to differentiate it from #687.
I think there is some confusion going on between the goals of the issues.

Am I right in thinking the implementation of this will expect a dict with `start, stop, num, (unit)` keys and should return a `np.linspace`?
#687 on the other h

[2017-01-27 20:56] ftsamis commented on #679
@yeganer Added an example, hope that makes the goal a bit more clear. And yes, you are right about the purpose of the two issues.

[2017-01-28 17:50] ftsamis opened #702 "Replace MockRegexPattern with proper regular expressions"
[MockRegexPattern](https://github.com/ftsamis/tardis/blob/152c3f74714ae3515646122be2012ca3b12cd339/tardis/io/util.py#L35-L60) is a class introduced to easily find (match with) strings that represent astropy Quantities in the YAML configuration.

The main problem with matching Quantities is units. We could either be too coarse, matching everything that looks like `<number><space(s)><string>` to a Q

[2017-01-28 18:27] yeganer commented on #702
I'm not sure but how the `!object` syntax in yaml works but essentially we could require all quantities to be marked with `!quantity` for example. This would be explicit but it won't be backwards compatible.

[2017-01-28 18:36] ftsamis commented on #702
This is actually possible now too. What the implicit resolver (and therefore the regex) does is understand that without the tag. I don't think we should make the tag a requirement and break compatibility since we don't currently have any other property type resolving of which would be ambiguous with the resolving of quantities. It would also take off from simplicity in the syntax.

[2017-01-28 18:54] yeganer commented on #702
It is possible to do both, right? So we could add a tag and an implicit resolver?

[2017-01-28 18:59] ftsamis commented on #702
We already have both. A tag: [`!quantity`](https://github.com/ftsamis/tardis/blob/152c3f74714ae3515646122be2012ca3b12cd339/tardis/io/util.py#L92) and [an implicit resolver](https://github.com/ftsamis/tardis/blob/152c3f74714ae3515646122be2012ca3b12cd339/tardis/io/util.py#L93) so that we don't **have to** provide the tag every time

[2017-01-28 19:05] yeganer commented on #702
Got it, thanks. I only had a quick look at the YAML constructor stuff and didn't know this 'interaction'.

[2017-01-28 23:18] ftsamis commented on #702
And some early metrics:
Pre #703, running `tardis/model/tests/test_base.py` took 18sec while with #703 it only took 8sec with cProfile showing that the millions of `MockRegexPattern.match` and `quantity_from_str` (mostly failed) calls were taking up about 60% of the total cpu time.

`MockRegexPattern.match` was called 10110060 times and `quantity_from_str` 5055609 times for just one unit test.

[2017-01-29 08:49] chinmay0301 commented on #702
Because of the MockRegex class, I was facing difficulty in solving the issue #687. As when I tried creating a constructor for specifying `spectrum` , as it was being shadowed by the MockRegex class

[2017-01-29 10:28] yeganer commented on #702
@chinmay0301 The first step for solving #687 is #679. Were you successful with that?

[2017-01-29 13:29] ftsamis commented on #702
@chinmay0301 I highly doubt that the `MockRegexPattern` class itself has the capability of shadowing anything at all, especially constructors, which are unrelated to this class. I have written a detailed review in your PR, pointing to you the actual problems with your approach. Have a look if you haven't yet.

[2017-02-03 14:25] saurvs commented on #699
Hello I'm a new contributor here and I'd like to take a stab at this.

[2017-02-03 15:38] saurvs commented on #698
Can I work on this? I think adding a `finished` attribute would be the way to go as @ftsamis pointed out there is another use for it, changing the callback function signature might break existing code.

[2017-02-04 11:00] yeganer commented on #698
@saurvs Sure, go ahead and make a PR.

[2017-02-05 20:10] yeganer opened #707 "[Documentation] Fix installation guidelines"
I just had a quick look at our documentation and noticed several issues:

- Some places still suggest `pip install tardis-sn` in some way or another. This should be fixed to point to the development version
- We have guides for installing the tardis requirements via `pip-requirements`. Do we want to support pip at all or anaconda all the way?

[2017-02-09 14:02] unoebauer commented on #707
I lean towards only supporting anaconda.

[2017-02-10 11:05] unoebauer commented on #683
I am closing this issue, since it doesn't point to any particular problem in Tardis. Re-open, if you feel otherwise, @flyduck2008

[2017-02-10 11:05] #683 closed

[2017-02-10 11:17] unoebauer commented on #675
Looks like using the appropriate conda version solves this issue - closing.

[2017-02-10 11:17] #675 closed

[2017-02-10 11:24] unoebauer commented on #616
We'll close this for now, since this is not critical and as @ftsamis pointed out, tilde expansion is the job of the shell and not of python.

[2017-02-10 11:24] #616 closed

[2017-03-04 12:10] yeganer commented on #687
Spectrum should be a quantity linspace after the configuration validation

Do we want to assume units or always explicitly require them?

[2017-03-15 16:22] suyashgupta20 commented on #673
@yeganer, @karandesai-96 I am interested in solving this issue. Till now I have gone through the _test_integration.py_ file and understand how the plots are forming at the server and will make a PR soon for this Issue.

[2017-04-07 20:40] manolis07gr opened #722 "Issue with running custom density and abundance profile"
Dear all,

I am trying to run a properly formatted TARDIS spectrum model for a given custom density and abundance profile taken from an 1D radiation hydrodynamics simulation. Attached there is a zipped file of the csm_sn.yml file and the custom abundance and density profile models I am using. I keep getting the following error:

tardis.simulation.base - INFO - Luminosity emitted = 0.00000e+00 erg

[2017-04-08 16:48] yeganer commented on #722
If I read the log correctly, then no radiation escapes the photosphere,
My guess is that the density is specified in the wrong units OR there is a bug in the code. However I think reading the configuration is part of our integration tests.

This is a sample file, of how the structure should look like:
[https://github.com/tardis-sn/tardis/blob/master/tardis/tests/integration_tests/w7/densities.dat]

[2017-04-10 08:39] unoebauer commented on #722
After looking at the config and density files you have attached, I am quite sure that @yeganer pointed into the right direction. For 76 days, the density profile you specified seems to be much too high. A rough integration of the profile yields an ejecta mass of ~1e16 Msun!

Tardis will read in the density file, interpret it as providing the profile at the time specified in the first line of the f

[2017-04-10 08:48] unoebauer commented on #722
I am also wondering if it was your intention to place the photosphere at vphot = 32 km/s? Provided that you fix the density issue I suspect that the spectrum will still look quite odd. Being located so deep inside the ejecta, the photospheric surface is quite small compared to the overall size of the ejecta. The only way to accommodate the emergent luminosity request is by imposing a very high pho

[2017-04-11 18:59] manolis07gr commented on #722
[csm.tar.gz](https://github.com/tardis-sn/tardis/files/914379/csm.tar.gz)

Dear all,

First of all thank you so much for your helpful reply and insights! I had a bug in my python code converting the (Eulerial) radiation hydrodynamics profiles I had into the file formats required by TARDIS after I "homologize" the SN ejecta (plus circumstellar matter around the SN ejecta where the collision takes p

[2017-04-12 10:02] unoebauer commented on #722
Looking at the files you've attached, in particular at the spectrum, it looks as if my second suspicion came true. Since you did not specify a ``v_inner_boundary`` in the yml file, TARDIS set the photosphere to the innermost cell of the discretization specified in the density file (i.e. to 39km/s). Since you requested a very high output luminosity and since the photosphere is so small, TARDIS conv

[2017-04-12 10:14] unoebauer commented on #722
Concerning the density profile it is quite straightforward: in the density file itself, you specify the time since explosion corresponding to the profile defined in the file. In the yml config file you give the time since explosion for which you want TARDIS to calculate a spectrum. Any difference between these two times is accounted for internally by TARDIS via a homologous expansion/compression w

[2017-04-12 10:18] unoebauer commented on #722
One final remark with respect to the density profile you set up: it has a very peculiar density spike in the last, outermost cell. Here the density is ~1e2 times higher than in the adjacent cells. Thus, the cell will contain quite a bit of mass and will most likely dominate spectra formation in TARDIS. This seems a bit odd to me...

[2017-04-12 14:23] manolis07gr commented on #722
Hi Unoebauer,

Thanks for your helpful explanation on the reference time-scales. As far as your question goes on the outer density spike I wanted to say that this is set there in purpose (I expect the photosphere to be out there unless I should also add some layers on top of that). This profile is taken by a simulation in which the SN ejecta rammed and interacted with a circumstellar (CSM) shell.

[2017-04-12 14:30] manolis07gr commented on #722
Oh I see, the units where missing from v_inner_boundary (km/s). Now I set:

        v_inner_boundary: 100 km/s  # WAS 11000 km/s
        v_outer_boundary: 2205 km/s # WAS 20000 km/s

Since setting v_inner_boundary to be as high as the v in the outer shell in the density file wouldn't run, you think these are appropriate choices for these two models?

And just to clarify, I am continuing by setting

[2017-04-12 15:14] unoebauer commented on #722
Hi @manolis07gr - to clarify, the ``luminosity_requested`` is actually interpreted by TARDIS as the luminosity emerging from the top of the ejecta/atmosphere. In general, this will be lower than the luminosity which is injected at the photosphere, since part of the radiation is backscattered onto the photosphere and thus lost. In the plasma iterations TARDIS will try to adjust the temperature at t

[2017-04-12 16:26] manolis07gr commented on #722
Hi Uno,

Then I am still confused as to what I should set luminosity_requested to? Do I just comment it out? I try that and get (of course) a very dim (flat, no features) spectrum. I also added your suggested parameters in addition.

I know this is new territory but my hope is that TARDIS may shed some light into spectra coming from interaction. One feature I am aiming to get is a non-LTE hydrogen

[2017-04-12 16:48] ssim commented on #722
Hi Manos

Just to respond on a couple of points there. I think it's correct that you should just remove (comment out) the "luminosity_requested" variable if you specify the inner boundary temperature instead (Uli or Stefan will know this better than me, however).

Unfortunately, the current version of TARDIS will not do a good job of simulating the H Balmer emission lines: specifically, emission d

[2017-04-12 16:58] manolis07gr commented on #722
Hi Stuart,

Good to hear from you and thank you on these points. Yes, recombination will be a dominant process happening in the context of strong SN Ejecta - CSM interaction and ideally it would be great to be able to model this with TARDIS in the near future though I am not quite sure of the code development changes that need to go along with that. Currently I am trying to use a mix between TARDI

[2017-04-13 08:18] unoebauer commented on #722
Hi Manos,

as long as you've set ``damping_constant: 0.0`` and  ``initial_t_inner``, TARDIS has no freedom with respect to choosing the input luminosity at the photosphere. It will be:

[code]

Due to back-scattering onto the photosphere, not all of this input luminosity will be able to escape from the top of the atmosphere. However, if there is a significant difference between input and emergent

[2017-04-20 16:38] manolis07gr commented on #722
Dear all,

Sorry to bother you again with this issue but I had yet another question with regards to the role of v_inner_boundary and v_outer_boundary inputs that I want to understand better. When I convert my rad hydro model to the TARDIS friendly format (density.txt) as discussed above, I am only using data up to optical depth of 0.001 but I also track the location of the photosphere at optical d

[2017-04-20 16:39] manolis07gr commented on #722
Ooops, forgot the attachment! Here it is
[newSNdata.tar.gz](https://github.com/tardis-sn/tardis/files/944601/newSNdata.tar.gz)

[2017-04-21 09:49] unoebauer commented on #722
Hi Manos,

from a pure technical standpoint, ``v_inner_boundary`` and ``v_outer_boundary`` simply define the extent of the computational domain TARDIS works on. At v_inner_boundary radiation will be injected into the domain with a thermal frequency distribution and all radiation escaping through the outer boundary will be recorded and used to determine the emergent spectrum.

From a physical stand

[2017-04-21 15:47] manolis07gr commented on #722
[SNejecta.tar.gz](https://github.com/tardis-sn/tardis/files/947568/SNejecta.tar.gz)

Hi Uli,

Thank you so much for the detailed description of the code and the parameters. I was just naively confused as to why one needs to extract and upload an entire SN ejecta profile when TARDIS given the v_inner_boundary variable virtually ignores the stuff deep inside. I think you cleared up my confusion.

I

[2017-05-19 09:31] yeganer opened #725 "[Feature Request] Give Radial1DModel, MonteCarloRunner and BasePlasma access to the Simulation object"
I propose to add a new property to `Radial1DModel`, `MonteCarloRunner` and `BasePlasma` that stores a reference to the `Simulation` instance. I would call it `parent`.
This would, for example, allow an initialized MonteCarloRunner instance to do `self.parent.model.t_inner` to access the termperature of the model.

For the implementation I would use pythons `@property` and `@property.setter`. If th

[2017-05-19 09:45] unoebauer commented on #725
Please provide a clear motivation why this feature is needed.

[2017-05-19 12:00] yeganer commented on #725
From my point of view, there are two motivations:

1. Conceptually, there is a clear relationship between the each Class and the Simulation. Currently this relationship is only implemented one-way.

2. Allowing the access of the Simulation object and therefore the other parts of the simulation enables us to more easily access important values not part of the current class. Currently this is done b

[2017-06-05 11:09] yeganer opened #731 "[TEP005][WIP] Full implementation of the formal integral approach"
The full implementation of the formal integral approach consists of several sub-projects:

- [x] Basic Implementation (#726)
- [x] Refactor of spectrum class (#729)
- [x] Config Integration
- [x] Unittests
- [ ] Documentation (See #621)
- [ ] Verification
- [x] Electron scattering
- [x] Source function for macro atom

[2017-06-13 14:14] pfreddy commented on #690
I would like to ask if there has been any progress made in this issue?
The synthetic line identification of GUI would be crucial for my next study. Is there any other way to receive these information from a TARDIS model?

[2017-06-20 10:13] yeganer commented on #690
Sorry to be late to the party. The information is still available but might be stored at different locations now.

I'm not familiar with the GUI, so I can't help you there. I haven't tested PR #691 but from the conversation it looks like the result is working and there were only some issues with the naming convention preventing a merge into master.
Therefore you could try to merge that PR locally

[2017-06-20 11:04] pfreddy commented on #690
@yeganer Thanks for the reply! I changed the two lines mentioned in PR #691 and the error message about the unknown 't_rad' parameter disappeared! Now I get an other error message about 'iterations_max_requested' (according the comment of @deep110 in PR #691). After fixing that, I got a third one.
I continue this in PR #691.

[2017-06-21 07:33] yeganer commented on #690
@pfreddy Let's continue this here. I believe #691 was done by a GSoC applicant and won't be continued.

As I wrote in #691, I'm busy right now and won't have the time to fix the GUI myself. However I can help you fix it if you have questions as I'm very familiar with the code and the data structures.
Essentially what we did with our refactoring last summer was to split the old `model` into several

[2017-06-21 08:39] pfreddy commented on #690
@yeganer Thanks for the detailed description!
I hoped that there might be an easy way to solve for the GUI problem, but this is not the case. The solution is not urgent, at least, I will need the line info of my synthetic spectra for a paper in 3-4 weeks.

[2017-06-21 09:14] unoebauer commented on #690
@pfreddy - to get detailed information about specific line features, you don't necessarily need the GUI. All the information can be extracted interactively from the simulation object in an ipython session with a bit of boolean logic and re-indexing. You may want to have a look at the ``tardis_kromer_plot.py`` script in the ``tardisanalysis`` repository. It analyses the last packet interactions.

[2017-06-27 10:26] yeganer commented on #690
@unoebauer @pfreddy You should have a look at #720

[2017-07-04 14:42] unoebauer opened #760 "Formal Integral: spectrum is not cached"
When using the new Formal Integral feature, the integration is repeated every time the ``spectrum_integrated`` attribute of the runner is called. This is very time consuming and unnecessary. Instead, the spectrum should be calculated one during the first call of the attribute and then cached.

[2017-07-05 10:09] pfreddy commented on #690
@unoebauer @yeganer  Almost works, but the information about the last interactions still unavailable. The traceback is copied to #720.

[2017-07-05 14:46] pfreddy commented on #690
@unoebauer  I also checked the tardis_kromer_plot.py scipt. It might be a dumb question, but how/where should "compile Tardis" with the '' --with-vpacket-logging '' flag?

[2017-07-10 08:41] unoebauer commented on #690
@pfreddy - this is only necessary, if you want to diagnose the virtual packet spectrum. You are interested in stuff like:

- ``mdl.runner.last_line_interaction_in_id``
- ``mdl.runner.last_line_interaction_out_id``

which you then use to query the line list ``mdl.plasma.atomic_data.lines``. Here, ``mdl`` stands for the simulation object ``run_tardis`` returns.

BTW: - the with-vpacket-logging flag

[2017-07-11 09:02] pfreddy commented on #690
@unoebauer  Great, this is something I can use. Thank you!

Although, there is an other issue about GUI. I reinstalled the whole TARDIS with anaconda, but the recommended pyside package cannot be found (conda install pyside=1.2.1). It seems like to me that PyQt4 is no longer available with conda. However, interface.py and widgets.py do not work with PyQt5 - right? I tried to apply qt5 and rewrite

[2017-07-13 14:37] unoebauer opened #766 "Misleading nomenclature in packet diagnostic arrays"
When fixing the GUI as part of PR #765, I've noticed that the nomenclature in some of the packet diagnostic arrays is misleading. I am talking specifically about

- ``last_line_interaction_in_id``
- ``last_line_interaction_out_id``

These names suggest that the appropriate line information can be obtained by looking for the line with the correct ``line_id`` in the ``plasma.lines`` Dataframe (this

[2017-07-14 10:04] ssim commented on #690
If #765 merged, this can likely be closed.

[2017-07-27 08:54] #690 closed

[2017-08-01 13:52] unoebauer commented on #760
This is one of the loose ends that @yeganer may tie up.

[2017-08-01 13:56] unoebauer commented on #722
I am closing this since there is nothing fundamentally wrong with the custom density and abundance profiles and since the misconceptions have been cleared up during the conversion.

[2017-08-01 13:56] #722 closed

[2017-08-01 13:57] unoebauer commented on #702
I am closing this since there won't be anybody working on this in the foreseeable future.

[2017-08-01 13:57] #702 closed

[2017-08-01 13:58] unoebauer commented on #699
@yeganer -- is this still relevant?

[2017-08-01 13:59] unoebauer commented on #698
Closing this since there has been no activity since January.

[2017-08-01 13:59] #698 closed

[2017-08-01 14:03] unoebauer commented on #695
What should we do about this, @wkerzendorf, @yeganer? This seems to be an almost "cosmetic" change. Should we add this to 2.0 or abandon it?

[2017-08-01 14:04] unoebauer commented on #687
I'll close this one due to inactivity. Reopen if necessary.

[2017-08-01 14:04] #687 closed

[2017-08-01 14:11] unoebauer commented on #680
We may think about making an aggregate issue, collection everything related to coding style.

[2017-08-01 14:13] unoebauer commented on #679
Closing - reopen if necessary

[2017-08-01 14:13] #679 closed

[2017-08-01 14:14] unoebauer commented on #673
Closing due to inactivity

[2017-08-01 14:14] #673 closed

[2017-08-01 14:16] unoebauer commented on #662
Closing since it has been resolved!

[2017-08-01 14:16] #662 closed

[2017-08-01 14:17] unoebauer commented on #654
@wkerzendorf, @yeganer - thoughts on this? Should we merge this. Will require an update of reference data.

[2017-08-01 14:18] #647 closed

[2017-08-01 14:19] unoebauer commented on #646
Closing due to inactivity - reopen if necessary

[2017-08-01 14:19] #646 closed

[2017-08-01 14:21] unoebauer commented on #644
Closing - reopen if necessary!

[2017-08-01 14:21] #644 closed

[2017-08-01 14:24] unoebauer commented on #633
Closing due to inactivity - reopen if necessary.

[2017-08-01 14:24] #633 closed

[2017-08-01 14:25] unoebauer commented on #560
There have been no further reports about segfaults of this sort. Closing!

[2017-08-01 14:25] #560 closed

[2017-08-01 14:26] unoebauer commented on #556
@chvogl has introduced some unit tests for the C-part. Thus, closing this one!

[2017-08-01 14:26] #556 closed

[2017-08-01 14:29] yeganer commented on #560
@unoebauer To be fair, there hasn't been a big bulk of tardis runs either. As this bug has a very low probability of happening we cannot be sure. After this bug was discovered I ran my simulations with a modified version of tardis where this bug was fixed.

[2017-08-01 14:29] unoebauer commented on #553
@yeganer, @wkerzendorf - should this become a 2.0 milestone or should we abandon this?

[2017-08-01 14:31] unoebauer commented on #552
According to @wkerzendorf, this issue was not encountered during the many simulations @yeganer performed during his master project. Thus, I am closing this one. Feel free to disagree and reopen.

[2017-08-01 14:31] #552 closed

[2017-08-01 14:33] unoebauer commented on #534
Closing due to inactivity and lack of relevance.

[2017-08-01 14:33] #534 closed

[2017-08-01 14:35] unoebauer commented on #521
Let's clean up the tardis working tree for 2.0

[2017-08-01 14:36] unoebauer commented on #505
This is something for you @yeganer!!

[2017-08-01 14:38] unoebauer commented on #501
Closing due to inactivity

[2017-08-01 14:38] #501 closed

[2017-08-01 14:38] unoebauer commented on #498
Closing due to inactivity

[2017-08-01 14:38] #498 closed

[2017-08-01 14:40] unoebauer commented on #492
Closing this - #553 is still open after all.

[2017-08-01 14:40] #492 closed

[2017-08-01 14:42] unoebauer commented on #474
@wkerzendorf - what to do with this one? 2.0 stuff?

[2017-08-01 14:46] unoebauer commented on #451
Closing this one since ``git clean -dfx` is our generally agreed upon strategy.

[2017-08-01 14:46] #451 closed

[2017-08-01 14:49] unoebauer commented on #438
This should be fixed with the carsus project - something for @yeganer to explicitly check

[2017-08-01 14:50] unoebauer commented on #390
We have adopted the ``git clean -dfx`` strategy - closing.

[2017-08-01 14:50] #390 closed

[2017-08-01 14:50] #264 closed

[2017-08-01 14:51] #241 closed

[2017-08-01 14:51] unoebauer commented on #159
Thanks to @vg3095 no longer an issue.

[2017-08-01 14:51] #159 closed

[2017-08-01 14:52] unoebauer commented on #115
Closing due to inactivity - reopen if necessary.

[2017-08-01 14:52] #115 closed

[2017-08-01 14:53] unoebauer commented on #114
Closing due to inactivity.

[2017-08-01 14:53] #114 closed

[2017-08-01 14:53] #93 closed

[2017-08-01 14:54] #85 closed

[2017-08-01 14:55] unoebauer commented on #63
We should still think about implementing this

[2017-08-01 14:55] wkerzendorf commented on #100
@unoebauer - I think this issue is of utmost importance to the project and therefore I'm resurrecting it.

[2017-08-01 14:56] #53 closed

[2017-08-01 14:57] #100 closed

[2017-08-01 14:58] #11 closed

[2017-08-01 14:59] unoebauer commented on #5
@yeganer included the zeta values in carsus. I think that since this is then properly documented we can close this issue.

[2017-08-01 14:59] #5 closed

[2017-08-05 17:34] livnehra commented on #505
Hi,
I recently updated my installation of Tardis and found that NLTE stopped working completely....
Before updating it did work for part of the ions.

Now I get two types of errors:
If I list only one species (e.g. [Ca 2]), I get:

[code]

If I list 2 or more (e.g. ['S II','Ca II','Si II']), I get:

[code]

[2017-08-09 08:40] yeganer commented on #505
@livnehra Can you please open a new issue and add a zip file containing the database and all information needed to run your setup. I'll be working on the NLTE part of tardis in the next weeks and this issue has to be solved.

[2017-08-10 18:56] livnehra opened #777 "NLTE not working"
Hi,

NLTE is not working for me in tardis version 1.5.dev2783.
This occurs for different species and gives at least 2 types of errors.
My setup is standard, using the given kurucz atomic dataset.
Enclosed find Yaml files and results.

[pip_list.txt](https://github.com/tardis-sn/tardis/files/1215999/pip_list.txt)
[tardis_example_nlte.zip](https://github.com/tardis-sn/tardis/files/1215994/tardis_exa

[2017-08-10 18:58] livnehra commented on #505
Sure, opened issue #777 .
Tell me if I can help in any way.
Thanks!

[2017-08-11 11:58] yeganer commented on #777
Thanks for the config. So far I found several issues with the current state of the code and I'll work on solving these in the course of next week. Please stay tuned :)

[2017-08-16 07:42] yeganer commented on #777
@livnehra I looked into the issues and #778 should fix NLTE for now. setup2 runs fine but setup1 has a different error which most likely is related to me not using a database that contains collision data.

[2017-08-16 18:32] livnehra commented on #777
OK, great!
I'll wait for the merge, rebase and check.

[2017-08-17 08:46] yeganer commented on #777
It looks like NLTE is working again. I was able to reproduce figure 10 of KerzendorfSim2014:

![nlte_verification](https://user-images.githubusercontent.com/6164110/29403637-2d27c3b0-8339-11e7-8a50-c3c9a39fc5ac.png)

[2017-08-24 07:36] yeganer opened #783 "Convert all plasma properties to pandas DataFrames/Series"
As we are making heavy use of pandas in the plasma calculation I propose to convert all properties, where appropriate to pandas DataFrames or Series, especially all numpy arrays.
My reason to propose this change is to not have to guess the datatype of the properties in plasma and as such, it should make reading and writing the code easier.
Currently these are missing:

[code]

[2017-08-24 13:49] yeganer opened #784 "Differences between NLTE calculation results"
@chvogl Brought to my attention that the NLTE result I obtained last week does not match the spectrum in figure 10 of the KerzendorfSim2014 paper very well near 3000 angstrom. Today's results don't have that problem, however the region between 4000 and 5000 angstrom does not match as well as before.

The goal of this issue is to document this behavior and provide a centralized platform for discuss

[2017-08-29 08:32] yeganer opened #787 "Update tardis/docs/atomic/atomic_data_description.rst"
With the changes that will be introduced in #786 the documentation should be updated accordingly.

[2017-09-27 09:55] pfreddy commented on #787
I've just reinstalled TARDIS according to the recent documentation and a new error appeared while reading the atomic data from kurucz*.h5 file. Is it related to this issue?

file:///home/barna/error_message

[2017-09-27 09:56] pfreddy commented on #787
I've just reinstalled TARDIS according to the recent documentation and a new error appeared while reading the atomic data from kurucz*.h5 file. Is it related to this issue?

[2017-09-27 09:57] pfreddy commented on #787
I've just reinstalled TARDIS according to the recent documentation and a new error appeared while reading the atomic data from kurucz*.h5 file. Is it related to this issue?

tardis.plasma.standard_plasmas - INFO - Reading Atomic Data from kurucz_cd23_chianti_H_He.h5
Traceback (most recent call last):
  File "/home/barna/anaconda2/envs/tardis/bin/tardis", line 67, in <module>
    simulation = Simul

[2017-09-27 11:42] wkerzendorf commented on #787
@pfreddy the old atomic datafiles do not work anymore - you need to get the new ones from https://github.com/tardis-sn/tardis-refdata/tree/master/atom_data

[2017-09-28 13:09] pfreddy opened #790 "Last interaction info missing"
Hi,
a new error appeared with the latest development version: the GUI starts well, but the widget with the last interaction information doesn't open. Error message is attached below.
There was a similar bug earlier, which is connected to the change from model refrence from Simulation model reference (Issue 690 & 691 & 720), but this error message seems somehow different.

...
  File "/home/barna/a

[2017-10-01 17:47] yeganer commented on #790
@pfreddy I'll have a look next week.

[2017-10-05 12:46] unoebauer commented on #790
Hi @pfreddy. I am currently looking at this problem since also @ssim noticed that the gui is again broken.

The reason seems to be a change in the data frame structure of the line data. While in the old days, the line list had one index, the ``line_id`` it now has a multi index, consisting of ``atomic_number``, ``ion_number``, ``level_number_lower``, ``level_number_upper``. This also means, that t

[2017-10-05 13:02] unoebauer commented on #790
Update: @wkerzendorf and I will try to fix this tomorrow during our Tardis sprint.

[2017-10-06 07:13] yeganer commented on #790
@wkerzendorf @unoebauer Sorry for the delay. You are right, the problem arises because of the change in the indexing of `atom_data.lines` which I did as part of merging the `carsus` atomic database. The goal was to remove constant re-indexing and to provide a 'standard' format for indexes within tardis.

As I am the one who broke it I'm happy to help you fix it or fix it myself. I think I have mos

[2017-10-06 11:33] #790 closed

[2017-10-06 12:26] unoebauer commented on #438
Finally, we can safely close this issue. The new standard atomic data set, produced with carsus and located in the tardis-refdata repository has the full Be data included.

[2017-10-06 12:26] #438 closed

[2017-10-06 12:32] unoebauer commented on #505
@yeganer - this should work now, right?

[2017-10-06 13:49] #441 closed

[2017-10-06 14:38] unoebauer commented on #777
According to @yeganer, this issue has been fixed by #778. Closing this one.

[2017-10-09 08:01] unoebauer commented on #699
@yeganer, @wkerzendorf - I just had a look at this issue and came to the following conclusions:

* setting nthreads in the config to 0 triggers the desired behaviour - Tardis OMP uses the number of threads stored in the environment variable ``OMP_NUM_THREADS``
* **However**, if the environment variable is not set, OMP uses all threads available on the system (e.g. on my laptop with an intel i5 and

[2017-10-09 08:17] unoebauer commented on #550
Just checked it explicitly - ``create_packets`` of ``BlackBodySimpleSource`` in ``tardis/montecarlo/packet_source.py`` returns only dimensionless arrays. Thus, this issue seems to be outdated and I'll close it.

[2017-10-09 08:17] #550 closed

[2017-10-09 08:20] unoebauer commented on #505
@yeganer ensured me that with the new default atomic data set (which is in the tardis-refdata repo) this error should not occur any more. I am closing this one until further notice.

[2017-10-09 08:20] #505 closed

[2017-10-09 12:06] wkerzendorf commented on #699
From my perspective - by default - TARDIS should use the maximum number of threads available. That means the default value should be 0 (not visible in the configuration file), but we should have in our examples nthreads=1 commented out so people see how they can change the number of threads.

[2017-10-09 12:07] unoebauer commented on #699
Ok, I think I can live with that. I'll include it in my PR.

[2017-10-09 16:04] unoebauer commented on #699
Resolved by #797.

[2017-10-09 16:04] #699 closed

[2017-10-09 16:05] unoebauer commented on #521
Resolved by #797.

[2017-10-09 16:05] #521 closed

[2017-10-10 16:23] laudb opened #798 "TypeError when running Quickstart Guide"
Hi guys,
 I tried running TARDIS using the Quickstart Guide after following Installation instructions in the [docs](http://tardis.readthedocs.io/en/latest/installation.html) and had this error:
 TypeError: cannot create a storer if the object is not existing nor a value are passed

`(tardis) eit@eit-HP-Pavilion-TS-15-Notebook-PC:~/DEV/ASTRO/latest/tardis_example$ tardis tardis_example.yml output_s

[2017-10-10 17:05] pfreddy commented on #798
There are a new configuration for the atomic database. The new atomic data file can be found here:
https://github.com/tardis-sn/tardis-refdata/tree/master/atom_data

I met the same problem before. (see #787).

[2017-10-10 18:56] laudb commented on #798
Yes, it's the same as #787, It worked after I used the new configuration for the atomic database, got my output_spectrum.dat was able to proceed further, thanks @pfreddy!

[2017-10-10 18:57] #798 closed

[2017-10-10 19:57] livnehra commented on #777
Hi,

NLTE is not working again...
It worked well when I was on version dev2869, except the atomic database was bad for some elements.
Now I rebased to dev3025, and NLTE doesn't work at all.
I'm using the same sample files posted above, with kurucz_cd23_chianti_H_He.h5 from tardis-refdata/atom_data/.

The result:
[result.txt](https://github.com/tardis-sn/tardis/files/1373250/result.txt)

Hope I'm n

[2017-10-11 06:53] yeganer commented on #777
@livnehra Which setup caused this error? Setup 1 or Setup 2?

[2017-10-11 07:16] yeganer commented on #777
I think you have to use the other atomic database: `kurucz_atom_chianti_many.h5`. If I read the error correctly, it is looking for collisional data which the default database does not contain. `kurucz_atom_chianti_many.h5` contains these data for S, Si, Ca and Mg.

[2017-10-11 10:31] livnehra commented on #777
OK,
So with `kurucz_atom_chianti_many.h5` Si II works but S II and Ca II give the same KeyError.
Before the latest updates  (~2 months) S and Ca did work...

[2017-10-11 12:23] yeganer commented on #777
I checked, `kurucz_atom_chianti_many.h5` only contains ions for Silicon. I'll have a look what went wrong because I'm confident it worked one month ago during GSoC.

[2017-10-12 06:30] yeganer commented on #777
@livnehra I tracked down the problem to a bug in carsus and will look into a fix. Afterwards the atomic database has to be regenerated which takes several hours. You can expect an update tomorrow or maybe even late this evening (CET).

[2017-10-20 08:27] livnehra commented on #777
Hi,
Any news regarding this issue?
I'm really looking forward to doing some more Tardis runs :)
Thanks!!

[2017-10-20 09:26] wkerzendorf commented on #777
@livnehra I'm sure you want to explore the kilonova ;-) @yeganer can you tell me what needs to be fixed or what is fixed. Thank you very much

[2017-10-26 08:27] unoebauer opened #800 "Feature request: Add virtual packet diagnostics to hdf dump of runner"
With this issue I'd like to discuss whether it would make sense to add the virtual packet diagnostic arrays to the HDF5 write-out of the runner class whenever the ``--with-vpacket-logging`` flag is active. In particular, I'd like to add the following arrays:
* ``virt_packet_last_interaction_type``
* ``virt_packet_last_line_interaction_in_id``
* ``virt_packet_last_line_interaction_out_id``
* ``virt

[2017-11-03 15:36] #777 closed

[2017-11-03 15:38] wkerzendorf commented on #777
@livnehra it should be fixed with the new atomic data that @yeganer just pushed

@yeganer thank you very much for doing this!!!

[2017-11-04 21:03] livnehra commented on #777
Many thanks !!
Will check ASAP

[2017-11-14 15:59] pfreddy opened #804 "Problem with stratified models using Decay of isotopes branch #801"
I've tried to run TARDIS with the new decoy branch #801 according to the tardis_model_format (see tardis/io/tests/data/tardis_configv1_tardis_model_format.yml and tardis_model_format.csv).  The code stopped with the error  message:

  File "/home/barna/Code/tardis/tardis/io/decay.py", line 27, in from_materials
    multi_index_tuples, names=['atomic_number', 'mass_number'])
  File "/home/barna/ana

[2017-11-14 21:02] MikeFoly opened #805 "Missing File/Directory Issue"
I followed the installation instructions in creating a virtual environment through Anaconda and installing the development version of Tardis. When I try to run the example code, however, I receive the error found in the attached text file regarding a missing supernova.yml file. However, when I navigate to that directory (/anaconda/envs/tardis/lib/python2.7/site-packages/tardis/io/schemas), I find

[2017-11-14 21:28] wkerzendorf commented on #805
@MikeFoly try it now.

[2017-11-15 09:41] pfreddy commented on #804
It seems the problem is the half-empty list of 'materials'. It contains information about each of the velocity shells, but each element is the same:

pyne.material.Material({}, nan, -1.0, 0.0, {})

[issue_804.tar.gz](https://github.com/tardis-sn/tardis/files/1474092/issue_804.tar.gz)

[2017-11-15 15:18] pfreddy commented on #804
The list 'material' always uses the isotope ratio of the last velocity shell. The root of this problem is in the function called 'to_materials(self)' in decay.py (line 47). Here, the abundance storing 'comp_dicts' is a dictionary, thus, the abundances are overwritten in ALL velocity shells whenever the code meets the same nuclear_symbol. As a result, the last abundances appear everywhere.

As a fu

[2017-11-19 04:01] MikeFoly commented on #805
@wkerzendorf Tried reinstalling the development version of Tardis and rerunning, but I still get the same error. Is there anything else I should try? Thanks!

[2017-11-24 11:28] wkerzendorf commented on #805
@tardis-sn/tardis-core anyone ever encountered this?

[2017-11-24 14:50] wkerzendorf commented on #805
@MikeFoly I can't reproduce the error. Can you update this issue with your setup? what operating system etc.

[2017-11-27 10:32] unoebauer commented on #805
@MikeFoly I just checked out the current master version of TARDIS and tried to reproduce your Error but  TARDIS actually works flawlessly on my installation.

[2017-11-29 09:59] unoebauer opened #807 "Misleading interpreation of custom density structure files"
This issue is primarely meant to higlight a particular, nonintutive feature of TARDIS with respect to interpreting the stratfied ejecta structure defined in custom density and abundance files.

Let us assume a density structure file with 20 rows, indices in the first column, velocities in the second and densities in the third column.

[code]

The obvious interpretation of this setup would be that

[2017-12-29 10:38] livnehra commented on #784
Hi,

I'm getting some weird results with NLTE.
I tried to follow the code, and found that in `partition_function.py` the data is prepared in `r_ul_matrix_reshaped`, but then the rates matrix is built using:
`rates_matrix = r_lu_matrix + r_ul_matrix + collision_matrix`
without using `r_ul_matrix_reshaped`.

Am I missing something?

Thanks,
Ran

[2018-01-04 11:39] yeganer commented on #784
@livnehra Hey, I'm currently not able to test this but this might be working. If it's a bug or not depends on whether `r_ul_matrix_reshaped` owns the data or not. AFAIK a reshape of a numpy array only create a different view of the same memory location. That means we use the reshape to more easily assign the data but when we use the data to create the `rates_matrix` the original view with the upda

[2018-01-06 08:17] livnehra commented on #784
@yeganer Hi, of course you are correct and this is not a bug.

After some more digging, I think I may have found the issue -
I noticed that turning on NLTE for Si II changed the **ion populations** significantly (5x).
I made sure this was not due to temperature, n_electrons, W or other plausible effects.

Finally I noticed that this is what happens:
1. The NLTE code computes a new `level_boltzmann

[2018-01-10 16:46] Heringer-Epson opened #808 "Unable to use nlte for some species in 1.5.dev3036"
Hi all,

I'm able to use the nlte option for He, but not for any other element. Any thoughts of what can be going wrong? Perhaps I'm not using the appropriate atomic data? (currently using https://github.com/yeganer/tardis-refdata/blob/carsus_update/atom_data/kurucz_cd23_chianti_H_He.h5).

yml files I'm using can be found at the links below:
He test (works): http://128.100.88.57/lib/exe/fetch.php?

[2018-01-18 19:45] livnehra commented on #784
So...

Do you think this may be a bug or am I missing something obvious?

Thanks,
Ran

[2018-01-19 09:36] livnehra commented on #784
That's exactly what I understood, but I see that turning on NLTE species does change the ionization significantly.

I found that the reason for this is that the partition function is calculated by the NLTE code and then the ionization is erroneously calculated based on this new partition function.

Hoping to get some help to avoid messing with the code myself :)

[2018-01-19 11:02] unoebauer commented on #784
Would be good to hear @wkerzendorf's and in particular @yeganer's (who has spent a lot of time fixing NLTE) thoughts on this

[2018-01-23 08:21] wkerzendorf commented on #808
This atom data only works for H, He NLTE (which has some other drawbacks). You need a different atomic dataset. the `chianti_many` at https://github.com/tardis-sn/tardis-refdata/tree/master/atom_data should work

[2018-01-23 08:23] wkerzendorf commented on #784
@livnehra I think it would be great to get a better insight into your problem. Can we skype or email or something

[2018-01-23 13:22] livnehra commented on #784
Of course!

livnehra@gmail.com

Thanks,
Ran

[2018-01-23 15:41] Heringer-Epson commented on #808
I see, using the chianti_many database does work for Si and Ca, but I still get the same error for C. Anything I can do about it?

[2018-02-05 08:03] slietzau commented on #808
I believe `chianti_many` database only contains the elements for the original TARDIS paper, if you need specific elements I think one has to generate a new database. But it could be that such a database already exists. If you want I can check later.

[2018-03-23 22:17] astrobit opened #810 "Installation errors with anaconda2 5.1.0 and latest tardis"
I am trying to install the latest version of tardis according to the installation instructions at https://tardis.readthedocs.io/en/latest/installation.html.
I have anaconda2 5.1.0 installed (fresh installation), and am using Fedora 24.  I've also tried this using anaconda3 as well as a RHEL 7 system. All anaconda instllations are fresh.

All of them seem to encounter the same problem, when I do th

[2018-03-29 13:09] wkerzendorf commented on #810
@astrobit sorry about the long delay. Not sure what is going on. Can you post the whole traceback. It seems that our continuous integration has also started to flag this issue. @tardis-sn/core any ideas?

[2018-03-29 14:01] wkerzendorf commented on #810
@astrobit the problem is an outdated cython version - I updated the requirements in #809 - there is still a graphviz problem and I'm in the process of fixing that as well.

[2018-04-05 08:31] livnehra commented on #784
Hi,

After correspondence with @wkerzendorf, I suggest changing [partiton_function.py Line #192](https://github.com/tardis-sn/tardis/blob/4dfe08bcb27a78434ad77c372dced8b0a12db044/tardis/plasma/properties/partition_function.py#L192 ) to

`                general_level_boltzmann_factor[i].ix[species] = level_boltzmann_factor / sum(level_boltzmann_factor) * sum(general_level_boltzmann_factor[i].ix[sp

[2018-04-05 11:56] unoebauer commented on #805
Closing - reopen if error persists

[2018-04-05 11:56] #805 closed

[2018-04-05 11:56] unoebauer commented on #804
Presumably fixed by #806. Closing - reopen if error persists

[2018-04-05 11:56] #804 closed

[2018-04-05 12:12] #760 closed

[2018-04-05 12:25] unoebauer commented on #787
Closing in favour of a aggregate documentation issue

[2018-04-05 12:25] #787 closed

[2018-04-05 12:26] unoebauer commented on #707
Closing in favour aggregate issue

[2018-04-05 12:26] #707 closed

[2018-04-05 12:27] unoebauer commented on #766
.ix should be deprecated in newer pandas versions. Thus, I am closing this issue

[2018-04-05 12:42] unoebauer opened #811 "Insufficient Documentation"
This issue serves to collect problems in the documentation:
* Physics Section
  - NLTE
  - Plasma
  - Decay
* Add example configs
* Update configuration section (configuration system has changed since these sections were written)

(much more to come...)

[2018-04-05 15:03] wkerzendorf commented on #810
@astrobit try it now

[2018-04-05 15:07] wkerzendorf commented on #784
@livnehra can you add the same information as you did in the email. @ssim please have a look at it.

[2018-04-05 15:26] livnehra commented on #784
Sure,

First I tried:
` general_level_boltzmann_factor[i].ix[species] = level_boltzmann_factor * g[species][0] / level_boltzmann_factor[0]
`

This resulted in:

In [4]: model.plasma.partition_function[1][14]
Out[4]:
ion_number
0     10.645095
**1      5.818883**
2      1.001149
3      2.000014
4      1.000000
In [3]: model.plasma.ion_number_density[1][14]
Out[3]:
ion_number
0     1.785938e+00
**1

[2018-04-08 16:28] ssim commented on #784
PS. *If* the formula on line 58 is correct (and that is the same "general_level_boltzmann_factor" that we want here), then the equivalent thing we'd want in NLTE would (I think) be

general_level_boltzmann_factor (level_i) = g_0 * n_i / n_0 = Z / N_ion * n_i

...but I don't know if that latex formula in the code is completely correct. (**If** this is correct then I think it might be equivalent to

[2018-04-08 19:31] livnehra commented on #784
Perhaps,

But the way the code is implemented, the `ion_number_density` is computed based on the new `partition_function`. According to (my understanding of) the 2014 paper, the NLTE excitation mode is not supposed to (directly) affect the ion populations.

What triggered my examination of this code is that I got a ~4x factor between Si II ion population with and without NLTE.  When I implemented

[2018-04-09 15:41] ssim commented on #784
I agree with you that it is somewhat surprising that the NLTE mode changes the partition function by as much as a factor of 2x, but I think it would be good to figure out why that is so - i.e. why is it that the partition function drops so much when the NLTE calculation is active: which levels are depopulating and why?

One could opt to keep the LTE partition functions (e.g. for testing purposes)

[2018-04-11 07:25] unoebauer commented on #672
Closing since #715 has been merged

[2018-04-11 07:25] #672 closed

[2018-04-13 00:40] wenxiongM51 opened #823 "Fail to reproduce normal Ia spectra with configuration from Mazzali et al. 2018"
[Mazzali et al. - 2018 - Nebular spectra and abundance tomography of the type Ia supernova SN 2011fe a normal SN Ia with a stable Fe cor.pdf](https://github.com/tardis-sn/tardis/files/1905393/Mazzali.et.al.-.2018.-.Nebular.spectra.and.abundance.tomography.of.the.type.Ia.supernova.SN.2011fe.a.normal.SN.Ia.with.a.stable.Fe.cor.pdf)

[2011fe.zip](https://github.com/tardis-sn/tardis/files/1905396/2011

[2018-04-13 00:55] wenxiongM51 commented on #823
[Spectral Sequences of Type Ia Supernovae  Connecting Normal and Subluminous SN Ia and Carbon.pdf](https://github.com/tardis-sn/tardis/files/1905427/Spectral.Sequences.of.Type.Ia.Supernovae.Connecting.Normal.and.Subluminous.SN.Ia.and.Carbon.pdf)
Sorry the abundance profile we used is from this paper. Forgot to upload it.

[2018-04-13 13:56] unoebauer commented on #823
Hi @wenxiongM51 - could you be more specific about your problem. Are there problems with
- installing Tardis
- running Tardis
or are you saying that the spectra obtained with Tardis do not look like the ones produced by Mazzali et al. 2018? In any case, we can't help you much without more detailed information about the actual problems.

[2018-04-14 08:04] wkerzendorf commented on #784
@wkerzendorf is in Ghana and will be available next week

[2018-04-16 18:51] wenxiongM51 commented on #823
Hi unoebauer,
I'm sorry about my unclear question. I have emailed Wolfgang about this issue he told me to open a question here. I have problem with Tardis running result (installation complete). I think we can focus on Heringer et al.(2017) which I uploaded first. Because I realized the Mazzali paper mainly focus on late phase but we want to reproduce the spectra of early phase now. I input the ab

[2018-04-18 13:07] unoebauer commented on #823
Hi, it's good to see that there is at least no installation error. However, I am still at a loss about the severity of problems in the spectra. Could you please share your spectra?

[2018-04-18 16:33] wenxiongM51 commented on #823
[12.1sun.txt](https://github.com/tardis-sn/tardis/files/1924912/12.1sun.txt)
I attach my latest simulated spectrum. The .yml and abundance file inside the .zip file I uploaded 6 days ago. Thanks!

[2018-04-18 16:35] wkerzendorf commented on #823
Can you grab put it up as a png plot then we can quickly see what’s going on. You can drag it into github

[2018-04-18 16:54] wenxiongM51 commented on #823
![2011fe_12 1day](https://user-images.githubusercontent.com/38336485/38946504-804f449e-42ee-11e8-92cd-ebd3790242b2.png)
I put the plot here

[2018-04-24 08:54] wkerzendorf commented on #784
@livnehra check out tag v0.9 that should be used as a reference.

[2018-04-24 17:34] wenxiongM51 commented on #823
![2011fe_-5day](https://user-images.githubusercontent.com/38336485/39203654-442d012a-47aa-11e8-99a7-3a243434539c.png)
I plot the spectrum I want to reproduce vs tardis fit here. The S II 5468/5612, Fe III 5129 and the absorption bluer than 5000A are not well matched.

[2018-04-25 13:52] unoebauer opened #824 "Old atomic data base in tardis_example"
We are still distributing the old atomic data base (which is incompatible with the current Tardis version as part of the ``tardis_example.tar.gz`` archive on our documentation (Quickstart guide). It points to

``http://opensupernova.org/~ftsamis/tardis_example.tar.gz``

We should quickly update this

[2018-04-26 12:56] unoebauer commented on #823
I don't think that there is anything wrong with TARDIS. Instead, TARDIS was most likely not properly configured. You also have to remember, that Mazzali et al. used a different spectral synthesis code to fit 2011fe. I am, however, convinced that if you set up TARDIS such that it produces a plasma state during the spectral synthesis cycle that is comparable to that obtained by Mazzali et al., 2012f

[2018-04-27 20:32] livnehra commented on #784
Hi,

Glancing at v0.9.2, it seems this was once dealt with directly and not through `level_boltzmann_factor` (in `plasma_array.py`) - without affecting the ion populations.

      relative_level_populations = np.linalg.solve(rates_matrix[:, :, i], x)
      self.level_populations[i].ix[species] = relative_level_populations * self.ion_populations[i].ix[species]

[2018-04-27 21:10] wkerzendorf commented on #784
I think it's easiest to just run it and see what the difference will be.

[2018-05-17 12:38] unoebauer commented on #823
I am closing this issue. @wenxiongM51 , @wkerzendorf if necessary, please re-open.

[2018-05-17 12:38] #823 closed

[2018-06-18 08:30] unoebauer opened #830 "Using Tardis CSV input for custom abundances and isotopes"
While working with the CSV input option for custom abundance and isotope profiles, I noticed that the relevant parser in ``model_reader.py``,
[code]
expects that the custom composition file contains information about the ejecta state (velocity, temperature, electron density, ...) in the first four columns.

I assume that this was at some point implemented to work with CMFGEN setups (right @wkerzen

[2018-06-19 11:29] wkerzendorf commented on #830
I agree - I'm trying to figure out what is going on.

[2018-06-25 08:36] #830 closed

[2018-06-27 08:40] saurabhwjha opened #834 "installation failed: needed older version of pyne module"
I've lost track of the details, but in trying to install tardis via conda, etc. we ran into an issue where the most recent version of the pyne module didn't work. Forcing conda to use an older one succeeded.

[2018-07-11 18:16] Heringer-Epson commented on #834
Same happened to me.

[2018-07-11 19:28] Heringer-Epson opened #835 "Is delta_treatment being enforced?"
Setting delta_treatment: 1 under plasma might not be properly enforcing it. This happened to me in version 3036. Tried to install the current version, but encountered installation problems involving Cython.

[2018-07-12 10:09] wkerzendorf commented on #835
@Heringer-Epson can you detail these installation problems - maybe just adding this to the issue.

[2018-07-12 14:26] Heringer-Epson opened #836 "Installation failed - Cython issues"
The current specification of conda env in 'tardis_env27.yml' has Cython commented, which leads to a installation error when running python setup install.

@wkerzendorf says: **"please look at the .travis.yml file in the repository and install cython as done there"**

[code]

[2018-07-12 15:02] wkerzendorf commented on #836
ah very good. That is a cython bug that we hunted for a long time. Try to conda install the newest cython - if that doesn't help - let us know.

[2018-07-12 15:59] Heringer-Epson commented on #836
Hmm, the most recent version I can find is Cython 0.28.4. The problem persists (tried versions 0.28.2 and 0.28.4). The full error log is below. Weird how many 'parent modules' warning there are--is this to be expected? Maybe I'm just doing something stupid... I'm still able to install TARDIS v3036 running the same commands (while using the same list of conda packages.)

tardis/simulation/setup_pac

[2018-07-12 16:24] wkerzendorf commented on #836
You’re have to build cython yourself - but it’s easy . Okay - look at the
Travis.yml there it’s explained.
On Thu 12. Jul 2018 at 17:59, Epson-Heringer <notifications@github.com>
wrote:

--
Dr. Wolfgang E Kerzendorf
ESO Fellow
European Southern Observatory
Karl-Schwarzschild Str. 2, 85748
Garching bei Muenchen, Germany

[2018-07-13 05:51] wkerzendorf commented on #836
see https://github.com/cython/cython/issues/2199

[2018-07-13 07:47] wkerzendorf commented on #836
You have to build cython yourself:

[code]

[2018-07-13 13:57] Heringer-Epson commented on #836
Still not working. In any case, would you mind running a simulation with the updated version of TARDIS and checking whether the delta_treatment is being enforced? Below is the new error log.

tardis/simulation/setup_package.py:2: RuntimeWarning: Parent module 'tardis.simulation' not found while handling absolute import
  from setuptools import Extension
tardis/simulation/setup_package.py:3: Runtim

[2018-07-13 14:03] wkerzendorf commented on #836
Okay - I’ll try. Currently traveling. Install plex with conda - you’re just missing a package.

[2018-07-13 14:37] Heringer-Epson commented on #836
Ok, installation worked now. Thank you.

[2018-07-13 14:49] Heringer-Epson commented on #835
Tested delta_treatment using the updated TARDIS (v1.5.dev3179). Problem seems to persist.
Below is a link to the input file used to run the simulation.

.yml file: http://128.100.88.57/lib/exe/fetch.php?media=2018_-_jul:seed-23111970.yml

And below I plot delta for the CII ion. Data is retrieved using:

delta = pd.read_hdf(_syn + '.hdf', '/simulation/plasma/delta')
y = delta.loc[6,1].values

Fig:

[2018-07-17 13:31] wkerzendorf commented on #835
doesn't look like it's being enforced. hmm - will need to check in the code. I've just come back and am catching up - but ping me tomorrow.

[2018-07-18 14:19] wkerzendorf commented on #836
should be fixed now - I'm leaving this ticket open until cython is in a stable form again.

[2018-07-18 16:55] wkerzendorf commented on #836
@Heringer-Epson I think installing cython=0.28.4 should fix this problem in the long run (look at #839 ).

[2018-07-18 16:55] wkerzendorf commented on #835
it's not being enforced. I have made the first fix - need to check if things work now.

[2018-07-18 20:46] #835 closed

[2018-07-19 09:15] unoebauer commented on #834
That's interesting. Can you provide more information about the pyne version numbers?

[2018-07-19 09:18] unoebauer commented on #834
@wkerzendorf - did we already fix this with the various updates to the tardis conda env file?

[2018-07-19 09:29] unoebauer opened #842 "Problems with Cython - include working version back into env file"
Sparked by issue #810, problems with old and new versions of cython become obvious, both on the user side on the Travis testing environment. At least the problems on Travis seem to be under control after using the bleeding-edge cython version and compiling it with a specific flag. See

- [cython issue](https://github.com/cython/cython/issues/2199#issuecomment-405994151)
- PR #829
- PR #838

In the

[2018-07-19 09:30] unoebauer commented on #810
The cython issues have escalated to a much larger problem. See summary in issue #842.

[2018-07-19 09:30] wkerzendorf commented on #842
Cython  0.28.4 works - except for OSX

[2018-07-19 09:31] unoebauer commented on #810
I am closing this one. The new reference issue for the cython problems is #842.

[2018-07-19 09:31] #810 closed

[2018-07-19 09:32] unoebauer commented on #808
What's the status of this problem, @Heringer-Epson, @wkerzendorf?

[2018-07-19 09:33] unoebauer commented on #824
I believe that this has been addressed by PR #826

[2018-07-19 09:33] #824 closed

[2018-07-19 09:35] unoebauer commented on #695
When simplifying the convergence treatment to only one strategy, ``damped``, in PR #821 this issue has been addressed.

[2018-07-19 09:35] #695 closed

[2018-07-19 09:39] unoebauer commented on #842
Any idea about the OSX problems? Is there another cython version that works on OSX? What is our current suggestion to TARDIS users? Self-compile?

[2018-07-30 10:40] unoebauer opened #852 "Formal Integral not compatible with changed atomic data structure"
Currently, the formal integral spectral synthesis mode crashes with the following error:
[code]

[2018-07-30 16:18] chvogl opened #854 "Conda environment fail"
With the current environment yml the code crashes due to a pyne/pytables related error:
[code]

[2018-07-30 16:58] wkerzendorf commented on #854
update to a conda version `>4.5` and use the new `conda activate` that should fix it as far as we can see.

[2018-07-30 16:58] #854 closed

[2018-08-02 09:56] unoebauer opened #858 "Travis and checkout of specific version of the refdata repository"
Currently, Travis is instructed to checkout a specific (old) version of the refdata repository for the testing process.
[code]
This should be changed such that the current master branch HEAD is used.

[2018-08-03 14:54] unoebauer commented on #858
Fixed by PR #848

[2018-08-03 14:55] #858 closed

[2018-08-08 07:05] unoebauer opened #862 "Add tests for Open-MP and vpacket-logging modes"
Currently, TARDIS is compiled without Open-MP and the vpacket-logging feature in all our tests. We should extend the testing suite to include these modes

[2018-08-30 13:26] unoebauer commented on #836
Closing this for now

[2018-08-30 13:26] #836 closed

[2018-08-30 13:28] unoebauer commented on #834
Apparently, also @chvogl encountered this issue (see #854). Updating conda (>4.5) resolved this problem. Closing for now.

[2018-08-30 13:28] #834 closed

[2018-08-30 13:35] unoebauer commented on #807
In the current version of the documentation, this behaviour is described:

https://tardis.readthedocs.io/en/latest/examples/densitycust.html

(see info box on that page)

[2018-08-30 13:35] #807 closed

[2018-08-30 13:53] #783 closed

[2018-08-30 13:55] unoebauer commented on #731
This will be fixed/concluded with #859.

[2018-08-30 14:15] #681 closed

[2018-09-26 14:36] kaushik94 commented on #842
I think I am facing this issue too on OSX:
<img width="1017" alt="screen shot 2018-09-26 at 8 05 47 pm" src="https://user-images.githubusercontent.com/6545467/46087282-98bd5e00-c1c7-11e8-8a3e-75c15f94b47b.png">

[2018-09-26 15:02] kaushik94 opened #870 "Facing issue with cython on OSX"
I am facing this issue on OSX:
<img width="1017" alt="screen shot 2018-09-26 at 8 05 47 pm" src="https://user-images.githubusercontent.com/6545467/46087282-98bd5e00-c1c7-11e8-8a3e-75c15f94b47b.png">
I have followed the instructions on tardis installation and cython installed via ` conda install -c anaconda cython`. `Cython version 0.28.1`

[2018-09-27 08:28] unoebauer commented on #842
Hi @kaushik94 - yes this looks like your env does not include a cython version. Try to manually install cython within the env and rebuild Tardis.

[2018-09-27 08:31] unoebauer commented on #870
Intresting - not sure what's going on here. But when in doubt cleaning you tardis checkout before building with
[code]
has helped more often than not.

[2018-09-27 19:02] wkerzendorf commented on #870
@kaushik94 did that help?

[2018-09-28 10:50] kaushik94 commented on #870
I tried `git clean -dfx`, still the same issue. Also I have installed cython 0.28.1 inside the env.

[2018-09-28 14:21] unoebauer commented on #870
Which cython are you using, @wkerzendorf? After all, Tardis is running on your mac.

[2018-10-01 14:07] wkerzendorf commented on #870
@unoebauer @kaushik94 around that version number is fine. I think cython is not installed in the env that you use to compile python. so when you do `python setup.py develop` are you sure cython is importable from the python?

[2018-10-01 14:19] kaushik94 commented on #870
Hi, I'm not sure but this could be an issue with python 3 being deleted from my system previously but the soft links still hanging on. I have not investigated the issue but I have set up a new user on my mac. I have downloaded anaconda and currently installing it. I will let you know once this setup is complete. @wkerzendorf may be you are right, I did install cython in my env but may be python is

[2018-10-05 12:41] rohanp11 opened #872 "Trouble installing in Ubuntu 18.04"
I am trying to install TARDIS on my system (Ubuntu 18.04). After creating the virtual environment using Anaconda, I get the following error when I do `pip install git+https://github.com/tardis-sn/tardis`
![screenshot from 2018-10-05 18-06-38](https://user-images.githubusercontent.com/12735796/46535762-fe959e00-c8c9-11e8-80ac-221c3e51593f.png)

[2018-10-05 12:47] unoebauer commented on #872
Hi, not sure what's going on here. Could you try the following and let us know what happens:

- clone the github repo:  ``git clone https://github.com/tardis-sn/tardis.git``
- activate the tardis env: ``source activate tardis``
- build tardis manually: ``cd tardis && python setup.py build install``

[2018-10-05 14:10] rohanp11 commented on #872
Now I am getting the following error message
![screenshot from 2018-10-05 19-38-34](https://user-images.githubusercontent.com/12735796/46540301-8681a500-c8d6-11e8-9d4c-4b9b1c79589a.png)

[2018-10-05 15:15] unoebauer commented on #872
Cython may be missing. We had massive problems with cython in the recent past and thus it is currently not included in the env file for Tardis. Try to install cython manually
[code]
and retry to build tardis (do a ``git clean -dfx`` before, just to be safe).

[2018-10-05 17:45] kaushik94 commented on #870
Like you said it was the missing cython package. I installed it but the previous symlinks to cython were still not removed. So I created a new user and I think everything is working fine. Sorry for the confusion, closing this issue as resolved.

[2018-10-05 17:45] #870 closed

[2018-10-08 04:45] rohanp11 commented on #872
So tardis seems to install without any errors after manually installing cython but when I try to run the quickstart example in python I get the following error:
![screenshot from 2018-10-08 10-12-17](https://user-images.githubusercontent.com/12735796/46592712-ffede300-cae2-11e8-872c-15cf0d620e4a.png)

[2018-10-08 07:45] unoebauer commented on #872
Try to use the ipython ``%debug`` feature to see what exactly is going on. Also, which ``tardis_example.yml`` file are you using?

[2018-10-08 08:49] rohanp11 commented on #872
This is what I get when I do %debug
[code]
And I am using the `tardis_example.yml` file from [here](https://github.com/tardis-sn/tardis-setups/blob/master/2014/2014_kerzendorf_sim/appendix_A1/tardis_example.yml)

[2018-10-08 08:51] unoebauer commented on #872
ok, we need to go up a few frames. Maybe it is easiest if you head over to our slack channel

https://tardis-sn.slack.com/

I'll be available for the next 20min and we can try to figure this out together.

[2018-10-08 09:15] rohanp11 commented on #872
Could you send me an invitation for the workspace on my email? Thanks!

[2018-10-08 12:49] wkerzendorf commented on #872
I invited you to slack just now

[2018-10-09 13:05] unoebauer commented on #872
I've just realised that you switched to anaconda3/python3. Currently Tardis only runs on python2.7. Once you change back to python 2.7, everything should be fine.

[2018-10-10 09:32] unoebauer commented on #872
Once the correct yml file was used

https://raw.githubusercontent.com/tardis-sn/tardis-setups/master/2014/2014_kerzendorf_sim/appendix_A1/tardis_example.yml

the problems were resolved.

[2018-10-10 09:32] #872 closed

[2018-10-12 17:57] wkerzendorf opened #874 "cython issues with segfault"
installing twice seems to solve it @unoebauer

[2018-10-12 18:05] wkerzendorf opened #875 "link in quick start wrong"
should be https://raw.githubusercontent.com/tardis-sn/tardis-setups/master/2014/2014_kerzendorf_sim/appendix_A1/tardis_example.yml

[2018-10-12 18:32] #842 closed

[2018-10-16 09:18] unoebauer commented on #875
I thought I fixed that in PR #873. The link in the code block on  https://tardis.readthedocs.io/en/latest/quickstart.html
does seem to work, though...

[2018-10-25 15:05] MarkMagee opened #877 "Integrated spectrum key error"
When I try to use the integrated spectrum, I get the following error:

In [11]: mdl.runner.spectrum_integrated
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-11-0cc1f14d5e9b> in <module>()
----> 1 mdl.runner.spectrum_integrated

/Users/markmagee/anaconda/envs/tardis_2018_05_24_2/

[2018-10-25 16:44] MarkMagee commented on #877
Fixed in latest version of the code

[2018-10-25 16:44] #877 closed

[2019-01-30 03:56] wkerzendorf opened #878 "integrated spectrum different to virtual one"
I think this is unusual @chvogl . I remember that we talked about models that have low opacity - maybe that is the problem
![virt_vs_integrated](https://user-images.githubusercontent.com/506116/51957264-f2a18f00-2418-11e9-8bc6-8bd931b24caa.png)

[2019-01-30 15:32] chvogl commented on #878
I don't think that low opacity is the problem. One possible explanation would be that the number of lines in the model is too low. This can lead to problems when electron scattering is included. It might also be related to the interpolation of the quantities needed in the integration (e.g., J_Blues). If you send me the yaml file, I will investigate this further.

[2019-01-30 15:41] wkerzendorf commented on #878
low lines likely as it's a pure O model.

[2019-01-30 16:00] wkerzendorf commented on #878
low line count likely - has to be looked at.

[2019-02-07 16:42] nileshpatra opened #880 "TARDIS installation issue via pip and error while building with setup.py"
when I set up a virtual environment using anaconda and ran the command :
[code]
I get an error saying :
[code]
I get the exact same error when I downloaded the repository and tried building it using python .The command I used is :
[code]

[2019-02-14 15:17] nileshpatra commented on #875
can I take up this issue?

[2019-02-20 02:14] wkerzendorf commented on #880
I think running it twice makes it work.

[2019-02-20 02:17] wkerzendorf opened #882 "test data for continuum comparison not working with python3"
Unfortunately, the porting the code to python 3 has trouble with the format that `z2rkstate` is stored in the HDFStore. I think there are probably better ways - but I would need your expertise @chvogl

The problems when reading the hdfstore are

`UnicodeDecodeError: 'ascii' codec can't decode byte 0xa9 in position 1: ordinal not in range(128)`
and trying to writing it to `utf8` results in `TypeErr

[2019-02-20 19:16] chvogl commented on #882
Fixed in #879 with merge of wkerzendorf/tardis#24.

[2019-02-20 19:16] #882 closed

[2019-02-24 07:32] nileshpatra commented on #880
installing sphinx 1.5.6 resolved the issue :+1:

[2019-02-24 07:32] #880 closed

[2019-02-25 05:34] wkerzendorf commented on #880
@nileshpatra That's great - that means you found a fix - can you add this to the documentation?

[2019-02-25 12:52] nileshpatra commented on #880
@wkerzendorf , sure 😄 . But I don't have rights/access to adding this to the documentation at https://tardis.readthedocs.io/en/latest/installation.html .
Should I make a PR to add it in the readme itself?

[2019-02-25 13:05] wkerzendorf commented on #880
the documentation lives in this repository under `docs`

[2019-02-25 13:07] nileshpatra commented on #880
@wkerzendorf . I'm sorry , I'll for sure add this .

[2019-02-25 13:46] nileshpatra commented on #880
@wkerzendorf , added #884

[2019-02-27 17:37] DumbMachine opened #889 "TARDIS installation error"
I followed the instructions given [here](https://tardis.readthedocs.io/en/latest/installation.html) to install the package with the given conda environment. But installation fails because of the 'astropy-helpers' package which requires python==3.5.
**What I did:**
[code]
After looking at a recent installation issue, I tried uninstalling sphinx and then using the specified version of it , but I was

[2019-02-28 16:48] DumbMachine commented on #889
A small way around this error would be to install the TARDIS package for python3. Installing the package for python3. I used the env file for python3 given in the /tardis directory [(here)](https://github.com/tardis-sn/tardis/blob/master/tardis_env3.yml) and it works like a breeze now.

[2019-03-03 11:20] debajyotidasgupta commented on #811
I would love to help out in making this documentation perfect .
Can you please provide the list documentations you want the changes in?

[2019-03-08 15:18] debajyotidasgupta commented on #680
hello,
i am new to this organisation and would like to take this as my first pr
It would be helpful if tell me what all changes should i make?

[2019-03-09 13:30] #889 closed

[2019-03-09 16:06] cquark7 opened #898 "KeyError: 'Level atomic_number not found'"
I get this error when I try to generate `output_spectrum.dat` by running this command:
`tardis tardis_example.yml output_spectrum.dat`

I installed Tardis in Python 3 by following the instructions present here:
https://tardis.readthedocs.io/en/latest/installation.html#installing-tardis-with-anaconda
(replaced `tardis_env27.yml` with new `tardis_env3.yml` for Python 3)

I fixed this issue by studyi

[2019-03-09 16:22] wkerzendorf commented on #898
So why did it install the old version of pandas?

[2019-03-09 17:20] cquark7 commented on #898
It didn't install an old version, it was using a previously installed version of pandas present in `~/.local`.
conda inherited pandas from that directory (I guess that's how it's configured). This is an open issue:   https://github.com/conda/conda/issues/7173

[2019-03-13 18:56] #898 closed

[2019-03-26 05:11] marxwillia opened #908 "Custom Density File Interaction with YAML v_inner_boundary"
As previously noted in Issue #807 the structure of custom density files is very easily misinterpreted.  When a custom density file is specified, the first line specifies the inner boundary velocity and density (the density within the inner boundary is not used, and therefore a placeholder value can be specified).

Consider an example custom density file:
[code]

If the user does not specify inner

[2019-03-26 05:23] marxwillia commented on #908
In the case where the user specifies a boundary velocity that is ignored by TARDIS due to the custom density file, the Radial1DModel v_boundary_inner attribute setter could provide a helpful message to the user.  Currently it quietly ignores the user specified boundary velocity:

https://github.com/tardis-sn/tardis/blob/592cc80cc7b585a7eb654fe109d8a01da8ef15aa/tardis/model/base.py#L225-L239

I thi

[2019-04-12 09:17] chvogl commented on #654
Solved with merge of #911 .

[2019-04-12 09:17] #654 closed

[2019-05-05 16:14] wkerzendorf commented on #908
Is this done @marxwillia

[2019-06-18 14:14] HeloiseS opened #941 "link to environment definition file broken"
The link under "environment definition file" leads to a 404 error.
It is first found here:

but also in other places in the docs.

The link given for the conda environment file:
`https://raw.githubusercontent.com/tardis-sn/tardis/master/tardis_env27.yml`

is also broken (is it supposed to be the same link??)

[2019-07-11 15:39] wkerzendorf commented on #941
@HeloiseS we now use TARDIS with python 3. are you still stuck there?

[2019-07-11 15:39] wkerzendorf commented on #941
sorry about the late response.

[2019-07-11 15:47] wkerzendorf opened #948 "TARDIS documentation restructure (I of many)"
TARDIS is not only compatible with Python 2.7
typo in recommend on installation
update the link to tardis_env3. yml

change the running tardis to tardis configuration file
move formal integral to configuration

move stella to helper scripts

[2019-07-11 18:34] HeloiseS commented on #941
No probs. I stalkes your github and found the python 3 install files and I got it working ;)

You should probably update the docs though when you have time

[2019-07-11 18:34] wkerzendorf commented on #941
see #948  😉

[2019-07-11 18:35] #941 closed

[2019-07-31 04:29] kaushik94 opened #954 "Issue with running advanced unit tests"
I have followed the instructions here: https://tardis-sn.github.io/tardis/development/running_tests.html#running-the-unit-tests
to run tests with tardis. `python setup.py develop` and `python setup.py test` both run fine on my system. While the command `python setup.py test --args="--tardis-refdata=/path/to/tardis-refdata/"` is failing. Here is the stack trace:

<img width="894" alt="Screenshot 20

[2019-08-06 10:05] wkerzendorf opened #955 "Specifying an atom that is not in the atomic database does not raise an error"
We should fix this

[2019-08-07 16:12] afloers opened #958 "automatic ref data downloader not working"
After a fresh installation the automatic ref data downloader doesn't work.
Also, the path of the ref data dir is stored in .astropy/default_tardis_internal_config.yml and not in tardis/data/default_tardis_internal_config.yml even though it exists.

[code]

[2019-09-04 15:42] marxwillia opened #962 "Require absolute paths for unit tests"
When the unit tests are run using pytest, relative paths defined in fixtures cause problems.

[2019-09-04 15:45] marxwillia opened #963 "test_plasma_vboundary"
Why does test_plasma_vboundary need to run assemble_plasma?  It takes a long time to run all the tests.

[2019-09-04 16:52] chvogl commented on #963
Do we know what the purpose of this test is? It seems like it does not test anything particularly useful. It was introduced relatively recently in 87c9b39. The origin is also quite peculiar since it was seemingly authored by @Youssef15015 and committed by @marxwillia .

[2019-09-04 17:14] marxwillia commented on #963
@chvogl It was definitely a test that I wrote, but I think I had to rebase my branch onto master after youssef's PR was merged.  The purpose of the test was to make sure that there were no edge case errors when the plasma is assembled pertaining to the v_outer/inner boundary velocities.

[2019-09-16 15:03] kaushik94 commented on #954
I understood that using `git lfs pull` is necessary. Closing this issue.

[2019-09-16 15:03] #954 closed

[2019-09-25 15:14] #63 closed

[2019-09-25 15:16] #448 closed

[2019-09-25 15:16] #473 closed

[2019-09-25 15:17] #474 closed

[2019-09-25 15:17] wkerzendorf commented on #553
with numba this will go away.

[2019-09-25 15:17] #553 closed

[2019-09-25 15:17] #725 closed

[2019-09-25 15:18] #731 closed

[2019-09-25 15:18] #766 closed

[2019-09-25 15:27] wkerzendorf commented on #808
@chvogl will implement van Regemorter Approximation anyways.

[2019-09-25 15:27] #808 closed

[2019-09-25 15:27] #862 closed

[2019-09-25 15:27] #874 closed

[2019-09-25 15:28] #875 closed

[2019-09-25 15:30] #811 closed

[2019-09-26 14:27] #955 closed

[2019-09-27 21:21] kaushik94 commented on #800
@wkerzendorf @unoebauer I would like to take up this task if it is ok?

[2019-10-22 09:41] afloers opened #970 "Spikes in the integrated spectrum"
####
I ran the ddc10 model with 500,000 photon packets. Increasing the number of packets to 2.5e6 didn't solve the problem.

#### Problem description
In some models (e.g. DDC10) the integrated spectrum has extremely high spikes in the UV. The problem is only present in the integrated spectrum. The real spectrum doesn't suffer from this issue.

#### Expected Output
The integrated spectrum is shown

[2019-10-22 12:21] chvogl commented on #970
@afloers, it would be great if you could upload the configuration yaml file as well as the csvy model file; this would allow us the reproduce the problem.

[2019-10-22 12:39] afloers commented on #970
[tardis_config.zip](https://github.com/tardis-sn/tardis/files/3755606/tardis_config.zip)
I used these files to compute the model.

[2019-10-22 19:20] marxwillia commented on #970
@afloers I can't download the files.

[2019-10-25 09:36] Pranay144 opened #972 "what exactly TARDIS do???"

[2019-10-28 15:26] wkerzendorf commented on #972
https://tardis-sn.github.io/tardis/

[2019-10-28 15:26] #972 closed

[2019-10-30 15:02] chvogl commented on #970
Fixed with merge of #971.

[2019-11-08 00:34] manolis07gr opened #976 "Cannot Import "motecarlo" package"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

#### Expected Output

[2019-11-08 00:36] manolis07gr commented on #976
Hi all,

I am back in using TARDIS after a while and wow, lots has changed! I am trying everything from the beginning and I am simply trying to reproduce the results of the Quickstart guide. However, when I do "sim = run_tardis('tardis_example.yml') I get the following package import error. Any help would be appreciated.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  F

[2019-11-11 04:35] cradesto opened #977 "ValueError: cannot set WRITEABLE flag to True of this array"
#### Problem description

We are trying to install TARDIS from the scratch following the description on
[https://tardis-sn.github.io/tardis/installation.html](https://tardis-sn.github.io/tardis/installation.html)

After that we are trying to run example notebook
docs/models/examples/run_simple_example.ipynb

And we fall into the error
ValueError: cannot set WRITEABLE flag to True of this array
on

[2019-11-11 21:29] manolis07gr commented on #976
Any Ideas yet?

[2019-11-11 21:44] chvogl commented on #976
Hi @manolis07gr. How did you install TARDIS: via pip or did you clone it from github?
It also seems like you are not using the recommended TARDIS conda environment.

[2019-11-11 21:45] manolis07gr commented on #976
Hi @chvogl, I fixed this installation/environment problem - but now I see another error when I run the Quickstart example - similar to that described by another user:

Traceback (most recent call last):
  File "example.py", line 6, in <module>
    sim = run_tardis('tardis_example.yml')
  File "/anaconda3/envs/tardis/lib/python3.6/site-packages/tardis_sn-3.0.dev3356-py3.6-macosx-10.9-x86_64.egg/tar

[2019-11-11 21:52] chvogl commented on #976
This seems to be the same problem as described in #977. I will tentatively close this issue, since the original build problem is fixed, and we can continue the discussion in #977.

[2019-11-11 21:52] #976 closed

[2019-11-11 21:54] chvogl commented on #977
The same problem occurs for @manolis07gr (see #976).

[2019-11-11 21:54] manolis07gr commented on #977
Hi @chvogl  - sounds good. I am also here with the same issue as the one described by @cradesto. Thank you for looking into it - we are excited to get your help.

[2019-11-11 22:01] chvogl commented on #977
What are the versions of numpy and pytables that you are using @cradesto, @manolis07gr?

[2019-11-11 22:04] manolis07gr commented on #977
@chvogl I am using 1.17.4 for NumPy and 3.4.4 for Tables:

1.17.4

3.4.4

[2019-11-11 22:09] chvogl commented on #977
@manolis07gr, as suggested by @cradesto you might try to downgrade numpy. I currently use 1.15.4 (conda install numpy=1.15.4) and the same version of pytables as you.

[2019-11-11 22:11] manolis07gr commented on #977
@chvogl just did but I get a new error now:
Traceback (most recent call last):
  File "example.py", line 6, in <module>
    sim = run_tardis('tardis_example.yml')
  File "/anaconda3/envs/tardis/lib/python3.6/site-packages/tardis_sn-3.0.dev3356-py3.6-macosx-10.9-x86_64.egg/tardis/base.py", line 24, in run_tardis
    from tardis.simulation import Simulation
  File "/anaconda3/envs/tardis/lib/python3

[2019-11-11 22:22] chvogl commented on #977
There a numerous issues that deal with this problem e.g. scikit-learn-contrib/hdbscan#272. Upgrading to numpy=1.16.1 might solve the problem.

[2019-11-11 22:27] chvogl commented on #977
It might also be a good idea to redo the TARDIS installation (since the problem seems to occur in compiled cython code). Use git clean -dfx to remove all compiled files and rerun python setup.py install.

[2019-11-12 01:43] GeronimoChen commented on #977
I remember I used this command to solve the problem, referring to (https://github.com/pandas-dev/pandas/issues/24839#issuecomment-472108886):

pip install -e git+https://github.com/PyTables/PyTables@492ee2f#egg=tables

I am not sure whether this problem depends on OS, because I was installing tardis on both my laptop (ubuntu 19.10) and a supercomputer (centos), and the compatible pandas/numpy seem

[2019-11-12 16:04] manolis07gr commented on #977
Hi @chvogl, I now get a new error:

Traceback (most recent call last):
  File "example.py", line 1, in <module>
    from tardis import run_tardis
  File "/anaconda3/envs/tardis/lib/python3.6/site-packages/tardis_sn-3.0.dev3357-py3.6-macosx-10.9-x86_64.egg/tardis/__init__.py", line 11, in <module>
    from tardis.io.util import yaml_load_config_file as yaml_load
  File "/anaconda3/envs/tardis/lib/p

[2019-11-12 16:10] chvogl commented on #977
@manolis07gr, could you please run
 `from tardis.montecarlo import montecarlo, packet_source`
to make sure that the numpy problem does not occur anymore.
What is the pyne version you are using?

[2019-11-12 16:12] manolis07gr commented on #977
@chvogl - I managed to reinstall pyne and numba on my conda tardis environment and things now run smoothly for this quickstart test - thank you so much for your patience and help! I am sure I may be reaching out again soon when I try to run my own application. Thanks again.

[2019-11-12 16:13] chvogl commented on #977
@manolis07gr, that is great. Happy to help!

[2019-11-12 16:58] manolis07gr opened #979 "Running custom (STELLA code) density/abund profile"
Hi all,

I am now attempting to post-process an 1D rad-hydro SN ejecta profile from the STELLA code at a certain phase (50 days after explosion) using TARDIS, and I have found this reference on parsing STELLA data to csv from @wkerzendorf:

https://github.com/tardis-sn/tardis/blob/master/docs/running/converters/stella_to_tardis.ipynb

I was able to run this without problems, and I got a density_pa

[2019-11-12 19:01] marxwillia commented on #979
Hi Manos,

There is a documentation page explaining the csvy format for TARDIS:
https://tardis-sn.github.io/tardis/models/index.html?highlight=csvy

and a link to the official csvy format definition:
https://csvy.org

There are example csvy model files used in the tests:
tardis/model/tests/data/csvy_full_rad_abundance_test.csvy

Let me know if you have other questions!

[2019-11-13 21:52] manolis07gr opened #981 "Trivial question on reference timescales"
Hi all,

So I am now loading my custom density.dat and abund.csv files through my yaml files and post-processing with TARDIS. The profile is taken by a STELLA code model at 50 days after explosion (it's a snapshot of the profile at 50 days after explosion).

The question is, what is the right value that one should input into the .yml input file and into the density.dat header in order to run the s

[2019-11-13 22:17] #979 closed

[2019-11-13 22:22] marxwillia commented on #981
Hi Manos,

In general, you should look in tardis/io/schemas/ where you can find descriptions of the model input parameters.  In this case, take a look at the schema for the csvy_model:  https://github.com/tardis-sn/tardis/blob/master/tardis/io/schemas/csvy_model.yml

You should set time_explosion = 50 day as well as the model_density_time_0 = 50 day.  This will tell TARDIS that your model's densit

[2019-11-14 18:26] wkerzendorf commented on #977
@cradesto download the newest environment file - it should now work.

[2019-11-20 04:56] xiangyun19 opened #987 "install error with .pyx"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Firstly, I cloned the repository from https://github.com/tardis-sn/tardis.git. Then I installed the anaconda env with the tardis_env3.yml and activated tardis. Then I try to install the tardis with python setup.py install, but I got the following error:

building 'tardis.plasma.properties.util.macro_atom' extens

[2019-11-20 16:17] wkerzendorf commented on #981
@manolis07gr can this issue be closed.

[2019-11-20 16:17] #981 closed

[2019-11-20 16:18] wkerzendorf commented on #987
@xiangyun19 can you post the full output. TARDIS is also only supported on linux and macos

[2019-11-20 16:18] #963 closed

[2019-11-20 16:48] xiangyun19 commented on #987
(tardis) xiangyun@xiangyun-5675:~/software/tardis20191119$ python setup.py install
The requested path 'astropy_helpers' for importing astropy_helpers does not exist, or does not contain a copy of the astropy_helpers package.
Downloading 'astropy-helpers'; run setup.py with the --offline option to force offline installation.
/home/xiangyun/software/tardis20191119/astropy_helpers/git_helpers.py:114:

[2019-11-20 16:50] manolis07gr commented on #981
@wkerzendorf yes. Working on some new models and will be reaching back to the community for help, thank you!

[2019-11-20 17:00] xiangyun19 commented on #987
**I noticed that there is no git in my system, so I installed it and ran 'python setup.py install' again, it still gave me the following errors.**

By the way, the git can not work well for the net constraint. I have download the tardis using other way.

(tardis) xiangyun@xiangyun-5675:~/software/tardis20191119$ python setup.py install
git submodule command failed unexpectedly:
error: pathspec 'as

[2019-11-20 18:19] manolis07gr opened #988 "Tardis GUI does not work with PySide2 and PyQt5"
Hi all,

My (latest) version of Anaconda does not allow me to revert back to PySide and PyQt4, so I have to use PySide2 and PyQt5 which are the final versions. As a results, the GUI for TARDIS does not run. A lot of the issues can be fixed if I, by hand, change many "QtGui" method references to "QtWidgets" but other problems still persist.

Does anyone else have the same problem? Are there plans t

[2019-11-20 20:14] #908 closed

[2019-11-21 11:53] xiangyun19 commented on #987
I have solved this problem. I just download the astropy_helpers and put it in the root directory, and then run 'python setup.py install'.

Thanks for the author's kind help.

[2019-11-21 11:59] xiangyun19 opened #989 "HDF5 file read error"
#### Code Sample, a copy-pastable example if possible

[code]

[2019-11-26 03:17] wkerzendorf commented on #987
Dear all,

Thank you very for you kind help.
However, I still can not sovle my problem.

Since I can not use the 'git clone' for internet constraints, so I installed tardis from source in a --offline mode, and then I downloaded the tardis refdata from https://github.com/tardis-sn/tardis-refdata manually. But I do not know where to put these ref-data. When I ran tardis in the Anaconda envs, I just

[2019-11-26 03:17] wkerzendorf commented on #987
@xiangyun19 please do not post on other issues.

[2019-11-27 10:32] xiangyun19 commented on #989
Hi,
These days I was trying to figure out what the problem is as posed above.
I tried to update the reference data followed the guides from https://github.com/kowal180/tardis/blob/docs/update_refdata/docs/development/update_refdata.rst . I tried to generate a new copy of new ref-data via the following command:

python setup.py test --args="--tardis-refdata=/home/software/tardiss/tardis_build_20191

[2019-12-01 03:27] marxwillia opened #993 "Remove TRAVIS from documentation pages"
I think TRAVIS is outdated, and pages like the reference data update doc page should be updated:

https://tardis-sn.github.io/tardis/development/update_refdata.html

[2019-12-08 13:39] kaushik94 commented on #989
Hey @xiangyun19 I got the same error a few days ago. I think we should download the big files using git lfs. The files from git clone are just pointers to the large file. Unfortunately I can't point you to the exact resource on how to do it since I don't remember myself. But you can find out about git lfs online and it should work fine. I hope this helps.

[2019-12-11 18:39] marxwillia opened #996 "Integrated Spectrum Spike"
Sometimes the integrated spectrum for a TARDIS model exhibits a spike to positive infinity.  This spike is not present in the virtual spectrum.  The spike usually appears around 5000 Angstroms.  In the past, rerunning the model with more photon packets solved the problem, although the spike did sometimes occur.  Currently (post interpolation fix by @chvogl, see #971) the spike persists on rerunnin

[2019-12-11 18:50] chvogl commented on #996
It might be worth a try to run the simulation again with electron scattering disabled.

[2019-12-12 13:00] kaushik94 opened #997 "ValidationError: Running test_integration.py results in error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This results in the following error:
jsonschema.exceptions.ValidationError: Additional properties are not allowed ('black_body_sampling' was unexpected)

#### Expected Output

[2019-12-17 20:09] manolis07gr opened #999 "Help needed with plasma nLTE schema"
Hi all,

I run a TARDIS model where my input file (velocity, density, trad and composition) is read-in from a csvy file. Then I ask for some key species to be treated in nLTE by using the plasma nLTE schema options as described and are available in examples in the TARDIS distribution. Yet I get the following error when I request for ['H I','He II'] species to be treated in nLTE:

File "/anaconda3/

[2019-12-17 22:04] manolis07gr opened #1000 "General input questions"
Hi all again,

In continuation from Issue #999 I also have some additional questions with regards to the TARDIS input in general and I would appreciate some help.

1) I use a MESA Type IIP SN ejecta profile in an effort to get a IIP-looking spectrum using TARDIS. I know the primary development purpose of TARDIS was to investigate Type Ia spectra, but I think making the transition to core-collapse

[2019-12-17 22:07] manolis07gr commented on #1000
@marxwillia  you have been very helpful and I would really appreciate your help with this issue, and with issue #999 .

Thanks,

manolis07gr

[2019-12-17 22:19] marxwillia commented on #1000
Hi Manos,

Your understanding of the time_explosion, model_density_time_0, model_isotope_time_0 parameters is correct.  The model_density_time_0, model_isotope_time_0 parameters should be set to the time after explosion where your density profile and isotope abundances are defined.

As for using TARDIS to simulate a Type IIP Supernova, you should look at the following papers:
1. https://ui.adsabs.

[2019-12-17 22:27] manolis07gr commented on #1000
@marxwillia thank you for being so incredibly helpful and responsive. If you have any ideas on when the updated TARDIS (to treat H for Type IIP ejecta) will be available, it would be great! Some of the models I plan to run are actually H-poor CCSN ejecta (of Type Ib/Ic), so, I am assuming there won't be significant issues for these, correct? Or am I missing something.

I appreciate you for looking

[2019-12-17 22:40] marxwillia commented on #1000
It would be helpful if you could upload your files.  Github supports .zip and .gz, so you can just put your files in a temp directory and tar it.

If your CCSN is Hydrogen poor, then TARDIS should be ok.  Make sure that you use the helium treatment in Boyle et al. (https://www.aanda.org/articles/aa/abs/2017/03/aa29712-16/aa29712-16.html).  We should perhaps talk in more detail either through email

[2019-12-17 22:47] manolis07gr commented on #1000
There you go! Both my .yml and .csvy are attached. The example.py script is the code I use to run the TARDIS simulation and plot the spectrum. It also brings up the GUI (I fixed the bugs that prevented me from doing so before) - but if that gives you trouble you can just delete the lines that enable the GUI.

Does TARDIS have an option to use the helium treatment? If so I would be more than happy

[2019-12-17 22:55] marxwillia commented on #1000
Thanks! In the plasma section of your .yml, set:

plasma:
    helium_treatment: recomb-nlte.

I recommend looking through the schema files in tardis/io/schemas directory.  This helped me when I was getting started using TARDIS to understand what options are available.

[2019-12-17 23:48] marxwillia opened #1001 "HDF save config yml"
I think the to_hdf method should save the configuration yml so that all the simulation settings are preserved in a saved HDFStore.  This should not take up much space, and I think it would prevent confusion.

[2019-12-18 15:15] wkerzendorf commented on #999
@manolis07gr TARDIS currently is missing substantial microphysics for hydrogen-rich atmospheres (e.g. bound-free processes) and we do not recommend using it for this. However, @chvogl (member of the TARDIS core team) is working on this aspect and it will be in the main version of TARDIS in the next few months.

[2019-12-18 22:57] manolis07gr commented on #999
Hi @wkerzendorf that is certainly good to know. @marxwillia mentioned that as well and said that, for H-poor SN ejecta, however, TARDIS assumptions may still be valid. If I switch to looking at Type Ib/Ic SN ejecta from MESA, would you think that I can get accurate spectra? Or am I still missing something?

Thank you both!

Manos

[2019-12-18 22:59] manolis07gr commented on #1000
Hi @marxwillia, I was wondering if you had the chance to run my yml/csvy files through and see yourself what I miss. While this SN ejecta has Hydrogen, which we now know is important since TARDIS (public version) is still missing the relevant physics, it may be a good starting point for testing. My next step is to run a Ib/Ic SN ejecta simulation with the aim to get these spectra right. Any feedba

[2019-12-19 00:15] marxwillia commented on #996
I tried this, but the problem persists.

[2019-12-19 00:33] marxwillia commented on #996
Seems like the problem might be solved by clipping to 1e-20 instead of 0.0 after the interpolation.  Will need to do some more tests.

[2020-01-25 15:46] achillefiore opened #1014 "Installation trouble"
Hi all,

I'm trying to install Tardis on a MacOS Catalina (10.15.2). I built the conda environment, activated it, then I cloned the GitHub repository with:

and finally:

but ant the end this is what I get:
<img width="1201" alt="Schermata 2020-01-25 alle 16 15 34" src="https://user-images.githubusercontent.com/60215789/73123300-d3d3cb00-3f8e-11ea-9263-680adeb461e0.png">

I saw there's a similar i

[2020-01-25 16:53] wkerzendorf commented on #1014
try to use the conda provided compilers by doing `conda install -c conda-forge compilers` in your environment

[2020-01-25 17:06] achillefiore commented on #1014
thank you a lot! This fixed the problem!
Cheers, Achille

[2020-01-25 17:06] #1014 closed

[2020-02-01 00:14] epassaro opened #1019 "Can't get the spectrum integrated with OpenMP"
**SO:** Ubuntu 18.04
**Linux Kernel:** 5.3.0-26-generic
**Compilers:** using the latest `conda-forge` compilers
**TARDIS version:** 3.0.dev3378

**Steps:**
1. Install via TARDIS via `setup.py` with the `--with-openmp` flag.
2. Run simulation with default `tardis_example.yml` and default atomic data, with `nthreads` greater than 1 and call `simulation.runner.spectrum_integrated` lazy attribute.

**

[2020-02-12 16:01] wkerzendorf opened #1029 "Fix logging"
Logging is very verbose, can't be configured to log to a file - and does not know when to turn on/off colored logging.

[2020-02-12 22:45] tardis-bot opened #1033 "Help me I'm your bot"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

#### Expected Output

[2020-02-16 18:39] #1033 closed

[2020-02-18 19:41] VGZELDA commented on #948
hello @wkerzendorf . Can you please elaborate the issue, I would love to work on it.
Thanks

[2020-02-18 19:58] wkerzendorf commented on #948
@VGZELDA it's a closed issue.

[2020-02-18 19:59] wkerzendorf commented on #948
I wrote on gitter - have a look there.

[2020-02-18 20:05] VGZELDA commented on #948
Sorry, I failed to notice it. I am trying to get familiarized with Tardis. Hope to make a PR soon.

[2020-02-19 15:52] #977 closed

[2020-02-19 15:55] #1000 closed

[2020-02-19 15:59] #987 closed

[2020-02-19 16:00] #989 closed

[2020-02-23 10:39] nipunpruthi opened #1041 "Quickstart Import Error"
By following the instructions, I made a new conda environment and built it using
[code]

I am following the quickstart instruction as given in https://github.com/tardis-sn/tardis/blob/master/docs/quickstart/quickstart.ipynb.

The third cell code is
[code]
After running this, I'm getting the following error.
[code]

[2020-02-23 14:46] wkerzendorf commented on #1041
I think you are running this inside the tardis directory which won't work.

[2020-02-25 00:02] epassaro commented on #1019
Maybe this is related to the changes introduced in #995

[2020-02-25 06:02] epassaro commented on #1019
I can confirm this bug was introduced in #995 @wkerzendorf

[2020-02-27 05:13] not4win commented on #997
The schema file 'montecarlo' does not match the config files present in the integration_tests directory.
Therfore gives an error while validating one with the other.

[2020-02-29 16:59] ImmortalRabbit commented on #680
Is this issue still open? It's just something was merged already.

[2020-02-29 17:00] ImmortalRabbit commented on #800
Is this issue still open? It's just something was merged already.

[2020-03-01 06:12] Chinmay4400 commented on #962
@marxwillia I think I ran into this problem while running test for plasma module which required the simulation to be run for the atomic data used in quickstart notebook. However, when i moved the yml file to data folder, it started looking for this data in that folder instead of where it was downloaded. Is this the same issue? If so, I'd like to work on this.

[2020-03-02 19:26] not4win commented on #962
The best solution to this problem is to pass only absolute file path to tardis-refdata argument and to raise an error when absolute file path to tardis-refdata is not provided.

[2020-03-05 10:55] shreyansjain012 commented on #1029
@wkerzendorf I would like to work on this issue can you please elaborate

[2020-03-06 19:32] #1041 closed

[2020-03-08 17:25] Chinmay4400 commented on #1019
@epassaro I tried recreating the issue with these steps :
installed tardis with --with-openmp
changed tardis_example.yml file with nthreads=3 and method : integrated in spectrum block

However upon running the quickstart notebook,  the simulation simply ended with
[code]
Am I executing all necessary steps?

[2020-03-14 13:53] yashasvi-goel opened #1092 "Still in python2 format."
https://github.com/tardis-sn/tardis/blob/9b2dccd7da54809339747cd36f22e85cdf9a1eaa/docs/physics/plasma/plasma_plots/nebular_ionization_balance.py#L93

I think needs to refactored for python3

[2020-03-14 18:27] not4win opened #1094 "Not following PEP8 standards"
Current codebase does not follow python PEP8 standards in some files.

[2020-03-18 03:12] wkerzendorf opened #1101 "Unset QT_API raises errors in tests"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Currently testing requires pyqt being set
[code]
#### Expected Output

We should skip the tests in test_gui if QT_API is not set.

[2020-03-18 03:13] wkerzendorf commented on #1101
@jordi5 can you look at that.

[2020-03-18 03:24] wkerzendorf commented on #988
This should work now @manolis07gr

[2020-03-18 03:24] #988 closed

[2020-03-22 10:33] Phantsure commented on #1019
I tried reversing the changes in #995, still same error. My machine specs are similar.

[2020-03-22 13:22] KapilBansal320 opened #1113 "Error installing tardis in Python 3.7"
#### Code Sample, a copy-pastable example if possible
Initializing astropy_helpers submodule with: `git submodule update --init -- astropy_helpers`
warning: no previously-included files found matching '*.pyc'
warning: no previously-included files found matching '*.o'
no previously-included directories found matching 'build'
no previously-included directories found matching 'astropy_helpers\tests'

[2020-03-22 13:22] wkerzendorf commented on #1113
does not work with windows - sorry

[2020-03-22 13:22] #1113 closed

[2020-03-22 13:26] KapilBansal320 commented on #1113
Okk thanks

[2020-03-27 05:47] sashank27 commented on #1001
Hey @marxwillia, I would like to work on this. Can you point as to which `to_hdf` we have to modify?

[2020-03-27 16:21] wkerzendorf opened #1125 "Add note that TARDIS only works on linux/mac"
Add this in the documentation

[2020-03-28 15:01] Pabla007 commented on #1125
@wkerzendorf I have added that in my documentation already .
https://github.com/tardis-sn/tardis/pull/1061

[2020-03-30 18:39] Phantsure commented on #1125
Is there any way that we can make it work on Windows too? Maybe using linux subsystem or something like that. Because in my opinion it would be great if we are able to do that.
I can't work on this right now as I am not using Windows.

[2020-03-31 09:52] kaushik94 commented on #1019
I think #995 should be reverted anyways @epassaro @wkerzendorf .

[2020-04-01 18:15] Phantsure commented on #1094
Should PEP8 standards be used? If so then just run the formatter on all files.

[2020-04-24 01:03] jfrostburke opened #1138 "Missing zeta_data (maybe?) causing discrepancy in model spectra"
I'm a first-time TARDIS user, and I'm trying to reproduce the results of [Heringer et al. 2017](https://iopscience.iop.org/article/10.3847/1538-4357/aa8309/pdf) to make sure I know how to run models correctly before I move on to modeling a supernova I'm writing a paper on (by varying Ni distributions to see how much that affects the early spectra).

Here's a plot of my attempt, compared to the rea

[2020-05-13 16:55] marxwillia commented on #1138
Hi @jfrostburke -- sorry for the delay in responding.  I have a couple of suggestions if this is still an issue:  1) Try increasing the number of virtual packets to 10.  2) Verify that the TARDIS simulation has converged.  You can inspect the iterations of the t_inner temperature and you should see the curve flattening.  3) Double check in the TARDIS simulation object that the abundances in each s

[2020-05-13 19:01] jfrostburke commented on #1138
Update: after emailing with Wolfgang Kerzendorf I was put in touch with Epson Heringer, whose paper results I was trying to replicate. He gave me the setup files that were used in the paper, and when I ran TARDIS using those files I could accurately reproduce the spectra from the paper, as seen here:

![95101266_2651105358457568_4042447867812511744_n](https://user-images.githubusercontent.com/3927

[2020-05-13 19:10] marxwillia commented on #1138
Excellent, let us know if you have any other questions!

[2020-05-13 19:10] #1138 closed

[2020-05-14 13:11] eparrag1 opened #1148 "Cannot import name 'montecarlo'"
Hi,

I am installing TARDIS for the first time. I installed it using Anaconda 3.

Following the quickstart instructions, after running the below line in a jupyter notebook:
`sim = run_tardis('tardis_example.yml')`

I see the error:

[code]

​I believe this error was raised in issue #976 but the resolution was not explained.

Additionally, when importing tardis:

[code]

I receive the warning:

[co

[2020-05-14 14:40] jordi5 commented on #1148
Hi! Did you installed tardis using
`pip install git+https://github.com/tardis-sn/tardis`

or

`
git clone https://github.com/tardis-sn/tardis.git`
`cd tardis`
`python setup.py install
`

Also, just to check, are you inside the tardis environment?
You should run the Jupyter Notebook inside the tardis folder, and the [tardis_example.yml](https://raw.githubusercontent.com/tardis-sn/tardis/master/docs

[2020-05-14 15:05] jaladh-singhal commented on #1148
@eparrag1 Make sure you're using a **tardis environment** as @jordi5 mentioned. I think you're potentially missing to create a virtual environment like explained in [installation instructions](https://tardis-sn.github.io/tardis/installation.html#installing-tardis-with-anaconda) -  you need to do: `conda env create -f tardis_env3.yml` and then `conda activate tardis` before installing tardis.

[2020-05-14 16:42] marxwillia commented on #1001
@sashank27 the to_hdf() function is defined in the tardis/io/utils file.  Many tardis classes inherit from the HDFWriterMixin, and therefore can call to_hdf().  Many tardis classes therefore define hdf_properties that will be saved.  Play around with that and see if you can add a property to be saved.

[2020-05-15 10:08] eparrag1 commented on #1148
Hi - thank you for your responses.

I began with

[code]

I then followed with the below:

[code]

I added the tardis_example.yml and kurucz_cd23_chianti_H_He.h5 files inside this tardis folder, then launched jupyter notebook from the terminal and created a new notebook.

[2020-05-15 16:30] jordi5 commented on #1148
This is an issue with the install script.
For a quick fix run :

`run setup.py develop`

and all should work

[2020-05-15 19:37] sashank27 commented on #1001
For a possible approach, we can add a `config` param to every class (`Simulation`, `MontecarloRunner`, `Radial1DModel`) that stores the configuration as an object parameter. Then we can add an attribute in `to_hdf` to ensure if the configuration is to be saved on hdf or not.

[2020-05-16 00:03] SylviaObserver opened #1152 "numpy version incompatible"
Hi,

I am also installing TARDIS for the first time, and I installed it using Anaconda 3.

Following the quickstart instructions, after running the below line in terminal:

[code]

[2020-05-16 00:09] marxwillia commented on #1152
Hi @SylviaObserver, are you creating the TARDIS conda environment and activating it before using TARDIS?  The numpy version should be fixed to be compatible with TARDIS.  Installation instructions can be found here:  https://tardis-sn.github.io/tardis/installation.html

[2020-05-16 02:59] SylviaObserver commented on #1152
Yes,I activate TARDIS conda environment first and then import tardis with python3. Besides, my numpy version is 1.15 as it in  environment definition file. I'm relatively inexperienced so thanks for your help.

[2020-05-16 17:41] wkerzendorf commented on #1152
@SylviaObserver - if you could provide us a minimum working example - so editing your issue to include the precise commands you type on the command-line. That will help us to try that on our systems as well and replicate the issue and hopefully help fix it.

[2020-05-17 03:05] SylviaObserver commented on #1152
OK! Thanks so much.
[code]

[2020-05-18 09:03] eparrag1 commented on #1148
Hi jordi5,

When I run the jupyter notebook in the parent directory, it can't find tardis when I try and import it:

`cannot import name 'run_tardis' from 'tardis' (unknown location)`

I also went back and noticed a line returned when running setup.py:

[code]

It looks like this could be where the problem is coming from?

Thanks

[2020-05-18 14:30] jordi5 commented on #1148
the pyne problem ussually comes up when trying to run on Windows, since pyne has issues with 64-bit Windows. Could it be that you are on Windows?

[2020-05-18 14:51] eparrag1 commented on #1148
Hi jordi5 - I'm running this on a mac

[2020-05-18 14:57] jordi5 commented on #1148
can you run `which python` in the terminal after activating the environment?

[2020-05-18 21:56] eparrag1 commented on #1148
This gives me /Users/username/anaconda3/envs/tardis/bin/python

[2020-05-18 22:05] jordi5 commented on #1148
Would you mind doing all the process again? Remove the tardis folder, and the environment; clone, reinstall the env and and reinstall tardis. As an option could you try to place the tardis folder in the home directory instead of a subdirectory?
I know it's annoying but sometimes this works.

[2020-05-19 08:54] eparrag1 commented on #1148
Hi jordi5, placing the tardis folder in the home directory fixed the problem, it's working now!
Thanks very much!

[2020-05-19 08:54] #1148 closed

[2020-05-19 10:52] SylviaObserver commented on #1152
Could you please tell me specificly which numpy version is compatible with TARDIS? I've tried numpy==1.13 1.14 and 1.15 but all failed...

[2020-05-19 11:44] jaladh-singhal opened #1154 "Fix docstrings being rendered incorrectly in API documentation"
Some of the docstrings in tardis API documentation are being rendered incorrectly as in [tardis.util.base](https://tardis-sn.github.io/tardis/api/tardis.util.base.html) where parameter name and type appears to be merged in html (e.g. `atomic_numberint`), despite it is separated by colon in docstrings (`atomic_number: int`).

Also there's some problem in latex equation in [intensity_black_body](htt

[2020-05-19 12:54] jordi5 commented on #1101
Should we close this?

[2020-05-19 18:20] marxwillia commented on #1001
That seems more complicated than necessary.  The configuration should be read in and validated using the Configuration class.  Is it possible to add a to_hdf() function there?

[2020-05-20 16:16] jordi5 commented on #1152
Hi! Tardis works with numpy 1.15. Can you try to run the code in a Jupyter Notebook instead of the python terminal?

[2020-05-20 19:32] #1101 closed

[2020-05-27 16:23] harpolea opened #1169 "Add PR review checklist"
A PR review checklist should be added to assist when reviewing pull requests. This should take the form of

- a concise checklist which is posted in the PR itself for the reviewer to tick off. This could be done e.g. by triggering a github action when a reviewer is assigned which comments the checklist in the PR
- an expanded form of the checklist in the TARDIS documentation which explains the poi

[2020-05-27 16:46] harpolea opened #1170 "Create (and enforce) a TARDIS code style guide"
There should be a section of the documentation which describes TARDIS' code style conventions. This will help the code's readability and assist new contributors. The guide could cover

- adherence to PEP 8
- function and variable names
- docstrings

To enforce this, it would be helpful to automatically run a linter (e.g. flake8) on PRs which prints out any infringements of PEP 8 it finds. (Note so

[2020-05-27 16:46] arjunsavel commented on #1094
This is a great point to make! Please point to specific lines of code / applicable files.

[2020-05-27 16:47] harpolea commented on #1170
This will address #1094

[2020-05-27 16:51] arjunsavel commented on #680
@marxwillia should we close this, or did the relevant PR merge not completely fix this?

[2020-05-27 17:06] jaladh-singhal commented on #1170
@harpolea I think [autopep8](https://github.com/hhatto/autopep8) can be helpful (I came to know about when making PR on astroquery)?

Apparently, it also provides option of configuring with `.flake8` as you mentioned!

[2020-05-27 17:12] harpolea commented on #1170
Yeah, there are several style linters around (`black` is another popular one) - I mainly suggested `flake8` as that’s the one I normally use, but they all pretty much do the same thing.

[2020-05-28 00:15] epassaro opened #1174 "Exit pipelines when a command fails (bash)"
Currently a when running a `bash` task on Azure Pipelines the `succeeded` or `failed` status is determined by the exit code of the last command (See #1162 for example).

## Suggestion
Would be nice to make steps fail if **any** command fails by setting the `SHELLOPTS=errexit` variable across the entire job.  Prepending this step to all pipelines should work:

[code]

See also:

- https://github.co

[2020-05-28 21:31] Rodot- opened #1175 "Request for man page entry"
#### Problem description

Request to have a man page entry for `tardis` describing the functionality of the command line interface as well as the API

[2020-05-29 12:33] arjunsavel commented on #1170
Another thing that might be helpful is [isort](https://github.com/timothycrosley/isort) — just in the way of making things more automated.

[2020-05-29 20:41] jaladh-singhal opened #1176 "Add in docs that TARDIS uses ion 0 for neutral"
Ion `0` is neutral in TARDIS but astronomy uses roman numeral `I` for being neutral which may be confusing (or not so intuitive) for some users as they may expect `1` to correspond to neutral.

Thus this needs to be documented at a suitable section in TARDIS docs.

[2020-05-31 15:55] harpolea commented on #1170
One way to do this would be to use a precommit hook: https://github.com/yt-project/yt/pull/2600

[2020-06-01 19:19] jaladh-singhal opened #1177 "Several doc pages under Running TARDIS section are missing from TOC"
There are several helpful doc pages in TARDIS documentation which do appear on keyword searching the docs but not in TOC which is expected way of accessing.

1. In [Interacting with TARDIS](https://tardis-sn.github.io/tardis/running/interaction/index.html) section of tardis docs, there is no TOC defined. Thus a docs user can't access the contents (notebooks and rst files) that are [actually presen

[2020-06-01 20:35] #1092 closed

[2020-06-02 14:32] wkerzendorf opened #1179 "Interactive spectrum widget"

[2020-06-04 15:44] wkerzendorf opened #1184 "descriptive indices for `t_inner` and other quantities"
Make sure that the `t_inner` has a sensible index name - like iterations or shells depending

[2020-06-09 13:46] jaladh-singhal commented on #1179
Do a wavelength slider 1st to bring up table widget and then try to make it interactable with spectrum plot!

[2020-06-12 20:01] epassaro opened #1186 "Use `request` fixture instead of `pytestconfig`"
Since #1185 we are using `pytestconfig` to run our tests because `pytest.config` was deprecated in `pytest` 5.

But the official documentation recommends using the `request` fixture instead.

We should switch to the recommended method.

See:
- https://docs.pytest.org/en/latest/deprecations.html#pytest-config-global
- https://docs.pytest.org/en/latest/example/simple.html

[2020-06-17 15:55] epassaro commented on #1186
Closed by #1190

[2020-06-17 15:55] #1186 closed

[2020-06-17 15:56] epassaro commented on #1125
Closed by #1189

[2020-06-17 15:56] #1125 closed

[2020-06-18 21:42] jaladh-singhal commented on #1154
@arjunsavel regarding the 1st part where parameter name and type gets merged - that was due to some CSS bug as mentioned in [numpydoc#215](https://github.com/numpy/numpydoc/issues/215) and has been fixed by latest update of `sphinx_rtd_theme` to 0.5.0 (released 8-9 hrs ago on conda-forge) - I've tested this locally for my widgets module api docs and it works.

Since we have `sphinx_rtd_theme` unpi

[2020-06-19 16:32] epassaro commented on #1019
Fixed by #1159.

[2020-06-19 16:32] #1019 closed

[2020-06-19 16:59] epassaro opened #1194 "Restore caching for `spectrum_integrated`"
`spectrum_integrated` caching was commented out in #995, maybe for debugging purpuses.

[2020-06-19 20:20] kaushik94 commented on #1194
@epassaro +1. I was the person who did that. Yes, it was for debugging the CI/CD pipeline. You can revert the changes.

[2020-06-26 19:04] wkerzendorf opened #1205 "Use format strings throughout TARDIS"
We mostly use the old-style version of string formatting `"hello {0}".format(world_str)` in py36 we can now switch to `f"hello {world_str}"` - we should use this throughout TARDIS

[2020-06-26 19:16] jaladh-singhal opened #1206 "Change latex strings to raw strings"
Throughout the tardis codebase, we have multiple LATEX strings which are written as simple strings - they should be converted to raw strings so that we don't need to write double `\\`.

For e.g.:
https://github.com/tardis-sn/tardis/blob/e8ab6605d91b69d389a16802be8e06f8ef0cc51a/tardis/plasma/properties/general.py#L40-L42
[code]
 ## Pointers
Search such latex strings throughout the tardis codebase a

[2020-06-26 19:46] jaladh-singhal opened #1208 "Add docstrings to each module and subpackage"
TARDIS has docstrings for most of the functions but almost none for modules. This will make sure that whenever one opens API docs, it becomes clear to user what's the purpose of each module.

A good starting point is [documenting modules](https://numpydoc.readthedocs.io/en/latest/format.html#documenting-modules) section of numpydoc.

[2020-06-29 17:44] epassaro opened #1211 "Can't install TARDIS with `pip`"
## Description

[code]
... does not work anymore!.

[code]

Please, try to reproduce this bug in a fresh environment with latest TARDIS release and fix.

[2020-06-30 15:48] jordi5 opened #1212 "[Request] Different model file formats to test `GenericModel`"
We are trying to use the GenericModel to read models from other codes. We know that many of them offer various attributes. We are looking at some with these attributes:

- [ ] Electron Density

If you know of or have such models please post here.

[2020-07-01 14:55] marxwillia opened #1214 "Add Meta Data to Simulation Object"
Currently we do not store meta data about the git hashes/version numbers of software packages used in TARDIS.  This makes reproducing results difficult.  At a minimum, we should add the TARDIS version number as metadata to every simulation object and save this data in the to_hdf function.  @harpolea and the AMReX team have implemented this type of functionality.

[2020-07-01 15:02] harpolea commented on #1214
It's in C++, but here is the function where the metadata is generated Castro. This metadata is included in every plotfile. It saves all of the information about the machine where the simulation was run, lists all the inputs files used, has timestamps and lists the git hashes of the three software libraries used (AMReX, Castro and Microphysics).

https://github.com/AMReX-Astro/Castro/blob/f5ae79e6f

[2020-07-01 15:09] epassaro commented on #1174
Have this in mind @kaushik94.

[2020-07-01 15:11] jordi5 commented on #1152
@SylviaObserver could you solve the issue?

[2020-07-01 15:40] wkerzendorf commented on #1175
Is that important? We should ask if anyone in the community uses that.

[2020-07-01 15:43] wkerzendorf commented on #1152
This will be closed after 8th of July 2020 if no activity has been recorded

[2020-07-01 15:44] kaushik94 commented on #1174
@epassaro check https://github.com/tardis-sn/tardis/pull/1210/files. I made the change.

[2020-07-01 15:44] wkerzendorf commented on #999
@marxwillia did you guys talk? Can we close this?

[2020-07-01 15:46] wkerzendorf commented on #996
What needs to happen to this?

[2020-07-01 15:47] wkerzendorf commented on #993
okay - maybe that will come with our tests update @kaushik94

[2020-07-01 15:48] wkerzendorf commented on #958
is that still going on @afloers

[2020-07-01 15:50] jaladh-singhal opened #1215 "Explain in documentation how to compile tardis with vpacket logging"
As mentioned in [`tardisanalysis/docu/instructions.md`](https://github.com/tardis-sn/tardisanalysis/blob/master/docu/instructions.md#tardis_kromer_plotpy),

As suggested by @marxwillia, there are other several essential features of tardis which require compiling it with vpacket logging, but it isn't documented anywhere in documentation. So it can be explained in installation documentation of tardi

[2020-07-01 15:51] wkerzendorf commented on #878
@chvogl what is going on with this?

[2020-07-01 16:22] wkerzendorf commented on #1094
using black right now

[2020-07-01 16:22] #1094 closed

[2020-07-01 18:48] wkerzendorf opened #1216 "Update TARDIS setup and package infrastructure"
TARDIS's setup and package architecture is based on the`astropy`'s excellent package template ( https://github.com/astropy/package-template) this has changed in the last years and we should update our infrastructure to follow the new guidelines. We should also look out for this https://github.com/astropy/astropy-APEs/blob/master/APE17.rst. Once things are changed we need to add these files to be e

[2020-07-08 15:01] #1152 closed

[2020-07-08 15:10] epassaro opened #1223 "Make a specific Azure Pipelines template for TARDIS"
## Motivation

TARDIS pipelines share a set of common steps that would be nice to have in a template for future developers. These steps are usually found in different sections of the Azure Pipelines documentation, and sometimes are just not there.

This template-based scheme would be friendlier for new developers.

## Description
- Create a `tardis-azure-template.yml` file.
- Fill with with common

[2020-07-08 23:58] jordi5 opened #1228 "Radial1DModel.from_csvy() returns wrong abundances"
#### Code Sample
download or copy this 2 files [gist](https://gist.github.com/jordi5/d7e828184342e482fea354292ac27bc4)

And then, in a Jupyter Notebook, run this code
[code]
and look at `model.raw_abundances` and `model.raw_isotope_abundances` they should have the same number of columns but they don't. And the elemental abundances doesn't match those that where used as input.
#### Problem descript

[2020-07-09 02:18] epassaro commented on #1174
As @kaushik94  proved, this piece of code worked! See: #1210.

Closed.

[2020-07-09 02:18] #1174 closed

[2020-07-10 17:30] epassaro opened #1230 "Move to Pandas 1.x"
Related to `pandas` v0.24:

[code]

More changes required.

[2020-07-13 20:25] jaladh-singhal opened #1232 "Add a property to simulation object to store boolean mask of packets coming out or not"
Currently tardis stores `simulation.runner.output_energy` in +ve values if the corresponding packets come out and in -ve values if they bounce back to photosphere. This is required in computations like [this minmodel from tardisanalyis](https://github.com/tardis-sn/tardisanalysis/blob/ff79f155d2a8a9073fba237f3b75dfe31ca9aa31/tardis_minimal_model.py#L260) where mask is calculated by `output_energy

[2020-07-14 15:30] #1194 closed

[2020-07-15 15:43] marxwillia opened #1239 "Write Conversion Script from old model to csvy model"
#### Problem description

The old method of specifying an abund.dat and density.dat for a TARDIS model is now outdated due to the csvy model format.  As development continues with the generic model, it may cause confusion for new users and there won't be support for the old model format.

It should be relatively easy to write a converter script that reads an old TARDIS config yaml file with the mo

[2020-07-17 17:59] jaladh-singhal commented on #1232
I found that such property already exists as `simulation.runner.emitted_packet_mask` - so closing it!

[2020-07-17 17:59] #1232 closed

[2020-07-23 03:24] arjunsavel commented on #1211
Reproduced this while installing on Moria!

[2020-07-23 18:09] epassaro commented on #1211
Bug introduced in 3297d264ba607bc1dc641d130b1764965cf59023

[2020-07-23 21:10] aluttery456123 opened #1243 ""Quickstart for tardis" bug"
TARDIS has been successfully downloaded and runs fine so far. I used the "Quickstart for TARDIS" [https://tardis-sn.github.io/tardis/quickstart/quickstart.html](url) guide to start off, but I've gotten a few error messages. The code is being run through iPython, but I still needed to explicitly import "matplotlib.pyplot as plt" and modify the script in order for it to stop returning "name 'figure'

[2020-07-23 21:12] epassaro commented on #1243
There's a typo, you spelled `lamda` instead of `lambda`.

[2020-07-23 22:17] aluttery456123 commented on #1243
Thank you, I would've never seen that!

[2020-07-23 22:17] #1243 closed

[2020-07-24 18:21] jaladh-singhal commented on #1211
@epassaro In theory, this shouldn't happen - we can hunt down the cause if you want on next Wednesday?

[2020-07-24 21:36] jaladh-singhal opened #1246 "Fix how vpacket-logging status is saved"
## Problem
Currently vpacket-logging status is saved in [`tardis/data/vpacket_config.yml`](https://github.com/tardis-sn/tardis/blob/master/tardis/data/vpacket_config.yml) which is required [to check](https://github.com/tardis-sn/tardis/blob/master/tardis/montecarlo/base.py#L43) whether to save virtual packet properties to hdf file or not.

Whenever user compiles tardis `--with-vpacket-logging`, th

[2020-07-24 21:53] marxwillia commented on #1246
Of the two options you present, I think I like option 2.  I am also a little confused because my vpacket_logging.yml file says `false` even though I have compiled tardis with vpacket logging and just recently made a kromer plot.  Also I cannot find any discussion of this file in the documentation and there probably should be something.

[2020-07-25 09:07] jaladh-singhal commented on #1246
This is what happened to me. Simulation object always saves virtual packet properties (if you've compiled tardis with vpacket logging) irrespective of what is stored in this `vpacket_logging.yml`. This file becomes necessary when saving hdf properties, to check if vpacket-logging is enabled because there doesn't seem any direct way to determine it (at least I couldn't find it).

And your file says

[2020-07-28 13:59] jaladh-singhal opened #1250 "Add units to HDF"
Currently, HDF doesn't save units so when using them, the units have to be harcoded while creating quantities. They should be saved in hdf when calling `to_hdf()` on simulation object.

[2020-07-28 16:08] jaladh-singhal opened #1251 "Create a smart HDF Reader which can re-produce simulation object"
Currently simulation objects are usually saved to disk as hdf files. But current implementation of HDF file writer (`to_hdf`) don't save units and only selected properties are saved. And whenever that hdf is read, the interfaces using it have to create a separate hdf classmethod to extract information from it and then convert to quantities (to get data in same format as a simulation object gives).

[2020-07-28 16:27] jaladh-singhal opened #1252 "Add documentation guidelines to TARDIS docs"
The main aim of these guidelines will be:
- to let developer know how to build tardis docs locally
- to explain what does a well-documented PR expects (meaning of "documenting the code added" section in CONTRIBUTING.md):
  - Add docstrings to modules/functions/classes
  - Add example notebook/rst page in docs demonstrarting their work, etc.

It should be placed within "Contributing to TARDIS" sect

[2020-07-28 16:43] jaladh-singhal opened #1253 "Add Code quality guidelines to TARDIS docs"
The main aim of these guidelines will be to explain what does good quality code in a PR expects (meaning of "maintaining code quality" section in CONTRIBUTING.md):
  - code covers edge cases, exception handling where required
  - easy to maintain and extend - OOP design pattern
  - follows PEP8 style guide (use of black)
  - more pointers can be found in [this code quality guide by real-python](ht

[2020-07-28 16:45] arjunsavel commented on #1253
Similar to #1170?

[2020-07-29 15:41] arjunsavel opened #1256 "Add pyne installation instructions to documentation"
#### Problem description

We currently walk users through common installation troubles in the TARDIS docs; we should include problems that we've had getting PyNE going.

[2020-07-29 15:46] arjunsavel opened #1257 "Make black pre-commit hook / GitHub action"
We've applied `black` to our code; having a pre-commit hook set up in addition to a GitHub action will ensure that `black` continues to be applied!

*note: we should also include this in our documentation once it's in action.*

[2020-07-29 15:46] jaladh-singhal commented on #1253
Can use some inspiration from astropy - https://docs.astropy.org/en/latest/development/codeguide.html

[2020-07-29 15:48] jaladh-singhal commented on #1252
Can use some inspiration from Astropy - https://docs.astropy.org/en/latest/development/docguide.html

[2020-07-29 15:59] jaladh-singhal opened #1258 "Update Testing guidelines in TARDIS documentation"
Current [testing guidelines](https://tardis-sn.github.io/tardis/development/running_tests.html) are really outdated, they need to be updated as they're referred in Contributing guidelines. And should explain about:
- how to run tests locally
- how & why to create unit tests, etc.

[2020-07-29 16:04] jaladh-singhal commented on #1258
Could make use of Astropy testing guidelines - https://docs.astropy.org/en/latest/development/testguide.html

[2020-08-04 01:17] kaushik94 commented on #1246
@marxwillia @jaladh-singhal I implemented that solution. I remember there was a reason for this. Let me check and get back.

[2020-08-04 01:21] kaushik94 commented on #1246
I think this does make sense as I did not know about the `virt_logging` option. I was not aware.

[2020-08-10 16:41] arjunsavel opened #1268 "Numba `packet_source` is slow"
#### Code Sample, a copy-pastable example if possible

#### Problem description
In the C code, creating all the packet properties in packet_source (i.e., sampling the modeled blackbody for nus, creating mus, creating energies) takes on the order of 8 ms on Moria, provided that we're running about ~1e5 r_packets. In the `numba_montecarlo` approach, we've adopted a packet-by-packet property-creation

[2020-08-10 18:58] #1228 closed

[2020-08-11 16:57] arjunsavel commented on #1268
We're no longer creating packet properties on a seed-by-seed basis — so this shouldn't be a problem anymore!

[2020-08-11 16:57] #1268 closed

[2020-08-12 17:57] epassaro commented on #1230
Done in #1266

[2020-08-12 17:57] #1230 closed

[2020-08-12 18:57] arjunsavel opened #1273 "Numba montecarlo limited to ~4e9 packets"
#### Code Sample, a copy-pastable example if possible

#### Problem description
Given restrictions on the seed for `np.random.random` (the max seed is` 2**32 - 1,` per [NumPy documentation](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.seed.html)), we are currently limited to roughly 4e9 packets with individual random seeds.

#### Potential solution
In the newer (v1.19.0

[2020-08-13 17:39] abhaydhiman commented on #1205
Can I work on this?

[2020-08-14 17:33] #1273 closed

[2020-08-18 05:55] nvieira-mcgill commented on #1211
Hi,

I recently encountered this issue with pyne when attempting to use TARDIS on a remote server where use of conda was prohibited. I was actually able to solve it, but the method was fairly convoluted... posting it here anyways for others who have this problem.

I had to download the package `conda-press` ([https://github.com/regro/conda-press](https://github.com/regro/conda-press)), which allow

[2020-08-18 19:05] arjunsavel opened #1279 "Uniform density profile not in documentation"
#### Problem description

Other density profiles (exponential, power-law) are detailed/explained/showcased in the documentation, while the uniform density profile is not.

[2020-08-19 18:58] arjunsavel opened #1281 "Save configuration yml with HDF"
#### Problem description
In the interest of reproducibility, the configuration .yml file should be saved in the `.to_hdf` call. This would ensure that all parameters of the simulation (e.g. the montecarlo parameters) can be easily inspected post-run.

[2020-08-19 18:59] marxwillia commented on #1281
Possibly we need a way to save the Configuration object that is created in `run_tardis()`

[2020-08-19 20:44] #1212 closed

[2020-08-21 11:03] jaladh-singhal opened #1282 "Create an option to build docs without executing notebooks"
Currently, whenever docs are build, the notebooks which are marked to be executed by nbsphinx make build time very long  - since each of them runs simulation model. This is fine for production but for development this becomes really annoying.

So there must be some option or flag while running `make html` or `python -m sphinx build` to explicitly disable notebooks' execution by nbsphinx on run-tim

[2020-08-28 03:04] nvieira-mcgill opened #1284 "Bug in axis labels in simulation/plasma/lines and simulation/plasma/tau_sobolevs"
Hi,

I am trying to determine the atom involved in every one of the interactions given in `plasma/lines` in the HDF file written by TARDIS. If I am understanding correctly, the atomic number Z involved in each of these transitions should be given in `plasma/lines/axis1_label0`. However, these numbers seem to be offset from their true values.

For example, in a run using the following abundance pat

[2020-08-28 08:30] kaushik94 commented on #993
@wkerzendorf I missed this comment, sorry for late reply. Yes sure, we need to write documentation on Azure pipelines. And possibly github hooks in the future.

[2020-09-01 11:08] harish-infinity opened #1287 "No module named 'pyne'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

While installing Tardis via pip3; there was a pyne module error

[2020-09-01 12:46] wkerzendorf commented on #1287
Please follow these installation instructions - https://tardis-sn.github.io/tardis/installation.html

[2020-09-01 19:41] epassaro commented on #1287
We adressed this issue here https://github.com/tardis-sn/tardis/issues/1211.

Please install TARDIS doing:

[code]

[2020-09-01 20:28] morganlee123 opened #1288 "Bug downloading the atomic dataset"
#### Code Sample, a copy-pastable example if possible

[code]
![Screen Shot 2020-09-01 at 4 26 52 PM](https://user-images.githubusercontent.com/23300342/91902618-ff7b0a00-ec6f-11ea-877a-a2af1a4d0dee.png)

#### Problem description

Atomic dataset is not downloading. Returning a 404 not found with the githubusercontent link. Cell is completing in python notebook instantly without error

#### Expecte

[2020-09-01 21:28] epassaro commented on #1288
This is not strictly a bug.

We ran out of LFS quota and we can't access those files for 30 days.

[2020-09-02 12:51] #1246 closed

[2020-09-02 19:24] wkerzendorf opened #1290 "use of virtual spectrum range and spectrum range in numba in c code"
There are two spectrum ranges one that is for the histogram for the r- and v-packets. The other that is for seeing where the vpackets can spawn from. this needs to be properly documented and fixed

[2020-09-02 22:06] elifavaro opened #1292 "Error when running Tardis"
Hi, I have an error when I run Tardis, related to the atom data.
On a Jupyter notebook, I do:

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The files are downloaded, but it gives me error when the last line of code is executed:

[tardis.plasma.standard_plasmas][INFO   ]  Reading Atomic Data from kurucz_cd23_chianti_H_He.h5 (standard_plasmas.py:87)
[tardis

[2020-09-02 22:25] epassaro commented on #1292
Hi Elizabeth,

Currently we have a problem related to the hosting of the atomic data.

Please download the atom data manually [from here](http://opensupernova.org/~epassaro/kurucz_cd23_chianti_H_He.h5) and place it in `Downloads/tardis-data` folder in your computer. Then continue with the Quickstart guide ignoring the `download_atom_data` step.

The `download_atom_data` function should be working

[2020-09-02 22:44] elifavaro commented on #1292
Hi Ezequiel,

Thank you so much, it's already working! :)

Saludos

[2020-09-04 10:59] wkerzendorf commented on #1292
Thanks @epassaro - should we close this?

[2020-09-04 11:58] wkerzendorf opened #1294 "Reading csvy model causes problems using `Configuration`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This produces an error about `v_inner_boundary` not allowed to be defined. Just using the file directly works.

Added by Jordi:

Using a similar procedure with a different file produces a different error:

[code]

jsonschema.exceptions.ValidationError: Additional properties are not allowed ('config_dirname' was

[2020-09-04 13:21] elifavaro commented on #1292
Yes. Thanks!

[2020-09-04 13:21] #1292 closed

[2020-09-04 13:51] epassaro commented on #1288
Closed by #1291

[2020-09-04 13:51] #1288 closed

[2020-09-04 15:18] jordi5 commented on #1294
I'm looking into it

[2020-09-04 19:52] jordi5 commented on #1294
[code]
@wkerzendorf  isn't the usage you propose is redundant? `from_yaml` already runs `from_config_dict`

[2020-09-10 19:54] andrewfullard opened #1298 "Kernel crash when running tardis in PR 1295 with high optical depth"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

#### Problem description
When running the above code on the PR 1295 branch https://github.com/tardis-sn/tardis/pull/1295, the Python kernel crashes a short while after reaching this output:

[tardis.simulation.base][INFO   ]  Starting iteration 1/1 (base.py:326)
[py.warnings         ][WARNING]  /home/afullard/.conda/envs/tardis

[2020-09-10 20:10] marxwillia commented on #1298
@andrewfullard Here are two things I would try:

1.   You should be using python 3 where this isn't an issue, but just double check that you're not having an integer division bug when you do `config.supernova.time_explosion = 10/25 * u.day`

2.  Try running the same simulation, but setting everything in the yml file.  I would be very careful about using the `del` operation to alter the abundances.

[2020-09-14 15:16] jaladh-singhal commented on #1211
I too encountered this error, but for me it's `No Module named Cython`

Full error log:
[code]
This is strange though, because in a python kernel with tardis environment,  I can easily `from Cython.Build import cythonize` works fine!

[2020-09-14 22:00] jaladh-singhal opened #1301 "Line Info Widget doesn't accomodate to dark theme of Jupyter"
This is a pretty minor comment that likely doesn't affect many people, but I've updated my notebooks to have a dark background. This makes it difficult to read some of the text, as it's black on a dark background. This is shown in the attached image. Maybe adding a white background or changing the colour to something like red would fix this?

<img width="1138" alt="Screenshot 2020-09-09 at 16 36 2

[2020-09-16 14:39] Knights-Templars opened #1302 "cmfgen2tardis not working"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
<pre>from tardis.atomic import AtomData
ModuleNotFoundError: No module named &apos;tardis.atomic&apos;
</pre>

While trying to convert a cmfgen file to tardis, shows the output above. Any help would be greatly appreciated

[this should explain **why** the current behaviour is a problem and why the expected outpu

[2020-09-16 15:43] wkerzendorf commented on #1302
could you please show us how you want to do that and post also the files - so we can try to follow

[2020-09-16 15:52] Knights-Templars commented on #1302
Thankyou for your reply.

So, I want to model the spectra of a SN Ia which I am currently working on. I am trying to generate tardis readable file from a cmfgen file
[PDDEL1n_SN_HYDRO_DATA_1.000d.txt](https://github.com/tardis-sn/tardis/files/5233273/PDDEL1n_SN_HYDRO_DATA_1.000d.txt)

This is from a paper by Dessart, 2014.
I am running cmfgen2tardis /cmfgen-file /tardis-model as is described in th

[2020-09-16 23:42] lisamartin72 opened #1305 "NumFOCUS Donation Link"
Hi Tardis project!

Attached are the URL and code for your NF donation button. Most of our sponsored projects have a donation button on their websites. Please reach out if you have any questions, and welcome!

Best,

Lisa Martin
finance@numfocus.org

https://numfocus.salsalabs.org/donate-to-tardis

[code]

[2020-09-17 11:54] epassaro commented on #1302
Seems `AtomData` has been moved:

[code]

Also in the script `tardis/scripts/cmfgen2tardis.py` there's a line:

[code]

but currently `AtomData` has the `to_hdf` method instead.

This file should be patched.

[2020-09-17 17:33] Knights-Templars commented on #1302
Many thanks. I did the import as was mentioned by @epassaro , and also removed the string part '100*0.00000D0' to 100.00.
Now a new error comes as follows on the same text file that was provided earlier.
<pre>abundances_df.loc[element_symbol] = abundances</pre>
<pre>ValueError: cannot set a row with mismatched columns</pre>

Is there a change in the output format of cmfgen or the code ?

[2020-09-17 18:43] epassaro commented on #1302
I understand that ` '100*0.00000D0'` should be `0.0`.

Then the `ValueError` happens because abundances for elements without the ` '100*0.00000D0'` have the same length. Then what we need (I'm not really sure) is to have an array of zeros of the same length.

I wrote on line 80:

[code]

Then the code fails again because the function `def get_atomic_number` returns index `-1` by default (line 14 a

[2020-09-17 18:46] epassaro commented on #1302
I understand that ` '100*0.00000D0'` should be `0.0`.

Then the `ValueError` happens because abundances for elements without the ` '100*0.00000D0'` have the same length. Then what we need (I'm not really sure) is to have an array of zeros of the same length.

I wrote on line 80:

[code]

Then the code fails again because the function `def get_atomic_number` returns index `-1` by default (line 14 a

[2020-09-24 19:41] wkerzendorf opened #1307 "Behaviour when two lines are numerically similar"
The current behaviour is likely sub-optimal as there is a comparison between the last line interacted and the current line and likely leads to a slightly reduced opacity. This should be investigated and fixed.

[2020-09-25 14:42] epassaro commented on #1223
Closed by #1304

[2020-09-25 14:42] #1223 closed

[2020-09-29 13:47] shrey27tri01 opened #1311 "Error while setting up local development environment"
#### Problem description
I was facing this issue while installing TARDIS for development.
After activating the `conda` environment and following the installation instructions for development [here](https://tardis-sn.github.io/tardis/development/git_workflow.html#forking), on running `python setup.py develop`, I get the following error:
[code]
I tried troubleshooting this error from [here](https://

[2020-09-30 13:09] wkerzendorf commented on #1311
is this on linux?

[2020-09-30 13:34] wkerzendorf commented on #1305
@lisamartin72 we added buttons to our `Readme.rst` if you want to have a look.

[2020-09-30 14:22] shrey27tri01 commented on #1311
@wkerzendorf Yes, I am on a Linux machine.

[2020-10-01 05:13] harish-infinity commented on #1311
Yes, I was facing the same problem from last month.

[2020-10-04 12:41] shrey27tri01 commented on #1205
@wkerzendorf Can I take up this task?

[2020-10-05 16:43] #1305 closed

[2020-10-05 18:15] epassaro commented on #1282
The default way to execute cells while rendering notebooks with `nbsphinx` is to leave all cells blank. If some cell is already executed then the notebook is **not executed**.

I understand the TARDIS documentation relies on notebook metadata to **always** execute the notebook and ignore the above method. Using this method and running once the Quickstart guide should be enough to build the documen

[2020-10-11 01:51] shrey27tri01 commented on #1311
@wkerzendorf Any updates on the issue? :)

[2020-10-14 16:31] #1287 closed

[2020-10-14 16:32] wkerzendorf commented on #1284
uhm - lt me look at that,

[2020-10-16 14:06] wkerzendorf opened #1322 "check what happens when the fixture `verysimple_simulation` is not run with 4000 packets"

[2020-10-20 00:11] Divyansh-20 commented on #1322
Hey @wkerzendorf  can I contribute to this issue?

[2020-10-27 14:42] chvogl commented on #1284
Closing due to inactivity. @nvieira-mcgill, if you still need help, please reopen the issue.

[2020-10-27 14:42] #1284 closed

[2020-10-29 04:17] Sanchayan-Bhowal commented on #1206
Is anyone working on this issue else I would like to work on it

[2020-10-30 07:59] jaladh-singhal commented on #1206
@Sanchayan-Bhowal This has already been implemented by #1283

I should close this for now.

[2020-10-30 07:59] #1206 closed

[2020-11-04 15:49] wkerzendorf opened #1337 "Update citation procedure"
Update the citation procedure in various places in TARDIS. PR #974 was an attempt to do this but needs to be rebased.

[2020-11-04 15:49] wkerzendorf opened #1338 "Update citation guidelines"
Update the citation procedure in various places in TARDIS. PR #974 was an attempt to do this but needs to be rebased.

[2020-11-12 19:57] andrewfullard opened #1341 "Numba virtual packet logging should not be arrays of arrays"
[code]
#### Problem description

Currently the virtual packet logging is made up of clunky array-of-array objects so they can be written to HDF. These should be changed in the future to lists of VPacketCollections or similar so that they are better accessible to other parts of the code, then the HDF writer can be rewritten to interpret the collections correctly for file output.