[2020-11-12 20:00] andrewfullard opened #1342 "Remove virtual packet logging compile flag"
#### Problem description

--with-virtual-packet-logging is deprecated with the numba code and can be removed.

[2020-11-12 20:02] andrewfullard commented on #1337
Duplicate of #1338

[2020-11-12 20:02] #1337 closed

[2020-11-12 20:04] andrewfullard commented on #1281
Completed with 983213bf23af493e8b569cba12e578f641163f19

[2020-11-12 20:04] #1281 closed

[2020-11-12 20:06] andrewfullard commented on #1215
This has changed with numba-montecarlo. See #1342 for reference.

[2020-11-13 17:57] Rodot- opened #1343 "Config parser should verify that parameters are physically realistic"
#### Problem description

tardis will currently run when given negative abundances without complaining.  Other physically unrealistic parameters like negative densities are also run without complaint resulting in odd behavior of TARDIS (freezing up for example).  We should implement some sort of checks in the config parsers (or when we run tardis) to make sure that the config represents a physical

[2020-11-13 21:14] #1341 closed

[2020-11-13 22:13] andrewfullard opened #1344 "Improve test_calculate_distance_boundary"
#### Problem description

we should use more easy to understand mus and nus here. I would say put it in the middle of the cell and go mu=1, -1 - and then mu=0 and use the secant calculation to see if thins calculates the thing. Does it also not return if it goes out or in (d_shell)?

#### Expected Output

[2020-11-16 20:43] wkerzendorf opened #1350 "Document refdata comparison with pytest"
Update the documentation to not use `python setup.py test` and use `pytest` in ref data comparison
https://tardis-sn.github.io/tardis/development/update_refdata.html

[2020-11-16 20:47] wkerzendorf opened #1351 "Do better comparison using statistical means in refata comparison"
use statistics given in https://ui.adsabs.harvard.edu/abs/2018MNRAS.477.3425B/abstract

[2020-11-19 16:43] Rodot- opened #1355 "Parallelization in montecarlo main loop"
### Problem description
Since the numba merge, the option for enabling parallelization is no longer functional when running setup.py.  Currently, there is no way to enable parallelization from the nthreads field in the config files.  Numba supports parallelization through jit kwargs and environment variables.  These changes should be made to the numba branch to allow user-specified multithreading.

[2020-11-19 20:13] #1001 closed

[2020-11-23 11:13] nvieira-mcgill commented on #1284
Apologies for very late reply - ```pandas.HDFStore``` does indeed resolve this. Full code, for reference:

[code]

[2020-11-24 12:30] jaladh-singhal opened #1356 "Add virtual_packet_logging option to run_tardis()"
Current way (after merging numba) is to specify this option in the configuration file. Considering visualization tools we're developing, it'll be more convenient if user can set this option during run-time instead of adding/removing it again & again from their configuration file.

[2020-11-24 12:58] jaladh-singhal opened #1357 "Restructure documentation to make sidebar look more informative"
## Problem description

Current structure in docs doesn't organizes pages in a way that is easy to find. We need to make changes in hierarchical changes in TOC, so that sidebar in https://tardis-sn.github.io/tardis/ becomes informative enough to get a gist of important pieces of content at one glance!

## Expected Solution
Required hierarchy in sidebar:
![image](https://user-images.githubuserconte

[2020-11-24 14:34] andrewfullard commented on #1356
Would it not be reasonable to add it to the visualization script using:
`config.spectrum.virtual.virtual_packet_logging = True`?

[2020-11-24 14:35] wkerzendorf commented on #1356
I agree

[2020-11-24 15:19] andrewfullard commented on #1356
I should be clear- the script that the user runs should begin with that option if they want to enable the logging without modifying their YAML. Note that the logging is not a high performance cost as far as I can tell, it simply increases the size of the HDF, so there is not much downside for the user to leave it turned on.

[2020-11-27 19:46] smithis7 commented on #1357
What would we be doing with the testing section?

[2020-11-29 04:25] smithis7 opened #1362 "Links in docs/CONTRIBUTING.md are wrong"
#### Problem description
When on the TARDIS documentation, the "Contributing to TARDIS" page (with the source file being ```docs/CONTRIBUTING.md```) has a few hyperlinks that do not appear to link to the correct location. The ones I found are:
1. Under the subheading "Editing the Documentation," the hyperlink should take you to a page about building the documentation, but instead just takes you ba

[2020-11-29 19:32] #1362 closed

[2020-11-30 15:11] #680 closed

[2020-11-30 21:54] smithis7 opened #1363 "Many links in the documentation do not work"
#### Problem description

The references in ```docs/running/to_hdf.rst``` are not appearing correctly when the documentation is built. This can be seen here: https://tardis-sn.github.io/tardis/running/to_hdf.html

#### Expected Output

The two references (marked with ```:ref:```) should link to ```docs/running/interaction/to_hdf.ipynb``` and ```docs/running/interaction/hdf_writer.ipynb``` respecti

[2020-12-04 15:58] jaladh-singhal opened #1367 "Some of tests in test_simulation and test_tardis_full fail in 2nd run locally"
This happened with me 2 times: First time, when I pulled latest refdata and ran tests on the branch I was working on, all tests passed but when I ran tests again on same branch, some tests in above modules failed. And 2nd time, I checked out master, did git reset --hard HEAD on tardis-refdata & ran tests, all of them passed but again since 2nd run & onwards, there are errors exact same as in first

[2020-12-04 16:03] andrewfullard commented on #1367
This is something I've experienced (and should have written a new issue for). It seems to be an issue with the RNG state not being correctly reset/set for the tests, but it's unclear why that would occur right now.

[2020-12-04 17:55] jaladh-singhal commented on #1367
Posting log (for future reference):
[code]

[2020-12-06 15:45] KevinCawley opened #1370 "Resolve bad YAML output display in the API"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
![image](https://user-images.githubusercontent.com/72036796/101284827-9abbd800-37a7-11eb-881a-6f3f64db8307.png)

This code is from https://github.com/tardis-sn/tardis/blob/master/tardis/io/util.py, and displays in https://tardis-sn.github.io/tardis/api/tardis.io.util.html

This is causing two large text walls of

[2020-12-08 15:55] smithis7 commented on #1363
Several other links marked the same way with ```:ref:``` throughout the documentation also do not work. There are warnings that you get when locally building the documentation that gives you all of these links.

[2020-12-08 19:27] #1176 closed

[2020-12-09 16:03] jaladh-singhal opened #1374 "Add instruction to enable virt_packet_logging in widgets documentation"
Line info widget, Kromer Plot, and future visualization tools need virtual packet data but it is not enabled by default (since it is a costly operation). So we need instructions to tell them how to enable it by editing their configuration file.

[2020-12-09 16:34] andrewfullard opened #1376 "Add documentation for parallel numba execution"
#### Problem description

Currently there is no clear documentation for how to run the numba code in parallel. The user must set the montecarlo.nthreads value in the configuration to set a number of threads equal to nthreads. numba will then automatically use these threads where it can to parallelise the code.

I believe that the formal integrator currently requires the OpenMP setup still for para

[2020-12-09 16:35] #1357 closed

[2020-12-09 19:01] smithis7 opened #1377 "Plasma missing from TOC"
#### Problem description
After renaming a file in PR #1371, `docs/index.rst` was not updated, and therefore `docs/physics/plasma.rst` does not show up in the main TOC.
[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

#### Expected Output
Plasma should appear under "The Physics of Tardis" in the documentation sidebar.

This will be

[2020-12-09 19:22] #1377 closed

[2020-12-11 03:07] shrey27tri01 commented on #1344
@wkerzendorf Can I work on this issue?

[2020-12-11 15:25] andrewfullard opened #1381 "Error in virtual packet propagation"
#### Problem description

Virtual packets are not matching real packet output as shown in the Kromer plot (and therefore do not match C code output)

#### Expected Output

A matching output.

[2020-12-14 14:56] andrewfullard commented on #1355
This was partially fixed with PR #1365

[2020-12-14 19:29] yashagg2001 commented on #1205
I changed string formatting from .format() to f-string formatting in all the files. Please check it.  #1386

[2020-12-15 03:49] nvieira-mcgill opened #1388 "getting caught in "ERROR: Comoving nu less than nu_line!" loop"
I am currently working on a project where I am running TARDIS many times within an MCMC. Sometimes, in a given TARDIS run, I get the following error:

[code]

This continues over and over again and does not stop unless I manually terminate the run. This is a big problem because I sometimes run my code for days at a time, and I store the output of my code in a log file, and if I am not checking the

[2020-12-15 15:37] andrewfullard opened #1389 "Incorrect data types for real packet logging output data"
#### Problem description

last_interaction_type , last_line_interaction_in_id and last_line_interaction_out_id are saved as float in sim.runner whereas corresponding properties for virtual packets are saved as int which is the expected type.

#### Expected Output

Save them as int

[2020-12-15 15:41] andrewfullard commented on #1388
You appear to be obtaining a Doppler factor that is a large negative number. Can you provide the model configuration you are running to get this error?

[2020-12-15 15:54] #800 closed

[2020-12-15 16:21] nvieira-mcgill commented on #1388
I should note that the Doppler factor is not always negative when this error comes up. e.g., here are more lines:

[code]

As for the model config: Since I'm running this within an MC, the parameters (specifically the luminosity, density, inner/outer velocity, and abundance pattern) change. So I've gotten this bug before for different sets of those parameters. Here's the configuration which produc

[2020-12-15 16:39] wkerzendorf commented on #1388
@nvieira-mcgill - thanks for reaching out to us. It really helps if you add the files by just dragging them in. If you are uncomfortable sharing your atomic data - could you try to reproduce this with the given atomic data (or give us privately the atomic data for testing if you are comfortable with this).

[2020-12-15 18:36] nvieira-mcgill commented on #1388
@wkerzendorf Sure thing, having trouble adding the file here directly so [here's](https://drive.google.com/file/d/1WjVGelHNP0sLJUcyl-7nyaOyjd-7bfUK/view?usp=sharing) a google drive link. I would indeed prefer to send the atomic data privately. I can also send the log file privately in case that's useful for figuring out what my code is doing, and can chat about that offline as well.

Where should

[2020-12-15 18:48] andrewfullard commented on #1381
Fixed with #1380

[2020-12-15 18:48] #1381 closed

[2020-12-16 00:31] nvieira-mcgill commented on #1388
Note: There was a small typo in the config file I included; I've fixed it now. And another interesting development: increasing the number of radial shells from 10 to 20 prevented the `comov_nu` error from occurring altogether.

[2020-12-16 11:32] epassaro opened #1391 "TARDIS version not correctly displayed in docs"
Not correctly displayed on https://tardis-sn.github.io/tardis, but correctly displayed when building site locally.

EDIT: See upper left corner of the site.

[2020-12-17 01:28] epassaro commented on #1350
That page needs a full rebuild, still using Travis (!).

[2020-12-18 18:11] jaladh-singhal opened #1396 "Give name to last_interaction_type values"
Currently, kromer plot and other viz tools uses `sim.runnner.last_interaction_type` extensively and it's values are hard-coded (i.e. -1, 1, 2) throughout the comparisons & calculations. Instead they should be named to what they actually represents (i.e. No Interaction, E-scattering, Line Interaction respectively).

Probably a suitable way to achieve this is to create an Enum class in `montecarlo_n

[2020-12-18 18:15] jaladh-singhal opened #1397 "Remove montecarlo_log.log or gitignore it"
Whenever pytests are ran locally, repository is littered by `montecarlo_log.log` files - either it should be removed from the test/configuration which creates it (if purpose of debugging is over) or it should be gitignored.

[2020-12-18 20:52] #1154 closed

[2020-12-18 22:23] andrewfullard commented on #1396
We already have enums- they just need to be updated to match the plotting, or preferably update the plotting to match the existing enums

[2020-12-24 06:55] smithis7 commented on #1363
For the following images, what should these links be pointing to (they are currently pointing to nonexistent documents):
![tardis2](https://user-images.githubusercontent.com/71480393/103068319-e7b2f300-458a-11eb-8f8a-d6a696d8c972.png)
![tardis3](https://user-images.githubusercontent.com/71480393/103068334-eda8d400-458a-11eb-8fa1-572521cb67fd.png)
![tardis4](https://user-images.githubusercontent.co

[2020-12-24 06:56] smithis7 commented on #1363
Additionally, `docs/physics/plasma/old_plasma.rst` is not in any toctree. Do we still need it? It was referenced in `docs/using/components/configuration/configuration.rst` but I think that can be switched over to the new plasma page (`docs/physics/plasma.rst`). The only other thing is that it has a section on tau_sobolev which is referenced in at least one other document. I don't think we have som

[2020-12-24 13:21] epassaro commented on #1363
There's a command to check all non-working links, it's something like `sphinx-build -b linkcheck . _build/html ` (assuming you are on `docs/`) and I think just works for external links.

[2020-12-24 15:47] smithis7 commented on #1363
Yeah, I know what links are broken. It's just that I don't know how to fix the links that I just pointed out (I don't know what document they should point to). They're all internal links.

[2020-12-24 18:00] JigarJoshi04 commented on #1311
Any updates on this issue?

[2020-12-24 18:03] epassaro commented on #1311
The TARDIS installation is in good shape, we test it several times per day on continuous integration. I would suggest remove your env and start again.

[2020-12-24 18:05] epassaro commented on #1311
Also, check if you have `PYTHONPATH` variable declared in your env, this is troublesome and not fully compatible with Anaconda.

[2020-12-24 18:09] epassaro commented on #1367
I don't know how to start debugging this because it's difficult to reproduce. I'll keep an eye on it.

[2020-12-24 18:13] JigarJoshi04 commented on #1311
thank you.

[2020-12-24 18:39] epassaro commented on #1397
Yes, please!

[2020-12-27 06:16] JigarJoshi04 commented on #1391
I have created a PR #1400  for this issue.

[2020-12-27 11:55] epassaro commented on #1391
Hi @JigarJoshi04 ! That's not what the issue is about, `README.md` is not important here.

[2020-12-27 14:32] epassaro opened #1401 "automatically change copyright year in docs"
Just like the Carsus site: https://tardis-sn.github.io/carsus

[2020-12-29 05:41] DhruvSondhi commented on #1401
Hello,
I am new in this repository & while browsing through the issues found this ... Can you please specify some more information so that I can work on it if that's not a problem ?

[2020-12-29 13:57] epassaro commented on #1401
Look at the `carsus` package https://github.com/tardis-sn/carsus.

[2020-12-29 16:11] DhruvSondhi commented on #1401
Yes it does show
![image](https://user-images.githubusercontent.com/66117751/103297521-7d80cf00-4a1e-11eb-9971-e46be3bab3eb.png)

so we should update it to 2021 ?
Any main points to look out for would be much appreciated :smile:

[2020-12-29 16:13] DhruvSondhi commented on #1401
But upon searching in `Tardis` Main Package ... Copyright year is 2013

[2020-12-29 17:00] epassaro commented on #1401
There's a way to automatically update the copyright year, I suggest start reading about how the `sphinx` package work. `carsus` already has this feature, noo need to update there.

[2020-12-30 13:30] DhruvSondhi commented on #1401
The documentation build is failing. I have changed the code for sphinx to accommodate for the automatic changing of the year. Shall I make a Draft PR & you may look into the issue? Or is there anything that I am doing wrong such that the documentation is not being built?

[2020-12-30 14:23] DhruvSondhi commented on #1401
Fixed it ... Made a new development environment so that the dependencies may not be a bottleneck for the building of the documentation. It's building now ... checking for the changes & making a PR for the same :smile:

[2020-12-30 14:52] DhruvSondhi commented on #1401
Please review #1404. Do suggest if any other changes are required to be done:smile:

[2020-12-30 18:52] DhruvSondhi commented on #1401
Updated the PR for the corresponding addition.
Please check & let me know anything else can be done. Would be trying to solve other issues as well :smile:

[2020-12-30 20:26] epassaro commented on #1401
Closed by #1404

[2020-12-30 20:26] #1401 closed

[2021-01-02 09:04] DhruvSondhi commented on #1389
Hello,  Can some more light be shed upon this issue? Where can I find the required function?
I found this virtual packets variable in 2-3 files but was not able to pinpoint the location where this bug is arising. :thinking:

[2021-01-04 08:13] nvieira-mcgill opened #1406 "trouble with custom stratified composition"
I'm trying to use the attached csv (attached along with TARDIS config at [custom_strat_comp_issue.zip](https://github.com/tardis-sn/tardis/files/5763624/custom_strat_comp_issue.zip)) to use a custom composition. But, when running TARDIS, I get the following error:

[code]

I'm on the most recent version of TARDIS (dev3796) and can run TARDIS successfully with a standard uniform composition. I'm us

[2021-01-05 21:37] marxwillia opened #1407 "Tardis Example YML link fails in Quickstart"
Currently the link in the docs Quickstart to the TARDIS example yml file fails.  The current link is:

https://https//raw.githubusercontent.com/tardis-sn/tardis/master/docs/using/components/models/examples/tardis_example.yml

And I believe that the link should be:

https://raw.githubusercontent.com/tardis-sn/tardis/master/docs/using/components/models/examples/tardis_example.yml

[2021-01-06 04:39] DhruvSondhi commented on #1407
Hello, Yes while I was reading the quickstart guide I saw this error. Thought that it was something odd but never mind as the issue is evident & open. If its possible can, I make a fix for the same?

[2021-01-06 05:04] DhruvSondhi commented on #1391
Hello @epassaro,
After going through this issue I actually saw it was showing Dev 3.0 version. Do you want it to have a hardcoded value or should it be dynamic (dynamic one may be a bit tricky) :thinking: . If it's fine can I work on this?

[2021-01-07 15:51] jasilva-11 opened #1408 "No module named 'tardis.montecarlo.montecarlo'"
Hi,

I have just installed TARDIS in my machine following the instructions in the docs:
[code]
with Anaconda 3. I had no issues with the installation, but when I tried to run the quickstart file (in the main directory of tardis) I got this error when I ran the line ```sim = run_tardis('tardis_example.yml')```:

[code]

I installed TARDIS in two different machines (one running CentOS and one with U

[2021-01-07 22:10] epassaro commented on #1408
Hi, try

`pytest tardis`

inside the `tardis` repo folder.

[2021-01-07 22:14] epassaro commented on #1391
We don't want to have it hardcoded. The problem is this was already done and stopped working for unknown reasons (maybe something related to documentation deployment on GitHub Pages?). I can't tell you this is not easy to figure out, but feel free to tackle this issue.

[2021-01-08 02:23] jasilva-11 commented on #1408
Hi, the command returns a similar error:

[code]

However, I found that if I run ```python setup.py develop``` the installation works fine. I don't know why, but it seems that it fixed the problem.

[2021-01-08 02:58] epassaro commented on #1408
Thanks for reporting it.

[2021-01-19 05:27] nikki1234567 commented on #1407
Hello, I am Nikhilesh. I am new to open source and want to be a open source contributor can I work on this issue?

[2021-01-20 14:57] andrewfullard opened #1411 "Add black to tardis environment YML"
#### Problem description

Now that `black` is automatically applied to authored code, this is not a required step, but it is useful for contributors to see what `black` will do to their code locally. See also PR #1405

[2021-01-20 15:30] andrewfullard commented on #1257
Fixed in #1398

[2021-01-20 15:30] #1257 closed

[2021-01-20 15:33] andrewfullard commented on #1407
All issues are open to be worked on

[2021-01-20 15:37] andrewfullard commented on #1389
I think it most likely arises in `montecarlo_main_loop` in `tardis/montecarlo/montecarlo_numba/base.py` where the arrays are defined to pass through to the sim.runner.

[2021-01-20 15:42] kaushik94 commented on #1408
Hello @jasilva-11 make sure you are running the updated version of `tardis_env` file. And please run it inside the directory specified in quickstart link. I checked that this works.

[2021-01-20 15:42] #1408 closed

[2021-01-20 15:47] kaushik94 opened #1412 "Fix RNG across numba code"
#### Code Sample, a copy-pastable example if possible

The following issue is for me to keep track of the fix.

#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

[code]

#### Current Output
packet seeds:  [2850180890 1078554911 3614248311 1246112417 3088071248  439940316
 2235777600 3649237165 1514597805 17

[2021-01-20 15:58] kaushik94 commented on #1412
montecarlo_numba/base.py
[code]

[2021-01-20 20:45] epassaro commented on #1411
Black is already in the [environment file](https://github.com/tardis-sn/tardis/blob/f2e82f8895143f3cf24a4546d893fdaa3003cc85/tardis_env3.yml#L68).

[2021-01-21 10:48] himanshu007-creator commented on #1407
I fixed this issue.https://github.com/tardis-sn/tardis/pull/1413

[2021-01-21 15:48] #1407 closed

[2021-01-21 18:04] #1411 closed

[2021-01-21 18:17] andrewfullard opened #1416 "Clean up numba parallelization warnings"
#### Problem description

Currently a large number of warnings are printed because of numba parallelization `njit_dict = {"parallel": True}` failing for some functions. It should be applied to the code more selectively instead of as a single dict in tardis/montecarlo/montecarlo_numba/__init__.py

#### Expected Output

No warnings

[2021-01-21 18:27] andrewfullard commented on #1406
I assume you followed the instructions here https://tardis-sn.github.io/tardis/using/components/models/examples/abundancecust.html

Note that the abundances should sum to one along each row; yours do not. Furthermore the current CSV file format that TARDIS uses is not actually comma-separated but rather space-separated (as seen in the documented example). We realise this is confusing and will be d

[2021-01-21 18:42] andrewfullard opened #1417 "Clean up custom abundance input and documentation"
#### Problem description

Currently the two custom input options are in the documentation "ascii" and "csv". Neither are truly descriptive of the file types used or the formatting requirements.

I propose changing the "ascii" input type to be "complex_composition" (because it requires all isotopes from Z=0-30) and the "csv" input type to be "simple_composition" because it requires only isotope nam

[2021-01-21 20:11] jaladh-singhal commented on #1170
Code style guide has been "create"ed in #1405 but we still need to work on "enforce"ing it by creating a pre-commit hook!

[2021-01-23 11:31] epassaro commented on #1216
Some considerations:

- Maybe would be nice to implement it before on `carsus` since it's a smaller package to learn how it works
- `tardis` still have montecarlo Cython code included (is this the only compiled extension, right?). Would be nice to ditch this before moving to new `astropy` template
- Moving to new template should be done before moving on `conda-forge` (or any form of packaging) oth

[2021-01-23 11:47] epassaro opened #1419 "coverage failing too often"
## Description

Coverage check fails too often, even when only configuration files are changed, for example:

- https://github.com/tardis-sn/tardis/pull/1415#partial-pull-merging
- more examples coming...

Probably this can be fixed modifying `.coveragerc`.

[2021-01-24 06:59] DhruvSondhi commented on #1417
Hello, I wish to work on the same with some guidance for the exact changes that are needed to reach the required goal :)
I do understand that we need to keep one type of the file format specifically for `complex_composition` & the other one for `simple_composition` but how can it be elaborated in the documentation is a matter of concern 🤔

[2021-01-25 01:06] nvieira-mcgill commented on #1406
Got it, I've got it working now. Thanks!

[2021-01-25 07:52] #1406 closed

[2021-01-25 14:30] andrewfullard commented on #1417
I would recommend providing examples following the existing documentation style for custom compositions

[2021-01-25 14:35] #1397 closed

[2021-01-25 15:29] #1363 closed

[2021-01-25 16:30] #1389 closed

[2021-01-25 19:28] smithis7 opened #1422 "Incorporate the old physics section of the documentation"
#### Problem description
We would like to incorporate the old physics section of the documentation into the newer physics section.

#### Expected Output
Currently, the old physics section contains two files of interest: ```docs/physics/old_physics/montecarlo_old.rst``` and ```docs/physics/old_physics/old_plasma.rst```. The following changes need to occur:
- Make sure all important information in `

[2021-01-26 17:04] andrewfullard commented on #1388
Have you experienced this bug in the latest tardis release with 10 radial shells?

[2021-01-26 17:06] #999 closed

[2021-01-26 17:07] #948 closed

[2021-01-26 17:07] #784 closed

[2021-01-26 19:13] jaladh-singhal commented on #1422
@marxwillia now that @smithis7 has laid out all the steps, it can be done quickly.

[2021-01-26 19:15] jaladh-singhal commented on #1419
Another example: https://github.com/tardis-sn/tardis/pull/1421#issuecomment-767049548

[2021-01-26 21:21] smithis7 commented on #1419
#1403 had the same issue as well.

[2021-01-26 21:24] smithis7 commented on #1422
Just to note (for @marxwillia ), you may want to wait for #1421 to be merged (which should hopefully happen today) before working on this.

[2021-01-27 14:37] #1252 closed

[2021-01-27 14:37] #1253 closed

[2021-01-29 11:29] jaladh-singhal opened #1437 "Include models examples in models index and reorganize models section"
Currently https://tardis-sn.github.io/tardis/using/components/models/examples/ is not included in https://tardis-sn.github.io/tardis/using/components/models/ making it unreachable.

Besides, [model examples](https://github.com/tardis-sn/tardis/blob/683d5d71dc9ef6ec7c78b5b631263e6b4c1ad986/docs/using/components/models/examples/) is a mess - we need to properly organize the files in the way they are

[2021-01-29 18:04] jaladh-singhal opened #1440 "Fix distance parameter's functionality in generate_plot of SDECPlotter"
`plotter.generate_plot_mpl(distance=100 * u.Mpc)` results in this:
![image](https://user-images.githubusercontent.com/36361463/106310679-ef507080-6289-11eb-895d-5bde68871591.png)

As per docstring, it expects cm as units but even with that the result looks almost same as above.

Besides, `distance = 0 * u.cm` shows a strange inverted plot. Should we throw an error instead, since that's not practic

[2021-02-01 18:27] jaladh-singhal opened #1445 "Remove italicised units in labels of SDEC plot in matplotlib"
To remove the italicised units, you could try something along the lines of:
plt.ylabel('Luminosity (erg $\mathrm{s^{-1}}$ $\mathrm{\AA^{-1}}$)')
This is an example where the labels won't be italicised, since they are in \mathrm{}

_Originally posted by @jamesgillanders in https://github.com/tardis-sn/tardis/pull/1442#discussion_r568030946_

[2021-02-01 18:59] #1440 closed

[2021-02-02 05:37] DhruvSondhi commented on #1342
Hello, I was going through the code so as to find this setting but I am afraid I am not able to pinpoint the exact location ... I do have found something in `setup.py` but this exact flag is not found 😞 ... Can you please shed some more light on this if possible? 🤔

[2021-02-02 13:26] Zignake commented on #1416
Hey @andrewfullard, could you emphasize on how you are getting these warnings?

[2021-02-03 06:09] DhruvSondhi opened #1447 "KeyError while Running run_tardis() in Quickstart Notebook"
#### Code Sample, a copy-pastable example if possible
Hello, I was trying to run the `quickstart` notebook that can be found [here](https://github.com/tardis-sn/tardis/blob/master/docs/quickstart/quickstart.ipynb) but I am receiving a `KeyError` from `Pandas` 😞
Please check this [gist](https://gist.github.com/DhruvSondhi/9626acc478bff535ca2404c4175f8a9b) out for the traceback
#### Problem descript

[2021-02-03 14:01] andrewfullard commented on #1416
They occur when a function is decorated with `@njit(parallel=True)` but they do not contain any parts that can be made parallel by Numba.

[2021-02-03 15:03] jamesgillanders commented on #1447
Can you roll back to python v3.7 to see if the error reappears?

[2021-02-03 16:25] epassaro commented on #1447
Please paste the output of `conda list -n tardis`

[2021-02-03 16:44] DhruvSondhi commented on #1447
Please check the output of `conda list -n tardis` as given below :)
<Details>

[code]

[2021-02-04 11:01] DhruvSondhi commented on #1447
Yes @jamesgillanders, this works in both cases ... This is very strange that it works in **Python 3.7** but not in **3.8** 🤔

[2021-02-04 11:01] #1447 closed

[2021-02-04 16:00] andrewfullard opened #1448 "Need formal integral test for C code to compare new Numba code to"
This needs to almost certainly be the formal integral output from a standard TARDIS input file. Then we can run a residuals comparison with the Numba version to make sure it's close enough (where close enough is probably less than 1% difference in results)

[2021-02-04 16:03] andrewfullard commented on #1448
This needs to become part of the refdata as well, probably

[2021-02-05 15:21] antreev-brar commented on #1416
@andrewfullard I would like to work on this issue
So in a way we need to remove parallelisation from those segments that do not have any parts that can be made parallel by numba. Is it the correct way to approach this issue?

[2021-02-05 15:26] ycamacho opened #1449 "Kernel crashes when nthreads > 1"
#### Problem description

If the .yml input file has
montecarlo:
  nthreads: >1

the jupyter notebook kernel crashes with error

python(77911,0x70000d4e5000) malloc: double free for ptr 0x7ff487819400
python(77911,0x70000d4e5000) malloc: *** set a breakpoint in malloc_error_break to debug
[I 09:05:07.135 NotebookApp] KernelRestarter: restarting kernel (1/5), keep random ports

#### Expected Output

[2021-02-05 18:06] jaladh-singhal commented on #1449
I can confirm, that's the same case with me. Thank you for creating issue @ycamacho - I almost forgot to create one.

[2021-02-06 06:23] jaladh-singhal commented on #1416
@antreev-brar you're thinking in right direction, just try it out and verify it yourself by checking that each of the numba parellalization warning that appear now in `run_tardis()` doesn't appear after your changes.

Also in PR, you can share the output logs before & after your changes.

[2021-02-08 21:34] Rodot- opened #1451 "Differenced between spectra after post-numba merge"
#### Code Sample, a copy-pastable example if possible

It appears that there are differences between spectra computing using multiple iterations between the pre and post merge numba.
#### Problem description

[tardis_match.zip](https://github.com/tardis-sn/tardis/files/5946956/tardis_match.zip)

#### Expected Output

[2021-02-08 21:47] Rodot- opened #1452 "Simulation.to_hdf fails to save simulation objects"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Creates the file then fails with an error claiming the file cannot be overwritten

[2021-02-08 22:01] wkerzendorf opened #1453 "Scipy interpolate error"
With a newly installed version of the environment (today on the 8th of Feb 2021). `scipy` throws this problem

#### Code Sample, a copy-pastable example if possible

[code]

[2021-02-08 22:16] #1451 closed

[2021-02-08 22:19] #1453 closed

[2021-02-08 23:41] epassaro commented on #1452
@jaladh-singhal added a parameter `overwrite=False` recently

[2021-02-10 06:50] antreev-brar commented on #1416
@jaladh-singhal I have raised the PR, kindly review it

[2021-02-10 16:16] kaushik94 commented on #1412
not relevant

[2021-02-10 16:16] #1412 closed

[2021-02-11 18:00] jaladh-singhal opened #1456 "GH action to auto-build documentation for PRs"
Currently, we have [documentation preview](https://tardis-sn.github.io/tardis/development/documentation_preview.html) option which requires PR author to do manual setup of deploying docs on their fork. The process is difficult for people unfamiliar with GH action and hence if authors can't do it, there's no way PR reviewers can see the built docs online.

We need to automate it by creating a GH ac

[2021-02-12 09:01] #1445 closed

[2021-02-12 11:14] antreev-brar commented on #1344
I woul like to work on this issue. Can you provide more information like where is this function and what’s the expected output(it is blank for now, I dont know if its a typo or intentional)?

[2021-02-14 08:48] antreev-brar commented on #1342
Since it has been almost two weeks since the last comment. I would like to work on this issue.

[2021-02-17 22:07] #1437 closed

[2021-02-19 15:52] MarkMageeAstro commented on #1449
Another confirmation, this is happening to me too.

[2021-02-19 17:09] ycamacho opened #1463 "sim.runner.spectrum_integrated doesn't work when spectrum: integrated: interpolate_shells: > 0"
#### Problem description

When interpolate_shells: > 0 in input yml file sim.runner.spectrum_integrated results in following error

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-14-4d322c8a718a> in <module>()
----> 1 sim24.runner.spectrum_integrated

/Users/yssavo/Documents/GitH

[2021-02-19 17:13] ycamacho commented on #1463
@chvogl This issue seems to have occurred during your PR 1358 https://github.com/tardis-sn/tardis/pull/1358

[2021-02-19 18:36] chvogl commented on #1463
Yes, this was a relatively stupid error on my part. Thanks for fixing it @Rodot. The problem should be resolved through the merge of PR #1464.

[2021-02-19 18:37] chvogl commented on #1463
I am closing this for now.

[2021-02-19 18:37] #1463 closed

[2021-02-19 18:42] chvogl opened #1465 "Formal integral tests needed for interpolate_shells: > 0"
As demonstrated through the bug from issue #1463, we need tests of the formal integral that also cover the case where "interpolate_shells > 0".

[2021-02-23 07:00] imHyobinIm opened #1466 "montecarlo cannot be imported in tardis directory"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I opened jupyter notebook in tardis folder and tried to run tardis, then I faced upper error.
But I opened jupyter notebook in montecarlo foler then it was working fine.

My computer is 2019 iMac Retina 5K 27-inch and Mojave 10.14.6.
I think if there is a path issue.

[2021-02-23 14:53] andrewfullard commented on #1466
Please make sure you have activated your tardis conda environment before running.

[2021-02-24 14:59] jaladh-singhal commented on #1452
@Rodot- I second what @epassaro mentioned. Can you post error log?

AFAIR the error not just claims that file cannot be overwritten (because it already exists) but also **tell** that you need to set `overwrite=True` if you want to overwrite it.

[2021-02-25 04:25] imHyobinIm commented on #1466
I did activated tardis conda environment.
But it came out same error.

<img width="960" alt="스크린샷 2021-02-25 13 23 58" src="https://user-images.githubusercontent.com/79502078/109102681-b910ee80-776c-11eb-9828-604d5a960fe7.png">

[2021-02-25 08:05] epassaro commented on #1466
Hi @imHyobinIm !

1. Make sure you didn't miss the `python setup.py install` step.
2. If that's not the case, try doing `python setup.py clean` and then `git clean -dfx` (**this will delete any non `tardis` file in the repo folder**). Finally, do `python setup.py install` again.

[2021-02-25 08:17] imHyobinIm commented on #1466
Thank you but I couldn't import again.

<img width="611" alt="스크린샷 2021-02-25 17 16 49" src="https://user-images.githubusercontent.com/79502078/109123496-406e5a00-778d-11eb-9158-30c84f6a18e4.png">

[2021-02-25 08:31] epassaro commented on #1466
Please try looking for `tardis-sn` after doing `conda list | grep tardis-sn` with and without your `tardis` environment activated.

This issue has been opened a lot of times but we couldn't reproduce it. Some users said doing `python setup.py develop` worked for them.

[2021-02-25 12:11] imHyobinIm commented on #1466
<img width="542" alt="스크린샷 2021-02-25 18 55 12" src="https://user-images.githubusercontent.com/79502078/109135990-fee4ab80-779a-11eb-86d5-66469b028bf5.png">

That way is not working for me.

I've used two tardis environment that is with openmp, without openmp.
After trying "python setup.py develop" way on tardis without openmp environment, the way that open jupyter notebook in montecarlo folder on

[2021-02-25 15:36] MarkMageeAstro commented on #1466
I've seen similar errors in the past when people try to run a simulation from the install directory. I'd try running a model from somewhere else and see what happens.

[2021-02-26 15:20] marxwillia opened #1468 "Combine elements from absorption AND emission components"
There is a problem with the SDEC plot when the user specifies a wavelength range.  Currently, the elements list is determined only by looking at the elements in the emission part.  However, it is possible that the user could specify a wavelength range where an element is very important for absorption, but does not appear in the emission.  In this case, the element would not be plotted in the absor

[2021-02-28 19:02] antreev-brar commented on #1465
I would like to work on this issue. Can you provide more details on how I can write these tests or some code that can be used as a reference.

[2021-02-28 19:16] antreev-brar commented on #1322
I would like to work on this issue. Can u provide some more details I couldn't find `verysimple_simulation` in the codebase and would any number of packets(except 4000 ) would be okay ?

[2021-03-03 14:04] chvogl commented on #1465
It looks like I did not do my research on this one. We actually have tests for interpolate_shells > 0:
https://github.com/tardis-sn/tardis/blob/master/tardis/tests/test_tardis_full_formal_integral.py
The tests have been disabled by @wkerzendorf a few months ago with `pytestmark = pytest.mark.skip(reason='memory problem')` in the change from C to numba for the Monte Carlo radiative transfer calcula

[2021-03-03 15:14] antreev-brar commented on #1465
@chvogl So should I make a PR with these changes ( removing the ```pytest.mark.skip``` and updating reference data for test). Otherwise from my point of view, if there is no need for any PR then this issue must be closed.

[2021-03-04 08:54] atharva-2001 commented on #1466
Is the notebook in the tardis folder in the tardis directory?
This is how it should be I guess
![image](https://user-images.githubusercontent.com/55894364/109937711-32708a00-7cf5-11eb-9220-330f409c867b.png)

The same error can be duplicated by running the notebook outside the tardis folder.
![image](https://user-images.githubusercontent.com/55894364/109937620-1a990600-7cf5-11eb-8743-9d0efb1eb251.p

[2021-03-05 12:16] chvogl commented on #1465
Go for it!

[2021-03-11 14:58] #1342 closed

[2021-03-11 14:59] #1422 closed

[2021-03-11 17:45] jaladh-singhal commented on #1452
@Rodot- closing this since this isn't a bug. If you still face problems let me know by commenting below.

[2021-03-11 17:45] #1452 closed

[2021-03-12 20:51] guptadhaval18 opened #1475 "python setup.py install giving error"
after forking and downloading the repository. I created a new environment in conda to install python. After that I changed directory to tardis-master. Then I ran python setup.py install. Which gave error as shown below.
![image](https://user-images.githubusercontent.com/47078156/110996944-b20bf200-83a2-11eb-89d0-8ade25b7e14f.png)

[2021-03-12 22:57] epassaro commented on #1475
Please try `python setup.py clean` and then `git clean -dfx` and install again.

[2021-03-13 00:02] guptadhaval18 commented on #1475
@epassaro thanks for replying. But this doesn't solve the problem. Same error.

[2021-03-13 00:03] epassaro commented on #1475
Try `python setup.py develop` instead. If that's fails, delete your environment and start again.

[2021-03-13 00:11] guptadhaval18 commented on #1475
Still failing. Tried using both python 3.6 and 3.8. Can it be due to using conda env?

[2021-03-13 00:16] epassaro commented on #1475
The provided conda environment file should work without any modification.

[2021-03-13 14:47] aribalam commented on #1465
@chvogl what is the status of the issue?

[2021-03-13 14:48] aribalam commented on #1376
@andrewfullard I would like to take this up. Could you point me in the right direction?

[2021-03-14 14:26] NJI-CHE opened #1480 "Tardis simulation error"
[code]

[2021-03-14 16:29] andrewfullard commented on #1376
Instances of OpenMP parallelization need to be removed from the documentation for modules that aren't the formal integrator. The installation guide must be updated to exclude OpenMP. A new section of the documentation should be added describing the requirements for parallel execution that are described in the issue here. I would suggest putting it in the "Using TARDIS" section.

[2021-03-15 06:03] dhiganthrao opened #1482 "No module named 'tardis.montecarlo.montecarlo'"
Greetings! While trying to execute cells in the notebook mentioned in the [Quickstart](https://tardis-sn.github.io/tardis/quickstart/quickstart.html) page, I face a problem:
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

On running the code above, I run into an error which says `ModuleNotFoundError: No module named 'tardis.montecarlo.montecarlo'`

#### Expe

[2021-03-15 06:11] dhiganthrao commented on #1482
Apologies for creating a duplicate issue! I just realized I could comment on the issue that was already open 😅. However, I came across a fix for this problem; I simply went into `~/tardis/tardis/montecarlo/formal_integral.py` and imported `formal_integral` from `tardis.montecarlo` instead of `tardis.montecarlo.montecarlo` (effectively removing the extra word). This worked for me, and I received th

[2021-03-15 11:29] wkerzendorf commented on #1482
I presume you are in the cloned repository. leave that directory and run it from somewhere else.

[2021-03-15 11:50] dhiganthrao commented on #1482
Oh! Thank you so much, that worked! Sorry for the extensive lines of code, should've just tried that in the first place 😅

[2021-03-15 12:36] antreev-brar commented on #1482
@dhiganthrao you should close this issue since it is resolved

[2021-03-15 12:41] dhiganthrao commented on #1482
Oops, forgot to do so! Thanks for the reminder!

[2021-03-15 12:41] #1482 closed

[2021-03-15 13:27] NJI-CHE commented on #1482
Hello @dhiganthrao. please how did you leave the cloned repository and a run it else where as @wkerzendorf  said in order to run the plot the spectrum??

[2021-03-15 13:53] NJI-CHE commented on #1480
Much thanks @dhiga

[2021-03-15 13:54] andrewfullard commented on #1480
Why was this reopened?

[2021-03-15 13:54] NJI-CHE commented on #1480
Much thanks @dhiganthrao

[2021-03-15 13:58] NJI-CHE commented on #1480
Hello @andrewfullard , hard an issues but just resolved it. Thanks though

[2021-03-15 13:58] #1480 closed

[2021-03-15 14:06] chvogl commented on #1465
@aribalam If you want to work on the issue, that would be great! You can read up on how to update the reference data on our [`documentation`](https://tardis-sn.github.io/tardis/development/update_refdata.html) (although it might not be completely up to date).

[2021-03-15 16:25] Davidgokimmung commented on #1475
you need to run tardis_env3.yml inside anaconda, and then run the command `conda env create -f tardis_env3.yml` there.

[2021-03-15 16:29] dhiganthrao commented on #1480
No problem @NJI-CHE! Happy to help, even if I didn't provide the solution 😄

[2021-03-16 05:24] DhruvSondhi opened #1485 "Axis Labels Not Parsing Correctly in SDEC Plot via Plotly"
#### Problem description
The axis labels in SDEC plots made with `plotly` are not being parsed correctly. This can be seen in the docs [here](https://tardis-sn.github.io/tardis/using/visualization/sdec_plot.html#id1).
Attaching screenshot as applicable:
![image](https://user-images.githubusercontent.com/66117751/111259500-059d6a80-8645-11eb-9608-4dff51b0a2c1.png)
I ran the notebook & the example o

[2021-03-17 07:08] aribalam commented on #1456
@jaladh-singhal @epassaro After doing some research on the issue, in my opinion, it is not possible to publish documentation preview on the main site through pull requests. (As @epassaro pointed out, the Github Token does not get shared across forks)

However, I still feel that we can automate a part of the procedure.

I propose that we create a new workflow that will get triggered with a push eve

[2021-03-17 08:24] epassaro commented on #1456
I think your approach is better than the procedure we currently have. Go ahead with it.

[2021-03-17 14:45] sourabhsingh282 commented on #1350
@epassaro hello sir can you assign me this issue

[2021-03-17 21:45] epassaro commented on #1350
Hi @sourabhsingh282 , currently we are re-implementing reference data comparison in a very different way and would be ready soon. There are other issues to work on by the time!.

[2021-03-19 13:13] aribalam commented on #1465
@chvogl While updating the refence data, the integral test were failing due to the following error -
[code]
Any reason why this must be happening?

[2021-03-19 14:29] chvogl commented on #1465
At first glance, this seems to be related to #1452. Maybe @Rodot- or @jaladh-singhal can comment on this.

[2021-03-19 15:15] #1376 closed

[2021-03-20 08:21] karban8 commented on #1417
Hi, I would like to take up this issue. After going through the documentation i got to know that the 'ascii' input files use a  ‘.dat’ format and csv input files use a ‘.csv’ format.Our objective is to change ‘ascii’ input type to ‘complex_composition’ and ‘csv’ to ‘simple_composition’.Going through the model_reader.py file i saw many funtions like ‘read_simple_ascii_abundance’ in which i need to

[2021-03-20 10:16] karban8 opened #1500 "Hyperlink not working on a Documentation Page"
#### Problem description
The[ Generating TARDIS Widgets](https://tardis-sn.github.io/tardis/using/visualization/generating_widgets.html) page in the documentation has a hyperlink [Using TARDIS Widgets](https://tardis-sn.github.io/tardis/running/tardis_widgets/using_widgets.html) which shows a file not found 404 error upon clicking.
Please confirm if others are also experiencing the same problem.If

[2021-03-20 11:40] karban8 commented on #1448
Hi, I would like to work on this issue. What I infer from the description is that I need to plot the spectrum using formal integral method as given[ here](https://tardis-sn.github.io/tardis/using/interaction/using_formal_integral.html) and compare the results obtained by running the new numba code. Also the results must be within 1% variation. Please guide me further

[2021-03-20 18:44] aribalam commented on #1465
@chvogl On careful observation, I am guessing the issue lies in not passing the `overwrite=True` keyword in [this line](https://github.com/tardis-sn/tardis/blob/master/tardis/tests/test_tardis_full_formal_integral.py#L69). All other tests that write an HDF file in the reference data path has set this parameter to true.
On testing this locally, the test cases are passing. I will commit the changes

[2021-03-21 02:23] karban8 commented on #1374
Hi sir I would like to take up this issue. Please guide me in the right direction.

[2021-03-21 02:59] karban8 commented on #1301
Hello @jaladh-singhal Sir I would like to take up this issue. I think changes need to be made in the line_info.py file. Please guide me in the right direction

[2021-03-21 12:30] priyanshu2706 commented on #1338
Hey guys, is this issue closed?

[2021-03-21 13:05] KevinCawley commented on #1500
Thanks for pointing this out, I'll fix this.

[2021-03-21 14:33] KevinCawley commented on #1338
This issue is still open @priyanshu2706.

[2021-03-22 08:12] priyanshu2706 commented on #1338
Hello @KevinCawley , I want to contribute to this issue but I can't understand how to. I get that i need to update some citation details but where? Can you please help me?

[2021-03-22 13:05] jaladh-singhal commented on #1301
@karban8 you need to figure out a way to change color of the ipywidget box component at root i.e. the one which contains all other widget components

[2021-03-22 13:10] jaladh-singhal commented on #1374
This instruction is already present in SDEC plot notebook in documentation. But you should add this suitably in the line info widget section in the generating widgets notebook.

[2021-03-22 14:16] #1500 closed

[2021-03-22 18:26] karban8 commented on #1374
Thank you for guiding me. Working on it

[2021-03-23 07:05] nvieira-mcgill commented on #1388
Apologies for the super late reply - I have been unable to reproduce the bug with a more recent version of TARDIS (dev3796), with either 10 or 20 radial shells.

Moreover, when switching on full relativity, I am unable to recover the bug in either the old version of TARDIS I was originally using (dev3463) or this more recent version (dev3796).

Please feel free to close this issue and I'll keep an

[2021-03-23 14:04] #1419 closed

[2021-03-24 13:33] #1356 closed

[2021-03-24 14:05] andrewfullard commented on #1448
That is one possibility. It is currently accomplished in the workflow here: https://github.com/tardis-sn/tardis/blob/master/azure-pipelines/compare-refdata.yml (you can see a result here #1467 )

The other method is to follow #1499 and work with @aribalam regarding it.

[2021-03-24 14:06] andrewfullard commented on #1417
That's correct @karban8

[2021-03-24 14:07] #1388 closed

[2021-03-24 14:11] andrewfullard commented on #1322
`simulation_versimple` is the actual name of the test fixture located in `tardis/conftest.py`. Notice that `sim.iterate(4000)` is used (the 4000 packets). The current test suite should complete the same with an arbitrary number instead of 4000.

[2021-03-24 14:12] #1311 closed

[2021-03-24 14:15] andrewfullard commented on #1485
This is definitely an issue and should be fixed!

[2021-03-24 14:49] DhruvSondhi commented on #1485
Hello @andrewfullard, I can re-run the notebook on my local environment & generate the output that way ... After that I can commit the changes for the notebook directly 😄

[2021-03-25 06:57] parikshit14 commented on #1466
Ya as mentioned by @atharva-2001 make sure that your **notebook(.ipynb file)** is placed in `tardis(main-folder)/tardis(sub-folder)/`

[2021-03-25 06:59] parikshit14 commented on #1148
Simplest solution is to open the **notebook(.ipynb file)** in `tardis(main-folder)/tardis(sub-folder)/`  . It needs to be rectified in the installation guide.

[2021-03-25 22:39] TejsviJ commented on #1301
Hi, I'd like to work on this issue. I tried making some changes in line_info.py and util.py but nothing seems to work out. Can I get some guidance? Thank you

[2021-03-26 12:10] yuyizheng1112 commented on #1475
Hi, have you resolved the problem?

[2021-03-26 16:07] MarkMageeAstro opened #1516 "Potential issue with elements not in absorbed/emitted regions for SDEC plot"
In the latest SDEC code, the elements to be coloured in the plot are determined based on the elements emitted or absorbed within a given wavelength range. It's possible that the elements emitted within a wavelength range are not the same as those absorbed. Therefore, when doing the plot there could be a situation where an error is thrown because a given element was not present in the emitted/absor

[2021-03-28 14:29] KevinCawley commented on #1338
@priyanshu2706 Sorry for the late response, it slipped my attention. I will get back to you as soon as I have an answer for what this issue wants to accomplish specifically and where changes should be made.

[2021-03-28 16:37] yuyizheng1112 opened #1518 "Failed to install setup.py on ARM Mac"
#### Problem description
My tardis environment worked well at first but it threw `ModuleNotFoundError: No module named 'tardis.montecarlo.montecarlo'` one day (probably after I pulled the repo) wherever I ran the code. I tried to reinstall it yet encountered with following error while running `python setup.py develop`:
[code]
Please let me know if someone else had met this error. Otherwise, is it

[2021-03-28 17:41] wkerzendorf commented on #1518
@yuyizheng1112 - please try not to use screenshots but use snippets and marked up text for reporting errors. Also have a look if you can fix this bug.

[2021-03-28 18:06] parikshit14 commented on #1518
**error1** :`ModuleNotFoundError: No module named 'tardis.montecarlo.montecarlo` occurs when you are not working from `tardis(main-dir)/tardis(sub-dir)` . So place whichever notebook you are working, in this way.
**error2** : Either you haven't activated the virtual environment use `conda activate tardis` or there is an issue in environment try to reinstall it, it will work.

[2021-03-28 18:34] marxwillia commented on #1518
You should not need to place notebooks in any particular directory.  You can import tardis from anywhere in your system as long as you have installed it correctly.  Make sure that you install the conda environment, then activate it, then run setup.py in develop mode.

[2021-03-29 12:46] yuyizheng1112 commented on #1518
Sorry for my carelessness. I've updated snippets.

[2021-03-29 12:51] yuyizheng1112 commented on #1518
Finally resolved it! I downloaded `astropy_helper` repo manually to tardis/astropy_helper folder and succeeded in running setup.py in develop mode. However, I do not know how to avoid this problem so far... @wkerzendorf @marxwillia

[2021-03-31 16:44] KevinCawley commented on #1338
@priyanshu2706 From what I have gathered. https://github.com/tardis-sn/tardis/blob/master/docs/tardis.bib is a bibliographic file that's used to create references in the TARDIS docs. The first reference in that file on line two would be called by :cite:`Abbott1985`.

Citations in the docs that are missing proper entries in this file should be added. You can get this .bib style entries from the NAS

[2021-04-01 22:43] Molkree opened #1520 "tardis/montecarlo/montecarlo.pyx: negative indices inside 'wraparound=False' causing undefined behavior"
#### Problem description

When executing the last step of tardis installation `python setup.py install` I'm getting the following warning:
[code]
The whole file is marked with `wraparound=False`:
https://github.com/tardis-sn/tardis/blob/8239d2929a5bef3c5a99b7d0b6d0a47961a205ec/tardis/montecarlo/montecarlo.pyx#L3

Negative indexing is being used here:
https://github.com/tardis-sn/tardis/blob/8239d2

[2021-04-03 22:43] KevinCawley commented on #1520
I'll look into this.

[2021-04-05 17:35] #1516 closed

[2021-04-05 18:22] jaladh-singhal opened #1522 "Sidebar of docs has buggy layout"
Somehow layout of TARDIS Docs sidebar has changed:
![image](https://user-images.githubusercontent.com/36361463/113608735-8f4ebf80-9668-11eb-878c-3d91006a2c6e.png)

- The headings like "Using TARDIS", "Physics of TARDIS", etc. are now in grey that used to be in blue.
- These headings are sticking to left side of browser window - the left margin that used to be there is missing
- The vertical margin

[2021-04-05 18:33] jaladh-singhal opened #1523 "Visualization section's notebooks not getting included in the docs"
Even when both `sdec_plot.ipynb` and `generating_widgets.ipynb` are included in [visualization section's index](https://github.com/tardis-sn/tardis/blob/master/docs/using/visualization/index.rst) they're not appearing in the [rendered html website](https://tardis-sn.github.io/tardis/using/visualization/index.html).

![image](https://user-images.githubusercontent.com/36361463/113610443-c32ae480-966

[2021-04-05 21:42] smithis7 commented on #1522
See https://github.com/sphinx-doc/sphinx/issues/9051 and https://github.com/sphinx-doc/sphinx/pull/9053. This is not just us with this problem.

[2021-04-07 18:14] #1522 closed

[2021-04-07 18:14] #1523 closed

[2021-04-08 11:56] jaladh-singhal commented on #1485
@DhruvSondhi go ahead and make a PR

[2021-04-08 11:59] jaladh-singhal commented on #1468
@MarkMageeAstro @jamesgillanders I think this is fixed by now - can we close this?

[2021-04-08 16:04] jamesgillanders commented on #1468
is this just the same as issue #1516 ? If so, then yes we can close it

[2021-04-09 07:13] DhruvSondhi commented on #1485
Hey @jaladh-singhal ... Where can I find the `demo.hdf` data for `hdf_plotter` [here](https://tardis-sn.github.io/tardis/using/visualization/sdec_plot.html#Using-simulation-saved-as-HDF)? 🤔

[2021-04-11 23:21] KevinCawley commented on #1520
The other option would be to remove cython: wraparound=False as "It is therefore safest to apply this option only to code that does not process negative indices at all. Default is True."

[2021-04-13 03:08] yuyizheng1112 commented on #1518
Since TARDIS works quite well on an ARM mac, I think I should close this issue. :)

[2021-04-13 03:08] #1518 closed

[2021-04-13 18:47] aribalam commented on #1343
@Rodot- Would like to take this up. Could you point me in the right direction?

[2021-04-13 20:15] epassaro opened #1537 "pyne holding back newer python releases"
**Describe the bug**

`pyne` 0.7.x is currently not released for macOS. Then, TARDIS environment is tied to `python` 3.7 and leads to many inconsistencies regarding to the Linux version.

Possible solutions:

- wait for a new `pyne` release
- replace `pyne` with another nuclear toolkit

**To Reproduce**

See #1535 for more information.

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    -

[2021-04-14 15:36] andrewfullard commented on #1520
This issue should be fixed once the formal integrator is moved to Numba in #1418

[2021-04-14 15:36] andrewfullard commented on #1475
Closing due to lack of communication

[2021-04-14 15:36] #1475 closed

[2021-04-14 19:03] andrewfullard commented on #1307
A diagram of the close line process. Current issues include: if the distance to the line is set to 0, it will always override the electron scattering/boundary interaction case; it's unclear if the total optical depth is being summed appropriately if the packet does not interact with the first line of a close line group

![image](https://user-images.githubusercontent.com/20341051/114764921-85951e00

[2021-04-15 00:37] epassaro commented on #1391
I was porting the carsus doc to GA and suddenly realized what's happening. The `checkout` action from GA by default just fetches the latest commit, and the "old" `astropy_helper` version solver uses the number of commits to calculate the `dev` version. Using `fetch-depth: 0` in the step args solves this issue.

[2021-04-15 00:37] #1391 closed

[2021-04-15 14:12] andrewfullard commented on #1466
Closing due to inactivity

[2021-04-15 14:12] #1466 closed

[2021-04-15 14:13] andrewfullard commented on #1448
This has been at least partially fixed

[2021-04-15 21:01] MarkMageeAstro commented on #1468
Yes, this should be fixed now.

[2021-04-15 21:01] #1468 closed

[2021-04-19 15:48] andrewfullard commented on #1307
Set packet trace moved variable False at start of trace

Check if packet trace moved variable is False at start of line loop

    Check the next line
    If close => distance next line = 0
    Add tau of line
    Repeat until distance line > 0 then trace moved = True
    OR tau event reached (interact)

[2021-04-19 15:52] andrewfullard commented on #1307
Addendum for boundaries:

If shell incremented, distance to inner boundary infinity
If shell decremented, distance to outer boundary infinity

[2021-04-21 18:09] andrewfullard commented on #1449
I can't reproduce this with e.g. tardis_example.yml with nthreads > 1. Is this still occurring?

[2021-04-21 18:09] #1448 closed

[2021-04-21 20:11] #1456 closed

[2021-04-21 21:02] andrewfullard opened #1545 "Twitter feed on docs page to replace News section"
**Is your feature request related to a problem? Please describe.**
Currently, the News part of the documentation is extremely outdated because it is hard to update (requires a PR).

**Describe the solution you'd like**
A feed of the TARDIS-SN twitter output https://twitter.com/tardis_sn because it is updated more regularly

**Describe alternatives you've considered**
Some kind of external input to

[2021-04-22 05:13] antreev-brar commented on #1545
This is really interesting. Integration of Twitter feed into the documentation would give it a dynamic look as well.

[2021-04-22 10:03] jaladh-singhal commented on #1545
Thanks, Andrew - I was about to create this issue. This explains how to do
it:
https://developer.twitter.com/en/docs/twitter-for-websites/timelines/overview

On Thu, Apr 22, 2021 at 10:43 AM Antreev Brar ***@***.***>
wrote:

[2021-04-22 20:06] #1485 closed

[2021-04-23 15:19] #1205 closed

[2021-04-24 11:03] atharva-2001 commented on #1545
Thanks, @jaladh-singhal for the information!
Replacing previous text with this code block does the trick:
[code]

Something like this:
![image](https://user-images.githubusercontent.com/55894364/115956444-517fe100-a51a-11eb-8afb-490614c9eae5.png)

See the live version [here](https://atharva-2001.github.io/tardis/)
Should I make a PR on this?

[2021-04-24 17:05] antreev-brar commented on #1545
@atharva-2001 Looks good

[2021-04-24 17:13] jaladh-singhal commented on #1545
Exactly this is how it was supposed to be done - well done @atharva-2001!

This looks great. I have few questions/suggestions:
1. Make the News title of same heading level as that of Mission Statememt
2. Why doesn't this embedded timeline show our latest Apr 21 tweet?
3. Can you increase width of this a bit - it looks pretty narrow on desktop. Also I wonder if it will look better on centre alignin

[2021-04-24 17:26] Molkree commented on #1545
Just checked Twitter [page](https://twitter.com/tardis_sn), this is kinda weird because it's not being displayed on the Twitter site too under "Tweets" tab, I can only see it under "Tweets & replies" tab. But it's not a reply???

Not shown in "Tweets" tab
![image](https://user-images.githubusercontent.com/12860284/115967407-26f25000-a53b-11eb-9747-65da5b23ecb2.png)

Shown in "Tweets & replies" tab

[2021-04-24 17:34] jaladh-singhal commented on #1545
@Molkree that's super weird. Because I can see it in both logged-in and incognito mode:

![image](https://user-images.githubusercontent.com/36361463/115967623-4a27fa00-a551-11eb-9089-b8b68e9bbe84.png)

@atharva-2001 can you see it?

[2021-04-24 17:37] Molkree commented on #1545
Aha, I see. That must be some kind of Twitter caching/CDN issue, I changed to USA VPN and I can see April 21 tweet on the main page too. Probably nothing we can do and should just wait and/or report it to Twitter.

[2021-04-25 05:49] DhruvSondhi commented on #1396
Hello @jaladh-singhal & @andrewfullard .... As I was going through the code, I had a small query regarding this change 🤔 ... The `sim.runner.virt_packet_last_interation_type` also takes up the same values. How can we tackle that? Should we have another enumeration class for same parameters?

[2021-04-25 13:42] atharva-2001 commented on #1545
Thank you so much!

I added some JS to (change the CSS and) improve the appearance.

[code]

The `customizeTweetMedia` function and other JS code is a modified version of this code [here](https://fjorgedigital.com/insights/blog/can-i-add-custom-styles-to-my-embedded-twitter-timeline/)

I changed the CSS of the widget because the widget font size would increase if I increased the width of the widge

[2021-04-25 14:48] DhruvSondhi opened #1552 "SDEC Plotter shows `IndexError` when Plotting"
**Describe the bug**
When trying to run the SDEC Plotter Notebook, we are presented with an `IndexError`. The error is as follows:
[code]

**To Reproduce**
Run the SDEC Plotter notebook as it is. We will be presented with the error upon execution of cell 5.

**Screenshots**
![image](https://user-images.githubusercontent.com/66117751/115997832-3f796d80-a602-11eb-8288-6891029bbf7d.png)
![image](http

[2021-04-25 15:40] atharva-2001 commented on #1552
Have you set `virtual_packet_logging: True` in your configuration file? According to this?

[2021-04-26 03:11] DhruvSondhi commented on #1552
Oh Yes ... It works ... I thought my configuration file had that option but it was not present ... Closing :)

[2021-04-26 03:12] #1552 closed

[2021-04-26 14:02] #1370 closed

[2021-04-30 19:45] Rodot- opened #1558 "Restructure Numba Formal Integral"
**Is your feature request related to a problem? Please describe.**

The numba formal integral references old and possibly confusing objects such as `original_plasma` vs `plasma`.  It's general structure is still reminiscent of the C code and could be updated to be both clearer and more maintainable.  Many arrays can be handled as 2D arrays rather than flattened 1D arrays.  Fortran ordering is no l

[2021-05-10 14:15] smithis7 opened #1561 "Moving Config File Under `docs/`"
**Is your feature request related to a problem? Please describe.**
As mentioned in #1478 the example configuration file is fairly difficult to find. It is currently in `docs/using/components/models/examples/tardis_example.yml`. We only keep one real copy of the file, and the rest of the time we use symlinks to reference the file.

**Describe the solution you'd like**
We would like to have to have

[2021-05-11 06:24] parikshit14 commented on #1561
Can I work on this as well?

[2021-05-11 14:27] Rodot- opened #1563 "Procedure for Addition of New Dependecies to TARDIS"
**Is your feature request related to a problem? Please describe.**

Addition of new packages to TARDIS comes with the risk of introducing potential long-term instability of our package.  To mitigate this, we present a procedure for the review of pull requests which introduce new packages to TARDIS.

**Describe the solution you'd like**

* Addition of new packages to TARDIS should be done through a

[2021-05-12 15:47] Molkree opened #1564 "Broken environment definition file"
**Describe the bug**
In #1549 `compilers` was [removed](https://github.com/tardis-sn/tardis/commit/923e59dda979758378c07f9cd9884e91681149a0#diff-58b2a816009fd40ceaed5b3cac419bb7b2b24491e0128141b9e3bb5a69e3adacL15-L16) from the env file.
As a result conda environment build fails on the pip stage: `CondaEnvException: Pip failed`. This is because `pickle5` can't be built without gcc.
[code]

[Full co

[2021-05-12 16:08] epassaro commented on #1564
I think this is not failing for us (or at the pipelines) because almost every Linux distro has `gcc` installed by default (or at some point) through the package manager.

I would try to move `pickle5` to the conda dependencies (instead of `pip` section) and compilers should be pulled automatically @andrewfullard.

Remeber the reason of `pickle5` is explained here https://github.com/tardis-sn/tardi

[2021-05-12 16:23] #1561 closed

[2021-05-12 18:57] epassaro commented on #1564
Closed by #1566

[2021-05-12 18:57] #1564 closed

[2021-05-12 23:54] nvieira-mcgill opened #1568 "documentation of Configuration File page"
Hi,

The documentation page for the Configuration File (https://tardis-sn.github.io/tardis/using/components/configuration/configuration.html) is a bit confusing, namely in the Monte Carlo section (https://tardis-sn.github.io/tardis/using/components/configuration/configuration.html#monte-carlo). My sources of confusion are the following:

Is this true? My impression was that this was not (yet) the

[2021-05-14 17:42] #1374 closed

[2021-05-14 17:44] #1294 closed

[2021-05-15 20:34] Molkree opened #1572 "Add pre-commit hook"
**Is your feature request related to a problem? Please describe.**
As part of #1170, creating separate issue for discussion specific to the pre-commit.

**Describe the solution you'd like**
Add pre-commit hook that will run Black + other tools of choice. Black definitely will be there as it's already in the GH check and recommended in tardis docs, what else should be used?

isort seems like a good

[2021-05-18 11:54] DhruvSondhi commented on #1343
@andrewfullard this issue can be closed !!

[2021-05-20 18:56] epassaro opened #1579 "`gh-branch` makes repository too large"
I noticed `tardis` repository is ~400MB. The reason is because `gh-branch` is too large.

**`master` branch size:** 64.30MiB
[code]

**`gh-pages` branch size:** 312.82MiB

[code]

I propose use `force-orphan` parameter available in the Action `peaceiris/actions-gh-pages`. Then the `gh-pages` always contains just a single commit.

[2021-05-21 14:32] andrewfullard opened #1583 "Team link broken in Code of Conduct"
**Describe the bug**

The `TARDIS core team` and `team page` hyperlinks direct to the wrong page.

[2021-05-21 18:33] #1343 closed

[2021-05-21 18:35] #1298 closed

[2021-05-24 08:23] atharva-2001 opened #1585 "SDEC plotly graphs not showing in the documentation"
**Describe the bug**

SDEC plotly graphs are not visible in the documentation and are replaced by blank spaces. They are visible locally, however.

**To Reproduce**

[Link to the documentation](https://tardis-sn.github.io/tardis/using/visualization/sdec_plot.html)

**Screenshots**

![image](https://user-images.githubusercontent.com/55894364/119317777-1b0ec080-bc96-11eb-882c-ae3bf0f298ac.png)

Plot

[2021-05-24 15:23] Molkree commented on #1585
Works for me (even with these errors):

![image](https://user-images.githubusercontent.com/12860284/119369719-275a4400-bcbd-11eb-9da8-163aefb8c0d0.png)

[2021-05-24 15:40] atharva-2001 commented on #1585
Oh no, the matplotlib charts show up just fine. I meant the plotly charts. Are they visible to you?

[2021-05-24 15:43] Molkree commented on #1585
Oh, you are right, my mistake, the same name of the heading confused me. Yes, they are not rendering.

[2021-05-25 06:25] DhruvSondhi commented on #1585
Hey @atharva-2001, I think so this is a bug from the recent building of the documentation ... I am using Firefox & the documentation is being built correctly (tested using different branches locally) ... Sharing a Screenshot for the same:
Virtual Packets Mode :-
![image](https://user-images.githubusercontent.com/66117751/119449184-f119d480-bd4f-11eb-8213-5647699a0f86.png)

Plotting a Specific Wave

[2021-05-25 07:20] DhruvSondhi opened #1587 "Pull Request & Issue Templates needs to be Updated"
**Describe the bug**

Currently, the PR templates have a checklist for all the task that needs to be done in order for the PR to be in a mergeable state. But the following checkbox `- [x] I have assigned and requested two reviewers for this pull request` cannot be done by New Contributors who are not a part of the TARDIS Organisation.
The Issue Template also requires a small Update as it is old

*

[2021-05-25 17:37] KevinCawley commented on #1558
After 'NUMBA_DISABLE_JIT' is set to be true, in the formal_integral on line 174 the error "AttributeError: type object 'NumbaModel' has no attribute 'class_type'" appears. I got this error when I tried to run `from tardis.simulation import Simulation`.

[2021-05-26 12:45] #1583 closed

[2021-05-26 12:45] smithis7 commented on #1583
Fixed by #1582

[2021-05-26 15:32] DhruvSondhi opened #1591 "Installation Instructions on the Documentation are Outdated"
**Describe the bug**

The current instructions for installation of TARDIS package are old are outdated & needs to be updated.
These can be seen [here](https://tardis-sn.github.io/tardis/installation.html#installation-troubles-faq)
Some potential changes may include TARDIS not supporting Python 2.7, changes for the sphinx builds etc.

**System**
 - OS:
    - [x] GNU/Linux
    - [ ] macOS

[2021-05-28 11:42] atharva-2001 commented on #1585
This issue is tracked here https://github.com/spatialaudio/nbsphinx/issues/572

[2021-05-28 18:24] DhruvSondhi opened #1593 "Configuration Validation Documentation is Outdated"
**Describe the bug**
While working on the Config Validation PR, #1554, I was constantly referring to the documentation present for the same [here](https://tardis-sn.github.io/tardis/using/components/configuration/config_validator.html). Following the abstract written, I found out that the section of the documentation pertaining to the keywords & the types is invalid & redundant. The current `JSON`

[2021-06-01 00:50] smithis7 opened #1599 "Improve list of papers using TARDIS"
**Is your feature request related to a problem? Please describe.**
Last year, we automated the process of generating references for papers that use tardis using [this notebook](https://github.com/tardis-sn/tardis/blob/master/docs/research/research_done_using_TARDIS/ads.ipynb). There are a few problems:
- While the notebook automates the list, the notebook is not automatically run, and thus the lis

[2021-06-01 13:56] andrewfullard opened #1600 "Rename T to temperature across the code"
**Is your feature request related to a problem? Please describe.**
T is not a descriptive variable name, especially for non-scientists, inside the Python code

**Describe the solution you'd like**
Change T to temperature for internal variables

[2021-06-01 21:25] #1169 closed

[2021-06-02 20:28] epassaro opened #1604 "feedback button/link in doc pages"
I suggest implementing a button (or link) on the bottom of every TARDIS doc page to give feedback (open an issue pointing to the specific page with some pregenerated text).

See the bottom of this page as and example (click it to try and see what it does) https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/pipelines-get-started?view=azure-devops

Sphinxs allows to implement small c

[2021-06-02 20:37] Rodot- opened #1605 "Move numba config over to json schema"
Many numba config parameters should have their default values set within the json schema rather than within the numba_config moudle.  Specifically, constants like CLOSE_LINE_THRESHOLD and C_SPEED_OF_LIGHT (which should probably now just be SPEED_OF_LIGHT or even use the astropy value, should this be another issue?) should be moved there for clarity, documentation, and ease of use.

[2021-06-03 14:44] jamesgillanders opened #1608 "Issue creating new TARDIS env (pyside2)"
**Describe the bug**
When creating a new TARDIS environment, the most up-to-date version of pyside2, which downloads as default, gives the following error when trying to plot output spectra after a simulation:

This application failed to start because it could not find or load the Qt platform plugin "cocoa" in "".

**To Reproduce**
git clone git@github.com:jamesgillanders/tardis.git
cd tardis/
git

[2021-06-03 14:59] epassaro commented on #1608
I couldn't reproduce your issue in the pipelines. Did you checked out to `upstream/master` before creating the env?

[2021-06-03 15:09] #1585 closed

[2021-06-03 15:10] epassaro commented on #1608
OK, I think your steps to reproduce the error are not ok, but you are using the `tardis_env3.yml` from upstream effectively. I thought `pyside2` was using just for the Qt GUI but I'm not sure.

You can try to comment out `pyside2` from the env before installing and see. Then we can decide if we downgrade `pyside2` or just  comment out from the env (people should install it manually if they want to

[2021-06-03 15:53] aribalam commented on #1258
@jaladh-singhal I will take this up!
Just to make sure, we dont make any use of configuration files for the integration tests, as it is done so using the command line args itself?

[2021-06-03 15:57] jamesgillanders commented on #1608
Apologies if the steps weren't clear!

[2021-06-03 15:58] jamesgillanders commented on #1608
I'm not sure why it's throwing an error either, but perhaps removing it entirely would be sensible - I'll try a test to see how that works and be back in touch, thanks

[2021-06-03 16:59] jaladh-singhal commented on #1258
That's great! Thanks @aribalam

Regarding integration tests, I've no idea - maybe @Rodot- @andrewfullard can help you out

[2021-06-03 19:09] marxwillia opened #1614 "Virtual Logging & Nthreads"
**Describe the bug**
Kernel crashes when `nthreads` > 1 and `virtual_packet_logging` set to True.

**To Reproduce**
Run a tardis simulation with most up to date repo version using the attached yml file.

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [x] macOS

 - Environment (`conda list`):

fresh install of TARDIS environment, using numba 0.53.1

**Additional context**
TARDIS simul

[2021-06-03 19:11] marxwillia commented on #1614
yml file below:

`# Example YAML configuration for TARDIS
tardis_config_version: v1.0

supernova:
  luminosity_requested: 9.44 log_lsun
  time_explosion: 13 day

atom_data: kurucz_cd23_chianti_H_He.h5

model:
  structure:
    type: specific
    velocity:
      start: 1.1e4 km/s
      stop: 20000 km/s
      num: 20
    density:
      type: branch85_w7

  abundances:
    type: uniform
    O: 0.19

[2021-06-03 19:26] epassaro commented on #1367
Is this still happening @jaladh-singhal ?

[2021-06-03 19:26] epassaro commented on #1350
Closed by #1609

[2021-06-03 19:26] #1350 closed

[2021-06-03 19:33] epassaro commented on #1216
Already moved `carsus` to the new package infrastructure, this could be done soon.

[2021-06-03 20:15] epassaro commented on #1282
Closed by #1615

[2021-06-03 20:15] #1282 closed

[2021-06-04 06:04] ahcodes commented on #1587
Hi, I'm willing to work on this issue, but I would need some guidance since I'm a newbie.

[2021-06-04 06:08] DhruvSondhi commented on #1587
Hello @ahcodes, sure you can work on this issue. Feel free to message your queries here or ping me 👍🏼

[2021-06-04 15:01] smithis7 commented on #1591
This is being worked on by one of our highschool students!

[2021-06-04 16:36] DhruvSondhi opened #1620 "Discussion about Github PR Review Checklist Comment Bot"
**Describe the Problem**
We had implemented the GH Bot for commenting a PR Review Checklist for each commit that is pushed on a branch. Due its repetitive nature, the bot is currently being disabled in #1619. We need to have a better structure for the Checklist that needs to be presented on the PR. It could be structured in a way for the Reviewer to have a number of things to lookout in the code c

[2021-06-04 16:50] #1545 closed

[2021-06-04 18:13] jaladh-singhal opened #1621 "Add GitHub to Sponsors page"
Because they've given us free git LFS

[2021-06-05 19:48] epassaro commented on #1621
whaaaat

[2021-06-07 02:48] yuyizheng1112 opened #1624 "to_hdf() failed for Simulation object"
**Describe the bug**

`to_hdf()` doesn't work when called by a Simulation object. A `FileExistsError` is raised though there was no such file before running.

The bug might be here:
https://github.com/tardis-sn/tardis/blob/8ac89320d50561647399ee35c84d6ec8f3b55cf0/tardis/io/util.py#L233-L247
`buf = pd.HDFStore(path_or_buf, complevel=complevel, complib=complib)`in `try` block will create the HDF fil

[2021-06-07 05:20] DhruvSondhi opened #1625 "Update JSON Schema Templates for TARDIS Configuration to Latest Draft"
**Describe the bug**

Currently, The JSON Schema templates used in all the schemas that make up the TARDIS Configuration, are based upon **Draft 4** version. It is very old & needs some updating. Also, some of the settings present in the schema do not work & can be looked upon while the updating is done.

**Possible Solution**

Updating the JSON Schema to version **Draft 2020-12** would be desirab

[2021-06-07 16:04] Rodot- commented on #1624
It looks like it is creating the file before checking if the file exists, a simple rearrangement for rectify this issue.

[2021-06-07 21:06] wkerzendorf opened #1634 "Sponsor description"
put down a bit what the sponsors provide for us.

[2021-06-07 21:17] #1621 closed

[2021-06-08 06:42] DhruvSondhi opened #1637 "Plasma Stratification Values for the Last Iteration are Not Displayed"
**Describe the bug**

Currently, when we run the simulation in the notebook, the plasma stratification values are logged & displayed for all iterations except the last one. This doesn't seem to be an intended feature & needs to be looked upon.

**System**
 - OS:
    - [x] GNU/Linux
    - [ ] macOS

[2021-06-08 15:08] jaladh-singhal opened #1638 "Restructure SDECPlotter to make its methods more atomic, hence unit-testable"
Currently, SDECPlotter has two public methods `generate_plot_mpl` & `generate_plot_ply` that can be tested. But other methods (that are private and are called by these two) can't be unit-tested because they **need to read those attributes of instance that were written by the caller method**. And the whole function callstack follows same fashion of reading/writing data from/to instance attributes m

[2021-06-09 14:55] smithis7 commented on #878
@Rodot- @wkerzendorf is this still an issue?

[2021-06-11 17:38] andrewfullard commented on #1449
To update the issue: this occurs when vpacket logging is turned on with nthreads > 1. A fix is being worked on.

[2021-06-11 17:41] andrewfullard commented on #1579
@epassaro is this fixed now?

[2021-06-11 17:42] #1355 closed

[2021-06-11 18:23] epassaro commented on #1579
nope, I just proposed a solution. I think there's nothing wrong with making `gh-pages` orphan because GitHub Pages just render the latest commit.

But I wanted to hear some opinions before doing it.

[2021-06-11 22:50] wkerzendorf commented on #1579
I think that sounds sensible

[2021-06-14 15:22] andrewfullard opened #1649 "The CLOSE_LINE_THRESHOLD constant should be renamed to NUMERICAL_PRECISION and be user-configurable"
**Is your feature request related to a problem? Please describe.**
Currently, CLOSE_LINE_THRESHOLD is an opaque and specific term for a numerical precision issue that can in theory manifest in other areas of the code.

**Describe the solution you'd like**
The CLOSE_LINE_THRESHOLD constant should be renamed to NUMERICAL_PRECISION and be user-configurable

[2021-06-14 16:27] epassaro commented on #1579
Closed by #1651

[2021-06-14 16:27] #1579 closed

[2021-06-14 19:30] #1449 closed

[2021-06-14 19:30] #1614 closed

[2021-06-15 16:43] epassaro commented on #1608
I don't know why this happened recently because the latest `pyside2` in conda-forge release was made 5 months ago.

This is going to be closed soon by #1652

[2021-06-17 01:05] isaacgsmith opened #1653 "Add units to BlackBodySimpleSource"
We would like to make the `BlackBodySimpleSource.create_packets()` method (in `tardis/montecarlo/packet_source.py`) unit-sensitive. That is, we would like to take in quantities with units and return quantities with units.

**Additional context**
A potential thing to think about here is how this method is used in the code, and having that be unit-sensitive as well. Remembering that this class can b

[2021-06-17 15:01] lemointm opened #1654 "Replace PyNE Usage"
TARDIS currently uses the [PyNE](https://github.com/pyne/pyne) nuclear engineering package to parse isotope names and to calculate decay abundances of radioactive elements in the simulated supernova ejecta. However, PyNE is largely written in C++, which has created some stability issues in TARDIS.

We hope to create the relevant custom modules or find an existing package to replace the PyNE functi

[2021-06-17 15:43] DhruvSondhi opened #1655 "Updating Documentation for Testing via `tardis-refdata`"
**Describe the bug**

Currently, the testing documentation is a bit outdated & doesn't specify the correct way to setup the testing environment for TARDIS testing suite.
We need to update the documentation with better explaination & examples. For example, `git lfs` needs to mentioned in the documentation so that `tardis-refdata` can be downloaded correctly (I had problems with downloading `tardis-

[2021-06-17 15:44] andrewfullard commented on #1654
PyNE is used in Tardis to:

1. translate nuclide names from element symbols
2. create data frames of PyNE materials that can be decayed over a period of time

[2021-06-17 16:09] epassaro commented on #1654
Also related to: https://github.com/tardis-sn/tardis/issues/1537

[2021-06-18 02:05] #1634 closed

[2021-06-21 00:35] #1608 closed

[2021-06-22 14:40] #1624 closed

[2021-06-22 14:45] #878 closed

[2021-06-22 14:45] #958 closed

[2021-06-22 14:46] #993 closed

[2021-06-22 14:46] #996 closed

[2021-06-22 14:47] #1215 closed

[2021-06-22 17:54] andrewfullard opened #1662 "Rename default branch to main"
Following the change in default branch names, we should update all tardis collaboration repositories. This may require adjustments to CI-CD pipelines.

https://github.com/github/renaming

[2021-06-22 22:27] wkerzendorf opened #1663 "Profiling of TARDIS information location"
It is not a `Profile` of TARDIS. The name is profiling (not sure what the output is called). I also think it should live under development, right?

[2021-06-22 22:29] KevinCawley commented on #1663
Right now it lives under I/O, and it will move to Tutorials once that section is made, as it is a basic tutorial of how to profile TARDIS. That is the plan right now.

[2021-06-22 22:30] wkerzendorf commented on #1663
I think developing is a better place. Tutorial is more of user tutorials - @smithis7 what do you think?

[2021-06-23 01:33] smithis7 commented on #1663
@wkerzendorf I'll take responsibility for that -- the placement under io/output was my idea. I thought it would be very temporary but as I am having those issues with binder, the tutorials section may not be there for a little bit.

I do agree with you, I think the notebook should be under development. @KevinCawley I can make that change though since putting it under io/output was my idea.

[2021-06-23 01:39] wkerzendorf commented on #1663
thanks to both 😄

[2021-06-25 16:08] #1663 closed

[2021-06-27 15:33] atharva-2001 opened #1669 "Outdated code in to_hdf notebook"
**Describe the bug**

The code in the to_hdf notebook is outdated. The print statements are written in Python 2 syntax and it seems the code doesn't display what it is supposed to display when it's run. Maybe we can change this according to the new syntax?

**To Reproduce**

[Link](https://tardis-sn.github.io/tardis/io/output/to_hdf_notebook.html) to the notebook.

**Screenshots**

![image](https:

[2021-06-27 16:16] atharva-2001 opened #1670 "Hover data is none for elements/ions in SDEC plot"
**Is your feature request related to a problem? Please describe.**
When hovering on elements/ions in SDEC plot, Plotly hover data shows `none`, I guess it might be better to mention the name of the element on which the cursor is being hovered. The `none` text is also not visible clearly.
![image](https://user-images.githubusercontent.com/55894364/123551534-e5c32a00-d78f-11eb-9c21-37a70a7bbbd8.png)

[2021-06-28 06:18] DhruvSondhi opened #1671 "Formatting Inconsistencies in Source Code Files"
**Describe the bug**
Some of the code files present in TARDIS, are not formatted correctly i.e. they don't comply to the `Black` code linting style. These code lines have inconsistent tabs & python 2 string formatting, just to name a few. These needs to be updated to follow `Black` code style & Python 3 syntax (`f-string` formatting, for strings).

[2021-06-28 15:24] chvogl opened #1672 "Inconsistent use of astropy and tardis constants"
**Describe the bug**
TARDIS uses a specific version of astropy constants (astropy.constants.astropy13constants).
The intended way to import these constants is: `from tardis import constants as const`. However, this is currently not done everywhere in the code (see e.g. https://github.com/tardis-sn/tardis/blob/master/tardis/simulation/base.py).

[2021-06-28 20:28] smithis7 opened #1673 "Defining density in CSVY model"
**Describe the bug**

When you use one of the four [density types](https://tardis-sn.github.io/tardis/io/configuration/components/models/index.html#density) in a CSVY file, you get an `AttributeError`.

**Example**

I used the following CSVY file:
[code]
and received the following error when I ran `Simulation.from_config(config_file_name)`:
![image](https://user-images.githubusercontent.com/714803

[2021-06-29 00:52] epassaro opened #1676 "add `.nojekyll` to documentation preview folders"
**Describe the bug**

`index.html` is not rendered (or takes too long). I think this could be related to not having a `.nojekyll` file there, but I'm not 100% sure.

**To Reproduce**

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):

**Additional context**

[2021-07-01 17:08] epassaro commented on #1620
I think we should repurpose that workflow.

Why do we want the bot commenting our PRs? The original idea overlaps with the PR template and seems redundant.

A new implementation could be, for example, making the bot posting some warning message when someone push changes to important files such as `tardis_env3.yml` or the Astropy package template files (`setup.py`, etc). Or detect if changes were m

[2021-07-01 17:13] epassaro commented on #1669
I think using `print` to display Series or DataFrames in notebooks is redundant.

[2021-07-01 17:21] #1671 closed

[2021-07-01 19:38] jaladh-singhal commented on #1170
It's made possible by #1398, new PRs can't be pushed unless code is formatted by black

[2021-07-01 19:38] #1170 closed

[2021-07-02 16:29] epassaro commented on #1211
Closed by #1686

[2021-07-02 16:29] #1211 closed

[2021-07-02 16:30] #1338 closed

[2021-07-02 16:30] epassaro commented on #1367
Can we close this? @jaladh-singhal

[2021-07-02 16:32] epassaro commented on #1216
Closed by #1674

[2021-07-02 16:32] #1216 closed

[2021-07-02 16:33] jaladh-singhal commented on #1367
I'm not sure, it's been a long time since I ran tests locally.

[2021-07-02 17:25] jaladh-singhal opened #1687 "Improve docs layout"
After making TARDIS docs content (other than sidebar) fixed width in #1674 - there's grey background in right and bottom, for e.g. https://tardis-sn.github.io/tardis/physics/est_and_conv/index.html

Besides, we can also try horizontally centring the content. All of this will require changes in docs/static/tardis.css

[2021-07-02 18:04] epassaro opened #1689 "Citing `conda-forge`?"
**Is your feature request related to a problem? Please describe.**
We're going to update TARDIS regularly on  `conda-forge` soon. Should we cite them?

**Describe the solution you'd like**
Citation guidelines: https://conda-forge.org/docs/user/introduction.html#how-can-i-give-credit-to-conda-forge

**Describe alternatives you've considered**
Not citing them :joy_cat:

**Additional context**

[2021-07-02 18:39] epassaro opened #1690 "[discussion] replace `python setup.py ...` with `pip` ?"
**Description:**

After merging #1686 `pip` install will be available again. I think `pip install .` catches more errors than `python setup.py install` making our code a bit more robust.

**NOTE:**
`pip install -e .` is equivalent to `python setup.py develop`.

Opinions?

[2021-07-03 04:53] DhruvSondhi commented on #1690
It would be a very welcoming change 😄. It is better that we have `pip install abc` as it is more in sync with something like `conda install xyz`. Plus, as we are going to remove the `python setup.py --args` it will be much easier for someone, who hasn't read the documentation or doesn't understand the `setup.py` architecture for installation or development, to install the package as it is instinct

[2021-07-07 15:40] wkerzendorf commented on #1689
yes - please add this to the documentation acknowledgment section.

[2021-07-12 15:35] DhruvSondhi opened #1705 "Convert Old Python 2 String formatting into Python 3"
**Describe the bug**

TARDIS Source code still contains python2 compliant formatted strings.
See for example [this](https://github.com/tardis-sn/tardis/blob/7d3899eda099b6d3aa170208f51ccf88eeaa48b7/tardis/io/parsers/csvy.py#L35)
This needs to be converted to Python 3 string formatting, preferably `f-string` formatting.

[2021-07-12 16:04] svenkat19 commented on #1705
I would like to look into this.

[2021-07-13 06:17] DhruvSondhi opened #1708 "Change `Warnings.warn` to `Logger.warn` for throwing `Warnings`?"
**Is your feature request related to a problem? Please describe.**
As I was adding Debugging messages to TARDIS Simulation run, I encountered that in many places, we are using `warning.warn` for raising warnings instead of `logger.warn`.
After reading about this in detail, I think that we should use `logger.warn` instead of `warning.warn` because of the following differences :
- `logger.warn` is a

[2021-07-13 13:06] KevinCawley opened #1709 "Fix comments and docstrings in formal_integral.py"
**Describe the bug**
The docstrings and comments in the formal integral are bad. They do not follow the TARDIS guide to docstrings as of right now. There are several styles being displayed, along with incorrect information in the docstrings in regard to parameters and return types.  Some comments also mention c code/extensions, which is outdated.

**To Reproduce**
See docstrings in the montecarlo/

[2021-07-13 18:00] epassaro opened #1715 "Fix file paths in tests"
**Describe the bug**

It's not possible to test the `tardis` package once installed by doing `pytest --pyargs tardis`. This happens because some `yml` have their paths hardcoded in the test files.

This is particularly important to test the conda-forge package release.

**To Reproduce**

`pytest --pyargs tardis`

See: https://docs.pytest.org/en/6.2.x/example/pythoncollection.html#interpreting-cmdl

[2021-07-13 21:45] Rodot- opened #1717 "Documentation Main Page Unresponsive on Firefox 89.0.2"
**Describe the bug**
Accessing https://tardis-sn.github.io/tardis causes the browser to slow to a crawl and use a large amount of CPU.  Tends to end with Firefox saying the page is unresponsive and asking to stop it.

**To Reproduce**
Access https://tardis-sn.github.io/tardis on Firefox 89.0.2 (possibly on other versions as well)

**Screenshots**

**System**
 - OS:
    - [x] GNU/Linux (Ubuntu 20.0

[2021-07-14 06:59] atharva-2001 commented on #1717
The link returns a 404 for me, maybe try this [link](https://tardis-sn.github.io/tardis/)?

[2021-07-14 16:11] epassaro commented on #1708
I use logger.warn in `carsus` a lot. I'm not sure if `logger.warn` or `logger.warning` is going to be deprecated soon in favor of the other.

[2021-07-14 19:32] marxwillia opened #1719 "run_tardis docstring missing descriptions for logstate and specific"
**Describe the bug**
There are undocumented kwargs in the run_tardis() function.  The docstring needs to be updated.

[2021-07-15 13:46] DhruvSondhi opened #1724 "Runtime Warning: Division by Zero inside `equivalencies()` function for Virtual Packet Spawn Frequency Start & End Calculation"
**Describe the bug**

When we run TARDIS, we are presented with an warning that is as follows:
[code]
This is caused by some value division by zero when we call the `equvancies` function in the following code (check [here](https://github.com/tardis-sn/tardis/blob/c6d8b9191e4b6fd4cebde5186056b416ef2efd23/tardis/montecarlo/montecarlo_numba/numba_interface.py#L350-L359))
[code]
This warning need to b

[2021-07-15 15:31] DhruvSondhi opened #1725 "Import not present for `IonNumberDensityHeNLTE` inside `standard_plasmas.py`"
**Describe the bug**

There is a missing import for `IonNumberDensityHeNLTE` inside `standard_plasmas.py`. This is being called when the helium treatment is set to `numerical-nlte`.
Code for the same can be seen [here](https://github.com/tardis-sn/tardis/blob/ab967fd2a8e6366667590c548ab1fa36d9a93be4/tardis/plasma/standard_plasmas.py#L237-L246) :
[code]
I have made a PR for fixing it. Linked in the

[2021-07-15 17:11] #1725 closed

[2021-07-15 19:17] andrewfullard opened #1728 "Future problems with pandas dataframes"
**Describe the bug**

With the latest version of pandas (1.3.0) there are a series of changes and deprecations that lead to serious problems with passing tests and producing a tardis run:

- Quantities can make their way into dataframes leading to astropy errors (this may be an astropy issue?)
- Multi-indexed dataframes behave differently:
   - They must have "unique axes" to be indexed with `.at`

[2021-07-16 07:31] DhruvSondhi opened #1732 "Move Montecarlo Logging Configuration to Debug YAML"
**Describe the bug**
The montecarlo numba logger configuration must be moved to `debug.yaml` to keep consistency with respect to the debugging parameters being under the same YAML file. Allows setting up the debugging parameter easy & intuitive.
Check PR #1731

[2021-07-16 15:27] MarkMageeAstro opened #1734 "Density calculated below photosphere for Branch W7 density"
When using the tardis_example.yml file, the density is calculated using a polynomial fit to the W7 density profile. [This is done using the from_config function.](https://github.com/tardis-sn/tardis/blob/d3f13ed69c97570b2bed9a44e9f983003e99990d/tardis/model/density.py#L104)

Before calculating the density, the code adds a new shell below the photosphere that begins at v = 0 km/s. It then gets the

[2021-07-16 17:24] wkerzendorf commented on #1734
we are just in the process of restructuring the model - so that hopefully gets fixed then.

[2021-07-16 17:28] wkerzendorf opened #1735 "Make the time_0 in decay framework required and an astropy quantity"
Currently the `IsotopeAbundance` dataframe subclass does not require a `time_0` but will just assume 0 days and move on.
This should be clearly specified and not just an assumption. We need to raise an error if this is not specified and tell the users to specify this in the config or elsewhere.

[2021-07-19 06:16] atharva-2001 opened #1741 "Change `damping_constant` property under `t_inner` property in tardis_example.yml"
**Is your feature request related to a problem? Please describe.**
Reducing the `damping_constant` property under the `t_inner` property to 0.5 would cause the simulation to converge faster and would look good when displaying the convergence plots in the documentation.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've

[2021-07-19 13:56] #1741 closed

[2021-07-21 22:52] epassaro opened #1749 "ci/cd status page"
I would like to have a page in docs (or new main page?) summarizing the status of CI/CD pipelines like: https://conda-forge.org/status/

[2021-07-22 19:55] #1719 closed

[2021-07-26 15:01] DhruvSondhi opened #1754 "Remove `np.array` from `np.concatenate` inside Virtual packet Logging Arrays"
**Describe the bug**
The `np.array` can be removed inside the `np.concatenate` function can be removed to fix the deprecated warning presented when turning on the Virtual Packet Logging.
The following is the example of the fix : [Code here](https://github.com/tardis-sn/tardis/blob/8903c13691d0845bd37266fd27f59f3fc8967199/tardis/montecarlo/montecarlo_numba/base.py#L89)
[code]

[2021-07-26 15:39] Rodot- commented on #1717
Thanks, I've edited the issue

[2021-07-26 15:39] #1717 closed

[2021-07-26 18:02] smithis7 opened #1756 "Visualization notebooks are pre-run"
The notebooks `docs/io/visualization/generating_widgets.ipynb` and `docs/io/visualization/sdec_plot.ipynb` are pre-run, and thus not executed by nbsphinx. However, they appear to be broken. I don't know if there is a reason we don't want them built by sphinx, so if there is (@jaladh-singhal most likely) please let me know.

[2021-07-26 18:07] smithis7 commented on #1749
Something under `developemtn/` maybe?

[2021-07-27 18:59] wkerzendorf opened #1758 "Refactor `VPacketCollection`"
There are a few items to clean up the current `VPacketCollection`. This includes renaming the `set_properties` option. changing the array extension functionality to a function. Various other changes. If you would like to work on this please contact @andrewfullard and @wkerzendorf

[2021-07-28 14:39] atharva-2001 opened #1759 "Convergence plots do not show up"
**Describe the bug**

The convergence plots in the first few cells do not show up in the documentation sometimes.

**To Reproduce**

Visit the convergence plots documentation: https://tardis-sn.github.io/tardis/io/visualization/convergence_plot

**Screenshots**

![image](https://user-images.githubusercontent.com/55894364/127340826-ea277846-03cc-4d89-ab3f-691f2bf120f4.png)
![image](https://user-ima

[2021-07-29 19:57] jaladh-singhal opened #1762 "Enforce naming conventions of PEP8"
Currently we have no automated way to ensure that code being added follows PEP8 [naming conventions ](https://realpython.com/python-pep8/#naming-conventions) - like naming variables in snake case and only classes in captialized words, etc. A recent example of such violation is #1738 since it only depends on reviewers as of now.

Black (being an [autoformatter](https://realpython.com/python-pep8/#a

[2021-07-30 05:33] atharva-2001 opened #1764 "Enabling `virtual_packet_logging` causes error"
**Describe the bug**

An error is raised when one tries to enable `virtual_packet_logging` after `run_tardis` has been called once with `virtual_packet_logging` disabled.

**To Reproduce**

[code]
The error is raised in the last iteration of the second run:
[code]
One can also raise the error by enabling `virtual_packet_logging` via the config file instead of the option in the `run_tardis` functio

[2021-08-02 14:47] Rodot- opened #1766 "last_interaction_types for the r_packets in single_packet_loop.py don't correspond to interaction types in interaction.py"
**Describe the bug**
last_interaction_types for the r_packets in single_packet_loop.py don't correspond to interaction types in interaction.py.  Currently the last_interaction_type is set to an integer rather than the enumerated interaction types found in interaction.py.  Updating this may affect the visualization code, but should be changed for clarity

**Additional context**

[2021-08-02 15:04] DhruvSondhi opened #1767 "Tests for the`montecarlo` part of the code needs to be revised"
**Describe the bug**
The tests for the `montecarlo` part of the code present in `tardis/monteacarlo/tests/test_montecarlo.py` have an outdated docstring pertaining to testing being done in C part of the code. But as the C part of the code has been removed, the tests needs to be revised & changed for the updated numba based implementation
Tests present here - https://github.com/tardis-sn/tardis/blo

[2021-08-11 16:05] chvogl opened #1773 "Check the convergence of the ion population solver"
**Is your feature request related to a problem? Please describe.**
Currently, the ion population solver stops if the fractional change of the electron density between iterations is less than 5 %: https://github.com/tardis-sn/tardis/blob/ea86abf1e180d0cb203b6cb3c2b4aada87d0c174/tardis/plasma/properties/ion_population.py#L335
This does not guarantee that the resulting electron densities are accurate

[2021-08-11 16:37] wkerzendorf opened #1774 "rename `TARDISSPectrum` into `PacketSpectrum` or similar"
`TARDISSpectrum` is just not very descriptive

[2021-08-12 07:59] yuyizheng1112 commented on #1764
Same error

[2021-08-12 08:29] yuyizheng1112 opened #1777 "Restructure the Custom Abundance Widget module"
The custom abundance widget has developed various functionality as the project progressed. It requires more data and information than anticipated. Thus, I'm going to restructure the code so that it can be easier to develop and maintain. I'm planning to separate the data from the widget. And new tests should be added after restructuring.
This work will be done after GSoC.

[2021-08-13 15:27] jaladh-singhal opened #1779 "Change selected shell in the dropdown when range of shells is chosen in Custom Abundance Widget"
In custom abundance widget when selecting radio button "range of shells", the selection in shell no. dropdown stays same - instead it should be changed to account the now selected shell range. For e.g. If I had selected 5th shell and then I selected range as 9-15, the values in abundance inputs still correspond to 5th shell. Also box selection for 5th shell in the plot still persists that should h

[2021-08-16 16:34] DhruvSondhi opened #1780 "Logger doesn't set `specific_log_level` to a Default value if no functional arguments are present"
**Describe the bug**

Upon testing the logger for the simulation, I encountered a bug wherein if you set the `log_level` as well as `specific_log_level` values via the configuration object (reading the configuration as a config object then setting it via `config["debug"]["log_level"]` or  `config["debug"]["specific_log_level"]`), it runs the simulation once without any problems but when we run the

[2021-08-22 11:26] Molkree opened #1783 "Using built-in GitHub citation support"
**Is your feature request related to a problem? Please describe.**
Providing a standardised way of citing tardis-sn.

**Describe the solution you'd like**
Leverage built-in GitHub citing support by adding CITATION.cff file to the repository. [Announce](https://github.blog/2021-08-19-enhanced-support-citations-github/) of the feature, [docs](https://docs.github.com/en/github/creating-cloning-and-ar

[2021-08-22 14:59] epassaro commented on #1783
Hi @Molkree! We are already working on how to implement this on the continuous delivery pipeline. Thanks!

[2021-08-22 15:15] Molkree commented on #1762
flake8 by itself won't be enough, but there's [pep8-naming](https://github.com/PyCQA/pep8-naming) plugin for flake8 and I think this is exactly what you are looking for.

[2021-08-22 15:22] Molkree commented on #1749
Do you want something as simple as a collection of badges indicating if the workflow passes or not? Or something more advanced like on the linked conda-forge page?
Badges can be created very easily in the GitHub Action UI on each workflow's page:
![image](https://user-images.githubusercontent.com/12860284/130360635-4249678f-d5c8-426a-9009-6d422460ca1c.png)

For Azure something like [this](https://

[2021-08-22 15:27] Molkree commented on #1783
That's awesome! Can you provide a link to where this work happens? Or just link a PR to this issue when it's ready.

[2021-08-24 13:49] DhruvSondhi opened #1785 "Empty Exception Classes present in `io/atom_data/base.py`"
**Describe the bug**

There are two exception classes that are present inside `tardis/io/atom_data/base.py` which do not have any function inside. They are empty classes with `pass` keyword present. These classes should be reviewed & restructured so that these class do have the intended functionality.

These can be seen here : [AtomDataNotPreparedError](https://github.com/tardis-sn/tardis/blob/mas

[2021-09-08 13:28] jaladh-singhal opened #1791 "Workflow to automatically comment documentation preview link on PRs"
- It should trigger (though only once) whenever documentation preview workflow triggers for a PR
- Should generate the documentation preview link (that can be created using same logic how docs-preview workflow does it ) and comment it on the PR

[2021-09-08 14:39] epassaro opened #1792 "Test TARDIS multithread on CI"
Think of a way to test `tardis` in multithreaded mode on the continuous integration pipeline.

[2021-09-08 17:27] wkerzendorf commented on #1792
Current test suit just with threads =5 or so

[2021-09-09 11:15] #1780 closed

[2021-09-17 10:57] #1756 closed

[2021-09-17 15:02] jaladh-singhal commented on #1777
@yuyizheng1112 can we close it? Or are there still more things you want to restructure?

[2021-09-17 15:25] luharvey opened #1797 "Abundance widget - exported csvy file issues"
There appears to be two issues which occur when running a simulation of a csvy file that has been created and exported by the custom abundance widget:

1.) The exported csvy file is missing a line which should read ‘tardis_model_config_version: v1.0’, this is thrown up as an error when running the exported model.
2.) The simulation also freezes and it seems to be due to the innermost velocity in t

[2021-10-01 13:19] #1724 closed

[2021-10-04 19:15] manolis07gr opened #1807 "Cannot run Tardis Example after re-installation"
Dear TARDIS team,

I recently updated to the latest version of TARDIS using the conda3 environment as following the installation guidelines as recommended in your website to re-do the "Quickstart" run (https://tardis-sn.github.io/tardis/quickstart/quickstart.html). I am however unable to run this setup and I keep getting the following error after running sim = run_tardis('tardis_example.yml'):

Tr

[2021-10-05 00:34] andrewfullard commented on #1807
This should be fixed after #1806 is merged.

[2021-10-05 15:57] manolis07gr commented on #1807
Hi @andrewfullard - I just checked out the latest update of the TARDIS git repo and the problem persists, am I still missing something?

Thanks,

Manos

[2021-10-05 16:23] epassaro commented on #1807
The patch @andrewfullard mentioned hasn't been merged yet. You can downgrade `jsonschema` in your environment if you need to get it working now.

[2021-10-06 23:34] manolis07gr opened #1809 "Unable to retrieve 99em (Type IIP) spectrum"
Dear TARDIS community,

I have been trying, closely following the TARDIS online documentation, to reproduce a Type IIP spectrum based on the observed SN 1999em. In essence, this attempt is parallel to the one presented in Vogl et al. 2019 (https://ui.adsabs.harvard.edu/abs/2019A%26A...621A..29V/abstract) and Vogl et al. 2020 (https://ui.adsabs.harvard.edu/abs/2020A%26A...633A..88V/abstract) and as

[2021-10-07 15:19] jamesgillanders commented on #1797
Additionally, the velocity values that are output to the csvy file do not seem to represent the v_outer values for the shells; i.e. if you generate a csvy with the outer boundary at 20000 km/s, the final row will not output v=20000, but some velocity below this. Likely a result of outputting the velocity instead of v_outer ?

[2021-10-13 00:11] manolis07gr commented on #1809
Any ideas/feedback on that?

[2021-10-14 15:55] isaacgsmith opened #1812 "Unused convergence settings in Monte Carlo config"
The settings `damping_constant` and `threshold` [here](https://tardis-sn.github.io/tardis/io/configuration/components/montecarlo.html#damped-convergence-strategy) are not used in the code. There is a separate `damping_constant` and `threshold` for `t_rad`, `w`, and `t_inner` which are used. We should either get rid of this in the configuration or make use of it in the code.

[2021-10-18 15:53] Rodot- opened #1814 "Default Luminosity value of 1L_sun is non-sensical"
**Describe the bug**
When a value for the luminosity is not specified it defaults to one solar luminosity which causes the radiative temperature to drop to an unreasonably cold temperature.

**To Reproduce**
Set the number of iterations above 10 and don't specify a luminosity in the tardis config.

[2021-10-19 13:44] manolis07gr commented on #1809
Thanks for the update @wkerzendorf ! Would love to hear more about progress on that front, also for code-to-code comparison purposes and goals we have.

[2021-10-21 12:00] yuyizheng1112 commented on #1777
Sure. Thanks for the reminder! @jaladh-singhal

[2021-10-23 11:55] wkerzendorf opened #1819 "test_logging really slow"

[2021-10-25 14:47] andrewfullard opened #1820 "Make documentation for cases where upstream has been messed up"
**Is your feature request related to a problem? Please describe.**
It's possible for developers to create problems with the upstream branch of tardis when merging pull requests. We need documentation on the methods by which these problems can be fixed.

**Describe the solution you'd like**
Documentation!

[2021-11-02 11:04] thomasmoore-42 commented on #1764
Same error

[2021-11-12 14:24] #1779 closed

[2021-11-14 18:58] shilpiprd commented on #1672
from what i understand, you need all files to  import constants from tardis instead of 'astropy or anything else'.
Is this correct?

[2021-11-15 10:36] chvogl commented on #1672
Yes, that's it!

[2021-11-18 13:08] shilpiprd commented on #1672
I've fixed this issue in PR: #1825
Please review

[2021-11-20 15:35] rayadastidar opened #1828 "Unable to produce SDEC plots"
Hi,
I wanted to produce the SDEC Plot for the virtual packets population. For that I set virtual_packet_logging: True in the configuration file under the spectrum property like this:

[code]

Then, when I run tardis:
`sim = run_tardis('tardis_example.yml')`

I am getting this error:

[code]

What should I do?

[2021-11-20 15:54] atharva-2001 commented on #1828
This issue is a duplicate of issue #1764. AFAIK, this error is raised when one tries to enable `virtual_packet_logging` after having run the `run_tardis` function with `virtual_packet_logging` disabled. Maybe try to run the `run_tardis` function with the same configuration in a separate session(or notebook)?

[2021-11-21 04:31] shilpiprd commented on #1672
is the pr #1825 merged? How would I know? Can i close the pr?

[2021-11-22 16:21] rayadastidar commented on #1828
Thanks, running the function on a separate notebook worked!

[2021-11-22 16:21] #1828 closed

[2021-11-24 15:50] gleck97 opened #1829 "Kilonova-model crash when no recombination data available"
**Describe the bug**
The bug appears when trying to run a (kilonova) model where _only_ elements with atomic number Z > 28 are abundant and when using "nebular" and "dilute-lte" as ionization and excitation for the plasma state. In this case, TARDIS does not seem to find any recombination data (which so far seems to be provided up to Z = 28, see "knox_long_recombination_zeta.dat") and the model cr

[2021-11-25 17:29] #1672 closed

[2021-12-01 15:57] #1670 closed

[2021-12-08 16:03] #1705 closed

[2021-12-08 16:13] wkerzendorf opened #1838 "Make a parser that parses element and ion strings"
We want to have a parser that can deal with strings such as `Si` `Si1`, `Si I`, `Sii` and understand if it is an ion or an element.

[2021-12-08 16:24] andrewfullard opened #1839 "Change default log level to INFO"
Currently the default log level is CRITICAL. This makes it difficult for the user to see what TARDIS is doing in detail when it runs. The default log level should be changed to INFO.

[2021-12-14 04:59] DhruvSondhi commented on #1819
Hello @wkerzendorf, can you please elaborate a little more on what the issue is?

[2022-01-06 15:59] #1764 closed

[2022-01-09 10:12] DivyaPamecha commented on #1653
Hello @smithis7 @wkerzendorf . I am new to open source and I found this issue interesting. I tried researching about this but couldn't find any resources. Could you please help me with this issue?

[2022-01-10 22:09] #997 closed

[2022-01-12 16:07] andrewfullard opened #1851 "Gamma-ray energy deposition"
Spawn packets with gamma ray energies
Handle compton scattering
Handle absorption

[2022-01-12 16:08] andrewfullard opened #1852 "Radioactive decay implementation"
TARDIS nuclear gets decay rates and energy output https://github.com/tardis-sn/tardisnuclear
Get decay rates from TARDIS-nuclear and then sample in TARDIS or sample in TARDIS-nuclear?

[2022-01-12 16:08] andrewfullard opened #1853 "Chance of positron escape at late times"

[2022-01-12 16:42] chvogl opened #1854 "Thermal Balance"

[2022-01-12 16:46] wkerzendorf opened #1855 "Triage can't run RefData comparison pipeline"
please investigate

[2022-01-12 17:06] chvogl opened #1856 "Add more general NLTE solver"
We need to add a NLTE solver that includes additional physical processes (bound-free, two-photon decays etc.).
Ideally we should also
(1) take the non-linear nature of the equations into account (caused, for example, by the dependence of the Sobolev escape probabilities on the level populations)
(2) treat the coupling to the ionization state directly
(3) potentially couple to the thermal balance.

[2022-01-13 17:30] atharva-2001 opened #1858 "Address fixtures that are not being used"
**Describe the bug**

According to [pytest dead fixtures](https://github.com/jllorencetti/pytest-deadfixtures ), there are some fixtures which are not being used:
[code]

**To Reproduce**

Install pytest dead fixtures and run it on TARDIS

**Screenshots**

**System**
 - OS:
    - [X] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):
<details>
  <summary>Environment</summary>

[code]
</deta

[2022-01-13 17:58] DhruvSondhi opened #1859 "Option to change the formatting (colors) of the logs & Ability to create Log Files"
Continuation & Updating wrt issue #1029

**Is your feature request related to a problem? Please describe.**
(1) The current logging has _colors_ to specify the different **log levels** & severity of the log messages. There should be an option to turn off the colors so that it could be printed with minimal formatting in different environments such as a terminal or Jupyter Notebook.
A prototype impl

[2022-01-13 18:14] wkerzendorf opened #1860 "Add pyne installation issue to TARDIS installation troubles"

[2022-01-13 22:23] wkerzendorf commented on #1029
closed in favor of #1859

[2022-01-13 22:24] #1029 closed

[2022-01-14 19:53] andrewfullard opened #1862 "Capture and bin escaping photons from radioactive decay"
To generate a spectrum from gamma-rays we need to capture and bin them by wavelength

[2022-01-17 17:18] wkerzendorf opened #1863 "Remove `yaml_load_config_file` from code"
this is in the code in util and should be removed in favor of `Configuration.from_yaml` in the entire code.

[2022-01-21 15:32] AlexHls opened #1869 "Outdated documentation `running_tests.rst` -> Does not include tox/pytest"
**Describe the bug**

The documentation for [running tests](https://github.com/tardis-sn/tardis/blob/master/docs/contributing/development/running_tests.rst) does still refer to the deprecated `python setup.py test` instead of the recommended `tox -e test` or `pytest`.

**To Reproduce**

Follow the [documentation](https://github.com/tardis-sn/tardis/blob/master/docs/contributing/development/running

[2022-01-24 03:32] rishav-karanjit commented on #1653
Hey, I really wanna work on this issue. Can this issue be assigned to me?

[2022-01-24 15:22] andrewfullard opened #1871 "Changelog workflow is broken"
**Describe the bug**

Changelog workflow is refusing to push, claiming that it hasn't got a branch checked out.

**To Reproduce**

Run changelog workflow

**Screenshots**

![image](https://user-images.githubusercontent.com/20341051/150811378-71cbe504-4baa-40b2-9ec6-790d5d2ecf7f.png)

[2022-01-26 05:07] madoyi commented on #1863
hello, let me work on it

[2022-01-26 08:30] madoyi commented on #1871
I'd like to help out with this issue, is there a specific implementation you had in mind ?

[2022-01-26 13:00] rohithvarma3000 commented on #1871
Hey, I have been exploring this issue for a day. https://github.com/actions/checkout/issues/124#issuecomment-584264556 This comment explains the reason why this issue arises. I think a push to a PR related branch is also considered as a trigger. So we need to do some study regarding when this workflow should be called.

The simplest way to fix the issue will be through a `git checkout` and then pe

[2022-01-26 20:15] rohithvarma3000 commented on #1871
I have a made a mistake in my previous comment. The workflow is being triggered correctly and the PR is not causing the error. The detached head occurs due to the way git handles tags. When we make a commit over the tag, the commit is not attached to any branch. The tag still points to the previous commit. So we need to modify the tag accordingly to handle this change.

[2022-01-29 09:22] PurnaChandraMansingh commented on #1599
Hi @smithis7 I am new to Open source and I would like to work on this issue

[2022-01-29 12:27] wkerzendorf opened #1880 "Problem with `tqdm` import in vscode"
[code]

[2022-01-29 13:01] DhruvSondhi commented on #1880
This is also evident even if the `progress_bars` are turned off.

[2022-01-29 14:09] wkerzendorf commented on #1880
fixed

[2022-01-29 14:09] #1880 closed

[2022-01-31 16:58] Rodot- opened #1882 "RPacket Tracker print packet traceback on close line fail"
Have the r_packet contain it's own packet tracker

[2022-02-01 10:19] wkerzendorf opened #1884 "check test associated atom data for nu/lambda inconsistency"
it seems some of the nus are not calculated from lambda or the other way round. PR #1883 shows the issue! In the long run, we need to make sure that we calculate one from the other if both given in sources

[2022-02-08 22:01] smithis7 opened #1892 "Move tardis/io/tests/data/arepo_snapshot.json to refdata"
The file `tardis/io/tests/data/arepo_snapshot.json` is about 6MB and should probably be located in the refdata.

When this is changed, this file is symlinked in the directory `docs/io/configuration/components/models/converters`, so that will need to be fixed -- ideally we could get a smaller JSON file to be used in the docs example. Even if we just move the full JSON to the docs folder, this is be

[2022-02-09 06:29] atharva-2001 commented on #1669
@smithis7, Since the notebook I am talking about here, was replaced by a [new notebook](https://tardis-sn.github.io/tardis/io/output/to_hdf.html)(many thanks to your PR https://github.com/tardis-sn/tardis/pull/1763), can we close this issue?

[2022-02-09 13:52] smithis7 commented on #1669
Yeah, I didn't notice this issue before, I should have closed it with my PR that fixed it 😅

[2022-02-09 14:46] #1669 closed

[2022-02-10 23:34] wkerzendorf opened #1895 "system pickle overriden"
@epassaro you are messing with numba using this method - see https://github.com/numba/numba/issues/7807

https://github.com/tardis-sn/tardis/blob/c70594674b4e0998f3ea8a349911c1096e877331/tardis/__init__.py#L26

Can we fix this?

[2022-02-10 23:42] epassaro commented on #1895
I don't know.

pyne holds macOS Python version to 3.7. Reference data was created with 3.8, so we needed to backport pickle 5.

Maybe we can re-generate the reference data with 3.7 and push it again, but I'm not sure if this is going to work.

[2022-02-16 22:09] bartnikm opened #1897 "Plasma Graph Edge Name Overlap"
**Describe the bug**

The names of the edges within the plasma graph overlap with each other (#1868)
**To Reproduce**

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):

**Additional context**

[2022-02-22 21:19] andrewfullard opened #1902 "Remove single_packet_seed from config and across the code"
The single_packet_seed configuration parameter causes more problems than it solves (it doesn't solve any).

Specifically, it causes problems with tests and produces unexpected output.

[2022-02-22 21:40] andrewfullard opened #1903 "Change import of ABCs from 'collections' to 'collections.abc'"
This is a deprecated import and will fail in Python 3.9+

[2022-02-22 21:42] andrewfullard opened #1904 "Deprecation: tostring() is deprecated. Use tobytes() instead"
Unclear where this arises, but probably in pandas to_hdf(). May be alleviated by a pandas upgrade in the future.

[2022-02-22 21:43] andrewfullard opened #1905 "Deprecation: distutils Version classes are deprecated. Use packaging.version instead."
This is unclear but may be alleviated with a distutils update, or something in setup.py

[2022-02-22 22:35] epassaro opened #1906 "Relative path not working with `--tardis-refdata` flag"
**Describe the bug**

This works:

[code]

This doesn't work

[code]

I think the problem is related to the log tests.

**To Reproduce**

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):

**Additional context**

[2022-02-23 15:27] andrewfullard opened #1908 "Consider config option for numba recompile of montecarlo_main_loop"
It's possible that the recompile() call added in #1901 will cause performance problems in the future. A config option to disable/enable it would be appropriate.

[2022-02-23 15:52] Rodot- opened #1909 "Make Sure MultiIndices are Named"
**Is your feature request related to a problem? Please describe.**
Many parts of the code reference elements of a pandas MultiIndex, represented by undocumented integers.

**Describe the solution you'd like**
These values should either be well documented, set to named constants, or use pandas column names directly.

[2022-02-23 15:56] wkerzendorf opened #1910 "Rename `abundance` to `mass_fraction`"
A rename from the generic `abundance` to the term `mass_fraction`. This would be a breaking change and needs to be "signed" by core.

[2022-02-24 18:09] marxwillia opened #1911 "CSVY Parsers Should Be Incorporated to Model Readers"
Currently, the CSVY parser functions are located with the parsers in tardis/io/parsers, but those functions belong in the tardis/io/model_reader.py file.  Please move all CSVY related parser functions to the model reader file.  Note that this will cause import statements to break and some tests to fail, so these things need to be fixed as well.

[2022-02-24 20:06] Rodot- commented on #1908
#1901 Now no longer include the recompile and we're not sure about possible consequences!  Once merged, this should be a priority issue, if not one now

[2022-02-24 20:14] wkerzendorf commented on #1895
@epassaro do we still need this

[2022-02-24 20:26] wkerzendorf opened #1912 "Update setup.py using astropy package/template"
use the https://github.com/astropy/package-template setup.py as a reference to get rid of the warnings.

[2022-02-24 20:26] Rodot- opened #1913 "Use PyTest ArrayDiff in testing pipeline"

[2022-02-24 20:27] epassaro commented on #1912
Do you mean the deprecation warnings? https://github.com/tardis-sn/tardis/pull/1815

[2022-02-24 21:04] epassaro commented on #1895
I think the right thing to do is wait to merge Thom's PR and then move to Python 3.9 @wkerzendorf

[2022-02-24 22:17] wkerzendorf commented on #1913
start with the file https://github.com/tardis-sn/tardis/blob/master/tardis/montecarlo/tests/test_packet_source.py#L21 and use pytest-arraydiff (https://pypi.org/project/pytest-arraydiff/) to write reference data to disk.

[2022-03-05 15:12] rishav-karanjit commented on #1909
@Rodot- can you give an example of this issue?

[2022-03-12 12:26] jayantbhakar commented on #1653
Hi, is this issue still open? I want to know exactly how the unit will be taken as input?

[2022-03-12 12:29] jayantbhakar commented on #1911
is this issue still open or is it resolved?

[2022-03-12 12:40] jayantbhakar commented on #1599
is this issue still open?

[2022-03-12 12:43] jayantbhakar commented on #1910
I want to work on this issue. In which file(s) are the names to be changed?

[2022-03-12 12:45] jayantbhakar commented on #1902
Hi, I would like to take up this issue. Can I know the file(s) in which the changes are to be done?

[2022-03-13 03:57] smithis7 opened #1924 "Update installation instructions"
Many users that are not interested in developing TARDIS may want to install the package via conda-forge. This option is not present in the installation instructions.

[2022-03-13 05:29] epassaro commented on #1924
I agree installation instructions need to be updated ASAP.

The `conda-forge` package is not currently tested, requires https://github.com/tardis-sn/tardis/issues/1715.

[2022-03-14 17:40] Rodot- opened #1927 "Move CSVY writer from custom abundance widget to io"
**Is your feature request related to a problem? Please describe.**
Would be nice to have simpler access to the csvy writer for general model creation.  Currently it is a part of the custom abundance widget, but the tool is generally useful.

**Describe the solution you'd like**
Move this over to the io module to make access easier.

[2022-03-14 19:40] umak1106 commented on #1927
Hello , where exactly in the io module do you want this to be moved over to ?
@Rodot-

[2022-03-23 15:54] andrewfullard opened #1932 "Pin pytest to 7.0.1 to fix Azure pipeline errors"
Currently the Azure pipeline fails to run our unit tests because of a breaking change in pytest. We need to pin pytest in our environment file to solve this.

[2022-03-23 18:45] its-sushant commented on #1906
Hey @epassaro , I don't understand why this `pytest tardis --tardis-refdata=../tardis-refdata` command is not working for you. Because for me it is working. And I am using ubuntu.

[2022-03-23 18:50] Rodot- opened #1935 "Need tests for intensity P-rays"
Currently, the accuracy if the p-ray dependent intensities produced by the formal integral in PR #1933 are tested at run-time to verify the correct output.  A proper test should be made to evaluate these so we don't run these tests live every time we compute the formal integral.

[2022-03-23 19:19] its-sushant opened #1936 "Related to GSoC Project first ojective"
**Discription**

Project Name - Better testing framework to ascertain the scientific accuracy of TARDIS

Objective - Look at the documentation to run the TARDIS documentation (http://tardis-sn.github.io/tardis) with refdata enabled. Run them locally on your machine and post the last part of the tests in an issue on the GitHub repository.

**Describe**

I ran following test command `pytest tardis -

[2022-03-23 20:59] wkerzendorf commented on #1936
so 14 tests fail - have a look what is wrong.

[2022-03-28 17:12] its-sushant commented on #1936
Hey @wkerzendorf  i ran the same command `pytest tardis --tardis-refdata=home/shushant/tardis-refdata` after completely pulling the lfs file. Now it is not showing any error.
![Screenshot from 2022-03-28 22-31-51](https://user-images.githubusercontent.com/76658675/160451297-0a249770-af4e-43fd-8f36-53bb831e7f6f.png)
Kindly review it and suggest what i need to do further.
Thankyou :)

[2022-03-30 21:32] andrewfullard opened #1940 "Update black version to fix `cannot import name '_unicodefun' from 'click'` error"
See issue here:

https://github.com/psf/black/issues/2964

and here:

https://stackoverflow.com/questions/71673404/importerror-cannot-import-name-unicodefun-from-click

Fix: update `black` version or pin `click` version`

[2022-04-06 13:14] jayantbhakar opened #1943 "First Objective for "Monte Carlo 2D Packet Visualization""
**Monte Carlo 2D Packet Visualization**
I have plotted the trajectory of a single packet as it travels through the ejecta by graphing mu vs r. I have attached the code and results as PDF.
Please let me know if I have done it right and if any changes are required.
[packet_visualization.pdf](https://github.com/tardis-sn/tardis/files/8427133/packet_visualization.pdf)

[2022-04-07 14:44] Rodot- opened #1944 "TARDIS produces spectra filled with NaN values with little information when running certain models"
**Describe the bug**
When running specific models, the produced spectra are non-physical, filled with infinities and NaNs and there is very little indication why.  Ideally, TARDIS should fail rather than reporting a successful run.

**To Reproduce**
Running the model contained in the attached file will produce the error, run with the default atomic data

**Screenshots**

**System**
 - OS:
[badconf

[2022-04-07 15:58] Rodot- opened #1945 "Progress Bars have glitchy display when run with multiple threads"
**Describe the bug**

**To Reproduce**
Run tardis with more than 1 thread and enable progress bars

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):

**Additional context**

[2022-04-09 11:48] jayantbhakar commented on #1945
I have tried running tardis with multiple threads. I found that the number of progress bar pairs ( i.e. one for the number of packets and another one for the number of iterations) depends on the threads. If threads are set to 3, there are 3 pairs of bars.
Also, what I have found after seeing the code(montecarlo_numba/base.py) is that due to the number of threads, it runs the iterations(montecarlo_

[2022-04-11 02:49] jl-liu2022 opened #1947 "The first objective for "Monte Carlo 2D Packet Visualization""
I have tried to work on the first objective for "Monte Carlo 2D Packet Visualization" and made a notebook. I post the notebook as a pdf here.
[one_packet_tracking.pdf](https://github.com/tardis-sn/tardis/files/8460713/one_packet_tracking.pdf)

Looking forward to your feedbacks, thanks!

[2022-04-11 14:33] jayantbhakar commented on #1943
Sure

[2022-04-11 15:13] epassaro commented on #1791
I have a better documentation pipeline, see: https://github.com/epassaro/actions-rtd-workflow

[2022-04-11 19:20] wkerzendorf commented on #1947
also can you make a draft application available on google docs or overleaf so we can easily comment.

[2022-04-11 19:20] wkerzendorf commented on #1947
We also can not take you as a student if it is not submitted via the official google website.

[2022-04-11 19:53] jaladh-singhal commented on #1791
@epassaro why haven't we adopted it in tardis?

[2022-04-11 21:05] epassaro commented on #1791
Mostly a matter of time, I submitted that to the GH Actions Hackathon last november

[2022-04-12 02:31] jl-liu2022 commented on #1947
OK. In fact, I'm trying to find the entry for submitting in the official google website (haha).

[2022-04-12 21:24] epassaro opened #1952 "Git ignore blame revs not working as expected in VSCode"
**Solved:** seems this is not configured by default anymore, needed to add to VSCode `settings.json`:
[code]

-----

**Describe the bug**

I'm seeing git blames all around the place, despite commits are included in `.git-blame-ignore-revs`.

Assigned to myself.

**To Reproduce**

Use Git Lens in VS Code.

**Screenshots**

**System**
 - OS:
    - [x] GNU/Linux
    - [ ] macOS

 - Environment (`cond

[2022-04-13 09:02] rohithvarma3000 opened #1953 "Exposed Code Coverage Token in Azure Pipeline Configuration File"
https://github.com/tardis-sn/tardis/blob/929b0ec0e7ac1fd5818fb586149c59dd6eaec7aa/.azure-pipelines/run-unit-tests.yml#L15

While going through the Azure configuration file, I found that the Code Coverage token is exposed which is not a good practice. So we need to use either GitHub secrets or Azure Key Vault to store this token.

[2022-04-13 16:25] afloers opened #1954 "Interactive widgets are not displayed in a Jupyter notebook"
**Describe the bug**
LineInfoWidget and ShellInfoWidget do not show up in Jupyter notebooks, nor do they produce errors. Nothing is displayed.
I tried to run the notebook in Firefox, Chrome and Visual Studio Code, but none of them worked.

**To Reproduce**
`from tardis import run_tardis`
`from tardis.io.atom_data.util import download_atom_data`

`sim = run_tardis('tardis_example.yml', virtual_pack

[2022-04-13 16:57] ayesca opened #1955 "The First Objective for Monte Carlo 2D Packet Visualization"
Here you will find a project (MC_2D.pdf) that runs a TARDIS simulation with packet logging enabled with only 1 packet. The trajectory of the packet was plotted through the ejecta by graphing mu vs r.

Please let me know if there are any changes required!

Thanks!

[MC_2D.pdf](https://github.com/tardis-sn/tardis/files/8483265/MC_2D.pdf)

[2022-04-13 17:50] shravandoda commented on #1858
Hi! Picking this up

[2022-04-14 20:11] andrewfullard opened #1958 "Linux tests failing at environment stage"
[https://dev.azure.com/tardis-sn/TARDIS/_build/results?buildId=6329&view=logs&jobId=[…]-5b05-c993-f36a583de794&t=072f0f77-7703-5123-eba2-9a02ce7e49a1](https://dev.azure.com/tardis-sn/TARDIS/_build/results?buildId=6329&view=logs&jobId=03c09906-abfe-5b05-c993-f36a583de794&j=03c09906-abfe-5b05-c993-f36a583de794&t=072f0f77-7703-5123-eba2-9a02ce7e49a1) tests are failing due to environment build problem

[2022-04-16 11:54] Tanuj-rai opened #1960 "The first objective for "Better testing framework to ascertain the scientific accuracy of TARDIS""
Description-

Project Name-Better testing framework to ascertain the scientific accuracy of the TARDIS

Objective - Look at the documentation to run the TARDIS documentation (http://tardis-sn.github.io/tardis) with refdata enabled. Run them locally on your machine and post the last part of the tests in an issue on the GitHub repository.

Issue Description-

I ran the test command provided in the d

[2022-04-16 12:32] Tanuj-rai commented on #1960
Hello! Dhruv can you please reopen this issue so that I got feedback regarding this issue.

[2022-04-16 13:33] DhruvSondhi commented on #1960
Can you try to reopen the issue? I am not able to reopen this from my side. At first the issue seemed trivial thats why I closed it but now as this is meaningful, I cannot do so. Sorry for the inconvenience caused.

[2022-04-16 16:33] Tanuj-rai commented on #1960
No problem @DhruvSondhi. I am also unable to reopen the issue from my side also. The option to reopen the issue is not visible to me.

[2022-04-16 16:51] Tanuj-rai commented on #1960
Thank you so much @DhruvSondhi

[2022-04-17 07:14] Tanuj-rai commented on #1903
@andrewfullard  Can you please assign me this issue?

[2022-04-18 14:29] andrewfullard commented on #1960
It appears that you did not clone the reference data repository, or you did not point the tests at the cloned reference data repository. That is probably why the tests are failing. Only a small number of tests seem to have been run, too. Please read the documentation carefully.

If the documentation is unclear, please make an issue highlighting the confusing parts. Thanks!

[2022-04-18 19:26] jaladh-singhal commented on #1955
@ayesca can you please create a PR with the notebook?

[2022-04-18 21:57] epassaro commented on #1860
Fixed #1813

[2022-04-18 21:57] #1860 closed

[2022-04-18 21:57] #1654 closed

[2022-04-18 21:57] epassaro commented on #1537
Fixed #1813

[2022-04-18 21:57] #1537 closed

[2022-04-18 21:57] epassaro commented on #1256
Fixed by #1813

[2022-04-18 21:57] #1256 closed

[2022-04-18 22:04] epassaro commented on #1676
not necessary

[2022-04-18 22:04] #1676 closed

[2022-04-19 05:38] Tanuj-rai commented on #1960
Thanks, @andrewfullard for your feedback and I will consider your feedback to improve it.

[2022-04-19 15:39] wkerzendorf opened #1964 "Isotopes specified at what time in STELLA"

[2022-04-19 15:48] wkerzendorf opened #1965 "STELLA to TARDIS bridge"

[2022-04-19 15:49] wkerzendorf commented on #1965
[mesa.day010_post_Lbol_max.data.notzip.zip](https://github.com/tardis-sn/tardis/files/8514513/mesa.day010_post_Lbol_max.data.notzip.zip)

[2022-04-19 15:50] wkerzendorf opened #1966 "Compare to existing code spectra"
https://ui.adsabs.harvard.edu/abs/2020ApJ...898...29T/abstract

[2022-04-19 20:29] matteocantiello commented on #1964
Isotopes are specified at the time of STELLA input (so at MESA handout). STELLA does not include a nuclear reaction network except for the radioactive decay chain initiated from 56Ni (basically heating by decays 56Ni → 56Co→ 56Fe, See Blinnikov & Sorokina 2004).

[2022-04-19 20:35] matteocantiello commented on #1964
Useful STELLA references:
https://www.aanda.org/articles/aa/pdf/2006/25/aa4594-05.pdf
https://iopscience.iop.org/article/10.1086/305375/pdf
https://arxiv.org/abs/astro-ph/0212530

[2022-04-19 20:35] #1964 closed

[2022-04-19 20:55] #1958 closed

[2022-04-20 20:01] Rodot- commented on #1965
So how "complete" do we want this bridge to be?  Right now, a tardis compatible csvy file can be generated from stella in only a couple lines of code entirely through queries.  Do we also want automated yaml generation?  Are we requiring interpolation between epochs as a goal?  What other kinds of functionality are we looking for?

[2022-04-21 23:51] #1895 closed

[2022-04-21 23:51] #1940 closed

[2022-04-22 00:22] Rodot- commented on #1965
Nest Step: Autogenerate the yml portion

[2022-04-23 19:46] epassaro opened #1972 "Add instructions on how to fix .mailmap"
This is great: https://docs.enterprise.codescene.io/versions/2.0.0/getting-started/ensure-you-use-a-mailmap.html

[2022-04-25 15:20] wkerzendorf opened #1976 "Widgets code shows up during the commandline"
It should be disabled when running on the commandline.
[code]

[2022-04-25 20:34] epassaro opened #1979 "Simulation with `continuum_interaction` enabled crashes after #1957"
**Describe the bug**

More details later

**To Reproduce**

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):

**Additional context**

[2022-04-26 20:43] wkerzendorf opened #1984 "blanket except statement in util 513"
There is a blanket except statement in line 513 in util that should be clarified to a specific exception.

[2022-04-27 12:27] #1972 closed

[2022-04-27 12:31] #1953 closed

[2022-04-27 14:21] Rodot- opened #1986 "Have tardis simlations contain a reference tag to the tardis release version"
A string attribute of tardis simulation objects referencing the current tardis release for versioning info.  Pickled tardis objects or simulation hdfs may not necessarily be compatible between different releases due to differences in structure or imports.  Would be good to have some way to tag version info for compatibility.

[2022-04-28 23:02] epassaro opened #1990 "GitHub says TARDIS repo has LFS objects"
Look at: https://github.com/tardis-sn/tardis/settings

The command `git-lfs ls-files` does not return anything, maybe there are old objects in the repo? Investigate.

[2022-04-29 14:30] epassaro opened #1993 "Remove Codecov `patch` job"
We discussed this a few times because this check is difficult to understand and we give it a try.

I propose to remove the `patch` job from Codecov as it seems to not provide any important information to us and fails unexpectedly.

Any comments on this?

[2022-04-29 14:46] epassaro opened #1994 "Use monospaced fonts for subpackages an submodules"
For example: https://docs.poliastro.space/en/v0.16.0/autoapi/index.html#

[2022-05-03 14:40] Rodot- opened #2002 "Tardis cannot parse elements which are not formatted starting with capitalized characters"
**Describe the bug**
When elements are provided to tardis in CSVY data files, elements provided without the proper capitalization will not always be interpreted correctly by the radioactive decay module.

**To Reproduce**
Run a tardis csvy model containing some abundance of ni56 labeled as ni56 exactly.

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda

[2022-05-03 19:58] #1952 closed

[2022-05-04 15:23] epassaro opened #2004 "`tardis/analysis.py` uses Pandas's deprecated `.ix` method"
Replace with appropriate `.loc` or `.iloc` method.

[2022-05-04 21:30] epassaro commented on #1979
Should I close this after last revert? @andrewfullard @Rodot-

[2022-05-05 03:17] Vaibhavyadav350 commented on #2004
I would like to work on it. I am actively working in data analysis using the pandas library.

[2022-05-05 10:25] jayantbhakar commented on #2002
Here's a csvy model I ran
![Screenshot from 2022-05-05 15-50-35](https://user-images.githubusercontent.com/60151232/166904937-f770ef4c-4f19-41f0-a4f8-c18737e7d7de.png)
Here when I changed Ni56 to ni56 in both the lines (i.e line number 24 and 28), it ran without any problem. It shows error only when the case sensitive names don't match.

[2022-05-05 10:42] jayantbhakar commented on #2002
What do we want here? It should not match the case in both the lines?

[2022-05-05 18:45] #1979 closed

[2022-05-07 12:08] jayantbhakar commented on #2004
I have replaced the .ix method with .loc/.iloc in the analysis.py file and created a  PR #2013. Let me know if any changes are required.

[2022-05-07 20:37] wkerzendorf opened #2014 "JSONSchema update might have broken things"
In one of my special environments I get

[code]

[2022-05-07 20:38] wkerzendorf commented on #2014
bug found - https://github.com/inveniosoftware/invenio-jsonschemas/issues/102

we need to change that in TARDIS

[2022-05-07 20:42] wkerzendorf commented on #2014
and is here https://github.com/tardis-sn/tardis/pull/1806

[2022-05-07 20:42] epassaro commented on #2014
What do you mean by special env? `jsonschema` is pinned in `tardis_env3.yml` to v3.

[2022-05-07 20:43] wkerzendorf commented on #1807
I think, we need to fix this as python 3.8 is pretty old now and other environments will fail.

[2022-05-07 20:43] wkerzendorf commented on #2014
closing in favor of https://github.com/tardis-sn/tardis/issues/1807

[2022-05-07 20:43] #2014 closed

[2022-05-07 20:45] epassaro commented on #1807
@wkerzendorf Do you mean patch the TARDIS codebase to work with `jsonschema>3.2.0`?

[2022-05-07 21:07] wkerzendorf opened #2015 "`config_dirname` not found"
there always was a problem relative to what the configuration is - I wonder if recent changes removed the `config_dirname` and tests didn't flag the problem.
[code]

[2022-05-07 22:44] epassaro commented on #2015
@wkerzendorf related? https://github.com/tardis-sn/tardis/issues/1715

[2022-05-08 16:45] jayantbhakar commented on #2002
I am not sure of the assigned option here. Just wanted to know if an issue is assigned to anyone, can anyone else still try to resolve that issue.

[2022-05-09 09:47] lemointm commented on #2002
Hi @jayantbhakar, can you please share a photo of the error you're getting when Ni56 is uncapitalized? I ran your csvy model and was not able to replicate the error.

[2022-05-09 10:05] jayantbhakar commented on #2002
No, the model I showed above won't show an error. This is what I wanted to point out. In the csvy model above, if the name( element name i.e. ni56) on line 24 doesn't match with the name on line 28 (including the capitalization). In the above model it is not showing an error because of this reason. If we change the "ni56" on line 24 to "Ni56" it will show an error. Hope, I am able to communicate w

[2022-05-09 10:10] lemointm commented on #2002
Are you getting the error "CSVY columns exist without field descriptions"? I mismatched capitalization on lines 24 and 28 and got that error. I think that is due to TARDIS expecting the data fields you enter on line 28 to match the data fields entered on lines 7-25(although I am not very well acquainted with CSVY files)

[2022-05-09 10:22] jayantbhakar commented on #2002
Yes, that's right.

[2022-05-09 10:24] jayantbhakar commented on #2002
So what do we want to achieve now? TARDIS should not match the capitalization?

[2022-05-09 10:29] lemointm commented on #2002
Does your model run when lines 24 and 28 both have Ni56 capitalized? If it does I think the issue can be marked resolved, since that is the intended formatting of the csvy model as far as I can tell (or it is at least what the TARDIS model reader expects)

[2022-05-09 10:40] jayantbhakar commented on #2002
Yes, it doesn't show any error when Ni56 is capitalized in both the lines. But in the issue description, it is mentioned that ni56 should be written as "ni56", which can be achieved as shown in the above image I sent.

[2022-05-09 10:44] lemointm commented on #2002
Upon further inspection, the way TARDIS parses isotope names requires that the names be capitalized like they are by convention (i.e. Ni as opposed to ni). This could be changed to add the ability to input uncapitalized nuclides but it would be troublesome (TARDIS does not do the nuclide parsing itself) so I would recommend that you make sure that the isotopes are just capitalized when they're put

[2022-05-09 10:52] jayantbhakar commented on #2002
For this, we can keep the element name in line 24 capitalized.

[2022-05-09 10:57] jayantbhakar commented on #2002
I didn't understand when you said it will be troublesome to input uncapitalized nuclides. Since if we want any isotope to be uncapitalized we just have to change only the first letter at just two places in the csvy file.

[2022-05-09 11:24] lemointm commented on #2002
The function to check whether or not the isotope is a actual isotope that exists in the atomic dataset TARDIS uses expects the isotope or element names to be in the conventional form (Ni56 or Ni-56, for example). Thus it's just the way it has to be inputted for the model to be read properly. Like you said too, the user just has to capitalize the two places to make it run properly, I can add that t

[2022-05-09 11:25] lemointm commented on #2002
The [doumentation](https://tardis-sn.github.io/tardis/io/configuration/components/models/index.html?highlight=csvy#csvy-model) for the csvy model could certainly be updated to make the specification of abundances more clear

[2022-05-09 11:26] jayantbhakar commented on #2002
Okay, now I get that. Yes, adding it to the documentation will be better.

[2022-05-10 19:31] Rodot- opened #2021 "TARDIS May produce different results when multithreading."
**Describe the bug**
Updating the estimators when in parallel during the montecarlo main loop is not an atomic operation, resulting in invalid values when run with multiple threads.

Should be fixed by adding multithreaded tests.

**To Reproduce**
Hard to compare, see continuum branch

**Screenshots**

**System**
 - OS:
    - [x] GNU/Linux
    - [x] macOS

 - Environment (`conda list`):

**Additio

[2022-05-11 02:33] Rodot- commented on #2002
We would like this changed such that the tables work with both the capitalized and uncapitalized names.  For now, let's make it such that both will work so long as they are consistent.

[2022-05-11 02:33] Rodot- commented on #2002
This issue is important because it breaks backwards compatibility currently with older abundance files

[2022-05-11 07:58] jayantbhakar commented on #2021
I think the same issue is with progress bars. I am trying to figure out a way for it. I have gone through its code and the multithread loop is causing the problem. I didn't find a way to control that loop for single execution of the progress bars as well.

[2022-05-13 01:37] lemointm commented on #2002
I just discovered this is an issue only with nickel - due to the fact that radioactivedecay thinks the lowercase 'n' in 'ni' is a metastable state flag. That's why it works when the 'n' is capitalized because it recognizes it as a element. I will try to get this fixed, however it should only be a problem with nickel (which admittedly is a big issue since nickel is so important in Type Ia supernova

[2022-05-13 07:21] jayantbhakar commented on #2002
So, are we working on changing the code, so that it ignores the uppercase or lowercase isotope name?

[2022-05-13 14:46] jaladh-singhal opened #2023 "Integrate SDEC plot in Line Info Widget"
The Line Info Widget should have an option to show SDEC plot besides real and virtual spectra (maybe by using a button group or function parameter). This will make analyses more easier.

Besides, it should allow to overplot observed spectrum on modelled spectrum (an in-built feature in SDEC plot), so the integration should take that into consideration.

[2022-05-15 01:39] epassaro commented on #1791
Already implemented :)

[2022-05-15 01:39] #1791 closed

[2022-05-15 01:41] epassaro commented on #1367
This is not a problem anymore.

[2022-05-15 01:41] #1367 closed

[2022-05-16 23:35] lemointm commented on #2002
Hi @jayantbhakar, we just published a new release of `radioactivedecay`. Try updating it and rerunning your .csvy model - it should work now even when uncapitalized

[2022-05-19 22:43] andrewfullard opened #2031 "Document parallel fixes for estimators"
See comment on PR #2030 here: https://github.com/tardis-sn/tardis/pull/2030#discussion_r877371913

We should document weird edge cases like this for future reference.

[2022-05-23 15:37] Rodot- commented on #2021
Should be noted while this was partially fixed by #2022 there may still be inconsistencies in the v_packet energy histograms as they are not properly handled in parallel (though the likelihood they run into such problems is lower, but non-zero)

[2022-05-23 23:17] epassaro commented on #1749
working on it https://epassaro.github.io/status

soon on https://tardis-sn.github.io/status

Closed.

[2022-05-23 23:17] #1749 closed

[2022-05-25 23:31] epassaro commented on #1871
Replaced by the pre-release workflow.

Closing.

[2022-05-25 23:31] #1871 closed

[2022-05-25 23:32] epassaro commented on #1855
This is going to be fixed when I port the pipeline to GA.

Closing.

[2022-05-25 23:32] #1855 closed

[2022-05-25 23:33] epassaro commented on #1783
This is already done in the post release workflow.

Closing.

[2022-05-25 23:33] #1783 closed

[2022-05-25 23:35] #1572 closed

[2022-05-26 19:32] #1936 closed

[2022-05-26 19:32] #1943 closed

[2022-05-26 19:32] #1947 closed

[2022-05-26 19:32] #1955 closed

[2022-05-26 19:32] #1960 closed

[2022-06-02 17:07] #1762 closed

[2022-06-02 17:12] epassaro opened #2041 "Make TARDIS PEP8 complaint"
Currently, TARDISis not PEP8 complaint.

To check this, install `flake8` and run `flake8 tardis`.

To achieve this we need to:

- Configure Flake8 through configuration files.
- Ensure that Flake8 and Black play nicely together
- Select appropriate Flake8 plugins, such as `pep8-naming` (discuss)
- Make necessary changes to TARDIS code
- more?

The CI pipeline is ready to check PEP8, just requires

[2022-06-07 18:25] #1690 closed

[2022-06-07 18:25] #1993 closed

[2022-06-09 17:57] saiashishanshuman commented on #2041
Hey @epassaro, Sai here. So I am a beginner level python user and very new to Open Source. I was hoping to make my contribution to TARDIS and this issue would be a good start for it. Would you please assign this to me and I would try my best to contribute.

[2022-06-14 17:42] rohithvarma3000 opened #2056 "Local and Conda Environment Clash Issue"
**Describe the bug**

Even though the env was built and activated properly on the local machine, python was using packages in ~/.local which had a different version instead. The packages may have been installed in that location when I had used pip install without using the an env. This bug needs to be documented.

This problem can be solved by removing these packages in ~/.local using the command

[2022-06-14 17:56] epassaro commented on #2056
I disagree.

At some point you must forgot to activate the environment before installing the package with `pip install -e .`. Otherwise, this wouldn't be possible.

[2022-06-15 08:26] rohithvarma3000 commented on #2056
Agreed. Not activating the environment before installing the package is the cause of this issue. We should provide a warning regarding this.

[2022-06-17 13:47] #1902 closed

[2022-06-22 15:38] jayantbhakar opened #2066 "Configuration parameter description for `no_of_packets` in the Documentation needs correction"
**Description**
The Monte Carlo Configuration Parameter `no_of_packets` has currently some inappropriate description in the TARDIS [Documentation](https://tardis-sn.github.io/tardis/io/configuration/components/montecarlo.html#montecarlo-config).

**To Reproduce**
A Better description that tells the actual use of the input parameter.

[2022-06-27 15:23] #1251 closed

[2022-06-27 15:24] #1863 closed

[2022-06-29 08:57] code-explorer opened #2074 "Restructure Model State"
Currently, the simulation holds a Radial 1D Model which contains the model state. The model state should be restructured to hold the geometry of the model along with electron densities, isotope abundances and radiation field. The model state should also be made a direct part of the simulation rather than it being a part of the Radial 1D Model.

[restructure_project.pdf](https://github.com/tardis-s

[2022-07-01 15:54] jaladh-singhal opened #2081 "Cannot import tardis after importing astropy constants and/or units"
**Describe the bug**

tardis sets constants explicitly in `__init__` due to which astropy constants or units can't be imported before importing it. There should be a neater way to set constants to avoid this problem.

If not, we can catch this exception and ask user to move `import tardis` before `from astropy import units, constants`

**To Reproduce**

[code]
[code]

**Screenshots**

**System**

[2022-07-10 19:29] grgkaran03 commented on #2066
@jayantbhakar
Changed the description. Please review my correction.

[2022-07-13 13:16] AlexHls opened #2089 "Documentation on buiding docs is outdated"
**Describe the bug**

The documentation https://tardis-sn.github.io/tardis/contributing/development/documentation_guidelines.html#sharing-the-built-documentation-in-your-pr-documentation-preview says a commit with
`git commit --allow-empty -m "[build docs]"`
will build the docs. The workflow file requires `build-docs` in the commit message.
Furthermore, the documentation does not build either way

[2022-07-13 14:33] epassaro commented on #2089
I would remove the documentation build section since the pull request template says clearly what you need to do in order to build the docs (just apply the `build-docs` label).

[2022-07-14 18:00] smithis7 commented on #2089
I strongly disagree since we still need to document where to access the built documentation, how to view build logs, and how to build docs online if the branch isn't part of an open PR.

[2022-07-15 15:11] epassaro commented on #1892
Done https://github.com/tardis-sn/tardis-refdata/pull/56

[2022-07-15 15:11] #1892 closed

[2022-07-15 15:23] epassaro commented on #1807
Closed by #2050

[2022-07-18 21:55] smithis7 opened #2100 "Profiling pages not built in docs"
The profiling notebooks are not built in the documentation -- see https://tardis-sn.github.io/tardis/contributing/development/profiling/index.html. This also creates warnings in the documentation build.

This is a result of PR #2048, which I believe is supposed to only exclude these pages for docs built off of pull requests, though this is not the case. Even then, though, this will create warnings

[2022-07-19 13:37] wkerzendorf opened #2102 "relative paths for atomic data and configuration are not intuitive"
I set the path to the config file as `w7/config.yml` and in the `config.yml` there is an entry `atom_data: kurucz_cd23_chianti_H_He.h5`. It did complain that `w7/kurucz.h5` was not found and it also does not exist in the standard repository. I wonder if it is cleaner to specify either a filename or an atomic dataset.

[2022-07-20 08:11] rohithvarma3000 commented on #1715
@epassaro, I am not able to understand the exact issue. I can run the command without problems(except for some failing tests). Could you retry this command and let me know the error you are facing?

[2022-07-28 15:57] jaladh-singhal commented on #1766
Related: https://github.com/tardis-sn/tardis/issues/1396

[2022-08-02 14:16] #2100 closed

[2022-08-02 14:25] #1903 closed

[2022-08-08 13:16] code-explorer opened #2112 "Update mass fraction to work with isotopes"
Currently, the mass fraction does does not work very well with isotopes. The goal is to update the mass fraction to have columns for atomic mass and atomic number. If an element is in its stable form, then it will have its atomic mass set to -1. The mass fraction should also contain functionality to group together mass fraction by atomic number by adding up their mass fractions.

[2022-08-12 14:51] jayantbhakar opened #2116 "reduce the size of photosphere in the RPacketPlotter Plot"
RPacketPlotter in PR #2119 creates a plot where every element on the plot is equally scaled. This makes the photosphere cover most of the space in the plot. We want to reduce the area covered by the photosphere in the plot.

![Image](https://user-images.githubusercontent.com/60151232/185781401-7c2f7c9d-13e2-4213-b808-8348eebe36b3.png)

[2022-09-12 14:53] andrewfullard opened #2123 "Produce more in-depth documentation of the gamma-ray transport"
Gamma-ray transport needs more documentation to describe how it works and why it works as it does, ideally with paper references.

[2022-09-15 15:24] #2074 closed

[2022-09-22 17:33] wkerzendorf opened #2125 "Visualize the plasma graph"
This seems to be the right direction: https://hvplot.holoviz.org/user_guide/NetworkX.html

What is missing is latex support for bokeh - a student could help with this @ianthomas23 @MridulS

[2022-09-22 18:04] wkerzendorf commented on #2125
https://tardis-sn.github.io/tardis/io/output/plasma_graph.html - as a visual clue

[2022-09-26 20:56] ianthomas23 commented on #2125
I have mentioned this proposed work on the Bokeh Slack as a combined Bokeh and TARDIS project requiring some knowledge of both TypeScript and Python, in the hope that someone might be interested in either possible approach of GSoC or  NumFOCUS Small Development Grant.

[2022-09-28 14:51] wkerzendorf opened #2128 "Refactor `nlte.py` and split out `helium_nlte`"
Refactor `nlte.py` and put the helium stuff into `nlte_helium.py`

[2022-09-28 16:24] jaladh-singhal opened #2129 "Document how to download only a required slice of refdata for running some unit tests of interest"
Many of the unit test functions that doesn't have their specific test data stored in the tardis-refdata, still require access to it because of atom data (and other important files?).

Locally cloning the whole [tardis-sn/tardis-refdata](https://github.com/tardis-sn/tardis-refdata) repository is a bit challenging because:
- it requires git lfs to be installed on user's machine otherwise they get ve

[2022-09-29 20:23] #2128 closed

[2022-10-18 14:54] andrewfullard opened #2137 "qgrid is currently blocking docs build and the release pipeline"
**Describe the bug**

The `qgrid` package has not been maintained and so it has fallen out-of-sync with jupyter notebook, specifically nbclassic. This causes a build script to fail, preventing environments from being built in the docs and release pipelines.

**To Reproduce**

Build the tardis environment from tardis_env3.yml

**System**
 - OS:
    - [x] GNU/Linux
    - [ ] macOS

**Additional cont

[2022-11-08 15:51] andrewfullard commented on #2137
The feedstock has been merged, so this should be fixed eventually. I still couldn't build the environment (with the same error) as of this comment.

[2022-11-17 17:59] #2137 closed

[2022-11-17 18:52] andrewfullard opened #2157 "Pre/post release automerge fails"
**Describe the bug**
Auto merging the pre/post release PRs is not currently working due to upstream git action failures.

**To Reproduce**

Run the pre/post release workflows

[2022-11-21 15:40] andrewfullard opened #2162 "Bokeh is causing failures for refdata testing"
**Describe the bug**

When the refdata comparison is run, Bokeh fails and kills the notebook because of upstream changes to `jinj2`.

**To Reproduce**

Run the refdata comparison

**Screenshots**

![image](https://user-images.githubusercontent.com/20341051/203096109-70dd840b-d7da-40b2-9111-d18a1a023629.png)

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):

**A

[2022-11-23 22:22] sonachitchyan opened #2163 "Change jacobian_matrix and rate_matrix in NLTE ionization to use shell id"
**Describe the bug**

Currently, NLTE ionization solver structures (create_rate_matrix and jacobian_matrix) take ionization and recombination rates as coefficients. This needs to be changed so that those coefficients are attributes of the `NLTERateEquationSolver` and the functions take `shell_id` as argument for optimization.
**To Reproduce**

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux

[2022-11-23 22:23] sonachitchyan opened #2164 "Vectorize `create_rate_matrix` and `jacobian_matrix` in NLTERateEquationSolver"
**Describe the bug**

As those functions are called a lot during the solving process of NLTE ionization treatment, vectorizing them would be optimal.
**To Reproduce**

**Screenshots**

**System**
 - OS:
    - [ ] GNU/Linux
    - [ ] macOS

 - Environment (`conda list`):

**Additional context**